.contentRow, .footerRow {
  .row;
}

.footerRow {
  .panel-footer;
  background-color: @gray-light !important;
  .footer-detail {
    text-align: center;
    padding-top: 5px;
  }
}

.form-signin-heading, .forgot-password {
  text-align: @defaultTextAlign;
}
.forgot-password a {
  cursor: pointer;
}

.login-form {
  .container;
  width: @pixels300 !important;
  border: @loginFormBorder;
  margin-top: @pixels100;
  padding: @pixels30 @pixels30 @pixels10 @pixels30;
  background-color: lightsteelblue;
  border-radius: @pixels20;
  margin-bottom: @pixels100;
}

.contentRow {
  input {
    .form-control;
  }
}
.loginButton {
  .btn;
  .btn-primary;
}

