<div class="panel"  style="min-height: 550px"  ng-controller="AdminDoctorApprovalController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Approval
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form template="stdFormTemplate" class="form-inline" model="stdFormData" ng-submit="search()" >
                <fieldset class="dynamic-fieldset">
                    <legend >Search</legend>
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Division</label>
                                </div>
                                <select  class="form-control" name="divsn" ng-model="division"
                                         ng-options="dvs.id as dvs.name for dvs in divisions"
                                         ng-change="selectlocation(division)">
                                    <option value="">Select Division</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <label>Location</label>
                                </div>
                                <select  class="form-control" name="location" ng-model="location"
                                         ng-options="loc.id as loc.name for loc in locationlist">
                                    <option value="">Select Location</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <label>Type</label>
                                </div>
                                <select  class="form-control" name="type" ng-model="type"
                                         ng-options="s.id as s.name for s in statuslist ">
                                    <option value="">Select Type</option>
                                </select>
                            </div>

                            <button type="submit" ng-disabled="admindocApprovalForm.$invalid" class="btn btn-primary col-xs-offset-1">Search</button>

                        </div>
                </fieldset>
            </form>

        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Speciality</th>
                    <th>Division</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Requested on</th>
                    <th>Manager's Action</th>
                    <th>Action&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in approvaList">
                    <td>{{a.name}}</td>
                    <td>{{a.code}}</td>
                    <td>{{a.speciality}}</td>
                    <td>{{a.division}}</td>
                    <td>{{a.location}}</td>
                    <td>{{a.status}}</td>
                    <td>{{a.updatedOn.text}}</td>
                    <td>
                        <any ng-show="a.ACTION_BY!=''">
                           {{ a.ACTION_BY | capitalize}} - {{a.APPROVAL_STATUS | capitalize}}
                        </any>
                        <any ng-show="a.ACTION_BY==''">
                            {{a.APPROVAL_STATUS | capitalize}}
                        </any>
                    </td>
                    <td>
                        <div >

                            <!--&nbsp;<a class="squerlink" ng-show='a["statusId"]=="SYSLVDOCSTA00000000000000000000000001" || a["statusId"]=="SYSLVDOCSTA00000000000000000000000002"'>&nbsp;&nbsp;&nbsp;approve</a>
                            &nbsp; -->
                            <a class="squerlink" href ng-click="approve(a.id)" ng-show='a["statusId"]=="SYSLVDOCSTA00000000000000000000000001" || a["statusId"]=="SYSLVDOCSTA00000000000000000000000003" || a["statusId"]=="SYSLVDOCSTA00000000000000000000000004"'>approve</a>
                            &nbsp;
                            <a class="squerlink" href ng-click="reject(a.id)" ng-show='a["entry_status"]=="SYSLVENTSTA00000000000000000000000002" || a["statusId"]=="SYSLVDOCSTA00000000000000000000000003" || a["statusId"]=="SYSLVDOCSTA00000000000000000000000004"'>reject</a>
                            &nbsp;
                            <a class="squerlink" href ng-click="viewChangesInProfile(a.id,a.name)" ng-show='a["entry_status"]=="SYSLVENTSTA00000000000000000000000002"'>(view changes)</a></span>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="itemsPerPage"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>

    <div>
        <script type="text/ng-template" id="history.html">
            <div class="modal-header" ng-init="init()">
                <h4 class="modal-title">Change in doctor profile for {{docNm}}</h4>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Column Name{{mhistory}}</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                            <th>Updated On</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in result">
                            <td>{{r.updateColumnName}}</td>
                            <td>{{r.oldColumnValue.displayName}}</td>
                            <td>{{r.newColumnValue.displayName}}</td>
                            <td>{{r.updatedOn.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>
    </div>
</div>
