<div class="panel"  style="min-height: 550px" ng-controller="BrandController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="brandForm" ng-submit="save()" novalidate valdr-type="Brand" >
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" ng-model="definition.name" class="form-control" ng-show="definition.id==null"/>
                            <input type="text" name="name" ng-model="definition.name" class="form-control" ng-show="definition.id!=null" readonly />
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.code}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="code" ng-model="definition.code" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.owner}}</label>
                        <div class="col-xs-8">
                            <select name="parent" ng-model="definition.owner.id" class="form-control"
                                    ng-options="l.id as l.name for l in divisions">
                                <option value="">Select Business Unit</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.status}}</label>
                        <div class="col-xs-8">
                            <select name="status" ng-model="definition.status.id" class="form-control"
                                    ng-options="s.id as s.name for s in brandStatus">
                                <option value="">Select Status</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.competitors}}</label>
                        <div class="col-xs-8">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Brand Name</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in definition.competitions">
                                        <td>{{c.displayName}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select name="competitors" ng-model="competitor" class="form-control"
                                                    ng-options="competitor.id as competitor.name group by competitor.competitor.displayName for competitor in competitionBrands">
                                        </select></td>
                                        <td><a ng-click="addCompetitor()">Add Another</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary" ng-disabled="brandForm.$invalid" >Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>