        <div class="panel"  style="min-height: 550px" ng-controller="ChemistController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Chemist
                    </span>

                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="chemistForm" ng-submit="save()" novalidate valdr-type="Chemist">
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" ng-model="definition.name" ng-show="definition.id==null" class="form-control"/>
                            <input type="text" name="name" ng-model="definition.name" ng-show="definition.id!=null" readonly class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Code</label>
                        <div class="col-xs-8">
                            <input type="text" name="code" ng-model="definition.code" readonly class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Contact Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="contact" ng-model="definition.contact" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Contact Phone</label>
                        <div class="col-xs-8">
                            <input type="text" name="phone" ng-model="definition.phone" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Contact Email</label>
                        <div class="col-xs-8">
                            <input type="text" name="email" ng-model="definition.email" class="form-control"/>
                            <span class="error-msg" ng-show="chemistForm.email.$invalid">{{chemistForm.email.valdrViolations[0].message}}</span>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Division</label>
                        <div class="col-xs-8">
                            <select name="division" ng-model="definition.division.id"
                                    ng-change="selectDivision()"
                                    class="form-control"
                                    ng-options="d.id as d.name for d in master.divisions" ng-show='usercontext=="sysadmin"'>
                                <option value="">Select Division</option>
                            </select>
                            <input type="text" name="division" ng-model="definition.division.displayName" class="form-control" readonly ng-show='usercontext!="sysadmin"'>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Location</label>
                        <div class="col-xs-8">
                            <select name="location" ng-model="definition.location.id"
                                    class="form-control"
                                    ng-change="changeLocation()"
                                    ng-options="l.id as l.name for l in master.locations" ng-show='usercontext=="sysadmin"'>
                                <option value="">Select Location</option>
                            </select>
                            <input type="text" name="location" ng-model="definition.location.displayName" class="form-control" readonly ng-show='usercontext!="sysadmin"'>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <fieldset class="dynamic-fieldset subheader">
                            <legend>Address</legend>
                            <sfe-address address="definition.address" states="states" layout="col-xs-12"/>
                        </fieldset>
                    </div>
                    <div class="col-xs-24">
                        <span class="pull-right">
                            <a ng-click="getDoctors()" class="squerlink">Unmapped Doctors </a></span>
                    </div>
                    <div class="form-group">
                        <label  class="col-xs-3 col-xs-offset-1 control-label">Add Doctors</label>
                        <div class="col-xs-10">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Doctors</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="doctor in definition.doctors">
                                        <td>{{doctor.name}}</td>
                                        <td>
                                            <a ng-click="removeDoctor(doctor.id, $index)"
                                               class="col-xs-offset-2"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Record"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select id="selectDoctor" class="form-control" name="selectDoctor"
                                                    ng-model="temp.doctor"
                                                    ng-options="d.id as d.name+' - '+d.code for d in master.doctors | orderBy : 'name'">
                                                <option value="">Select Doctor</option>
                                            </select>
                                        </td>
                                        <td><a ng-click="addDoctor()"><img src="images/add.png" tooltip="Add New"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-17">&nbsp;</div>
                        <div class="col-xs-4">
                            <button type="submit" ng-disabled="chemistForm.$invalid" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div>
            <script type="text/ng-template" id="unTagDoc.html">
                <div class="modal-header" ng-init="init()">
                    <h3 class="modal-title">Unmapped Doctors</h3>
                </div>
                <div class="modal-body">
                    <div style="height: 300px;overflow-y: scroll;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Doctor Code</td>
                                    <td>Doctor Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in unmappedDoc">
                                    <td>{{$index+1}}</td>
                                    <td>{{d.code}}</td>
                                    <td>{{d.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="closeModal()">Close</button>
                </div>
            </script>
        </div>

        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            </a>
        </script>


