<div class="row jumbotron" ng-init="showAddress(clinic)">
    <a ng-click="showMore(clinic.id)" class="squerlink pull-right" ng-show="isCollapsed(clinic.id)" >Show More</a>
    <a ng-click="showLess(clinic.id)" class="squerlink pull-right" ng-hide="isCollapsed(clinic.id)" >Show Less</a>
    <form class="form-inline" name="clinicForm" ng-submit="save()" novalidate valdr-type="Doctor" >
    <div class="row row-spacer">
        <div class="col-xs-10 required-field">
            <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
            <div class="col-xs-8">
                <input type="text" name="clinicname" ng-model="clinic.name" class="form-control"/>
            </div>
        </div>
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Type</label>
            <div class="col-xs-8">
                <user-lov type="clinic_type" value="clinic.type.id" default-text="Select Type"/>
            </div>
        </div>
    </div>
    <div collapse="isCollapsed(clinic.id)">
    <div class="row row-spacer">
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Position</label>
            <div class="col-xs-8">
                <input type="text" name="position" ng-model="clinic.position" class="form-control"/>
            </div>
        </div>
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Patients/Day</label>
            <div class="col-xs-8">
                <input type="text" name="patientsPerDay" ng-model="clinic.patientsPerDay" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row row-spacer">
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Dispenses</label>
            <div class="col-xs-8">
                <input type="checkbox" name="dispensing" ng-model="clinic.dispensing" class="form-control"/>
            </div>
        </div>
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Has Computer</label>
            <div class="col-xs-8">
                <input type="checkbox" name="computer" ng-model="clinic.computer" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row row-spacer">
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Uses PMS</label>
            <div class="col-xs-8">
                <input type="checkbox" name="pms" ng-model="clinic.pms" class="form-control"/>
            </div>
        </div>
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Visit Instructions</label>
            <div class="col-xs-8">
                <input type="text" name="instructions" ng-model="clinic.instructions" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row row-spacer">
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Preferred Day</label>
            <div class="col-xs-16">
                <user-lov type="preferred_day" value="clinic.preferredDay.id" default-text="Select Day"/>
            </div>
        </div>
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Preferred Time</label>
            <div class="col-xs-8">
                <user-lov type="preferred_time" value="clinic.preferredTime.id" default-text="Select Time"/>
            </div>
        </div>
    </div>
    <div class="row row-spacer">
            <fieldset class="dynamic-fieldset subheader">
                <legend>Clinic Address</legend>
                <sfe-address layout="col-xs-10" address="clinic.address" states="states" />
            </fieldset>
    </div>
    <div class="row row-spacer">
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Phone 1</label>
            <div class="col-xs-8">
                <input type="text" name="phone1" ng-model="clinic.phone1" class="form-control"/>
            </div>
        </div>
        <div class="col-xs-10">
            <label class="col-xs-7 col-xs-offset-1 control-label">Phone 2</label>
            <div class="col-xs-8">
                <input type="text" name="phone2" ng-model="clinic.phone2" class="form-control"/>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-17">&nbsp;</div>
        <div class="col-xs-4">
            <!--button type="button" class="btn btn-primary" ng-click="save(doctor.divisionProfiles[0].doctor)">Save</button-->
            <button type="submit" ng-disabled="clinicForm.$invalid" class="btn btn-primary">Save</button>
        </div>
    </div>
    </div>
</form>
</div>





