<div class="panel"  style="min-height: 550px" ng-controller="DistanceRequestController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large"> Request For Distance </span>
            <span class="pull-right"><a ng-click="addNew()"><img src="images/add.png" tooltip="Add New"></a></span>
        </div>
    </div>

    <div class="panel-body">
        <div class=" col-xs-15">
            <table class="table table-striped">
                <thead>
                    <th style="text-align: center">From State</th>
                    <th style="text-align: center">From Town</th>
                    <th style="text-align: center">To State</th>
                    <th style="text-align: center">To Town</th>
                    <th style="text-align: center">Requested Distance</th>
                    <th style="text-align: center">Approved Distance</th>
                </thead>
                <tbody>
                    <tr ng-repeat="d in displayData">
                        <td style="text-align: center">{{d.fromState.displayName}}</td>
                        <td style="text-align: center">{{d.fromTown.displayName}}</td>
                        <td style="text-align: center">{{d.toState.displayName}}</td>
                        <td style="text-align: center">{{d.toTown.displayName}}</td>
                        <td style="text-align: center">{{d.distance}}</td>
                        <td style="text-align: center">{{d.approvedDistance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 </div>