<div class="row jumbotron" ng-init="init(profile)">
    <form class="form-inline" name="docdivForm" ng-submit="save()" novalidate valdr-type="Doctor" >
        <div class="row row-spacer">
            <div class="col-xs-10 required-field">
                <label class="col-xs-7 col-xs-offset-1 control-label">Division</label>
                <div class="col-xs-8">
                    <select name="divisionadmin" ng-model="profile.division.id"
                            ng-change="selectDivision()"
                            class="form-control"
                            ng-options="d.id as d.name for d in master.divisions" ng-show='usercontext=="sysadmin"'>
                        <option value="">Select Division</option>
                    </select>
                    <input type="text" name="division" ng-model="profile.division.displayName" class="form-control" readonly ng-show='usercontext!="sysadmin"'>
                </div>
            </div>
            <div class="col-xs-10 required-field">
                <label class="col-xs-7 col-xs-offset-1 control-label">Location</label>
                <div class="col-xs-8">
                    <select name="locarionadmin" ng-model="profile.location.id"
                            class="form-control"
                            ng-options="l.id as l.name for l in master.locations" ng-show='usercontext=="sysadmin"'>
                        <option value="">Select Location</option>
                    </select>
                    <input type="text" name="location" ng-model="profile.location.displayName" class="form-control" readonly ng-show='usercontext!="sysadmin"'>
                </div>
            </div>
        </div>
        <div class="row row-spacer">
            <div class="col-xs-10">
                <label class="col-xs-7 col-xs-offset-1 control-label">Code</label>
                <div class="col-xs-8">
                    <input type="text" name="divisioncode" ng-model="profile.divisionCode" class="form-control" readonly>
                </div>
            </div>
            <div class="col-xs-10">
                <label class="col-xs-7 col-xs-offset-1 control-label">Is KOL</label>
                <div class="col-xs-8">
                    <input type="checkbox" name="kol" ng-model="profile.kol" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row row-spacer">
            <div class="col-xs-10 required-field">
                <label class="col-xs-7 col-xs-offset-1 control-label">Classification</label>
                <div class="col-xs-8">
                    <user-lov type="doctor_classification" value="profile.classification.id" default-text="Select Classification"/>
                </div>
            </div>
            <div class="col-xs-10 required-field">
                <label class="col-xs-7 col-xs-offset-1 control-label">Speciality</label>
                <div class="col-xs-8">
                    <user-lov type="doctor_speciality" value="profile.speciality.id" default-text="Select Speciality"/>
                </div>
            </div>
        </div>

        <div ng-show="profile.kol">
            <fieldset class="dynamic-fieldset subheader">
                <legend>KOL Profile</legend>

                <div class="row row-spacer" ng-repeat="k in definitions" ng-init='fetchKolLovs(k.lovType,profile)'>
                    <div class="col-xs-12" >
                        <label class="col-xs-12 col-xs-offset-1 control-label">{{k.name}}</label>
                        <!--div class="col-xs-8">
                                <user-lov type="kol_credibility" value="profile.doctorKolProfile.credibility.id" default-text="Select"/>
                        </div-->
                        <div class="col-xs-8"  ng-show = "k.type =='STRING' ">
                            <input type="text" name="{{k.name}}" ng-model="profile.doctorKolProfile[k.lovType]" class="form-control" />
                        </div>
                        <div class="col-xs-8"  ng-show = "k.type =='USER_LOV_REFERENCE' ">
                            <select name="{{k.name}}" ng-model="profile.doctorKolProfile[k.lovType]" class="form-control"
                                    ng-options="{{k.lovType}}.name as {{k.lovType}}.name for {{k.lovType}} in kolDefLovs[k.lovType]">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="row row-spacer" ng-show="showTargets()">
            <table class="table table-striped">
                <thead>
                <tr><th>Brand</th>
                    <th>Target</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-xs-17">&nbsp;</div>
            <div class="col-xs-4">
                <button type="submit" ng-disabled="docdivForm.$invalid" class="btn btn-primary" >Save</button>
            </div>
        </div>
    </form>
    <div class="row">
        <a  class="squerlink pull-right" ng-show="isTargetCollapsed()" >Show Targets</a>
        <a  class="squerlink pull-right" ng-hide="isTargetCollapsed()" >Hide Targets</a>
    </div>

</div>





