<div class="panel"  style="min-height: 550px"  ng-controller="DoctorApprovalController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <div class="col-xs-14">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    Doctor Approval
                </span>
            </div>
            <div class="col-xs-4">
                <a href="" class="squerlink pull-left" ng-click="getStatusReport()">Status wise no. of doctors</a>
            </div>
            <div class="col-xs-4">
                <a href="" class="squerlink pull-right" ng-click="getClassificationReport()">Classification wise no. of doctors</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>Action&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" >
                        <span ng-show='col.dataType=="String"'>{{d[col.name]}}</span>
                        <span ng-show='col.dataType=="date"'>{{d[col.name].text}}</span>
                    </td>
                    <td>
                        <div ng-repeat="action in actions">
                            <span title="View/Edit" table-link ></span>
                            &nbsp;<!--a class="squerlink" ng-show=' d["statusId"]=="SYSLVDOCSTA00000000000000000000000002"'>&nbsp;&nbsp;&nbsp;approve</a-->
                            &nbsp;
                            <a class="squerlink" href ng-click="approve(d.id)" ng-show='d["statusId"]=="SYSLVDOCSTA00000000000000000000000001" || d["statusId"]=="SYSLVDOCSTA00000000000000000000000003" || d["statusId"]=="SYSLVDOCSTA00000000000000000000000004"'>approve</a>
                            &nbsp;
                            <a class="squerlink" href ng-click="reject(d.id)" ng-show='d["entry_status"]=="SYSLVENTSTA00000000000000000000000002" || d["statusId"]=="SYSLVDOCSTA00000000000000000000000003" || d["statusId"]=="SYSLVDOCSTA00000000000000000000000004"'>reject</a>
                            &nbsp;
                            <a class="squerlink" href ng-click="viewChangesInProfile(d.id,d.name)" ng-show='d["entry_status"]=="SYSLVENTSTA00000000000000000000000002"'>(view changes)</a></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="10"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>

    <div>
        <script type="text/ng-template" id="history.html">
            <div class="modal-header" ng-init="init()">
                <h4 class="modal-title">Change in doctor profile for {{docNm}}</h4>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Column Name{{mhistory}}</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                            <th>Updated On</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in result">
                            <td>{{r.updateColumnName}}</td>
                            <td>{{r.oldColumnValue.displayName}}</td>
                            <td>{{r.newColumnValue.displayName}}</td>
                            <td>{{r.updatedOn.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>
    </div>
</div>


<div>
    <script type="text/ng-template" id="statusReport.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Status wise number of doctors</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <th>HQ</th>
                    <th style="text-align: center">Total active doctor</th>
                    <th style="text-align: center">Active Approved</th>
                    <th style="text-align: center">Active Unapproved (Pending for approval)</th>
                    <th style="text-align: center">Inactive Unapproved (Pending for approval)</th>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.NAME}}</td>
                        <td style="text-align: center">{{d.ACTIVE_APPROVED + d.ACTIVE_UNAPPROVED}}</td>
                        <td style="text-align: center">{{d.ACTIVE_APPROVED}}</td>
                        <td style="text-align: center">{{d.ACTIVE_UNAPPROVED}}</td>
                        <td style="text-align: center">{{d.INACTIVE_UNAPPROVED}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>


<div>
    <script type="text/ng-template" id="classificationReport.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Classification wise number of doctors</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                <th>HQ</th>
                <th style="text-align: center">Total</th>
                <th style="text-align: center">Core doctors</th>
                <th style="text-align: center">Non Core doctors</th>
                <th style="text-align: center">Super core doctors</th>
                </thead>
                <tbody>
                <tr ng-repeat="d in data">
                    <td>{{d.NAME}}</td>
                    <td style="text-align: center">{{d.CORE + d.NON_CORE + d.SUPER_CORE}}</td>
                    <td style="text-align: center">{{d.CORE}}</td>
                    <td style="text-align: center">{{d.NON_CORE}}</td>
                    <td style="text-align: center">{{d.SUPER_CORE}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>
