        <div class="panel"  style="min-height: 550px" ng-controller="DoctorController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Doctor
                    </span>
                </div>
            </div>
            <div class="panel-body">

                <accordion close-others="controls.oneAtATime">
                    <accordion-group is-open="controls.status.isFirstOpen">
                        <accordion-heading>
                            Personal Profile
                            <span class="pull-right"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': controls.status.open, 'glyphicon-chevron-right': !controls.status.open}"></i></span>
                        </accordion-heading>
                        <form class="form-inline" name="doctorForm" ng-submit="save()" novalidate valdr-type="Doctor" >
                            <div class="row row-spacer">
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">First Name</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="firstname" ng-model="doctor.firstName" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Last Name</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="lastname" ng-model="doctor.lastName" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Middle Name</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="middlename" ng-model="doctor.middleName" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Code</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="code" ng-model="doctor.code" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Gender</label>
                                    <div class="col-xs-8">
                                        <select name="parent" ng-model="doctor.gender.id" class="form-control"
                                                ng-options="gender.id as gender.name for gender in genders">
                                            <option value="">Select a Gender</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">DOB</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="dateOfBirth" ng-model="doctor.dateOfBirth.text" class="form-control" squer-datepicker=""
                                               value="{{doctor.dateOfBirth.text | date:'dd/MM/yyyy'}}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Age Group</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="ageGroup" ng-model="doctor.ageGroup.id" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Date Of Anniversary</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="weddingAnniversary" ng-model="doctor.weddingAnniversary.text" squer-datepicker
                                               class="form-control" value="{{doctor.weddingAnniversary.text | date:'dd/MM/yyyy'}}"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Email</label>
                                    <div class="col-xs-8">
                                        <input type="email" name="email" ng-model="doctor.email" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Phone</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="phone" ng-model="doctor.phone" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Cell No.</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="cell" ng-model="doctor.cell" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Qualification 1</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="qualification1" ng-model="doctor.qualification1" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Qualification 2</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="qualification2" ng-model="doctor.qualification2" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Qualification 3</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="qualification3" ng-model="doctor.qualification3" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Institutes Affiliated</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="institutes" ng-model="doctor.institutes" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Registration No.</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="registrationNo" ng-model="doctor.registrationNo" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Registration Place</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="registrationPlace" ng-model="doctor.registrationPlace" class="form-control"/>
                                    </div>
                                </div>
                            </div>


                            <div class="row row-spacer">
                                <fieldset class="dynamic-fieldset subheader">
                                    <legend>Personal Prefences</legend>
                                    <div class="row row-spacer">
                                    <div class="col-xs-10">
                                        <label class="col-xs-7 col-xs-offset-1 control-label">Hobbies</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="hobby" ng-model="doctor.hobby" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="col-xs-7 col-xs-offset-1 control-label">Bent of Mind</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="bentOfMind" ng-model="doctor.bentOfMind" class="form-control"/>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row row-spacer">
                                    <div class="col-xs-10">
                                        <label class="col-xs-7 col-xs-offset-1 control-label">Personality Type - Primary</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="primarypt" ng-model="doctor.primarypt"><option>Select</option><option value="Analyst">Analyst</option><option value="Diplomat">Diplomat</option><option value="Sentinal">Sentinal</option><option value="Explorer">Explorer</option></select>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row row-spacer">
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Personality Type - Secondary</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="secondarypt" ng-model="doctor.secondarypt"><option>Select</option><option value="Analyst">Analyst</option><option value="Diplomat">Diplomat</option><option value="Sentinal">Sentinal</option><option value="Explorer">Explorer</option></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-spacer">
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Digital Inclination</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="digitalInclination" ng-model="doctor.digitalInclination"><option>Select</option><option value="Low">Low</option><option value="Medium">Medium</option><option value="High">High</option></select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>


                            <div class="row">
                                <div class="col-xs-17">&nbsp;</div>
                                <div class="col-xs-4">
                                    <button type="submit" ng-disabled="doctorForm.$invalid" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                     </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                                Target Profiles
                                <span class="pull-right">
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </span>
                        </accordion-heading>
                        <div class="row" ng-repeat="profile in data.profiles" >
                            <sfe-division-profile profile="profile"/>
                        </div>
                        <div class="row">
                            <sfe-division-profile profile="data.profile" doctor="doctor" ng-show='doctor.id==null && usercontext=="home"'/>
                        </div>
                        <div class="row">
                            <sfe-division-profile profile="data.profile" doctor="doctor" ng-show='usercontext=="sysadmin"'/>
                        </div>

                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            Clinics
                                <span class="pull-right">
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </span>
                        </accordion-heading>
                        <div class="row" ng-repeat="c in data.clinics">
                            <sfe-clinc clinic="c" states="states" />
                        </div>
                        <!--div class="row">
                            <sfe-clinc clinic="data.clinic" states="states" doctor="doctor"/>
                        </div-->
                    </accordion-group>
                </accordion>
            </div>
         </div>






