<div class="panel"  style="min-height: 550px"  ng-controller="DoctorAdvancedController" ng-init="initAdvanceSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor
            </span>

        </div>
    </div>
    <div class="panel-body">
        <fieldset class="dynamic-fieldset subheader">
            <legend >Search</legend>
        <form class="form-horizontal" name="doctorAdvForm" ng-submit="search()" novalidate valdr-type="AdvancedDocSearch">
            <div class="row row-spacer">
                <div class="col-xs-6 required-field ">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
                    <div class="col-xs-14">
                        <input type="text" name="name" ng-model="doctor.name" class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-6 ">
                    <label class="col-xs-8 col-xs-offset-1 control-label">Speciality</label>
                    <div class="col-xs-14">
                        <select name="speciality"  ng-model="speciality"
                                class="form-control"
                                ng-options="sp.id as sp.name for sp in specialities">
                            <option value="">Select Speciality</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 required-field" >
                    <label class="col-xs-7 col-xs-offset-1 control-label">State</label>
                    <div class="col-xs-14">
                        <select name="state" ng-model="state.id"
                                ng-change="selectcity(state.id)"
                                class="form-control"
                                ng-options="st.id as st.name for st in states | orderBy : 'name'">
                            <option value="">Select State</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 required-field" >
                    <label class="col-xs-7 col-xs-offset-1  control-label">City</label>
                    <div class="col-xs-14">
                        <select name="city" ng-model='city.id'
                                class="form-control"
                                ng-options="c.id as c.name for c in cities | orderBy : 'name'">
                            <option value="">Select City</option>
                        </select>
                    </div>
                </div>
                </div>
            <div class="col-xs-2" style="margin-top: 10px">
                        <span class="pull-right">
                            <button type="submit" ng-disabled="doctorAdvForm.$invalid" class="btn btn-primary">Search</button>
                        </span>
            </div>
        </form>
        </fieldset>


<div class="row row-spacer"  ng-show="showdata">
    <table class="table table-bordered table-striped" style="margin-top: 40px">
        <thead>
        <tr>
            <th>UID</th>
            <th>Name</th>
            <th>Division</th>
            <th>Location</th>
            <th>Speciality</th>
            <th>Classification</th>
            <th>Change Classification</th>
            <th>Add Potential</th>
            <th>Add to DML</th>
            <th>View Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in doctorList">
            <th>{{d.uid}}</th>
            <td><a ng-click="docDataPopup(d.id,d.uid,d.name)">{{d.name}}</a></td>
            <td>{{d.division}}</td>
            <td>{{d.location}}</td>
            <td>{{d.speciality}}</td>
            <td>{{d.classification}}</td>
            <td>
                <select name="classification" ng-model="classification_$index"
                        class="form-control"
                        ng-options="cls.id as cls.name for cls in classifications"
                        ng-change="validateInputs(classification_$index,potential,$index)"
                        >
                    <option value="">Select</option>
                </select>

            </td>
            <td><input type="text" class="form-control" ng-model="potential" ng-change="validateInputs(classification_$index,potential,$index)"></td>
            <td style="vertical-align: middle;text-align: center">
                <input type="checkbox" id="activestatus_{{$index}}" name="activestatus"  ng-model="check" ng-change="addDoctor(d.id,d.uid,classification_$index,potential,$index)" disabled/>
            </td>
            <td style="vertical-align: middle;text-align: center"><a ng-click="docDataPopup(d.id,d.uid,d.name)" tooltip="View Details"><img src='images/add.png' class='icon'/></a></td>
        </tr>
        </tbody>
    </table>

    <pagination total-items="totalItems"
                ng-model="currentPage"
                max-size="maxSize"
                ng-change="pageChanged()"
                class="pagination-xs pull-right"
                boundary-links="true" rotate="false"
                items-per-page="100"></pagination>
</div>
<div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
</div>

</div>



<div>
    <script type="text/ng-template" id="doctordata.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Information for {{docName | capitalize}}</h3>
        </div>
        <div class="modal-body">

                <form class="form-inline" name="doctorForm" novalidate valdr-type="Doctor">
                    <fieldset class="dynamic-fieldset subheader">
                        <legend>Clinic Profile</legend>
                        <div class="row row-spacer">
                            <div class="col-xs-10 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <input type="text" name="clinicname" ng-model="clinic.name" class="form-control"  readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="row row-spacer">
                            <fieldset class="dynamic-fieldset subheader">
                                <legend>Clinic Address</legend>
                                <sfe-address layout="col-xs-10" address="clinic.address" states="states" readonly/>
                            </fieldset>
                        </div>
                    </fieldset>

                </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>

