 <div class="panel"  style="min-height: 550px"  ng-controller="DoctorController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span class="squerfont-large" style="vertical-align: middle;padding-top: 23px;padding-left: 10px">
                Doctor
            </span>
            <div class="col-xs-11 pull-right">
                <div class="row">
                    <div class="col-xs-6" style="font-size: medium;color:#3C763D">
                        <label>Core - {{doctorCount.core}}</label>
                    </div>
                    <div class="col-xs-8" style="font-size: medium;color:#f38630">
                        <label>Non Core - {{doctorCount.nonCore}}</label>
                    </div>
                    <div class="col-xs-8" style="font-size: medium;color:#2191c0">
                        <label>Super Core - {{doctorCount.superCore}}</label>
                    </div>
                    <div class="col-xs-2">
                        <span class="pull-right" ng-show="isShow"><a ng-click="advanceSearch()"><img src="images/add.png" tooltip="Add New"></a></span>
                        <span class="pull-right"><a ng-click="addNew()" ng-show="isVisible"><img src="images/add.png" tooltip="Add New"></a></span>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
            <!--dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form-->
        <form template="stdFormTemplate" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
            <fieldset class="dynamic-fieldset">
                <legend>Search</legend>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Name</label>
                        </div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="D.NAME" ng-model="stdFormData['D.NAME']" value="null" placeholder="Name" ng-change="null">
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Classification</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="cmt_doctor_division_profile.CLASSIFICATION_ID"
                                ng-model="stdFormData['cmt_doctor_division_profile.CLASSIFICATION_ID']" value="null" ng-change="null"
                                ng-options="c.id as c.name for c in classifications">
                            <option value="">Select All</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Town</label>
                        </div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="doctorTown" ng-model="stdFormData['doctorTown']" value="null" placeholder="Town" ng-change="null">
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Location</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="cmt_doctor_division_profile.location_id"
                                ng-model="stdFormData['cmt_doctor_division_profile.location_id']" value="null" ng-change="getDoctorCount()"
                                ng-options="l.id as l.name for l in locations">
                            <option value="">Select All</option>
                        </select>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="form-group">
                        <div class="input-group col-xs-4">
                            <label>Category</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="doctorMapping" ng-model="stdFormData['doctorMapping']" value="null"
                                ng-change="null"
                                ng-options="ct.id as ct.name for ct in categories">
                            <option value="">Select All</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Status</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="doctorMapping" ng-model="stdFormData['cmt_doctor_division_profile.STATUS_ID']" value="null"
                                ng-change="null"
                                ng-options="s.id as s.name for s in status">
                            <option value="">Select All</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <label>Speciality</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="doctorMapping" ng-model="stdFormData['cmt_doctor_division_profile.SPECIALITY_ID']" value="null"
                                ng-change="null"
                                ng-options="sp.id as sp.name for sp in specialities">
                            <option value="">Select All</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="search()">Search</button>
                </div>
            </fieldset>
        </form>

        <div class="row row-spacer" ng-show="searchData.length>0">

            <div class="row">
                <div class="col-xs-22">
                    <a ng-click="inactiveDoctor()" ng-show="isInactive" class="pull-right squerlink" href="" style="margin-top: 10px;margin-right: 10px">Inactivate Doctor</a>
                </div>
                <div class="col-xs-2">
                    <input type="button" class="btn btn-primary " value="Export" ng-click="downloadReport()">
                </div>
            </div>

            <table class="table table-bordered table-striped" style="margin-top: 10px">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" ><span ng-show="columns[$index].dataType!='Reference'">{{d[col.name]}}</span>
                        <span ng-show="columns[$index].dataType=='Reference'">{{d[col.name].displayName}}</span>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-xs-6">
                                <a ui-sref='home.doctor({id: "{{d.id}}"})' tooltip="Edit Doctor"><img src='images/edit.png' class='icon'/></a>
                            </div>
                            <div class="col-xs-6">
                                <a ng-click="addBrands(d.id,d.name,null,'search',null)" tooltip="Add Brands"><img src='images/add.png' class='icon'/></a>
                            </div>
                            <div class="col-xs-6">
                                <a ng-click="addActivitys(d.id,d.name)" tooltip="Add Activity"><img src='images/activity.png' class='icon'/></a>
                            </div>
                            <div class="col-xs-6" ng-show="showSurvey">
                                <a ng-click="survey(d.id)" tooltip="survey" class="squerlink"><img src='images/survey.png' width="20" height="20"/></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="10"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>

     <div>
         <script type="text/ng-template" id="addBrand.html">
             <div class="modal-header" ng-init="init()">
                 <h3 class="modal-title">Add Brands for {{docName | capitalize}}</h3>
             </div>
             <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sqe No.</th>
                            <th>Brand</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in divisionBrands">
                            <td width="80px"><input type="text" class="form-control" ng-model="d.sequence" style="text-align: center" disabled></td>
                            <td>
                                <select class="form-control" ng-model="d.brandId"
                                        ng-options="b.id as b.name for b in brands"
                                        ng-change="checkBrand(d)"
                                        >
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addBrand($index)" ng-show="$index==divisionBrands.length-1"
                                        data-toggle="tooltip" data-placement="bottom" title="Hooray">
                                    <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>

                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="removeBrand($index)">
                                    <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
             <div class="modal-footer">
                 <button class="btn btn-primary" ng-click="save()">Save</button>
                 <button class="btn btn-default" ng-click="closeModal()">Close</button>
             </div>
         </script>
     </div>

     <div>
         <script type="text/ng-template" id="addActivity.html">
             <div class="modal-header" ng-init="init()">
                 <h3 class="modal-title">Add Activity for {{docName | capitalize}}</h3>
             </div>
             <div class="modal-body">
                 <table class="table table-striped">
                     <thead>
                     <tr>
                         <th>Sqe No.</th>
                         <th>Activity</th>
                         <th></th>
                     </tr>
                     </thead>
                     <tbody>

                     <tr ng-repeat="a in activities">
                         <td width="80px">
                             <input type="text" class="form-control"
                               ng-model="a.sequence" style="text-align: center" disabled>
                         </td>

                         <td>
                             <select class="form-control" ng-model="a.activity.id"
                                     ng-options="at.id as at.name for at in activityList"
                                     ng-change="checkActivity(a)"
                                 >
                                 <option value="">Select</option>
                             </select>
                         </td>
                         <td>
                             <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addActivity(a)">
                                 <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                             </button>

                             <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="removeActivity($index)">
                                 <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                             </button>
                         </td>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <div class="modal-footer">
                 <button class="btn btn-primary" ng-click="save()">Save</button>
                 <button class="btn btn-default" ng-click="closeModal()">Close</button>
             </div>
         </script>
     </div>

     <div>
         <script type="text/ng-template" id="inactivatedoctor.html">
             <div class="modal-header" ng-init="init()">
                 <h3 class="modal-title">Inactivate Doctors</h3>
                 <span style="color: darkred;font-weight: bold">* You can Inactivate maximum five doctors at a time.</span>
             </div>
             <div class="modal-body">
                 <table class="table table-striped">
                     <thead>
                     <tr>
                         <th>Name</th>
                         <th>Code</th>
                         <th>Speciality</th>
                         <th>Classification</th>
                         <th>Clinic Address</th>
                         <th>Inactivate</th>
                     </tr>
                     </thead>
                     <tbody>

                     <tr ng-repeat="d in doctorList">
                         <td>{{d.name}}</td>
                         <td>{{d.code}}</td>
                         <td>{{d.speciality}}</td>
                         <td>{{d.classification}}</td>
                         <td>{{d.address}},{{d.town}}</td>
                         <td style="text-align: center"><input type="checkbox" id="check_{{$index}}" name="inactivestatus" ng-model="inactivecheck" ng-change="addToList(d.docdivID,{{$index}})" /></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <div class="modal-footer">
                 <button class="btn btn-primary" ng-click="save()">Save</button>
                 <button class="btn btn-default" ng-click="closeModal()">Close</button>
             </div>
         </script>
     </div>

</div>
