<div class="panel"  style="min-height: 550px" ng-controller="hairClinicSurveyController"  ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Hair Clinic Survey
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page1Form"  novalidate valdr-type="Survey" >

            <div class="row row-spacer">
                <div class="col-xs-12 required-field">
                    <label class="col-xs-6 col-xs-offset-1 control-label">Name of doctor:</label>
                    <div class="col-xs-16">
                        <input type="text" name="name" ng-model="answers[0][0].value1" class="form-control"/>
                        <span class="error-msg" ng-show="page1Form.name.$invalid">{{page1Form.name.valdrViolations[0].message}}</span>

                    </div>
                </div>
                <div class="col-xs-12 ">
                    <label class="col-xs-6 col-xs-offset-1 control-label">Address:</label>
                    <div class="col-xs-16">
                        <input type="text" name="address" ng-model="answers[0][0].value2" class="form-control"/>

                    </div>
                </div>

            </div>

            <div class="row row-spacer">
                <div class="col-xs-12 required-field">
                    <label class="col-xs-6 col-xs-offset-1 control-label">Date:</label>
                    <div class="col-xs-16">
                        <input type="text" name="date" ng-model="answers[0][0].value3"  class="form-control" squer-datepicker-all />
                        <span class="error-msg" ng-show="page1Form.date.$invalid">{{page1Form.date.valdrViolations[0].message}}</span>

                    </div>
                </div>
                <div class="col-xs-12 required-field">
                    <label class="col-xs-6 col-xs-offset-1 control-label">Speciality:</label>
                    <div class="col-xs-16">
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="speciality" ng-model="answers[0][0].value4" value="null"
                                ng-options="d.id as d.name for d in specialityList">
                            </option><option value="">Select </option>

                        </select>
                        <span class="error-msg" ng-show="page1Form.speciality.$invalid">{{page1Form.speciality.valdrViolations[0].message}}</span>

                    </div>
                </div>
            </div>


            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> Q1</td>
                <td width="65%">How many patients do you see in a week?</td>
                <td width="30%"><input type="text" name="q1" class="form-control" ng-model="answers[1][0].value1" />
                    <span class="error-msg" ng-show="page1Form.q1.$invalid">{{page1Form.q1.valdrViolations[0].message}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> Q2</td>
                <td width="65%">How many of your patient/Weeks come to you with Hair loss problem/pattern baldness issues?</td>
                <td width="30%"><input type="text" name="q2" class="form-control" ng-model="answers[2][0].value1"  />
                    <span class="error-msg" ng-show="page1Form.q2.$invalid">{{page1Form.q2.valdrViolations[0].message}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"> Q3</td>
                    <td width="65%">Out of all your pattern baldness patients/Week, how many are</td>

                    <td width="30%">
                        <div class="col-xs-12">
                            <div class="col-xs-12">a.Male</div>
                            <div class="col-xs-12"><input type="text" name="q31" class="form-control " ng-model="answers[3][0].value1" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.q31.$invalid">{{page1Form.q31.valdrViolations[0].message}}</span>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12"> b.Female </div>
                            <div class="col-xs-12"><input type="text" name="q32" class="form-control" ng-model="answers[3][0].value2" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.q32.$invalid">{{page1Form.q32.valdrViolations[0].message}}</span>
                            </div>
                        </div>

                    </td>
                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"> Q4</td>
                    <td width="95%">What is the age group distribution of your different pattern baldness patients which you see in a week?</td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td width="95%">
                        <div class="col-xs-6">
                            <div class="col-xs-12">a.Below 20 years</div>
                            <div class="col-xs-12"><input type="text" name="q41" class="form-control" ng-model="answers[4][0].value1" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.q41.$invalid">{{page1Form.q41.valdrViolations[0].message}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12">b.20-30 years</div>
                            <div class="col-xs-12"><input type="text" name="q42" class="form-control" ng-model="answers[4][0].value2" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.q42.$invalid">{{page1Form.q42.valdrViolations[0].message}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12">c.30-40 years</div>
                            <div class="col-xs-12"><input type="text" name="q43" class="form-control" ng-model="answers[4][0].value3" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.q43.$invalid">{{page1Form.q43.valdrViolations[0].message}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12">d.Above 40 Years</div>
                            <div class="col-xs-12"><input type="text" name="q44" class="form-control" ng-model="answers[4][0].value4" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.q44.$invalid">{{page1Form.q44.valdrViolations[0].message}}</span>
                            </div>
                        </div>

                    </td>
                </tr>

            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"> Q5</td>
                    <td width="95%">Basis your clinical practice, what percentage of pattern baldness patients fall under following categories (Hamilton Norwood Scale)</td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td width="95%">
                        <div class="col-xs-6">
                            <div class="col-xs-12">a.Grade I to Grade IV </div>
                            <div class="col-xs-12"><input type="text" name="newq41" class="form-control" ng-model="answers[17][0].value1" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.newq41.$invalid">{{page1Form.newq41.valdrViolations[0].message}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12">b.Grade V to Grade VII</div>
                            <div class="col-xs-12"><input type="text" name="newq42" class="form-control" ng-model="answers[17][0].value2" style="width:60px;" />
                                <span class="error-msg" ng-show="page1Form.newq42.$invalid">{{page1Form.newq42.valdrViolations[0].message}}</span>
                            </div>
                        </div>


                    </td>
                </tr>

            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"><div class="col-xs-24 required-field"> Q6<p style="color: #e32; display:inline;">*</p></div></td>
                    <td width="95%">Basis your experience, please rate the efficacy of following therapy in Pattern Baldness patients?
                    (Rate on a scale of 1 to 6 where 1 is least efficacious and 6 being highest efficacy)</td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td width="95%">
                        <div class="col-xs-22">
                            <div class="col-xs-8">
                                <div class="col-xs-12">a. Topical (Minoxidil)</div>
                                <div class="col-xs-12"><input type="text" name="q51" class="form-control" ng-model="answers[5][0].value1" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q51.$invalid">{{page1Form.q51.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">b. Oral (Finestride)</div>
                                <div class="col-xs-12"><input type="text" name="q52" class="form-control" ng-model="answers[5][0].value2" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q52.$invalid">{{page1Form.q52.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">c. PRP</div>
                                <div class="col-xs-12"><input type="text" name="q53" class="form-control" ng-model="answers[5][0].value3" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q53.$invalid">{{page1Form.q53.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-22">
                            <div class="col-xs-8">
                                <div class="col-xs-12">d. Hair Transplant</div>
                                <div class="col-xs-12"><input type="text" name="q54" class="form-control" ng-model="answers[5][0].value4" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q54.$invalid">{{page1Form.q54.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">e. Dermaroller</div>
                                <div class="col-xs-12"><input type="text" name="q55" class="form-control" ng-model="answers[5][0].value5" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q55.$invalid">{{page1Form.q55.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">f. Mesotherapy</div>
                                <div class="col-xs-12"><input type="text" name="q56" class="form-control" ng-model="answers[5][0].value6" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q56.$invalid">{{page1Form.q56.valdrViolations[0].message}}</span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                <td width="5%"> Q7</td>
                <td width="95%">What is the duration of therapy for following treatments generally recommended by you?</td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td width="95%">
                        <div class="col-xs-22">
                            <div class="col-xs-8">
                                <div class="col-xs-12">a. Topical (Minoxidil)</div>
                                <div class="col-xs-12"><input type="text" name="q61" class="form-control" ng-model="answers[6][0].value1" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q61.$invalid">{{page1Form.q61.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">b. Oral (Finestride)</div>
                                <div class="col-xs-12"><input type="text" name="q62" class="form-control" ng-model="answers[6][0].value2" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q62.$invalid">{{page1Form.q62.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">c. PRP</div>
                                <div class="col-xs-12"><input type="text" name="q63" class="form-control" ng-model="answers[6][0].value3" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q63.$invalid">{{page1Form.q63.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-22">
                            <div class="col-xs-8">
                                <div class="col-xs-12">d. Hair Transplant</div>
                                <div class="col-xs-12"><input type="text" name="q64" class="form-control" ng-model="answers[6][0].value4" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q64.$invalid">{{page1Form.q64.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">e. Dermaroller</div>
                                <div class="col-xs-12"><input type="text" name="q65" class="form-control" ng-model="answers[6][0].value5"  style="width:60px;"/>
                                    <span class="error-msg" ng-show="page1Form.q65.$invalid">{{page1Form.q65.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">f. Mesotherapy</div>
                                <div class="col-xs-12"><input type="text" name="q66" class="form-control" ng-model="answers[6][0].value6" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q66.$invalid">{{page1Form.q66.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"> Q8</td>
                    <td width="95%">What is your point of action when patient who have been given oral/Topical therapies do not show results?</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"> <input type="checkbox" name="q7" value="1"   ng-model="answers[7][0].value1"
                                                                        ng-checked="que81">
                            a.	Try PRP on these patients
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"><input type="checkbox" name="q7" value="2"  ng-model="answers[7][0].value2"
                                                                        ng-checked="que82">
                            b.	Try Hair Transplant on these patients
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"><input type="checkbox" name="q7" value="3"  ng-model="answers[7][0].value3"
                                                                      ng-checked="que83">
                            c.	Refer these patients to other doctors for PRP
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"><input type="checkbox" name="q7" value="4"  ng-model="answers[7][0].value4"
                                                                        ng-checked="que84">

                            d.	Refer these patients for Hair transplant to other doctor
                        </div>
                    </td>
                </tr>

            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"><div class="col-xs-24 required-field"> Q9</div></td>
                    <td width="95%"> If performing, how many  procedures/week do you perform on your patients</td>
                </tr>
                <tr>
                    <td width="5%"> </td>

                    <td width="95%">
                        <div class="col-xs-14">
                            <div class="col-xs-12">
                                <div class="col-xs-8">a.PRP	</div>
                                <div class="col-xs-12"><input type="text" name="newq81" class="form-control " ng-model="answers[18][0].value1" style="width:80px;" />
                                    <span class="error-msg" ng-show="page1Form.newq81.$invalid">{{page1Form.newq81.valdrViolations[0].message}}</span>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12"> b. Hair Transplant </div>
                                <div class="col-xs-12"><input type="text" name="newq82" class="form-control" ng-model="answers[18][0].value2" style="width:80px;" />
                                    <span class="error-msg" ng-show="page1Form.newq82.$invalid">{{page1Form.newq82.valdrViolations[0].message}}</span>

                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"><div class="col-xs-24 required-field"> Q10<p style="color: #e32; display:inline;">*</p></div></td>
                    <td width="95%">If any, how many of your patients per quarter do you refer for..</td>
                </tr>
                <tr>
                    <td width="5%"> </td>

                    <td width="95%">
                        <div class="col-xs-14">
                            <div class="col-xs-12">
                                <div class="col-xs-8">a.PRP	</div>
                                <div class="col-xs-12"><input type="text" name="q81" class="form-control " ng-model="answers[8][0].value1" style="width:80px;" /></div>
                                <span class="error-msg" ng-show="page1Form.q81.$invalid">{{page1Form.q81.valdrViolations[0].message}}</span>

                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12"> b. Hair Transplant </div>
                                <div class="col-xs-12"><input type="text" name="q82" class="form-control" ng-model="answers[8][0].value2" style="width:80px;" />
                                    <span class="error-msg" ng-show="page1Form.q82.$invalid">{{page1Form.q82.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                        </div>

                </td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%"><div class="col-xs-24 required-field"> Q11</div></td>
                    <td width="95%"> What according to you is the right price for following:</td>
                </tr>
                <tr>
                    <td width="5%"> </td>

                    <td width="95%">
                        <div class="col-xs-20">
                            <div class="col-xs-8">
                                <div class="col-xs-8">a.PRP(Per Sitting) 	</div>
                                <div class="col-xs-12"><input type="text" name="newq111" class="form-control " ng-model="answers[19][0].value1" style="width:80px;" />
                                    <span class="error-msg" ng-show="page1Form.newq111.$invalid">{{page1Form.newq111.valdrViolations[0].message}}</span>
                                </div>

                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12">b.FUT (Per Graft) </div>
                                <div class="col-xs-12"><input type="text" name="newq112" class="form-control" ng-model="answers[19][0].value2" style="width:80px;" />
                                    <span class="error-msg" ng-show="page1Form.newq112.$invalid">{{page1Form.newq112.valdrViolations[0].message}}</span>

                                </div>
                            </div>

                            <div class="col-xs-8">
                                <div class="col-xs-12">c.FUE (Per Graft) </div>
                                <div class="col-xs-12"><input type="text" name="newq113" class="form-control" ng-model="answers[19][0].value3" style="width:80px;" />
                                    <span class="error-msg" ng-show="page1Form.newq113.$invalid">{{page1Form.newq113.valdrViolations[0].message}}</span>

                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>



            <table class="table table-bordered" style="font-size: medium">
                <tr>
                <td width="5%"> Q12</td>
                <td width="95%">Please rate the parameters which govern your decision to refer your patients for PRP/Hair Transplant
                    (05 being most important and 01 being least important)</td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td width="95%">
                        <div class="col-xs-22">
                            <div class="col-xs-12">
                                <div class="col-xs-12"> a.	Price</div>
                                <div class="col-xs-12"><input type="text" name="q91" class="form-control" ng-model="answers[9][0].value1"  style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q91.$invalid">{{page1Form.q91.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12">	b. World Class & tertiary care setup)</div>
                                <div class="col-xs-12"><input type="text" name="q92" class="form-control" ng-model="answers[9][0].value2" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q92.$invalid">{{page1Form.q92.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            </div>
                        <div class="col-xs-22">
                            <div class="col-xs-12">
                                <div class="col-xs-12">c. Renowned doctor</div>
                                <div class="col-xs-12"><input type="text" name="q93" class="form-control" ng-model="answers[9][0].value3" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q93.$invalid">{{page1Form.q93.valdrViolations[0].message}}</span>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-12">	d. Previous result</div>
                                <div class="col-xs-12"><input type="text" name="q94" class="form-control" ng-model="answers[9][0].value4" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q94.$invalid">{{page1Form.q94.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-22">
                            <div class="col-xs-12">
                                <div class="col-xs-12">e.	Business commitment</div>
                                <div class="col-xs-12"><input type="text" name="q95" class="form-control" ng-model="answers[9][0].value5" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q95.$invalid">{{page1Form.q95.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12">f. Personal relation</div>
                                <div class="col-xs-12"><input type="text" name="q96" class="form-control" ng-model="answers[9][0].value6" style="width:60px;" />
                                    <span class="error-msg" ng-show="page1Form.q96.$invalid">{{page1Form.q96.valdrViolations[0].message}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> Q13</td>
                <td width="65%"> Does the fear of losing your patient due to referral bother you?</td>
                <td width="30%"><div class="col-xs-12">Yes <input type="radio" name="q10" value="1" ng-model="answers[10][0].value1" ></div>
                    <div class="col-xs-12">No <input type="radio" name="q10" value="2" ng-model="answers[10][0].value1" ></div>
                    <span class="error-msg" ng-show="!numflag">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> Q14</td>
                <td width="65%">Do you ever advise your patients for booster therapy after initial PRP or after Hair transplant (for maintenance)?
                    If yes how many/week& if no, then Why?</td>
                <td width="30%"><div class="col-xs-12">Yes <input type="radio" name="q11" value="1" ng-model="answers[11][0].value1" ng-change="clearBox()"></div>
                    <div class="col-xs-12">No <input type="radio" name="q11" value="2" ng-model="answers[11][0].value1" ng-change="clearBox()" ></div>
                    <div class="col-xs-24" ng-show="answers[11][0].value1 == 1 ">
                        <input type="text" name="q11yes" class="form-control " ng-model="answers[11][0].value2" style="width:150px;" />
                        <span class="error-msg" ng-show="page1Form.q11yes.$invalid">{{page1Form.q11yes.valdrViolations[0].message}}</span>

                    </div>
                    <div class="col-xs-24" ng-show="answers[11][0].value1 == 2 "><input type="text" name="q11no" class="form-control " ng-model="answers[11][0].value2" style="width:300px;" /></div>

                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> Q15</td>
                <td width="65%">If required to perform, how comfortable are you with procedures like PRP/Hair transplant?</td>
                <td width="30%"><div class="col-xs-12">Comfortable <input type="radio" name="q12" value="1" ng-model="answers[12][0].value1" ></div>
                    <div class="col-xs-12">Not Comfortable <input type="radio" name="q12" value="2" ng-model="answers[12][0].value1" ></div>
                    <span class="error-msg" ng-show="!numflag">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%">Q16</td>
                <td width="65%">If comfortable, do you plan to start doing PRP/Hair transplant in near future yourself?</td>
                <td width="30%"><div class="col-xs-12">Yes <input type="radio" name="q13" value="1" ng-model="answers[13][0].value1" ></div>
                    <div class="col-xs-12">No <input type="radio" name="q13" value="2" ng-model="answers[13][0].value1" ></div>
                    <span class="error-msg" ng-show="!numflag">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%">Q17</td>
                <td width="65%">If not comfortable, then which hands on training/workshop do you recommend which will be good enough to
                    make you comfortable to start doing the procedures yourself?</td>
                <td width="30%"><input type="text" name="q14" class="form-control" ng-model="answers[14][0].value1"  />
                    <span class="error-msg" ng-show="!numflag">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%">Q18</td>
                    <td width="95%">Which according to you are top three doctors in Mumbai doing PRP & Hair Transplant?</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1">
                            <div class="col-xs-2">1.</div><div class="col-xs-16"><input type="text" name="q15" class="form-control" ng-model="answers[15][0].value1" style="width:300px;" /></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1">
                            <div class="col-xs-2">2.</div><div class="col-xs-16"><input type="text" name="fee" class="form-control" ng-model="answers[15][0].value2" style="width:300px;" /></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1">
                            <div class="col-xs-2">3.</div><div class="col-xs-16"><input type="text" name="fee" class="form-control" ng-model="answers[15][0].value3" style="width:300px;"  /></div>
                        </div>
                    </td>
                </tr>

            </table>

            <div class="row row-spacer">
                <div class="col-xs-12 ">
                    <label class="col-xs-4  control-label">Comments:</label>
                    <div class="col-xs-16">

                        <textarea id="txtArea" name="comments" class="form-control" rows="3" cols="70" ng-model="answers[16][0].value1"></textarea>

                    </div>
                </div>


            </div>

            <div class="row" style="margin-top: 10px">
                <!--div class="col-xs-20">
                    <div class="alert alert-danger" role="alert" ng-show="mandatory">
                        <ul>
                            <li data-ng-repeat="e in errors">{{e}}</li>
                        </ul>
                    </div>
                </div-->
                <div class="col-xs-2"><input type="button" name="savepage" value="Save" ng-disabled="page1Form.$invalid" class="btn  btn-primary pull-right" ng-click="save()"/></div>
                <!--div class="col-xs-2"><input type="button" name="submit" value="Submit" class="btn btn-primary" ng-click="submit()" /></div-->

            </div>

            </form>
        </div>
    </div>