<div class="panel"  style="min-height: 550px" ng-controller="DoctorNewForEmployeeController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <div ng-show='jobTitle!="JOBTT00000000000000000000000000000005"' style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                <span>{{doctor.name}}</span>
            </div>
            <div ng-show='jobTitle=="JOBTT00000000000000000000000000000005"' style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    <span ng-show='profile.status.id=="SYSLVDOCSTA00000000000000000000000001"||profile.status.id=="SYSLVDOCSTA00000000000000000000000002"'>
                        (Approved)
                    </span>
                    <span ng-show='profile.status.id=="SYSLVDOCSTA00000000000000000000000003"||profile.status.id=="SYSLVDOCSTA00000000000000000000000004"'>
                         (Unapproved)
                    </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <tabset justified="true" class="row-spacer">
            <tab heading="Doctor Profile">
                <form class="form-inline" name="doctorForm" novalidate valdr-type="Doctor">
                    <div class="row row-spacer">
                        <div class="col-xs-10 required-field">
                            <label class="col-xs-7 col-xs-offset-1 control-label">First Name</label>
                            <div class="col-xs-8">
                                <input type="text" name="firstname" ng-model="doctor.firstName" ng-show="doctor.id!=null" class="form-control" ng-readonly="{{readonly}}" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Last Name</label>
                            <div class="col-xs-8">
                                <input type="text" name="lastname" ng-model="doctor.lastName" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Middle Name</label>
                            <div class="col-xs-8">
                                <input type="text" name="middlename" ng-model="doctor.middleName" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Code</label>
                            <div class="col-xs-8">
                                <input type="text" name="code" ng-model="doctor.code" class="form-control" ng-readonly="{{readonly}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Gender</label>
                            <div class="col-xs-8">
                                <select name="parent" ng-model="doctor.gender.id" class="form-control"
                                        ng-options="gender.id as gender.name for gender in genders">
                                    <option value="">Select a Gender</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">DOB</label>
                            <div class="col-xs-8">
                                <input type="text" name="dateOfBirth" ng-model="doctor.dateOfBirth.text" class="form-control" squer-datepicker=""
                                       value="{{doctor.dateOfBirth.text | date:'dd/MM/yyyy'}}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <!--<label class="col-xs-7 col-xs-offset-1 control-label">Age Group</label>
                            <div class="col-xs-8">
                                <input type="text" name="ageGroup" ng-model="doctor.ageGroup.id" class="form-control" ng-show=""/>
                            </div>-->
                        </div>
                        <div class="col-xs-10" ng-show='!config.doctorapproval'>
                            <label class="col-xs-7 col-xs-offset-1 control-label">Status</label>
                            <input type="radio" name="doctorstatus1" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000001" > Active

                            <input type="radio" name="doctorstatus2" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000002" ng-show='statusConfig'>
                            <input type="radio" name="doctorstatus13" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000002" disabled ng-show='!statusConfig'> In-Active
                        </div>
                        <div class="col-xs-10" ng-show='config.doctorapproval && profile.status.id=="SYSLVDOCSTA00000000000000000000000003" && profile.id==null'>
                            <label class="col-xs-7 col-xs-offset-1 control-label">Status</label>
                            <input type="radio" name="doctorstatus3" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000003" > Active
                            <input type="radio" name="doctorstatus4" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000004" ng-disabled="true" > In-Active
                        </div>

                        <div class="col-xs-10" ng-show='config.doctorapproval && profile.status.id=="SYSLVDOCSTA00000000000000000000000004"'>
                            <label class="col-xs-7 col-xs-offset-1 control-label">Status</label>
                            <input type="radio" name="doctorstatus5" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000001" > Active
                            <input type="radio" name="doctorstatus6" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000004" > In-Active
                        </div>
                        <div class="col-xs-10" ng-show='config.doctorapproval && profile.status.id=="SYSLVDOCSTA00000000000000000000000001"'>
                            <label class="col-xs-7 col-xs-offset-1 control-label">Status</label>
                            <input type="radio" name="doctorstatus7" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000001" > Active
                            <input type="radio" name="doctorstatus8" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000004" > In-Active
                        </div>
                        <div class="col-xs-10" ng-show='config.doctorapproval && profile.status.id=="SYSLVDOCSTA00000000000000000000000002"'>
                            <label class="col-xs-7 col-xs-offset-1 control-label">Status</label>
                            <input type="radio" name="doctorstatus9" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000003" > Active
                            <input type="radio" name="doctorstatus10" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000002" > In-Active
                        </div>
                        <div class="col-xs-10" ng-show='config.doctorapproval && profile.status.id=="SYSLVDOCSTA00000000000000000000000003" && profile.id!=null'>
                            <label class="col-xs-7 col-xs-offset-1 control-label">Status</label>
                            <input type="radio" name="doctorstatus11" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000003" > Active
                            <input type="radio" name="doctorstatus12" ng-model="profile.status.id" value="SYSLVDOCSTA00000000000000000000000002" > In-Active
                        </div>

                    </div>

                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Date Of Anniversary</label>
                            <div class="col-xs-8">
                                <input type="text" name="weddingAnniversary" ng-model="doctor.weddingAnniversary.text" squer-datepicker
                                       class="form-control" value="{{doctor.weddingAnniversary.text | date:'dd/MM/yyyy'}}"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Email</label>
                            <div class="col-xs-8">
                                <input type="text" id="email" name="email" ng-model="doctor.email" class="form-control"/>
                                <span class="error-msg" ng-show="doctorForm.email.$invalid">{{doctorForm.email.valdrViolations[0].message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Phone</label>
                            <div class="col-xs-8">
                                <input type="text" name="phone" ng-model="doctor.phone" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Cell No.</label>
                            <div class="col-xs-8">
                                <input type="text" name="cell" ng-model="doctor.cell" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10 required-field">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Qualification 1</label>
                            <div class="col-xs-8">
                                <input type="text" name="qualification1" ng-model="doctor.qualification1" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Qualification 2</label>
                            <div class="col-xs-8">
                                <input type="text" name="qualification2" ng-model="doctor.qualification2" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Qualification 3</label>
                            <div class="col-xs-8">
                                <input type="text" name="qualification3" ng-model="doctor.qualification3" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Institutes Affiliated</label>
                            <div class="col-xs-8">
                                <input type="text" name="institutes" ng-model="doctor.institutes" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Registration No.</label>
                            <div class="col-xs-8">
                                <input type="text" name="registrationNo" ng-model="doctor.registrationNo" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Registration Place</label>
                            <div class="col-xs-8">
                                <input type="text" name="registrationPlace" ng-model="doctor.registrationPlace" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row row-spacer">
                        <fieldset class="dynamic-fieldset subheader">
                            <legend>Personal Prefences</legend>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Hobbies</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="hobby" ng-model="doctor.hobby" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Bent of Mind</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="bentOfMind" ng-model="doctor.bentOfMind" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Personality Type - Primary</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" name="primarypt" ng-model="doctor.primarypt"><option>Select</option><option value="Analyst">Analyst</option><option value="Diplomat">Diplomat</option><option value="Sentinal">Sentinal</option><option value="Explorer">Explorer</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Personality Type - Secondary</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" name="secondarypt" ng-model="doctor.secondarypt"><option>Select</option><option value="Analyst">Analyst</option><option value="Diplomat">Diplomat</option><option value="Sentinal">Sentinal</option><option value="Explorer">Explorer</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Digital Inclination</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" name="digitalInclination" ng-model="doctor.digitalInclination"><option>Select</option><option value="Low">Low</option><option value="Medium">Medium</option><option value="High">High</option></select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!--division profile-->
                    <fieldset class="dynamic-fieldset subheader">
                        <legend>Division Profile</legend>
                        <div class="col-xs-24">
                            <span class="pull-right">
                                <a ng-click="addBrands(null,doctor.name,profile.id,'edit',profile.division.id)" ng-controller="DoctorController" class="squerlink" tooltip="Add Brands" ng-show="!isAdmin">Add Brands</a>
                                <a ng-click="addBrands(null,doctor.name,profile.id,'edit',profile.division.id)" ng-controller="DoctorController" class="squerlink" tooltip="Add Brands" ng-show="isAdmin">Show Brands</a>
                            </span>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Division</label>
                                <div class="col-xs-8">
                                    <select name="division" ng-model="profile.division.id"
                                            ng-change="selectDivision()"
                                            class="form-control"
                                            ng-options="d.id as d.name for d in divisions" ng-show='usercontext=="sysadmin"'>
                                        <option value="">Select Division</option>
                                    </select>
                                    <input type="text" name="division" ng-model="profile.division.displayName" class="form-control" ng-readonly="{{readonly}}" ng-show='usercontext!="sysadmin"'>
                                </div>
                            </div>
                            <div class="col-xs-10 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Location</label>
                                <div class="col-xs-8">
                                    <select name="location" ng-model="profile.location.id"
                                            class="form-control"
                                            ng-options="l.id as l.name for l in locations" ng-show='usercontext=="sysadmin"'>
                                        <option value="">Select Location</option>
                                    </select>
                                    <input type="text" name="location" ng-model="profile.location.displayName" class="form-control" ng-readonly="{{readonly}}" ng-show='usercontext!="sysadmin"'>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Code</label>
                                <div class="col-xs-8">
                                    <input type="text" name="divisioncode" ng-model="profile.divisionCode" class="form-control" ng-readonly="{{readonly}}">
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Is KOL</label>
                                <div class="col-xs-8">
                                    <input type="checkbox" name="kol" ng-model="profile.kol" class="form-control" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10 required-field" >
                                <label class="col-xs-7 col-xs-offset-1 control-label">Classification</label>
                                <div class="col-xs-8" ng-show="profile.id==null">
                                    <user-lov type="doctor_classification" value="profile.classification.id" default-text="Select Classification"/>
                                </div>
                                <div class="col-xs-8" ng-show="profile.id!=null && editableClassification">
                                    <select name="doctor_classification" ng-model="profile.classification.id"
                                            class="form-control"
                                            ng-options="classification.id as classification.name for classification in classifications" >
                                        <option value="">Select Classification</option>
                                    </select>
                                </div>
                                <div class="col-xs-8" ng-show="profile.id!=null && !editableClassification">
                                    <input type="text" name="doctor_classification1"  class="form-control" ng-model="profile.classification.displayName" readonly/>
                                </div>
                            </div>

                            <div class="col-xs-10 required-field" >
                                <label class="col-xs-7 col-xs-offset-1 control-label">Speciality</label>
                                <div class="col-xs-8" ng-show="profile.id==null">
                                    <user-lov type="doctor_specialty" value="profile.speciality.id" default-text="Select Speciality"/>
                                </div>
                                <div class="col-xs-8" ng-show="profile.id!=null && editableSpecification">
                                    <select name="doctor_specialty"  ng-model="profile.speciality.id"
                                            class="form-control"
                                            ng-options="speciality.id as speciality.name for speciality in specialities" >
                                        <option value="">Select Speciality</option>
                                    </select>
                                </div>
                                <div class="col-xs-8" ng-show="profile.id!=null && !editableSpecification">
                                    <input type="text" name="doctor_specialty1"  class="form-control" ng-model="profile.speciality.displayName" readonly/>
                                </div>
                            </div>
                        </div>

                        <div ng-show="profile.kol">
                            <fieldset class="dynamic-fieldset subheader">
                                <legend>KOL Profile</legend>

                                <div class="row row-spacer" ng-repeat="k in definitions" ng-init='fetchKolLovs(k.lovType,profile)'>
                                    <div class="col-xs-12" >
                                        <label class="col-xs-12 col-xs-offset-1 control-label">{{k.name}}</label>
                                        <!--div class="col-xs-8">
                                                <user-lov type="kol_credibility" value="profile.doctorKolProfile.credibility.id" default-text="Select"/>
                                        </div-->
                                        <div class="col-xs-8"  ng-show = "k.type =='STRING' ">
                                            <input type="text" name="{{k.name}}" ng-model="profile.doctorKolProfile[k.lovType]" class="form-control" />
                                        </div>
                                        <div class="col-xs-8"  ng-show = "k.type =='USER_LOV_REFERENCE' ">
                                            <select name="{{k.name}}" ng-model="profile.doctorKolProfile[k.lovType]" class="form-control"
                                                    ng-options="{{k.lovType}}.name as {{k.lovType}}.name for {{k.lovType}} in kolDefLovs[k.lovType]">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </fieldset>

                    <!-- Clinic Profile -->
                    <fieldset class="dynamic-fieldset subheader">
                        <legend>Clinic Profile</legend>
                        <div class="row row-spacer">
                            <div class="col-xs-10 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <input type="text" name="clinicname" ng-model="clinic.name" class="form-control" ng-show="clinic.id==null"/>
                                    <input type="text" name="clinicname" ng-model="clinic.name" class="form-control" ng-show="clinic.id!=null"/>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Type</label>
                                <div class="col-xs-8">
                                    <user-lov type="clinic_type" value="clinic.type.id" default-text="Select Type"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Position</label>
                                <div class="col-xs-8">
                                    <input type="text" name="position" ng-model="clinic.position" class="form-control" ng-show="clinic.id==null"/>
                                    <input type="text" name="position" ng-model="clinic.position" class="form-control" ng-show="clinic.id!=null"/>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Patients/Day</label>
                                <div class="col-xs-8">
                                    <input type="text" name="patientperday" ng-model="clinic.patientsPerDay" class="form-control" ng-show="clinic.id==null"/>
                                    <input type="text" name="patientperday" ng-model="clinic.patientsPerDay" class="form-control" ng-show="clinic.id!=null"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Dispenses</label>
                                <div class="col-xs-8">
                                    <input type="checkbox" name="dispensing" ng-model="clinic.dispensing" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-10 ">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Has Computer</label>
                                <div class="col-xs-8">
                                    <input type="checkbox" name="computer" ng-model="clinic.computer" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Uses PMS</label>
                                <div class="col-xs-8">
                                    <input type="checkbox" name="pms" ng-model="clinic.pms" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Diabetes Patients/day</label>
                                <div class="col-xs-8">
                                    <input type="text" name="instructions" ng-model="clinic.instructions" class="form-control" ng-show="clinic.id==null"/>
                                    <input type="text" name="instructions" ng-model="clinic.instructions" class="form-control" ng-show="clinic.id!=null"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Preferred Day</label>
                                <div class="col-xs-16">
                                    <user-lov type="preferred_day" value="clinic.preferredDay.id" default-text="Select Day"/>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Preferred Time</label>
                                <div class="col-xs-8">
                                    <user-lov type="preferred_time" value="clinic.preferredTime.id" default-text="Select Time"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <fieldset class="dynamic-fieldset subheader">
                                <legend>Clinic Address</legend>
                                <sfe-address layout="col-xs-10" address="clinic.address" states="states" />
                            </fieldset>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Phone 1</label>
                                <div class="col-xs-8">
                                    <input type="text" name="phone1" ng-model="clinic.phone1" class="form-control" ng-show="clinic.id==null"/>
                                    <input type="text" name="phone1" ng-model="clinic.phone1" class="form-control" ng-readonly="{{readonly}}" ng-show="clinic.id!=null"/>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Phone 2</label>
                                <div class="col-xs-8">
                                    <input type="text" name="phone2" ng-model="clinic.phone2" class="form-control" ng-show="clinic.id==null"/>
                                    <input type="text" name="phone2" ng-model="clinic.phone2" class="form-control" ng-readonly="{{readonly}}" ng-show="clinic.id!=null"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="col-xs-24" style="margin-top: 10px">
                        <span class="pull-right">
                            <button type="submit" ng-disabled="doctorForm.$invalid" class="btn btn-primary">Save</button>
                        </span>
                    </div>
                </form>
                <!--div class="col-xs-4">
                    <button type="button" class="btn btn-primary" ng-click="approve()">Approve</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" ng-click="reject()">Reject</button>
                </div-->
            </tab>
            <tab heading="Updated Information" ng-init="viewChangesInProfile()" ng-show='profile.id!=null && entryStatus.entryStatus.id=="SYSLVENTSTA00000000000000000000000002"'>
                <div class="row row-spacer">
                    <div class="col-xs-10">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Column Name</th>
                                <th>Old Value</th>
                                <th>New Value</th>
                                <th>Updated On</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in result">
                                <td>{{r.updateColumnName}}</td>
                                <td>{{r.oldColumnValue.displayName}}</td>
                                <td>{{r.newColumnValue.displayName}}</td>
                                <td>{{r.updatedOn.text}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </tab>
            <tabset justified="true" class="row-spacer">
    </div>


    <div>
        <script type="text/ng-template" id="addBrand.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title" ng-show="!isAdmin">Add Brands</h3>
                <h3 class="modal-title" ng-show="isAdmin">Brands</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sqe No.</th>
                        <th>Brand</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in divisionBrands">
                        <td width="80px"><input type="text" class="form-control" ng-model="d.sequence" style="text-align: center" disabled></td>
                        <td>
                            <select class="form-control" ng-model="d.brandId"
                                    ng-options="b.id as b.name for b in brands"
                                    ng-change="checkBrand(d)"
                                    ng-disabled="isAdmin"
                            >
                                <option value="">Select</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="removeBrand($index)" ng-show="!isAdmin">
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addBrand($index)" ng-show="!isAdmin && $index==divisionBrands.length-1">
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="save()">Save</button>
                <button class="btn btn-default" ng-click="closeModal()">Close</button>
            </div>
        </script>
    </div>
</div>






