<div class="panel"  style="min-height: 550px"  ng-controller="EmployPage1Controller" ng-init="init2()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Employee Survey
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page1Form"  >

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%"> 7 <p style="color: #e32; display:inline;">*</p></td>
                    <td width="96%">I have access to the right communication and resources to do my job effectively</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-6 col-xs-offset-1"> Strongly Disagree <input type="radio" name="q7" value="1" ng-model="answers[0][0].value1">  </div>
                        <div class=" col-xs-4"> Disagree <input type="radio" name="q7" value="2" ng-model="answers[0][0].value1" > </div>
                        <div class=" col-xs-4"> Neutral <input type="radio" name="q7" value="3" ng-model="answers[0][0].value1" > </div>
                        <div class=" col-xs-4"> Agree <input type="radio" name="q7" value="4" ng-model="answers[0][0].value1" > </div>
                        <div class=" col-xs-4"> Strongly Agree <input type="radio" name="q7" value="5" ng-model="answers[0][0].value1">  </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%"> 8 <p style="color: #e32; display:inline;">*</p></td>
                    <td width="96%">
                        When facing a challenge in my day-to-day work, I
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"> <input type="radio" name="q8" value="1" ng-model="answers[1][0].value1" >
                        Mostly work independently to resolve the challenge
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"><input type="radio" name="q8" value="2" ng-model="answers[1][0].value1" >
                            Try to resolve the challenge independtly but seek approval/support of my supervisor
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-16 col-xs-offset-1"><input type="radio" name="q8" value="3" ng-model="answers[1][0].value1" >
                            Mostly collaborate with others to resolve the challenge
                        </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%"> 9 </td>
                    <td width="96%">When I do collaborate with others to resolve a challenge, I usually work with (select maximum 5 Employees)</td>
                </tr>

                <tr ng-repeat=" e in q8list">
                    <td colspan="2">
                        <div class=" col-xs-offset-1 col-xs-6 ">{{e.displayName | capitalize}}</div>
                        <div class=" col-xs-6">{{e.freqName}}</div>
                        <div class=" col-xs-6">{{e.motivationName}}</div>
                        <div class=" col-xs-2">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee3($index,e.id)"  >
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>

                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control " name="DIVISION_ID" ng-model="divisionSelected3" value="null"
                                    ng-options="d.id as d.name for d in divisions"
                                    ng-change="getEmployeeList3()">
                                </option><option value="">Select Division</option>
                            </select>
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employeeList3"
                                    output-model="que8emply"
                                    button-label="empName "
                                    item-label="empName "
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                            </div>
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="freq3" name="q8">
                                <option value="">Select Frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks or more</option>
                            </select>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="motivation3" name="q3">
                                <option value="">Select Motivation Level</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>

                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q8" ng-click="addEmployees3()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <label  ng-show="fieldsMissing3" style="color: #e32;">Please select all fields</label>
                        </div>

                    </td>

                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%" >10 <p style="color: #e32; display:inline;">*</p></td>
                    <td width="96%">I have a fair degree of independence in trying new things/taking decisions in my area of operation</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-6 col-xs-offset-1"> Strongly Disagree <input type="radio" name="q10" value="1" ng-model="answers[3][0].value1"> </div>
                        <div class=" col-xs-4"> Disagree <input type="radio" name="q10" value="2" ng-model="answers[3][0].value1" > </div>
                        <div class=" col-xs-4"> Neutral <input type="radio" name="q10" value="3" ng-model="answers[3][0].value1" > </div>
                        <div class=" col-xs-4"> Agree <input type="radio" name="q10" value="4" ng-model="answers[3][0].value1" > </div>
                        <div class=" col-xs-4"> Strongly Agree  <input type="radio" name="q10" value="5" ng-model="answers[3][0].value1"> </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                <td width="4%"> 11</td>
                <td width="96%">I often discuss new ways/approaches of doing things with the following individuals please share names (select maximum 5 Employees)</td>
                </tr>

                <tr ng-repeat=" e in q11list">
                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-6">{{e.displayName | capitalize}}</div>
                        <div class="col-xs-6">{{e.freqName}}</div>
                        <div class=" col-xs-6">{{e.motivationName}}</div>
                        <div class=" col-xs-2">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee4($index,e.id)"  >
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control " name="DIVISION_ID" ng-model="divisionSelected4" value="null"
                                    ng-options="d.id as d.name for d in divisions"
                                    ng-change="getEmployeeList4()">
                                </option><option value="">Select Division</option>
                            </select>
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employeeList4"
                                    output-model="que11emply"
                                    button-label="empName "
                                    item-label="empName "
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                            </div>
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="freq4" name="q11">
                                <option value="">Select Frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks or more</option>
                            </select>
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="motivation4" name="q3">
                                <option value="">Select Motivation Level</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q11" ng-click="addEmployees4()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <label  ng-show="fieldsMissing4" style="color: #e32;">Please select all fields</label>
                        </div>

                    </td>

                </tr>
            </table>



            <div class="row" style="margin-top: 10px">
                <div class="col-xs-20">
                    <div class="alert alert-danger" role="alert" ng-show="mandatory">
                        <ul>
                            <li data-ng-repeat="e in errors">{{e}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-2"><input type="button" name="prvpage" value="Previous" class="btn btn-default" ng-click="prvPage()"/></div>
                <div class="col-xs-2"><input type="button" name="savepage" value="Save" class="btn  btn-primary pull-right" ng-click="save()"/></div>
                <!--div class="col-xs-2"><input type="button" name="submit" value="Submit" class="btn btn-primary" ng-click="submit()" /></div-->

            </div>

        </form>
    </div>
</div>