<div class="panel"  style="min-height: 550px"  ng-controller="EmployPage1Controller" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Employee Survey
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page1Form"  >

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%"> 1 <p style="color: #e32; display:inline;">*</p> </td>
                    <td width="96%">I have a clear understanding about the Mission and Vision of the organisation</td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class=" col-xs-6 col-xs-offset-1"> Strongly Disagree <input type="radio" name="q1" value="1" ng-model="answers[0][0].value1">  </div>
                        <div class=" col-xs-4"> Disagree <input type="radio" name="q1" value="2" ng-model="answers[0][0].value1" > </div>
                        <div class=" col-xs-4"> Neutral <input type="radio" name="q1" value="3" ng-model="answers[0][0].value1" > </div>
                        <div class=" col-xs-4"> Agree <input type="radio" name="q1" value="4" ng-model="answers[0][0].value1" > </div>
                        <div class=" col-xs-4"> Strongly Agree <input type="radio" name="q1" value="5" ng-model="answers[0][0].value1">  </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%"> 2 <p style="color: #e32; display:inline;">*</p></td>
                    <td width="96%">I feel proud about working at Wockhardt</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-6 col-xs-offset-1"> Strongly Disagree <input type="radio" name="q2" value="1" ng-model="answers[1][0].value1"> </div>
                        <div class=" col-xs-4"> Disagree <input type="radio" name="q2" value="2" ng-model="answers[1][0].value1" > </div>
                        <div class=" col-xs-4"> Neutral <input type="radio" name="q2" value="3" ng-model="answers[1][0].value1" > </div>
                        <div class=" col-xs-4"> Agree <input type="radio" name="q2" value="4" ng-model="answers[1][0].value1" > </div>
                        <div class=" col-xs-4"> Strongly Agree <input type="radio" name="q2" value="5" ng-model="answers[1][0].value1"> </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%" > 3 <p style="color: #e32; display:inline;">*</p></td>
                    <td width="96%">I feel sufficiently recognized for the work done</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-6 col-xs-offset-1"> Strongly Disagree <input type="radio" name="q3" value="1" ng-model="answers[2][0].value1"> </div>
                        <div class=" col-xs-4"> Disagree <input type="radio" name="q3" value="2" ng-model="answers[2][0].value1" > </div>
                        <div class=" col-xs-4"> Neutral <input type="radio" name="q3" value="3" ng-model="answers[2][0].value1" > </div>
                        <div class=" col-xs-4"> Agree <input type="radio" name="q3" value="4" ng-model="answers[2][0].value1" > </div>
                        <div class=" col-xs-4"> Strongly Agree <input type="radio" name="q3" value="5" ng-model="answers[2][0].value1"> </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%">4</td>
                    <td  width="96%">
                        I interact with the following individuals for work related activities like other TMs in your pool or team, RM, ZSM, SM, BU Head,
                        (select maximum 5 Employees)
                    </td>
                </tr>
                <tr ng-repeat=" e in q3list">
                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-6">{{e.displayName | capitalize}}</div>
                        <div class=" col-xs-6">{{e.freqName}}</div>
                        <div class=" col-xs-6">{{e.motivationName}}</div>
                        <div class="col-xs-2">
                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee1($index,e.id)"  >
                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                    </td>
                </tr>

                <tr>

                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-4">
                                <select class="form-control " name="DIVISION_ID" ng-model="divisionSelected1" value="null"
                                        ng-options="d.id as d.name for d in divisions"
                                        ng-change="getEmployeeList1()">
                                    </option><option value="">Select Division</option>
                                </select>
                        </div>

                            <div class="col-xs-offset-1 col-xs-4">
                                <div
                                        isteven-multi-select
                                        input-model="employeeList1"
                                        output-model="que3emply"
                                        button-label="empName "
                                        item-label="empName "
                                        tick-property="ticked"
                                        orientation="vertical"
                                        selection-mode="single"
                                        on-close=""
                                >
                                </div>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="freq1" name="q3">
                                <option value="">Select Frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks or more</option>
                            </select>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="motivation1" name="q3">
                                <option value="">Select Motivation Level</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q3" ng-click="addEmployees1()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <label  ng-show="fieldsMissing1" style="color: #e32;">Please select all fields</label>
                        </div>
                    </td>

                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%" > 5 <p style="color: #e32; display:inline;">*</p></td>
                    <td width="96%">I have adequate opportunities for professional growth within the organization</td>

                </tr>
                <tr>
                    <td colspan="2">
                        <div class=" col-xs-6 col-xs-offset-1"> Strongly Disagree <input type="radio" name="q5" value="1" ng-model="answers[4][0].value1">  </div>
                        <div class=" col-xs-4"> Disagree <input type="radio" name="q5" value="2" ng-model="answers[4][0].value1" > </div>
                        <div class=" col-xs-4"> Neutral <input type="radio" name="q5" value="3" ng-model="answers[4][0].value1" ></div>
                        <div class=" col-xs-4"> Agree <input type="radio" name="q5" value="4" ng-model="answers[4][0].value1" > </div>
                        <div class=" col-xs-4"> Strongly Agree <input type="radio" name="q5" value="5" ng-model="answers[4][0].value1"> </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                <td width="4%"> 6</td>
                <td >I receive support, clear guidance and ongoing feedback from the following individuals (select maximum 5 Employees)</td>
                </tr>

                <tr ng-repeat=" e in q5list">
                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-6">{{e.displayName | capitalize}}</div>
                        <div class=" col-xs-6">{{e.freqName}}</div>
                        <div class=" col-xs-6">{{e.motivationName}}</div>
                        <div class=" col-xs-2">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee2($index,e.id)"  >
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control " name="DIVISION_ID" ng-model="divisionSelected2" value="null"
                                    ng-options="d.id as d.name for d in divisions"
                                    ng-change="getEmployeeList2()">
                                </option><option value="">Select Division</option>
                            </select>
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employeeList2"
                                    output-model="que5emply"
                                    button-label="empName "
                                    item-label="empName "
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                            </div>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="freq2" name="q5">
                                <option value="">Select Frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks or more</option>
                            </select>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="motivation2" name="q3">
                                <option value="">Select Motivation Level</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>

                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q5" ng-click="addEmployees2()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <label  ng-show="fieldsMissing2" style="color: #e32;">Please select all fields</label>
                        </div>

                    </td>

                </tr>
            </table>
            <div class="row">
                <div class="col-xs-22">
                    <div class="alert alert-danger" role="alert" ng-show="mandatory">
                        <ul>
                            <li data-ng-repeat="e in errors">{{e}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-2">
                    <input type="button" class="btn btn-primary pull-right"   name="nextpage" value="Next"  ng-click="nextPage()" />
                </div>
            </div>
        </form>
    </div>
</div>