        <div class="panel"  style="min-height: 550px" ng-controller="LeaveController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Leave
                    </span>

                </div>
            </div>
            <div class="panel-body">
                <fieldset ng-disabled='definition.status.id!=null && definition.status.id != "SYSLV50000000000000000000000000000111"'>
                <form class="form-horizontal" name="leaveForm" valdr-type="Leave" novalidate ng-submit="save()">
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Name</label>
                        <div class="col-xs-8" valdr-form-group>
                            <select name="type" ng-model="definition.leaveType.id" class="form-control"
                                    ng-options="t.type.id as t.type.displayName for t in masterdata.leaveTypes"
                                    ng-change="getLeaveDetails(definition.leaveType.id)">
                                    <option value="">Select a Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="leaveDetails.id!=null">
                        <div class="col-xs-8 col-xs-offset-4">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Total</th>
                                        <th style="text-align: center">Consumed</th>
                                        <th style="text-align: center">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center">{{leaveDetails.opening}}</td>
                                        <td style="text-align: center">{{leaveDetails.consumed}}</td>
                                        <td style="text-align: center">{{leaveDetails.balance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Start Date</label>
                        <div class="col-xs-8 " valdr-form-group>
                            <input type="text" name="leaveStartDate" ng-model="definition.leaveStartDate.text" class="form-control" squer-datepicker-all/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">End Date</label>
                        <div class="col-xs-8 " valdr-form-group>
                            <input type="text" name="leaveEndDate" ng-model="definition.leaveEndDate.text" class="form-control" squer-datepicker-all/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Reason</label>
                        <div class="col-xs-8 " valdr-form-group>
                            <input type="text" name="reason" ng-model="definition.reason" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group" ng-show="definition.id!=null">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Status</label>
                        <div class="col-xs-8 ">
                            <input type="text" name="status" ng-model="definition.status.displayName" readonly class="form-control"/>
                        </div>
                    </div>
                </form>
              </fieldset>

              <div class="form-group">
                <label class="col-xs-3 col-xs-offset-1 control-label"></label>
                <div class="col-xs-8">
                    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="leaveForm.$invalid">Apply</button>
                    <!--button type="button" class="btn btn-primary" ng-click="cancelLeave()" ng-disabled="leaveForm.$invalid">Cancel</button-->
                </div>
              </div>
        </div>
</div>



        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            </a>
        </script>


