<div class="panel"  style="min-height: 550px" ng-controller="NewDistanceRequestController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">New Distance Request </span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped" >
            <thead>
                <th>From Town</th>
                <th>From State</th>
                <th>To Town</th>
                <th>To State</th>
                <th>Available Distance</th>
                <th>Requesting Distance</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="r in reqDistance">
                    <td>
                        <select class="form-control"
                                ng-model="r.fromTown.id"
                                ng-options="t.id as t.name for t in myTowns | orderBy:'name'"
                                ng-change="getState(r,'from')"
                                >
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td style="width:150px;">
                        <input type="text" class="form-control" style="width: 100px" ng-model="r.fromState.displayName" disabled>
                        <input type="hidden" class="form-control" style="width: 100px" ng-model="r.fromState.id" disabled>
                    </td>
                    <td>
                        <select class="form-control"
                                ng-model="r.toTown.id"
                                ng-options="t.id as t.name for t in myTowns | orderBy:'name'"
                                ng-change="getState(r,'to')"
                                >
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td style="width:150px;">
                        <input type="text" class="form-control" style="width: 100px" ng-model="r.toState.displayName" disabled>
                        <input type="hidden" class="form-control" style="width: 100px" ng-model="r.toState.id" disabled>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width: 100px" ng-model="r.ApprovedDistance" disabled>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width: 100px" ng-model="r.distance" ng-disabled="disabledist">
                        <input type="hidden" class="form-control" style="width: 100px" ng-model="r.owner.id" ng-disabled="disabledist">
                    </td>
                    <td>
                        <any>
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="add(r)">
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </any>
                        <any ng-show="$index>0">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="remove($index)">
                                <span class="glyphicon  glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </any>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="{{class}}" role="alert" ng-show="errMsg">{{errMsg}}</div>
                    </td>
                    <td>
                        <input type="button" class="btn btn-default pull-left" value="Send Request" ng-click="submit()">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>