<div class="panel"  style="min-height: 550px" ng-controller="IssueReportingController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" ng-show="expense.id==null">
                Report Issue
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="employeeForm" ng-submit="save()">
            <div class="form-group">
                <label class="col-xs-3 control-label">Where error occurs </label>
                <div class="col-xs-5">
                    <select class="form-control" ng-model="module" ng-options="m.id as m.name for m in modules">
                        <option value="">select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Description</label>
                <div class="col-xs-10">
                    <textarea class="form-control" cols="5" rows="8" ng-model="errorReport"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
 </div>