<div class="panel"  style="min-height: 550px"  ng-controller="page2controller" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Survey for {{doctor.name}} ({{doctor.code}})
            </span>

        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page2Form" >
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 13</td>
                <td width="65%">How Many Patients Does Doctor Attends Weekly</td>
                <td width="30%"><input type="text" name="pq1" class="form-control" ng-model="answers[0].value" ng-change="numValidation()" />
                    <span class="error-msg" ng-show="!numflag0">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 14</td>
                <td width="65%">How Many Diabetic Patients Doctor Attends Weekly?</td>
                <td width="30%"><input type="text" name="pq2" class="form-control" ng-model="answers[1].value" ng-change="numValidation()" />
                    <span class="error-msg" ng-show="!numflag1">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 15</td>
                <td width="65%">How Many New Diabetic Patients Doctor Attends Weekly?</td>
                <td width="30%"><input type="text" name="pq3" class="form-control" ng-model="answers[2].value" ng-change="numValidation()" />
                    <span class="error-msg" ng-show="!numflag2">{{numfieldmsg}}</span>
                </td>
               </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 16</td>
                <td width="65%">How Many Patients Does Doctor Attend Weekly  Who Come For Follow-up Treatment For Type 2 Diabetes?</td>
                <td width="30%"><input type="text" name="pq4"  class="form-control" ng-model="answers[3].value"  ng-change="numValidation()"/>
                    <span class="error-msg" ng-show="!numflag3">{{numfieldmsg}}</span>
                </td>
                </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 17</td>
                <td width="65%">How Many Medical Journals Doctor Reads Monthly (Related to Endocrinology/Diabetes)</td>
                <td width="15%"> Online<input type="text" name="pq5" class="form-control" ng-model="answers[4].value" ng-change="numValidation()" />
                    <span class="error-msg" ng-show="!numflag4">{{numfieldmsg}}</span>
                </td>
                <td width="15%"> Print<input type="text" name="pq51" class="form-control" ng-model="answers[5].value" ng-change="numValidation()" />
                    <span class="error-msg" ng-show="!numflag5">{{numfieldmsg}}</span>
                </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 18</td>
                    <td width="65%">How Many Medical Conferences Doctor Attends in a Year</td>
                    <td width="30%"><input type="text" name="pq6" class="form-control" ng-model="answers[6].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag6">{{numfieldmsg}}</span>
                    </td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 19</td>
                <td width="65%">Does Doctor Use Mobile Apps For Medical Information</td>
                <td width="15%"> <input type="radio" name="pq7" value="1" ng-model="answers[7].value" > Yes</td>
                <td width="15%"><input type="radio" name="pq7" value="2" ng-model="answers[8].value" > No</td>
            </table>
            <div class="row" style="margin-top: 10px">
                <div class="col-xs-20"></div>
                <div class="col-xs-2"><button name="prvpage" class="btn btn-default" ng-click="prvPage()">Previous</button></div>
                <div class="col-xs-2"><button name="nextpage" class="btn btn-primary" ng-click="nextPage()" >Next</button></div>
                </span>
            </div>
        </form>
    </div>
</div>