<div class="panel"  style="min-height: 550px"  ng-controller="Page1Controller" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Survey for {{doctor.name}} ({{doctor.code}})
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page1Form"  >
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 1</td>
                <td width="65%">Doctor's Website URL (if any)</td>
                <td width="30%"><input type="text" name="web" class="form-control" ng-model="answers[0].value" /></td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 2</td>
                <td width="65%">Doctor's Consultation fee In Rs</td>
                <td width="30%"><input type="text" name="fee" class="form-control" ng-model="answers[1].value"  />
                    <span class="error-msg" ng-show="!numflag">{{numfieldmsg}}</span>
                </td>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 3</td>
                <td width="50%">Doctor's main Pracice Place</td>
                <td width="13%"><input type="radio" name="q1" value="1" ng-model="answers[2].value" > Medical College</td>
                <td width="10%"><input type="radio" name="q1" value="2" ng-model="answers[2].value" > Clinic</td>
                <td width="10%"><input type="radio" name="q1" value="3" ng-model="answers[2].value" > Private Hospital</td>
                <td width="12%"><input type="radio" name="q1" value="4" ng-model="answers[2].value" > Government Hospital</td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 4</td>
                <td width="50%">Doctor's Relationship with Wockhardt</td>
                    <td width="13%"><input type="radio" name="q2" value="1" ng-model="answers[3].value" > Pro Wockhardt</td>
                    <td width="10%"><input type="radio" name="q2" value="2" ng-model="answers[3].value" > Good</td>
                    <td width="10%"><input type="radio" name="q2" value="3" ng-model="answers[3].value" > Neutral</td>
                    <td width="12%"><input type="radio" name="q2" value="4" ng-model="answers[3].value" > Negative</td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                    <td width="5%"> 5</td>
                    <td width="63%">Doctor's Interest In Academics</td>
                    <td width="10%"><input type="radio" name="q3" value="1" ng-model="answers[4].value" > High</td>
                    <td width="10%"><input type="radio" name="q3" value="2" ng-model="answers[4].value" > Medium</td>
                    <td width="12%"><input type="radio" name="q3" value="3" ng-model="answers[4].value" > Low</td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                    <td width="5%"> 6</td>
                     <td width="63%">Does Doctor Attends Medical Conferences  ?( If Yes then)</td>
                    <td width="10%"><input type="radio" name="q41" value="1" ng-disabled="" ng-model="answers[5].value" > Local</td>
                    <td width="10%"><input type="radio" name="q41" value="2" ng-disabled="" ng-model="answers[5].value" > National</td>
                    <td width="12%"><input type="radio" name="q41" value="3" ng-disabled="" ng-model="answers[5].value" > International</td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 7</td>
                <td width="73%">Is Doctor a Speaker in CME's</td>
                <td width="10%"><input type="radio" name="q5" value="1" ng-model="answers[6].value" > Yes</td>
                <td width="12%"><input type="radio" name="q5" value="2" ng-model="answers[6].value" > No</td>
            </table>
           <table class="table table-bordered" style="font-size: medium">
               <td width="5%"> 8</td>
               <td width="63%">What Type of Speaker is Doctor?</td>
               <td width="10%"><input type="radio" name="q6" value="1" ng-disabled="" ng-model="answers[7].value" > Local</td>
               <td width="10%"><input type="radio" name="q6" value="2" ng-disabled="" ng-model="answers[7].value" > Regional</td>
               <td width="12%"><input type="radio" name="q6" value="3" ng-disabled="" ng-model="answers[7].value" > National</td>
           </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 9</td>
                <td width="63%"> Is Doctor Interested in Patient Activities</td>
                <td width="10%"><input type="radio" name="q7" value="1" ng-model="answers[8].value" > High </td>
                <td width="10%"><input type="radio" name="q7" value="2" ng-model="answers[8].value" > Medium</td>
                <td width="12%"><input type="radio" name="q7" value="3" ng-model="answers[8].value" > Low</td>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 10</td>
                <td width="63%">Does Doctor have Diabetic Educator / Counsellor ( If Educator needed, mention Interested)</td>
                <td width="10%"><input type="radio" name="q8" value="1" ng-model="answers[9].value" > yes</td>
                <td width="10%"><input type="radio" name="q8" value="2" ng-model="answers[9].value" > No</td>
                <td width="12%"><input type="radio" name="q8" value="3" ng-model="answers[9].value" > Interested</td>
            </table>
           <table class="table table-bordered" style="font-size: medium">
               <td width="5%"> 11</td>
               <td width="73%">Does Doctor have attached Lab</td>
               <td width="10%"><input type="radio" name="q9" value="1" ng-model="answers[10].value" > Yes</td>
               <td width="12%"><input type="radio" name="q9" value="2" ng-model="answers[10].value" > No</td>
           </table>
            <table class="table table-bordered" style="font-size: medium">
                <td width="5%"> 12</td>
                <td width="63%">How Does Doctor Manage Patient Appointments</td>
                <td width="10%"><input type="radio" name="q10" value="1" ng-model="answers[11].value" > Self</td>
                <td width="10%"><input type="radio" name="q10" value="2" ng-model="answers[11].value" > Secretary</td>
                <td width="12%"><input type="radio" name="q10" value="3" ng-model="answers[11].value" > Web</td>
            </table>
            <div class="col-xs-24" style="margin-top: 10px">
                <span class="pull-right">
               <button name="nextpage" class="btn btn-primary" ng-click="nextPage()" >Next</button>
                </span>
            </div>
        </form>
    </div>
</div>