<div class="panel"  style="min-height: 550px"  ng-controller="page3controller" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Survey for {{doctor.name}} ({{doctor.code}})
            </span>

        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page3Form"  >
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%" style="vertical-align : middle"> 20</td>
                    <td style="vertical-align : middle">What Number Of New Patients, Need Drug Initiation For Treatment ?</td>
                    <td width="30%" style="vertical-align : middle">
                        <input type="text" name="drugInitiation1" class="form-control" ng-model="answers[0].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag0">{{numfieldmsg}}</span>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%" style="vertical-align : middle"> 21</td>
                    <td width="65%" style="vertical-align : middle">How Many New Patients Get Initiated On Oral Agent?</td>
                    <td width="30%"><input type="text" name="drugInitiation1" class="form-control" ng-model="answers[1].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag1">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td  width="95%" colspan="3">How Many Of New Patients Get Initiated On:<br></td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> a.</td>
                    <td width="65%" style="vertical-align : middle">MET + SU</td>
                    <td width="30%"> <input type="text" name="drugInitiation1" class="form-control" ng-model="answers[2].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag2">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> b.</td>
                    <td style="vertical-align : middle">MET + Gliptin</td>
                    <td width="30%"> <input type="text" name="drugInitiation2" class="form-control" ng-model="answers[3].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag3">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> c.</td>
                    <td style="vertical-align : middle">MET+ SU + Voglibose</td>
                    <td width="30%"> <input type="text" name="drugInitiation3" class="form-control" ng-model="answers[4].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag4">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> d.</td>
                    <td style="vertical-align : middle">MET+ SU + Gliptin</td>
                    <td width="30%"><input type="text" name="drugInitiation4" class="form-control" ng-model="answers[5].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag5">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> e.</td>
                    <td style="vertical-align : middle">MET+ SU + SGLT2</td>
                    <td width="30%">
                    <input type="text" name="drugInitiation5" class="form-control" ng-model="answers[6].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag6">{{numfieldmsg}}</span>

                    </td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%" style="vertical-align : middle"> 22</td>
                    <td style="vertical-align : middle">How Many New Patients Get Initiated On Insulin Therapy?</td>
                    <td width="30%"> <input type="text" name="Vials" class="form-control" ng-model="answers[7].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag7">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%"> </td>
                    <td colspan="3" style="vertical-align : middle"> How Many of New Patients Get Initiated on</td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> a.</td>
                    <td style="vertical-align : middle">Vials 40 IU</td>
                    <td width="30%">
                    <input type="text" name="Vials" class="form-control" ng-model="answers[8].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag8">{{numfieldmsg}}</span>

                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> b.</td>
                    <td style="vertical-align : middle">Vials100 IU</td>
                    <td width="30%">
                    <input type="text" name="Vials100" class="form-control" ng-model="answers[9].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag9">{{numfieldmsg}}</span>

                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> c.</td>
                    <td style="vertical-align : middle">HI Cart & Device</td>
                    <td width="30%"> <input type="text" name="HI" class="form-control" ng-model="answers[10].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag10">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> d.</td>
                    <td style="vertical-align : middle">Analogues</td>
                    <td width="30%"> <input type="text" name="Analogues" class="form-control" ng-model="answers[11].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag11">{{numfieldmsg}}</span>
                    </td>
                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="5%" style="vertical-align : middle"> 23</td>
                    <td style="vertical-align : middle">How Many of New Patients Get Initiated on Insulin Analogues</td>
                    <td width="30%"> <input type="text" name="Premix" class="form-control" ng-model="answers[12].value" ng-change="numValidation()" />
                        <span class="error-msg" ng-show="!numflag12">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> </td>
                    <td colspan="3" style="vertical-align : middle">How Many of New Patients are on</td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> a.</td>
                    <td style="vertical-align : middle">Premix Analogue</td>
                    <td width="30%"> <input type="text" name="Premix" class="form-control" ng-model="answers[13].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag13">{{numfieldmsg}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> b.</td>
                    <td style="vertical-align : middle">Glargine</td>
                    <td width="30%">
                    <input type="text" name="Glargine" class="form-control" ng-model="answers[14].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag14">{{numfieldmsg}}</span>

                    </td>
                </tr>
                <tr>
                    <td width="5%" style="vertical-align : middle"> c.</td>
                    <td style="vertical-align : middle">Tresiba</td>
                    <td width="30%"> <input type="text" name="Tresiba" class="form-control" ng-model="answers[15].value" ng-change="numValidation()"/>
                        <span class="error-msg" ng-show="!numflag15">{{numfieldmsg}}</span>
                    </td>
                </tr>
            </table>


            <table class="table table-bordered" style="font-size: medium">
            <tr>
                <td width="5%" style="vertical-align : middle">  24</td>
                <td style="vertical-align : middle">If Doctor Is Offered The Following Services For Daily Practice Which Will Be Prefer:</td>
            </tr>
            <tr>
                <td width="5%" style="vertical-align : middle"> a.</td>
                <td style="vertical-align : middle"> Customized website to manage your profile, patients and getting medical updates<br></td>
                <td width="30%" style="text-align :center ;vertical-align : middle"> <input type="checkbox" name="drServices1" ng-model="ans1"></td>
            </tr>
            <tr>
                <td width="5%" style="vertical-align : middle"> b.</td>
                <td style="vertical-align : middle">  Customized mobile app for medical updates, patient management, etc<br></td>
                <td width="30%" style="text-align :center ;vertical-align : middle"> <input type="checkbox" name="drServices2" ng-model="ans2"></td>
            </tr>
            <tr>
                <td width="5%" style="vertical-align : middle"> c.</td>
                <td style="vertical-align : middle"> Mobile app for your patients customized as per your requirement<br></td>
                <td width="30%" style="text-align :center ;vertical-align : middle">  <input type="checkbox" name="drServices3" ng-model="ans3"></td>
            </tr>
            <tr>
                <td width="5%" style="vertical-align : middle"> d.</td>
                <td style="vertical-align : middle"> Customized website along with an integrated mobile app and an app for your patients customized by you</td>
                <td width="30%" style="text-align :center ;vertical-align : middle"><input type="checkbox" name="drServices4" ng-model="ans4"> </td>

            </tr>
            </table>
            <div class="row" style="margin-top: 10px">
                <div class="col-xs-20"></div>
                <div class="col-xs-2"><button name="prvpage" class="btn btn-default" ng-click="prvPage()">Previous</button></div>
                <div class="col-xs-2"><button name="nextpage" class="btn btn-primary" ng-click="submit()" >Submit</button></div>
                </span>
            </div>
        </form>
        </div>
    </div>
