<div class="panel"  style="min-height: 550px" ng-controller="PMSController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        <a>Performance Management System</a>
                    </span>
        </div>
    </div>
</div>


