<div class="panel"  style="min-height: 550px" ng-controller="ProductController" ng-init="initSearch()" >
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
            <span class="pull-right"><a ng-click="addNew()">{{links.addNew}}</a></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="formContainer row" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row">
            <div ui-grid="searchData" class="grid"></div>
        </div>
    </div>
</div>


