<div class="panel"  style="min-height: 550px"  ng-controller="ProductController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="productForm" ng-submit="save()" novalidate valdr-type="Product">
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" ng-model="definition.name" class="form-control" ng-show="definition.id==null"/>
                            <input type="text" name="name" ng-model="definition.name" class="form-control" ng-show="definition.id!=null" readonly />
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.code}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="code" ng-model="definition.code" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.primarySalesPrice}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="primarySalesPrice" ng-model="definition.primarySalesPrice" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">NRP</label>
                        <div class="col-xs-8">
                            <input type="text" name="secondarySalesPrice" ng-model="definition.secondarySalesPrice" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.secondarySalesPrice}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="secondarySalesPrice" ng-model="definition.maxRetailPrice" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.division}}</label>
                        <div class="col-xs-8">
                            <select name="division" ng-model="division"
                                    ng-change="selectDivision()"
                                    class="form-control"
                                    ng-options="d.id as d.name for d in divisions">
                                <option value="">Select Division</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.brand}}</label>
                        <div class="col-xs-8">
                            <select name="brand" ng-model="definition.brand.id"
                                    ng-change="selectBrand()"
                                    class="form-control"
                                    ng-options="d.id as d.name for d in brands">
                                <option value="">Select Brand</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">SAP Code</label>
                        <div class="col-xs-8">
                            <input type="text" name="externalCode" ng-model="definition.externalCode" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Focused</label>
                        <div class="col-xs-8">
                              <input type="checkbox" name="focused" class="checkbox" ng-model="definition.focused">
                        </div>
                    </div>

                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.status}}</label>
                        <div class="col-xs-8">
                            <select name="status" ng-model="definition.status.id"
                                    class="form-control"
                                    ng-options="s.id as s.name for s in productStatus">
                                <option value="">Select Status</option>
                            </select>
                        </div>
                    </div>

                    <div class=form-group>
                        <label class="col-xs-3 col-xs-offset-1 control-label">Competition</label>
                        <div class="col-xs-12">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cP in definition.competitionProducts">
                                        <td>{{cP.displayName}}</td>
                                        <td>Remove</td>
                                    </tr>
                                    <tr>
                                        <td><select name="product" ng-model="cProduct"
                                                    ng-options="cP.id as (cP.brand.displayName + '-' + cP.name)  group by cP.competitor.displayName  for cP  in cProducts"
                                                    class="form-control col-xs-8"></select></td>
                                        <td><a ng-click="addAnother()">{{links.addAnother}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary" ng-disabled="productForm.$invalid" >{{links.save}}</button>
                    </div>
                </form>
        </div>
    </div>
</div>



