        <div class="panel"  style="min-height: 550px" ng-controller="StockistController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Stockist
                    </span>

                </div>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" name="employeeForm" ng-submit="save()" novalidate valdr-type="stockist">
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Name</label>
                        <div class="col-xs-8" valdr-form-group>
                            <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Code</label>
                        <div class="col-xs-8" valdr-form-group>
                            <input type="text" name="code" ng-model="definition.code" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Status</label>
                        <div class="col-xs-8" valdr-form-group>
                            <select name="status" ng-model="definition.status.id" class="form-control"
                                    ng-options="s.id as s.name for s in statusList" ng-change="checkStatus()" ng-disabled="isStatusInactive">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-xs-3 col-xs-offset-1 control-label">Add Location</label>
                        <div class="col-xs-10">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Division</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="location in definition.locations">
                                    <td>{{location.division.displayName}}</td>
                                    <td>{{location.name}}</td>

                                    <td><a ng-click="removeLocation(location)"><img src="images/trash.png"/></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select ng-model="divisionSel" class="form-control"
                                                ng-options="a.id as a.name for a in divisionList" ng-change="selectlocation()" ng-disabled="disableLocation"><option value="">Select Division</option></select>

                                    </td>
                                    <td>
                                        <select ng-model="locationSelected" class="form-control"
                                                ng-options="l.id as l.name for l in locationList"  ng-disabled="disableLocation"><option value="">Select Location</option></select>
                                    </td>
                                    <td><a ng-click="addLocation(divisionSel,locationSelected)"  ng-disabled="disableLocation"><img src="images/add.png" tooltip="Add Another"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-17">&nbsp;</div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary" ng-disabled="employeeForm.$invalid">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            </a>
        </script>


