<div class="panel"  style="min-height: 550px" ng-controller="TownRequestController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large"> Request For Town </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="list-group col-xs-8">
            <a href="#" class="list-group-item" style="background-color: #f38630;color: #ffffff;">My Towns</a>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="t in myTowns">{{t.name}}</li>
            </ul>
        </div>


        <div class="col-xs-24">
            <div class="panel-heading page-title">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large"> Add Request For Town </span>
            </div>

            <table class="table table-striped" style="width:800px">
                <thead>
                <tr>
                    <th>State</th>
                    <th>Town Name</th>
                    <th>Zip Code</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="r in reqTownList">
                    <td>
                        <select class="form-control"
                                ng-model="r.state.id"
                                ng-options="s.id as s.name for s in stateList">
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="r.name">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="r.primaryZip">
                        <input type="hidden" ng-model="r.owner.id">
                        <input type="hidden" ng-model="r.empCode">
                    </td>
                    <td>
                        <any>
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="add(r)">
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </any>
                        <any ng-show="$index>0">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="remove($index)">
                                <span class="glyphicon  glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </any>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="{{class}}" role="alert" ng-show="errMsg">{{errMsg}}</div>
                    </td>
                    <td>
                        <input type="button" class="btn btn-default pull-right" value="Send Request" ng-click="submit()">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>