<div class="panel"  style="min-height: 550px" ng-controller="DynamicReportsController" ng-init="init()">


    <div class="panel-heading page-title">
        <!--div class="row">


            <button class="col-xs-1" ng-click="openSelectColumns()" tooltip="Select Column"><img src="images/column.png" style="border:0px; height: 15px" tooltip="Select Column"></button>
            <button class="col-xs-1" ng-click="openFilter()" tooltip="Apply Filter"><img src="images/filter.png" style="border:0px; height: 15px" tooltip="Apply Filter"></button>
            <button class="col-xs-1" ng-click="openGroupBy()" tooltip="Group By"><img src="images/group.png" style="border:0px; height: 15px" tooltip="Group By"></button>
            <button class="col-xs-1" ng-click="openAggregation()" tooltip="Apply Aggregation"><img src="images/aggregation.png" style="border:0px; height: 15px" tooltip="Apply Aggregation"></button>
            <button class="col-xs-1" ng-click="addChart()"><img src="images/chart.png" style="border:0px; height: 15px" tooltip="Add Chart"></button>
        </div-->
        <div class="row">
            <fieldset class="dynamic-fieldset subheader">
            <div class="form-group row">
                <label class="col-xs-2">Filter :</label>
                <select class="col-xs-3 col-xs-offset-1" ng-model="selectedFilter.id"
                        ng-options="d.attribute.id as d.attribute.displayName for d in reportDefinition.searchFilter" ng-change="onAttributeSelect()">
                    <option value="">Select Column</option>
                </select>

                <select class="col-xs-3 col-xs-offset-1" ng-model="selectedFilter.operator" ng-options="o.id as o.name for o in operators">
                    <option>Select Operator</option>
                </select>

                <select class="col-xs-3 col-xs-offset-1"  ng-model="selectValue" ng-options="o as o.name for o in options" ng-show="type==1">
                </select>

                <input class="col-xs-3 col-xs-offset-1" type="text" ng-model="selectedFilter.value" ng-show="type==0"/>
                <input class="col-xs-3 col-xs-offset-1" type="text" ng-model="selectedFilter.value" ng-show="type==3"/>

                <div
                        isteven-multi-select
                        input-model="options"
                        output-model="multiSelectValue"
                        button-label="name"
                        item-label="name"
                        tick-property="ticked"
                        orientation="vertical"
                        ng-show="type==4"
                        >
                </div>

                <span class="col-xs-6 col-xs-offset-1" ng-show="type==2">
                    <input  type="text" ng-model="selectedFilter.value" name="selectDate" squer-datepicker-all ng-show="selectedFilter.operator!='between'"/>

                    <input type="text" ng-model="dateRange[0]" name="selectFromDate" title="Select From Date"  squer-datepicker-all  ng-show="selectedFilter.operator=='between'"/>
                    <input  type="text" ng-model="dateRange[1]" name="selectToDate" title="Select To Date" squer-datepicker-all ng-show="selectedFilter.operator=='between'"/>
                </span>

                <span class="col-xs-6 col-xs-offset-1" ng-show="type==5">
                    <input  type="text" ng-model="selectedFilter.value" name="selectDate" squer-from-month-year-datepicker="" ng-show="selectedFilter.operator!='between'"/>

                    <input type="text" ng-model="dateRange[0]" name="selectFromDate" title="Select From Month-Year"  squer-from-month-year-datepicker=""  ng-show="selectedFilter.operator=='between'"/>
                    <input  type="text" ng-model="dateRange[1]" name="selectToDate" title="Select To Month-Year" squer-to-month-year-datepicker="" ng-show="selectedFilter.operator=='between'"/>
                </span>

                <button class="col-xs-1 col-xs-offset-1" class="col-xs-2" ng-click="addFilter()"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button>

            </div>
            <div class="row">

                <div class="col-xs-8" ng-repeat="f in reportDefinition.filtersApplied" ng-show="f.showFilter">
                    <b>
                        <span class="col-xs-6">{{f.reportAttribute.displayName}}</span>
                        <span class="col-xs-6">{{f.operator}}</span>
                        <span class="col-xs-8">{{f.displayValue}}</span>
                        <span class="col-xs-2"> <button ng-click="removeFilter(f)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </span>
                    </b>
                </div>
            </div>
            </fieldset>
        </div>

        <div class="form-group row">
            <div class="col-xs-10 col-xs-offset-2">
                <button ng-click="search()" class="btn btn-primary">Run Report</button>
                <!--button ng-click="export()" class="btn btn-primary">Export</button-->
            </div>
            <div class="col-xs-2 col-xs-offset-10">
                <button ng-click="openGroupBy()" ><img src="images/group.png" style="border:0px; height: 20px" tooltip="Group By"></button>
            </div>
        </div>
    </div>

    <div class="row row-spacer">

        <tabset>
            <tab heading="Report">
                <div class="row row-spacer" ng-show="showtable">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="col in table.columns"> <span ng-click="sort(col.name)" style="cursor:pointer;"> {{col.label}} <span ng-show="sortIndex[col.name]==1"> <img src="images/sort_incr.png" style="border:0px; height: 12px"></span> <span ng-show="sortIndex[col.name]==2"> <img src="images/sort_decrease.png" style="border:0px; height: 12px"> </span> </span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in table.data">
                            <td ng-repeat="col in table.columns">
                                <span ng-show="col.dataType=='date'">{{row[col.name].text}}</span>
                                <span ng-show="col.dataType!='date'">{{row[col.name]}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--pagination total-items="totalItems"
                                ng-model="currentPage"
                                max-size="maxSize"
                                ng-change="pageChanged()"
                                class="pagination-xs pull-right"
                                boundary-links="true" rotate="false"
                                items-per-page="5"></pagination-->
                </div>



                <!--table class="table table-striped" ng-show="table.transposeTable==false">
                    <thead>
                    <tr>
                        <th  ng-repeat="col in table.columns">{{col.label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in table.data">
                        <td ng-repeat="col in table.columns">
                            <span ng-show="col.dataType=='date'">{{row[col.name].text}}</span>
                            <span ng-show="col.dataType!='date'">{{row[col.name]}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table-->


                <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>

            </tab>

            <tab ng-repeat="tab in chartTabs" heading="{{tab.title}}">

                <div class="row">
                    <br/>
                    <div class="row form-group">
                        <span class="col-xs-3 col-xs-offset-1"> Title  :</span>  <input type="text" ng-model="chartTabs[$index].title" title="Chart Title" size="75" class="col-xs-3" ng-required="true"/>
                    </div>

                    <div class="row form-group">
                        <span class="col-xs-3 col-xs-offset-1"> Chart Type  :</span>
                        <select class="col-xs-3" ng-model="chartTabs[$index].chartType" ng-options="c.type as c.displayName for c in chartTypes">
                            <option value="">Select Chart Type</option>
                        </select>
                    </div>

                    <div class="row form-group">
                        <div class="row"> <b> X-Axis </b> </div>
                        <div class="row">
                            <label class="col-xs-3"> Title :</label>
                            <input type="text" ng-model="chartTabs[$index].xAxis.title" size="75" class="col-xs-3"/>
                        </div>

                        <div class="row">
                            <label class="col-xs-3"> Axis Column :  </label>
                            <select class="col-xs-3" ng-model="chartTabs[$index].xAxis.attribute.id" ng-options="a.attribute.id as a.attribute.displayName for a in groupAttributes" ng-change="selectXAxis($index)">
                                <option value="">Select X Axis Column</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="row"> <b> Y-Axis </b> </div>

                        <div class="row form-group">

                            <div class="row form-group" ng-repeat="y in chart.yAxis">

                                <label class="col-xs-3">{{y.title}}</label>

                                <label class="col-xs-3"> {{y.attribute.displayName}} </label>


                                <div class="row form-group col-xs-12" ng-repeat="v in y.valueAttributes">
                                    <div class="row form-group" ng-repeat="i in functions">
                                        <span ng-show="v.aggregationCode.charAt(i.index)==1">
                                            Applied {{i.name}} On {{v.attribute.displayName}}
                                            <span> <button ng-click="removeAggregationOnY(y.attribute.id, i, v.attribute.id, 1)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </button> </span>
                                        </span>
                                    </div>
                                </div>

                                <button class="col-xs-1" ng-click="removeYAxis($index)"> <img src="images/trash.png" style="border:0px; height: 15px" tooltip="Add"> </button>
                            </div>

                        </div>

                        <div class="row form-group col-xs-24">

                            <div class="form-group col-xs-10">
                                <input type="text" class="col-xs-14" ng-model="axis.title" title="Y-Axis Title"/>

                                <select class="col-xs-10" ng-model="axis.attribute.id" ng-options="a.attribute.id as a.attribute.displayName for a in groupAttributes" ng-change="yColSelected()">
                                    <option value="">Select Column</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12">

                                <div class="row form-group col-xs-6" ng-repeat="v in axis.valueAttributes">
                                    <div class="row form-group" ng-repeat="i in functions">
                                        <span ng-show="v.aggregationCode.charAt(i.index)==1">
                                            Applied {{i.name}} On {{v.attribute.displayName}}
                                            <span> <button ng-click="removeAggregationOnY(axis.attribute.id, i, v.attribute.id, 0)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </button> </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group col-xs-18">
                                    <label class="col-xs-3"> Apply </label>

                                    <select class="col-xs-8" ng-model="appliedFunction" ng-options="f.index as f.name for f in functions">
                                        <option value="">Select Function</option>
                                    </select>

                                    <label class="col-xs-3"> On </label>

                                    <select class="col-xs-8" ng-model="valueAttr" ng-options="a.attribute.id as a.attribute.displayName for a in aggregationAttributes">
                                        <option value="">Select Aggregation Column</option>
                                    </select>

                                    <button class="col-xs-2" ng-click="AddAggregationOnY(appliedFunction, valueAttr)" title="Add Aggregation Function"> <img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"> </button>
                                </div>
                            </div>

                            <button class="col-xs-1" ng-click="AddYAxis()" title="Add Axis" ng-disabled="chartTabs[$index].yAxis.length > 0"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button>

                        </div>


                        <div class="row form-group">
                            <button class="col-xs-3" ng-click="createChart($index, chartTabs[$index])" > Create Chart </button>
                        </div>

                        <div class="row form-group">
                            <highchart id="chart1" config="chartTabs[$index].chartStr"></highchart>
                        </div>

                    </div>

                </div>

            </tab>

        </tabset>
    </div>


    <div>
        <script type="text/ng-template" id="selectColumn.html">
            <div ng-init="init()">
            <div class="modal-header">
                <h3 class="modal-title"> Select Display Columns</h3>
            </div>
            <div class="modal-body">
                <div ng-repeat="entityDTO in data.reportDefinition.usedEntity">

                    <div class="row row-spacer">
                        <h5> {{entityDTO.entity.displayName}} </h5>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-2" ng-repeat="attributeDTO in entityDTO.attributes" ng-show="attributeDTO.visible">
                            <input type="checkbox" ng-model="data.selectAttributes[attributeDTO.attribute.id].selected" ng-click="selectAttribute(attributeDTO)" /> {{attributeDTO.attribute.displayName}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button ng-click="run()">Run Report</button>
            </div>
            <br/><br/>
            </div>
        </script>
    </div>


    <div>
        <script type="text/ng-template" id="reportFilter.html">
            <div ng-init="init()">
            <div class="modal-header">
                <h3 class="modal-title"> Filters</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="col-xs-3 col-xs-offset-1" ng-model="selectedFilter.id"
                            ng-options="d.attribute.id as d.attribute.displayName for d in data.reportDefinition.searchFilter" ng-change="onAttributeSelect()">
                        <option value="">Select Column</option>
                    </select>

                    <select class="col-xs-3 col-xs-offset-1" ng-model="selectedFilter.operator" ng-options="o.id as o.name for o in operators">
                        <option>Select Operator</option>
                    </select>

                    <select class="col-xs-3 col-xs-offset-1"  ng-model="selectValue" ng-options="o as o.name for o in options" ng-show="type==1">
                    </select>

                    <input class="col-xs-3 col-xs-offset-1" type="text" ng-model="selectedFilter.value" ng-show="type==0"/>
                    <input class="col-xs-3 col-xs-offset-1" type="text" ng-model="selectedFilter.value" ng-show="type==3"/>

                    <div
                            isteven-multi-select
                            input-model="options"
                            output-model="multiSelectValue"
                            button-label="name"
                            item-label="name"
                            tick-property="ticked"
                            orientation="vertical"
                            ng-show="type==4"
                            >
                    </div>

                                <span class="col-xs-6 col-xs-offset-1" ng-show="type==2">
                                    <input  type="text" ng-model="selectedFilter.value" name="selectDate" squer-datepicker-all ng-show="selectedFilter.operator!='between'"/>

                                    <input type="text" ng-model="dateRange[0]" name="selectFromDate" title="Select From Date"  squer-datepicker-all  ng-show="selectedFilter.operator=='between'"/>
                                    <input  type="text" ng-model="dateRange[1]" name="selectToDate" title="Select To Date" squer-datepicker-all ng-show="selectedFilter.operator=='between'"/>
                                </span>

                    <button class="col-xs-1 col-xs-offset-1" class="col-xs-2" ng-click="addFilter()"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button>

                </div>
                <div class="row">

                    <div class=col-xs-2" ng-repeat="f in data.reportDefinition.filtersApplied" ng-show="f.showFilter">

                        <b>
                            <div class="col-xs-2">{{f.reportAttribute.displayName}}</div>
                            <div class="col-xs-2">{{f.operator}}</div>

                            <!--div class="col-xs-2">{{f.operator}}</div-->

                            <div class="col-xs-3">{{f.displayValue}}</div>
                        </b>
                        <span class="col-xs-2"> <button ng-click="removeFilter(f)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="run()">Run Report</button>
            </div>
            <br/><br/>
            </div>
        </script>
    </div>


    <div>
        <script type="text/ng-template" id="groupBy.html">
            <div ng-init="init()">
            <div class="modal-header">
                <h3 class="modal-title"> Group By</h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <br/>
                    <select ng-model="data.groupAttrSelected" ng-options="e.attribute.id as e.attribute.displayName group by e.entity for e in data.groupAttributes">
                        <option value="">Select Grouping Column</option>
                    </select>
                    &nbsp; &nbsp;

                    <span> <button ng-click="addGroupAttribute(2)"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button> </span>
                </div>

                <!--div class="col-xs-12">
                    <br/>
                    <select ng-model="data.groupAttrSelected1" ng-options="e.attribute.id as e.attribute.displayName group by e.entity for e in data.groupAttributes">
                        <option value="">Select Grouping Row</option>
                    </select>
                    &nbsp; &nbsp;

                    <span> <button ng-click="addGroupAttribute(1)"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button> </span>
                </div-->

                <div class="row">
                    <span class="col-xs-4" ng-repeat="a in data.reportDefinition.gropingCols">
                        {{a.attribute.displayName}} ( <span ng-show="a.params.groupingAttrPosition==1">Row</span> <span ng-show="a.params.groupingAttrPosition==2">Col</span> )
                        <span >
                            <button ng-click="removeGroupAttribute(a.attribute, a.params.groupingAttrPosition)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button>
                        </span>
                    </span>
                </div>
                <br/>
            </div>
            <div class="modal-footer">
                <button ng-click="run()">Run Report</button>
            </div>
            <br/><br/>
            </div>
        </script>
    </div>

    <div>
        <script type="text/ng-template" id="aggregation.html">
            <div ng-init="init()">
            <div class="modal-header">
                <h3 class="modal-title"> Apply Aggregations</h3>
            </div>
            <div class="modal-body">
                <div>

                    <b> Apply </b> &nbsp; &nbsp;
                    <select ng-model="data.appliedFunction" ng-options="f.index as f.name for f in functions">
                        <option value="">Select Function</option>
                    </select>
                    &nbsp; &nbsp;
                    <b> On </b>
                    <select ng-model="data.aggregationAttrSelected" ng-options="a.attribute.id as a.attribute.displayName for a in data.aggregationAttributes">
                        <option value="">Select Column</option>
                    </select>
                    &nbsp;&nbsp;
                    <span> <button ng-click="addAggregationAttr()"> <img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"> </button> </span>

                </div>

                <div>

                    <span ng-repeat="a in data.reportDefinition.aggregationAttrs">
                        <span ng-repeat="i in functions">
                            <span class="col-xs-4" ng-show="a.aggregationCode.charAt(i.index)==1">
                                {{i.name}} of {{a.attribute.displayName}}
                                <span > <button ng-click="removeAggAttr(a.attribute.id, i)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </span>
                            </span>
                        </span>
                    </span>

                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="run()">Run Report</button>
            </div>
            <br/><br/>
            </div>
        </script>
    </div>

    <div>
        <script type="text/ng-template" id="reportConfig.html">

            <div ng-init="init()">
            <div class="modal-header">
                <h3 class="modal-title"> Report Configuration</h3>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab heading="Select Columns">
                        <div ng-repeat="entityDTO in data.reportDefinition.usedEntity">

                            <div class="row row-spacer">
                                <h5> {{entityDTO.entity.displayName}} </h5>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-2" ng-repeat="attributeDTO in entityDTO.attributes">
                                    <input type="checkbox" ng-model="data.selectAttributes[attributeDTO.attribute.id].selected" ng-click="selectAttribute(attributeDTO)" /> {{attributeDTO.attribute.displayName}}
                                </div>
                            </div>
                        </div>

                        <br/><br/>
                    </tab>

                    <tab heading="Filters">
                        <div class="form-group">
                            <select class="col-xs-3 col-xs-offset-1" ng-model="selectedFilter.id"
                                    ng-options="d.attribute.id as d.attribute.displayName for d in data.reportDefinition.searchFilter" ng-change="onAttributeSelect()">
                                <option value="">Select Column</option>
                            </select>

                            <select class="col-xs-3 col-xs-offset-1" ng-model="selectedFilter.operator" ng-options="o.id as o.name for o in operators">
                                <option>Select Operator</option>
                            </select>

                            <select class="col-xs-3 col-xs-offset-1"  ng-model="selectedFilter.value" ng-options="o.id as o.name for o in options" ng-show="type==1">
                            </select>

                            <input class="col-xs-3 col-xs-offset-1" type="text" ng-model="selectedFilter.value" ng-show="type==0"/>
                            <input class="col-xs-3 col-xs-offset-1" type="text" ng-model="selectedFilter.value" ng-show="type==3"/>

                            <div
                                    isteven-multi-select
                                    input-model="options"
                                    output-model="multiSelectValue"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    orientation="vertical"
                                    ng-show="type==4"
                                    >
                            </div>

                            <span class="col-xs-6 col-xs-offset-1" ng-show="type==2">
                                <input  type="text" ng-model="selectedFilter.value" name="selectDate" squer-datepicker-all ng-show="selectedFilter.operator!='between'"/>

                                <input type="text" ng-model="dateRange[0]" name="selectFromDate" title="Select From Date"  squer-datepicker-all  ng-show="selectedFilter.operator=='between'"/>
                                <input  type="text" ng-model="dateRange[1]" name="selectToDate" title="Select To Date" squer-datepicker-all ng-show="selectedFilter.operator=='between'"/>
                            </span>

                            <button class="col-xs-1 col-xs-offset-1" class="col-xs-2" ng-click="addFilter()"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button>

                        </div>
                        <div class="row">

                            <div class=col-xs-2" ng-repeat="f in data.reportDefinition.filtersApplied" ng-show="f.showFilter">

                                <b>
                                    <div class="col-xs-2">{{f.reportAttribute.displayName}}</div>
                                    <div class="col-xs-2">{{f.operator}}</div>

                                    <!--div class="col-xs-2">{{f.operator}}</div-->

                                    <div class="col-xs-3">{{f.value}}</div>
                                </b>
                                <span class="col-xs-2"> <button ng-click="removeFilter(f)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </span>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Group By">

                        <div class="col-xs-12">
                            <br/>
                            <select ng-model="data.groupAttrSelected" ng-options="e.attribute.id as e.attribute.displayName group by e.entity for e in data.groupAttributes">
                                <option value="">Select Grouping Column</option>
                            </select>
                            &nbsp; &nbsp;

                            <span> <button ng-click="addGroupAttribute(2)"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button> </span>
                        </div>

                        <div class="col-xs-12">
                            <br/>
                            <select ng-model="data.groupAttrSelected1" ng-options="e.attribute.id as e.attribute.displayName group by e.entity for e in data.groupAttributes">
                                <option value="">Select Grouping Row</option>
                            </select>
                            &nbsp; &nbsp;

                            <span> <button ng-click="addGroupAttribute(1)"><img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"></button> </span>
                        </div>

                        <div class="row">
                                <span class="col-xs-4" ng-repeat="a in data.reportDefinition.gropingCols">
                                    {{a.attribute.displayName}} ( <span ng-show="a.params.groupingAttrPosition==1">Row</span> <span ng-show="a.params.groupingAttrPosition==2">Col</span> )
                                    <span >
                                        <button ng-click="removeGroupAttribute(a.attribute, a.params.groupingAttrPosition)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button>
                                    </span>
                                </span>
                        </div>
                        <br/>
                    </tab>

                    <tab heading="Apply Aggregations">
                        <div>

                            <b> Apply </b> &nbsp; &nbsp;
                            <select ng-model="data.appliedFunction" ng-options="f.index as f.name for f in functions">
                                <option value="">Select Function</option>
                            </select>
                            &nbsp; &nbsp;
                            <b> On </b>
                            <select ng-model="data.aggregationAttrSelected" ng-options="a.attribute.id as a.attribute.displayName for a in data.aggregationAttributes">
                                <option value="">Select Column</option>
                            </select>
                            &nbsp;&nbsp;
                            <span> <button ng-click="addAggregationAttr()"> <img src="images/add.png" style="border:0px; height: 15px" tooltip="Add"> </button> </span>

                        </div>

                        <div>

                            <span ng-repeat="a in data.reportDefinition.aggregationAttrs">
                                <span ng-repeat="i in functions">
                                    <span class="col-xs-4" ng-show="a.aggregationCode.charAt(i.index)==1">
                                        {{i.name}} of {{a.attribute.displayName}}
                                        <span > <button ng-click="removeAggAttr(a.attribute.id, i)"><img src="images/trash.png" style="border:0px; height: 15px" tooltip="Remove"></button> </span>
                                    </span>
                                </span>
                            </span>

                        </div>
                    </tab>

                </tabset>
            </div>


            <div class="modal-footer">
                <button ng-click="run()">Run Report</button>
            </div>
            <br/><br/>
            </div>
        </script>
    </div>

</div>
