<div class="panel"  style="min-height: 550px" ng-controller="ReportsHomeController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Report
            </span>
        </div>
    </div>
    <div class="panel-body">


        <div class="row" ng-repeat="category in categories">

            <div class="row" class="subheader">
                <span style="font-weight: bold; font-size: medium">{{category.category.displayName}} </span>
            </div>
            <table class="table table-bordered table-striped">

                <thead>

                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Created On</th>
                    <th>Updated By</th>
                    <th>Updated On</th>
                </tr>

                </thead>

                <tbody>

                <tr ng-repeat="report in category.reports">
                    <td>
                        <span class="squerlink" style="cursor: pointer" ng-click="goto(report.report.id)"> {{report.report.displayName}} </span>
                    </td>
                    <td>{{report.description}}</td>
                    <td>{{report.createdBy}}</td>
                    <td>{{report.createdOn.text}}</td>
                    <td>{{report.updatedBy}}</td>
                    <td>{{report.updatedOn.text}}</td>
                </tr>

                </tbody>


            </table>

        </div>


    </div>
</div>
