<div class="panel"  style="min-height: 550px" ng-controller="ReportsController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{metadata.labels.reportTitle}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset>
            <tab ng-repeat="tab in metadata.tabs" heading="{{tab.title}}">
                <report-tab report-id="{{tab.reportId}}"></report-tab>
            </tab>
        </tabset>
    </div>
</div>
