<div class="dropdown" is-open="status.isopen"  class="row">
		<div class="input-group">
			<input class="form-control" type="text" ng-model="displayText" name="m" ng-click="toggleDropdown($event)"/>
			<span class="input-group-btn">
				<a href class="btn btn-default dropdown-toggle"><span class="caret"></span>	</a>
			</span>
		</div>
    <ul class="dropdown-menu" ng-click="$event.stopPropagation()" >
        <li ng-repeat="row in list" ng-click="click(row, $index)" class="col-xs-24">
                <any ng-switch on="showChecked[$index]" class="col-xs-2">
                    <span ng-switch-when="true">&checkmark;</span>
                    <span ng-switch-default >&nbsp;&nbsp;</span>
                </any>{{row[display]}}
        </li>
    </ul>
</div>
