<div ng-controller="LocationFilterController" ng-init="init(employeeId)">

    <div class="row row-spacer">

        <form class="form-inline">
            <div>
                <select class="form-control" ng-model="division"
                        ng-options="d.id as d.name for d in divisions" ng-change="getZones()" >
                    <option value="">Select Division</option>
                </select>

                <select class="form-control" ng-model="zone" ng-options="z.id as z.name for z in zones" ng-change="getRegion()">
                    <option value="">Select Zone</option>
                </select>

                <select class="form-control" ng-model="region" ng-options="r.id as r.name for r in regions" ng-change="getLocation()">
                    <option value="">Select Region</option>
                </select>

                <select class="form-control" ng-model="location" ng-options="l.id as l.name for l in locations" ng-change="setParent()">
                    <option value="">Select Location</option>
                </select>
            </div>
        </form>
    </div>

</div>