<div ng-controller="ReportsController" ng-init="initReport(reportId)">
    <div class="row" ng-show="metadata.showFilter==true">
        <dynamic-form id="dynamicForm" class="form-inline" template="metadata.formFields" ng-model="stdFormData"></dynamic-form>
    </div>

    <div class="row row-spacer text-right">
        <form class="form-horizontal" name="exportForm" ng-submit="export(report, $parent.stdFormData)">
            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary">Export</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" ng-repeat="report in metadata.reportMeta.reports" >

        <div class="row row-spacer" ng-show="table.showChart==true">
            <div class="row col-xs-{{colXs[$index]}}" ng-repeat="chartConfig in charts">
                <div style="width:100%;">
                    <highchart id="chart1" config="chartConfig" ></highchart>
                </div>
            </div>
        </div>

        <div class="row row-spacer" ng-show="table.notes!=null && table.notes.length > 0">
            <div class="row" ng-repeat="n in table.notes" style="color: #ff0000">
                <sup>*</sup>{{n}}
            </div>
        </div>

        <div class="row row-spacer">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th  ng-repeat="col in table.columns">{{col.label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in table.data">
                    <td ng-repeat="col in table.columns">
                        <span ng-show="col.dataType=='date'">{{row[col.name].text}}</span>
                        <span ng-show="col.dataType!='date'">{{row[col.name]}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>