<div ng-controller="SalesReportsController" ng-init="initReport('rpt_company_sales_report')">
    <div class="row" ng-show="metadata.showFilter==true">

        <div>
            <select class="form-control" ng-model="stdFormData.division"
                    ng-options="d.id as d.name for d in divisions" ng-change="getZones()" >
                <option value="">Select Division</option>
            </select>

            <select class="form-control" ng-model="stdFormData.zone" ng-options="z.id as z.name for z in zones" ng-change="getRegion()">
                <option value="">Select Zone</option>
            </select>

            <select class="form-control" ng-model="stdFormData.region" ng-options="r.id as r.name for r in regions" ng-change="getLocation()">
                <option value="">Select Region</option>
            </select>

            <select class="form-control" ng-model="stdFormData.location" ng-options="l.id as l.name for l in locations" ng-change="setParent()">
                <option value="">Select Location</option>
            </select>

            <select class="form-control" ng-model="stdFormData.brand" ng-options="b.id as b.name for b in brands" ng-change="getSKU()">
                <option value="">Select Brand</option>
            </select>

            <select class="form-control" ng-model="stdFormData.sku" ng-options="k.id as k.name for k in skus">
                <option value="">Select SKU</option>
            </select>

            <b>Month : </b>
            <select class="form-control" ng-model="stdFormData.activity_month" ng-options="m.id as m.name for m in months">
                <option value="">Select Month</option>
            </select>


            <b>Year : </b>
            <select class="form-control" ng-model="stdFormData.activity_year" ng-options="y.id as y.name for y in years">
                <option value="">Select Year</option>
            </select>
        </div>

        <div class="col-xs-2">
            <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
        </div>

    </div>

    <div class="row" ng-repeat="report in metadata.reportMeta.reports">
        <div class="row row-spacer text-right" ng-show="table.showExport==true">
            <form class="form-horizontal" name="exportForm" ng-submit="export(report, $parent.stdFormData)">
                <div class="row">
                    <div>
                        <button type="submit" class="btn btn-primary">Export</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row row-spacer" ng-show="table.showChart==true">

            <div class="row">
                <div>
                    <highchart id="chart1" config="chart.chartConfig" ></highchart>
                </div>
            </div>
        </div>

        <div class="row row-spacer">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th  ng-repeat="col in table.columns">{{col.label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in table.data">
                    <td ng-repeat="col in table.columns">
                        <span ng-show="col.dataType=='date'">{{row[col.name].text}}</span>
                        <span ng-show="col.dataType!='date'">{{row[col.name]}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>