<table class="table table-bordered" border="1" id="calendarView">
    <thead>
    <tr >
        <th ng-repeat="day in masterList.daysOfWeek">{{day}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="w in form.weeks" style="height:100px;">
        <td style="min-width:150px;padding: 0px;border: 1px solid darkgray" ng-repeat="da in w" nowrap="nowrap">
            <table width="100%" border="0">
                <tr>
                    <td style="border-bottom: 1px solid #d3d3d3; padding: 4px"  ng-show="{{da.date}}" >
                        <b>{{da.date | date:'dd' }}</b></td>
                </tr>
                <tr>
                    <td  style="padding: 4px;">
                        <any ng-show="showCounts(da.fmted)">
                            <span ng-repeat="b in form.tourData[da.fmted].beats"> {{b.displayName}}<br/> </span>
                        </any>
                        {{masterList.activityMasterListMap[form.tourData[da.fmted].plannedActivityType.id].name}}
                    </td>
                </tr>
                <tr>
                    <td  style="padding: 4px;">
                        <any ng-show="showCounts(da.fmted)">
                            Doc: <a ng-click="openDoctorListing(da.fmted)" class="squerlink">{{ form.tourData[da.fmted].numDoctors }}</a>   Ch: <a ng-click="openChemistListing(da.fmted)" class="squerlink">{{ form.tourData[da.fmted].numChemists }}</a>
                        </any>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    </tbody>
</table>
