<div ng-controller="UploadController">
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="uploadForm" ng-submit="uploadFile(uploadPath)">
                <div class="col-xs-9 col-xs-offset-4">
                    <input type="file" ng-model="files" />
                </div>

                <div class="col-xs-9 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>

</div>