            <select class="form-control col-xs-4" name="{{type}}" ng-model="value" ng-options="t.id as t.name for t in lovs">
                <option value="">{{defaultText}}</option>
            </select>