<div class="panel"  style="min-height: 550px" ng-controller="adminEmployeesController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Admin Employee
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="adminEmployee" ng-submit="save()" novalidate valdr-type="adminEmployee">

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Code</label>
                    <div class="col-xs-8" valdr-form-group>
                        <input type="text" name="name" ng-model="definition.code" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">First Name</label>
                    <div class="col-xs-8" valdr-form-group>
                        <input type="text" name="name" ng-model="definition.firstName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Last Name</label>
                    <div class="col-xs-8" valdr-form-group>
                        <input type="text" name="code" ng-model="definition.lastName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Job Title</label>
                    <div class="col-xs-8" valdr-form-group>
                        <select class="form-control" name="jobTitle" ng-model="definition.jobTitle.id"
                                ng-options="j.id as j.name for j in jobTitleList">
                        </select>
                    </div>
                </div>
                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" ng-disabled="adminEmployee.$invalid" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>