<div class="panel"  style="min-height: 550px" ng-controller="AnnouncementSearchController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Announcements
            </span>
            <span class="pull-right"><a ng-click="addNew()"><img src="images/add.png" tooltip="Add New"></a></span>
        </div>
    </div>
    <div class="panel-body">

        <form template="formFields" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
            <fieldset class="dynamic-fieldset" style="margin-bottom: 20px">
                <legend>Search</legend>

            <div class="row">
                <div class="form-group">
                    <div class="input-group"><label>Division</label></div>

                    <select class="form-control ng-pristine ng-untouched ng-valid" name="o.DIVISION_ID" ng-model="stdFormData['o.DIVISION_ID']" value="null"
                            ng-options="d.id as d.name for d in divisionsList"
                            ng-change="getLocation()">
                        </option><option value="">Select All</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group"><label>Location</label></div>
                    <select class="form-control ng-pristine ng-untouched ng-valid" name="o.LOCATION_ID" ng-model="stdFormData['o.LOCATION_ID']" value="null"
                            ng-options="l.id as l.name+' - '+l.definition.displayName for l in locationList" ng-change="getEmployee('location')">
                        </option><option value="">Select All</option>
                    </select>
                </div>


                <div class="form-group">
                    <div class="input-group"><label>Job Title</label></div>
                    <select class="form-control ng-pristine ng-untouched ng-valid" name="o.JOBTITLE_ID" ng-model="stdFormData['o.JOBTITLE_ID']" value="null"
                            ng-options="j.id as j.name for j in jobTitles" ng-change="getEmployee('jobtitle')">
                        </option><option value="">Select All</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="input-group"><label>Employee</label></div>
                    <select class="form-control ng-pristine ng-untouched ng-valid" name="o.EMPLOYEE_ID" ng-model="stdFormData['o.EMPLOYEE_ID']" value="null"
                            ng-options="e.id as e.name for e in employeeList">
                        </option><option value="">Select All</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="form-group">
                    <div class="input-group"><label>Valid From</label></div>
                            <input  type="text" ng-model="data.activeFrom" name="mDate" squer-datepicker class="form-control"/>
                    </select>
                </div>

                <div class="form-group">
                    <div class="input-group"><label>Valid To</label></div>
                    <input  type="text" ng-model="data.activeTo" name="nDate" squer-datepicker class="form-control"/>
                </div>
                <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="search()">Search</button>
            </div>
        </fieldset>
    </form>

        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <!--th>&nbsp;</th-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td>{{d.division.displayName}}</td>
                    <td>{{d.location.displayName}}</td>
                    <td>{{d.jobTitle.displayName}}</td>
                    <td>{{d.employee.displayName}}</td>
                    <td>{{d.announcementDetails.activeFrom.text}}</td>
                    <td>{{d.announcementDetails.activeTo.text}}</td>
                    <td>
                        <div class="row">
                            <div class="col-xs-5">
                                <a class="ng-scope" ui-sref="sysadmin.announcementsEdit({id:'{{d.announcement.id}}'})" href="/sysadmin/announcements/edit">
                                    <img class="icon" src="images/edit.png">
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>