<div class="panel"  style="min-height: 550px" ng-controller="AnnouncementController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Announcement
            </span>
        </div>
    </div>

    <div class="panel-body">

        <fieldset class="dynamic-fieldset subheader">
            <legend>
                1.Create Criteria : Add Criteria
            </legend>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="definition.division.id" ng-options="d.id as d.name for d in divisions" ng-change="getLocation()"><option value="">All Divisions</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Location</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="definition.location.id" ng-options="l.id as l.name+' - '+l.definition.displayName for l in locations" ng-change="getEmployee('location')"><option value="">All Locations</option></select>
                </div>
                <div class="col-xs-2"><label><span class="pull-right">Job Title</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="definition.jobTitle.id" ng-options="j.id as j.name for j in jobTitles" ng-change="getEmployee('jobtitle')"><option value="">All Job Titles</option></select>
                </div>
                <div class="col-xs-2"><label><span class="pull-right">Owner</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="definition.employee.id" ng-options="e.id as e.name for e in employeeList"><option value="">All Employees</option></select>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <span class="pull-right">
                    <input type="button" class="btn btn-primary btn-sm" value="Add Criteria" ng-click="addCriteria()">
                </span>
            </div>
        </fieldset>

        <fieldset class="dynamic-fieldset subheader" style="margin-top: 20px">
            <legend>
                2.Create Criteria : Upload Employees
            </legend>
            <div class="row">
                <div class="col-xs-21">
                    <input type="file" ng-model="uploadFile" id="uploadFile"/>
                </div>

                <div class="col-xs-3" style="margin-top: -5px">
                    <input type="button" class="btn btn-primary btn-sm pull-right" value="Upload" ng-click="uploadEmployees(uploadFile)">
                </div>
            </div>
        </fieldset>

        <fieldset class="dynamic-fieldset subheader" style="margin-top: 20px">
            <legend>
                Selected criteria
            </legend>
            <div class="row">
                <div class="col-xs-16">
                    <label>Added Criteria</label></la>
                    <table class="table table-striped">
                        <tr>
                            <th>Division</th>
                            <th>Location</th>
                            <th>Job Title</th>
                            <th>Owner</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                        <tr ng-repeat="d in addedCriteria">
                            <td>
                                <any ng-show="d.division.id!=null">{{d.division.name}}</any>
                                <any ng-show="d.division.id==null">Across Division</any>
                            </td>
                            <td>
                                <any ng-show="d.location.id!=null">{{d.location.name}}</any>
                                <any ng-show="d.location.id==null">Across Location</any>
                            </td>
                            <td>
                                <any ng-show="d.jobTitle.id!=null">{{d.jobTitle.name}}</any>
                                <any ng-show="d.jobTitle.id==null">Across JobTitles</any>
                            </td>
                            <td>
                                <any ng-show="d.employee.id!=null">{{d.employee.name}}</any>
                                <any ng-show="d.employee.id==null">For All Employees</any>
                            </td>
                            <td style="text-align: center"><a ng-click="removeCriteria($index)"><img src="images/trash.png" tooltip="Remove criteria"></a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-7">
                    <label>Uploaded Employees</label>
                    <table class=" table table-condensed">
                        <tr>
                            <td width="150px"><a class="squerlink" ng-click="showSuccessEmp()">Successful Uploads</a>
                            <td width="200px">{{uploadResult.successCount}}</td>
                        </tr>
                        <tr>
                            <td width="150px"><a class="squerlink" ng-click="showFailedEmp()">Failed Uploads</a>
                            <td width="200px">{{uploadResult.failCount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>

        <div class="row" style="margin-top: 20px">
            <div class="col-xs-20">
                <div class="col-xs-1">
                    <label>Title</label>
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="definition.title">
                </div>
            </div>
            <div class="col-xs-4">
                <a class="squerlink pull-right" ng-click="browse()">Browse Gallery</a>
            </div>
        </div>
        <div class="container lighter" style="margin-top: 10px">
            <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
        </div>
        <br>
        <!--div class="container text-center lighter border-around">
            <div class="lighter roboto">
                <p ng-bind="htmlContent" class="text-left text-med text-gray" ng-model="definition.message"></p>
            </div>
        </div-->

        <div class="row">
            <div class="col-xs-2"><label><span class="pull-right"> Valid From</span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="definition.activeFrom" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">Valid To</span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="definition.activeTo" name="nDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary" value="Save" ng-click="save()"></div>
        </div>
    </div>
</div>



<div>
    <script type="text/ng-template" id="successEmp.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Successfully Uploaded Employee</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th></th>
                </tr>
                <tr ng-repeat="e in emps">
                    <td>{{e.code}}</td>
                    <td>{{e.name}}</td>
                    <td style="text-align: center"><a ng-click="removeEmployee($index)"><img src="images/trash.png" tooltip="Remove criteria"></a></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>


<div>
    <script type="text/ng-template" id="failEmp.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Failed To Upload Employees</h3>
        </div>
        <div class="modal-body">
            <!--table class="table table-striped">
                <tr ng-repeat="e in emps">
                    <td>{{e}}</td>
                </tr>
            </table-->
            {{emps}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>


<div>
    <script type="text/ng-template" id="gallery.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Gallery</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="f in fileList">
                <div class="col-xs-3">
                    <img src="{{f}}" width="50px" height="50px">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>