<!-- approvalconfig.html -->
<div class="panel"  style="min-height: 550px" ng-controller="ApprovalChainDefinitionController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="configForm" ng-submit="save()">
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.type}}</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="chain.approvable.id" ng-options="type.id as type.name for type in types"><option value="">Select One</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.division}}</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="chain.division.id" ng-options="division.id as division.name for division in divisions"><option value="">Select One</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.chain}}</label>
                        <div class="col-xs-14">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">{{labels.edit.level}}</th>
                                        <th>{{labels.edit.jobtitle}}</th>
                                        <th>{{labels.edit.daysInQueue}}</th>
                                        <th style="text-align: center">{{labels.edit.required}}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in chain.details">
                                        <td class="col-xs-1" style="text-align: center">{{d.level}}</td>
                                        <td  class="col-xs-3">
                                            <select ng-model="d.accountability.id" ng-options="j.id as j.name for j in designations"
                                                    ng-change="selectDesignation($index)" class="form-control">
                                                <option value="">Select One</option>
                                            </select>
                                        </td>
                                        <td class="col-xs-1"><input type="text" ng-model="d.daysInQueue" class="form-control"></td>
                                        <td class="col-xs-1" style="text-align: center"><input type="checkbox" ng-model="d.required"></td>
                                        <td class="col-xs-1">
                                            <any ng-show="$index!=chain.details.length-1">
                                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="remove($index)">
                                                    <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                </button>
                                            </any>

                                            <any ng-show="$index==chain.details.length-1">
                                                <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="add(d.level,$index)">
                                                    <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                            </any>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary" ng-click="saveSection()">{{links.save}}</button>
                    </div>
                </form>
        </div>

    </div>
</div>
