<!-- coachingForm.html -->
<div class="panel"  style="min-height: 550px" ng-controller="CoachingFormController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="coachingForm" ng-submit="save()">
                    <div class="row">
                        <label class="col-xs-2 col-xs-offset-1 control-label">Designation</label>
                        <div class="col-xs-8" >
                            <select name="jobtitle" ng-model="jobtitle.id" class="form-control"
                                    ng-options="e.id as e.name for e in jobtitles" >
                                <option value="">Select</option>
                            </select>
                        </div>

                        <div class=" form-group">
                            <div class="col-xs-4 col-xs-offset-1">
                                <button type="button" class="btn btn-primary" ng-click="search(jobtitle.id)"  >Search</button>
                            </div>
                    </div>
                    </div>
                    <div class="row jumbotron" ng-repeat="d in definition">
                        <div class="col-xs-offset-3 panel-heading">
                            <!--<table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            <b>{{d.name}}</b>
                                        </th>

                                        <th>
                                            <div>
                                                <span><b>SCORE </b></span>
                                                <span></span><input type="text" name="name" ng-model="controls.section.score" class="form-control" size="1" ng-show='d.scoreType == "FREETEXT"'/>
                                                <select name="score" ng-model="controls.section.score" class="form-control" size="1"
                                                        ng-options="sr.name as sr.name for sr in sectionRankLovList" ng-show='d.scoreType=="RANK"'>
                                                    <option value="">Select</option>
                                                </select></span>
                                            </div>

                                        </th>
                                    </tr>
                                </thead>
                            </table>-->
                            <b>{{d.name}}</b>
                        </div>
                        <div class="col-xs-offset-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sequence</th>
                                    <th>Question</th>
                                    <!--<th>Answer Type</th>
                                    <th>Has Score</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="q in d.questions">
                                    <td>{{q.displayOrder}}</td>
                                    <td>{{q.question}}</td>
                                    <!--<td class="col-xs-2" ng-repeat="a in answerTypeList | filter:{id: q.answerType.id}">{{a.name}}</td>
                                    <td ng-show="q.hasScore">Yes</td>
                                    <td ng-show="q.hasScore==false">No</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group" ng-show="addSection">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Section</label>
                        <div class="col-xs-17">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th class="col-xs-2">
                                        Sequence
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                </tr>
                                </thead>
                                <tr>
                                    <td><input type="text" name="displayOrder" ng-model="controls.section.displayOrder" class="col-xs-2 form-control"/></td>
                                    <td><input type="text" name="name" ng-model="controls.section.name" class="form-control"/></td>
                                    <td><select name="scoreType" ng-model="controls.section.scoreType" class="form-control"
                                            ng-options="st.name as st.name for st in sectionScoreTypeList">
                                        <option value="">Select</option>
                                    </select></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="form-group" ng-show="addSection">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Questions</label>
                        <div class="col-xs-17">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-xs-2">Sequence</th>
                                    <th>Question</th>
                                    <!--<th class="col-xs-5">Answer Type</th>
                                    <th class="col-xs-2">Has Score</th>-->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in data">
                                    <td>{{d.displayOrder}}</td>
                                    <td>{{d.question}}</td>
                                    <td ng-repeat="a in answerTypeList | filter:{id: d.answerType.id}">{{a.name}}</td>
                                    <td ng-show="d.hasScore">Yes</td>
                                    <td ng-show="d.hasScore==false">No</td>
                                    <td><a ng-click="removeQuestion(d)"><img src="images/trash.png"></a></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" ng-model="controls.question.sequence"></td>
                                    <td><input type="text" class="form-control" ng-model="controls.question.question"></td>
                                    <!--<td><select ng-model="controls.question.answerType" class="form-control"
                                            ng-options="a.id as a.name for a in answerTypeList"><option value="">Select Type</option></select></td>
                                    <td><input type="checkbox"  ng-model="controls.question.hasScore"/></td>-->
                                    <td><a ng-click="addQuestion()"><img src="images/add.png"></a></td>
                                </tr>

                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-xs-18 col-xs-offset-4" ng-show="addSection">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="saveSection()">Add Section</button>
                    </div>
                </form>
        </div>

    </div>
</div>
