<div class="panel"  style="min-height: 550px" ng-controller="CompetitorController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="businessUnitForm" ng-submit="save()">
                    <div class="form-group">

                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Brands</label>
                        <div class="col-xs-17">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Products</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="brand in definition.brands">
                                    <td>
                                        {{brand.name}}
                                    </td>
                                    <td>
                                        <span ng-switch>
                                            <span ng-switch-when="brand.id">
                                                {{brand.status.displayName}}
                                            </span>
                                            <span ng-switch-default>
                                                {{brandStatus[brand.status.id]}}
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="brand.id"><a ng-click="showProducts(brand.id)">Show Products</a></span>
                                    </td>
                                    <td>
                                        <span ng-if="!brand.id"><a ng-click="removeBrand(brand.name)">Remove</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="brand.name" name="brandName" class="form-control">
                                    </td>
                                    <td>
                                        <select id="status" ng-model="brand.status.id" name="brandStatus" class="form-control">
                                            <option value="SYSLV20000000000000000000000000000001" selected>Active</option>
                                            <option value="SYSLV20000000000000000000000000000002">In-Active</option>
                                        </select>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td><a ng-click="addAnother()">{{links.addAnother}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary">{{links.save}}</button>
                    </div>
                </form>
        </div>

    </div>
</div>




<div>
    <script type="text/ng-template" id="brandProductListing.html" ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">Product List</h3>
        </div>
        <div class="modal-body">'
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in brand.products">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>Remove</td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="name" ng-model="product.name" /></td>
                            <td><input type="text" class="form-control" name="price" ng-model="product.price" /></td>
                            <td><a ng-click="addAnother()">{{links.addAnother}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveProductForBrand()">save</button>
            <button class="btn btn-warning" ng-click="productForBrandCancel()">Cancel</button>
        </div>
    </script>
</div>
