<div class="demo-container" ng-if="ctrl.formData">
    <mw-form-builder
        api="ctrl.formBuilder"
        options="ctrl.optionsBuilder"
        form-data="ctrl.formData"
        form-status="ctrl.formStatus"
        read-only="ctrl.builderReadOnly"
        on-image-selection="ctrl.onImageSelection()">
    </mw-form-builder>
    <div class="row">
        <label>Available Offline</label>
        <input type="checkbox" name="offline" ng-model="ctrl.temp.availableOffline"/>
    </div>
     <div class="row">
        <button type="submit"  class="btn btn-secondary" ng-click="ctrl.saveForm()">Save</button>
        <button type="submit"  class="btn btn-primary" ng-click="ctrl.submitForm()">Submit</button>
    </div>
</div>