<div class="panel"  style="min-height: 550px" ng-controller="DesignationController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Designation</label>
                        <div class="col-xs-8">
                                <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Cross Functional</label>
                        <div class="col-xs-8">
                            <input type="checkbox" name="acrossDivision" ng-model="definition.acrossDivision"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Locked Reporting</label>
                        <div class="col-xs-8">
                            <input type="checkbox" name="lockedReporting" ng-model="definition.lockedReporting"/>
                        </div>
                    </div>
                    <!--div class="col-xs-18 col-xs-offset-4">
                        <table class="table table-striped">
                            <thead>
                                <tr><th>Role</th>
                                <th>Action</th></tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="role in roles">
                                    <td>
                                        <input type="checkbox" checklist-model="definition.roles" checklist-value="role">
                                    </td>
                                    <td>{{role.displayName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div-->
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>

