<div class="panel"  style="min-height: 550px" ng-controller="DistanceController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Add New Distance
            </span>
        </div>
    </div>
    <form class="form-horizontal" name="DistanceForm" ng-submit="save()" >
        <div class="row col-xs-18" style="margin-top: 20px">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-8 col-xs-offset-1 control-label">{{labels.edit.state}}</label>
                    <div class="col-xs-14" valdr-form-group>
                        <select name="parent" ng-model="fromState"
                                class="form-control"
                                ng-options="state.id as state.name for state in stateList"
                                ng-change="getTowns(fromState,'fromTowns')">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-8 col-xs-offset-1 control-label">{{labels.edit.state}}</label>
                    <div class="col-xs-14" valdr-form-group>
                        <select name="parent" ng-model="toState"
                                class="form-control"
                                ng-options="state.id as state.name for state in stateList"
                                ng-change="getTowns(toState,'toTowns')">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row col-xs-18">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-8 col-xs-offset-1 control-label">{{labels.edit.fromLocation}}</label>
                    <div class="col-xs-14" valdr-form-group>
                        <select class="form-control"
                                ng-model="distance.fromLocation.id"
                                ng-options="ft.id as ft.name for ft in fromTowns">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-8 col-xs-offset-1 control-label">{{labels.edit.toLocation}}</label>
                    <div class="col-xs-14" valdr-form-group>
                        <select class="form-control"
                                ng-model="distance.toLocation.id"
                                ng-options="tt.id as tt.name for tt in toTowns"
                                ng-change="getDistance(distance.fromLocation.id,distance.toLocation.id)">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" ng-disabled="disabled" ng-model="distance.kms">
                <input type="hidden" ng-model="distance.id">
                <input type="hidden" ng-model="distance.fromToLoc">
                <input type="hidden" ng-model="distance.toFromLoc">
            </div>
            <div class="col-xs-1"><button class="btn btn-primary" ng-disabled="disabled">Save</button></div>
        </div>
    </form>
    <div class="alert alert-warning col-xs-12 col-xs-offset-3" role="alert" ng-show="showAlert">
        Distance Already Exists.
    </div>
</div>