<div class="panel"  style="min-height: 550px" ng-controller="doctorSurveyUnlockController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
               Doctor Survey Unlock
            </span>
        </div>
    </div>

    <div class="panel-body">
        <fieldset class="dynamic-fieldset">
            <legend>Search</legend>
            <div class="row">
                <div class="col-xs-2" style="text-align: right"><label>Quarter</label></div>
                <div class="col-xs-4">
                    <select class="form-control"
                            ng-model="quarter"
                            ng-options="q.id as q.name for q in quarters">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-xs-2" style="text-align: right"><label>Year</label></div>
                <div class="col-xs-4">
                    <select class="form-control"
                            ng-model="year">
                        <option ng-repeat="y in years" value="{{y}}" ng-selected="y==currentYear">{{y}}</option>
                    </select>
                </div>
                <div class="col-xs-3" style="text-align: right"><label>Employee Code</label></div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="empCode">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary" ng-click="search()">Search</button>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-xs-15" style="margin-top: 20px;margin-left: 10px" ng-show="surveyResult.id!=null">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{surveyResult.employee.displayName}}</td>
                <td>{{surveyResult.status.displayName}}</td>

                <td ng-show="surveyResult.status.id!=USRLVDOCSRVSTAT0000000000000000000001">
                    <button class="btn btn-primary btn-sm" ng-click="changetodraft(surveyResult.id)">change to draft</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>