        <div class="panel"  style="min-height: 550px" ng-controller="DoctorInputController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        {{labels.title}}
                    </span>

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                        <form class="form-horizontal" name="doctorInputForm" ng-submit="save()" novalidate valdr-type="DoctorInput">
                            <div class="form-group required-field">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                                <div class="col-xs-8 valdr-form-group">
                                    <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group required-field">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.division}}</label>
                                <div class="col-xs-8 valdr-form-group">
                                    <select name="division" ng-model="definition.division.id"
                                            ng-options="division.id as division.name for division in master.divisions" ng-change="selectBrand(definition.division.id)" class="form-control">
                                        <option value="">Select Division</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Quantity per TM</label>
                                <div class="col-xs-8">
                                    <input type="text" name="quantitypertm" ng-model="definition.quantityPerTM"  class="form-control" />
                                    <span class="error-msg" ng-show="!flag">{{fieldmsg}}</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Brands</label>
                                <div class="col-xs-8">
                                    <select name="parent" ng-model="definition.brand.id"
                                            ng-options="b.id as b.name for b in brands" class="form-control">
                                        <option value="">Select Brands</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Active From</label>
                                <div class="col-xs-8">
                                    <input type="text" name="actfrom" ng-model="definition.activeFrom.text" squer-datepicker-all class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Active To</label>
                                <div class="col-xs-8">
                                    <input type="text" name="actto" ng-model="definition.activeTo.text" squer-datepicker-all class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Type</label>
                                <div class="col-xs-8">
                                    <select name="type" ng-model="definition.type.id" ng-options="type.id as type.name for type in types" class="form-control">
                                        <option value="">Select Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required-field">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.status}}</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <select name="status" ng-model="definition.status.id"
                                            ng-options="status.id as status.name for status in master.statuses" class="form-control" >
                                        <option value="">Select Status</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Rate</label>
                                <div class="col-xs-8">
                                    <input type="text" name="rate" ng-model="definition.rate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-18 col-xs-offset-4">
                                <button type="submit" class="btn btn-primary" ng-disabled="doctorInputForm.$invalid">Save</button>
                            </div>
                        </form>
                </div>

            </div>
        </div>
