<div class="panel"  style="min-height: 550px" ng-controller="DoctorActivityController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        {{labels.title}}
                    </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="DocActForm" ng-submit="save()" novalidate valdr-type="DoctorActivity" >
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                    <div class="col-xs-8" valdr-form-group>
                        <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.owner}}</label>
                    <div class="col-xs-8" valdr-form-group >
                        <select name="owner" ng-model="definition.owner.id"
                                ng-options="division.id as division.name for division in divisions" class="form-control" >
                            <option value="">Select a {{labels.edit.owner}}</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.status}}</label>
                    <div class="col-xs-8" valdr-form-group>
                        <select name="status" ng-model="definition.status.id"
                                ng-options="status.id as status.name for status in statusList" class="form-control">
                            <option value="">Select a {{labels.edit.status}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" ng-disabled="DocActForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>