<div class="panel"  style="min-height: 550px"  ng-controller="ebStatusController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Change EB Status
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form template="stdFormTemplate" class="form-inline" model="stdFormData" ng-submit="search()" >
                <fieldset class="dynamic-fieldset">
                    <legend >Search</legend>
                    <div class="row">
                        <div class="form-group">
                            <div class="input-group">
                                <label>Select Month</label>
                            </div>
                            <select class="form-control" ng-model="ebMonth">
                                <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index}}">{{m}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <label>Select Year</label>
                            </div>
                            <select class="form-control" ng-model="ebYear">
                                <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <label>Manager Code</label>
                            </div>
                            <input type="text" class="form-control" ng-model="ebManager">
                        </div>

                        <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="row row-spacer" ng-show="displayData.length>0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Job Profile</th>
                    <th>Coaching Date</th>
                    <th>Report Date</th>
                    <th>Score</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in displayData">
                    <td>{{d.name | capitalize}}</td>
                    <td>{{d.DESIGNATION}}</td>
                    <td>{{d.REPORT_DATE.text}}</td>
                    <td>{{d.CREATED_ON.text}}</td>
                    <td>{{d.SCORE}}</td>
                    <td>
                        <a href="" ng-click="delete(d.id,d.name)"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row row-spacer" ng-show="displayData.length==0">No data found for the selected conditions</div>
    </div>
</div>
