<div class="panel"  style="min-height: 550px" ng-controller="EmployeeSwappingController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Employee swapping
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form template="formFields" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
                <fieldset class="dynamic-fieldset" style="margin-bottom: 20px">
                    <legend>Employee Swap</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Employee1 Code</label>
                        </div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="EMPLOYEE_CODE1" ng-model="employeecode1" value="" >
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Employee2 Code</label>
                        </div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="EMPLOYEE_CODE2" ng-model="employeecode2" value="" >
                    </div>
                    <div class="form-group ">
                        <div class="input-group">
                             <label> Active From </label>
                        </div>
                            <input  type="text" class="form-control" ng-model="activeFrom.text" name="activeFrom" squer-datepicker>
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="search()">Search</button>
                </fieldset>
            </form>
        </div>
        <div class="row row-spacer" ng-show="showTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ></th>
                        <th>{{emp1.NAME  | capitalize}}</th>
                        <th>{{emp2.NAME  | capitalize}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr><th>EMPLOYEE CODE </th>
                    <td>{{emp1.CODE}} </td>
                    <td>{{emp2.CODE}} </td>
                </tr>
                    <tr><th>DIVISION </th>
                        <td>{{emp1.DIVISION}} </td>
                        <td>{{emp2.DIVISION}} </td>
                    </tr>
                    <tr>
                        <th>LOCATION </th>
                        <td>{{emp1.LOCATION}} </td>
                        <td>{{emp2.LOCATION}} </td>
                    </tr>
                    <tr>
                        <th>ACTIVE_FROM</th>
                        <td>{{emp1.ACTIVE_FROM.text}} </td>
                        <td>{{emp2.ACTIVE_FROM.text}} </td>
                    </tr>
                    <tr>
                        <td></td><td></td>
                        <td>
                            <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="swap()">Swap</button>

                        </td>

                    </tr>
                </tbody>
            </table>


        </div>


    </div>
</div>


