<div class="panel"  style="min-height: 550px" ng-controller="EmployeeSearchController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
            <span class="pull-right"><a ng-click="addNew()"><img src="images/add.png" tooltip="Add New"></a></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form template="formFields" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
                <fieldset class="dynamic-fieldset" style="margin-bottom: 20px">
                    <legend>Search</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Employee Code</label>
                        </div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="EMPLOYEE_CODE" ng-model="stdFormData['EMPLOYEE_CODE']" value="null" placeholder="Employee Code">
                    </div>

                    <div class="form-group"><div class="input-group"><label>Division</label></div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="cmt_location.DIVISION_ID" ng-model="empDivision" value="null"
                                ng-options="d.id as d.name for d in divisionsList"
                                ng-change="getLocation()">
                            </option><option value="">Select All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group"><label>Location</label></div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="CMT_COMPANY_DETAILS.BUSINESS_UNIT_ID" ng-model="stdFormData['CMT_COMPANY_DETAILS.BUSINESS_UNIT_ID']" value="null"
                                ng-options="l.id as l.name+' - '+l.definition.displayName for l in locationList">
                            </option><option value="">Select All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group"><label>Name</label></div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="ci_name" ng-model="stdFormData['ci_name']" value="null" placeholder="Name">
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="search()">Search</button>
                </fieldset>
            </form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <!--th>&nbsp;</th-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" >
                        <any ng-switch on="columns[$index].dataType">
                            <div ng-switch-when="Reference">{{d[col.name].displayName}}</div>
                            <div ng-switch-when="Date">{{d[col.name].text}}</div>
                            <div ng-switch-when="Array">
                                {{d[col.name][0].jobTitle.displayName}}
                            </div>
                            <div ng-switch-when="Object">{{d[col.name.split('.')[0]][col.name.split('.')[1]]}}</div>
                            <div ng-switch-default>
                                {{d[col.name]}}
                            </div>
                        </any>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-xs-5" ng-repeat="action in actions">
                                <span table-link></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>



