<div class="panel"  style="min-height: 550px" ng-controller="EmployeeController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Employee
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <fieldset ng-disabled='usercontext!="sysadmin"'>
                <tabset justified="true" class="row-spacer">
                    <tab heading="Personal Profile">
                    <form class="form-horizontal" name="employeeForm" ng-submit="save()" novalidate valdr-type="Employee">
                        <div class="form-group required-field">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.firstName}}</label>
                            <div class="col-xs-8" valdr-form-group>
                                    <input type="text" name="firstName" ng-model="employee.firstName" class="form-control" {{labels.firstName}}/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-xs-3 col-xs-offset-1 control-label" for="lastName">{{labels.edit.lastName}}</label>
                            <div class="col-xs-8" >
                                <input type="text" name="lastName" id="lastName" ng-model="employee.lastName" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.middleName}}</label>
                            <div class="col-xs-8">
                                <input type="text" name="name" ng-model="employee.middleName" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.dob}}</label>
                            <div class="col-xs-8">
                                <input  type="text" ng-model="employee.dateOfBirth.text" name="mDate" squer-datepicker class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group required-field">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.code}}</label>
                            <div class="col-xs-8" valdr-form-group>
                                <input type="text" name="code" ng-model="employee.code" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group has-feedback required-field">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.doj}}</label>
                            <div class="col-xs-8" valdr-form-group>
                                <input  type="text" ng-model="employee.dateOfJoining.text" name="dateOfJoining" squer-datepicker class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group required-field">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.gender}}</label>
                            <div class="col-xs-8" valdr-form-group>
                                <select name="gender" ng-model="employee.gender.id" class="form-control" ng-value="default" class="form-control"
                                        ng-options="gender.id as gender.name for gender in genders">
                                    <option value="">Select a Gender</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.maritalStatus}}</label>
                            <div class="col-xs-8">
                                <select name="parent" ng-model="employee.maritalStatus.id" class="form-control"
                                        ng-options="maritalStatus.id as maritalStatus.name for maritalStatus in maritalStatuses">
                                    <option value="">Select Marital Status</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.email}}</label>
                            <div class="col-xs-8">
                                <input type="email" name="email" ng-model="employee.email" class="form-control"/>
                            </div>
                        </div>
                        <!--div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.jobtitle}}</label>
                            <div class="col-xs-8">
                                <select name="parent" ng-model="employee.jobTitle.id" class="form-control"
                                        ng-options="jobtitle.id as jobtitle.name for jobtitle in jobtitles">
                                    <option value="">Select {{labels.edit.jobtitle}}</option>
                                </select>
                            </div>
                        </div-->

                        <div class="row row-spacer col-xs-offset-1" >
                            <fieldset class="dynamic-fieldset subheader">
                                <legend>
                                    Current Profile
                                    <!--button type="button" ng-show="employee.id != null" ng-click="viewAllCompDetails()" >History</button-->
                                </legend>
                                <div class="form-group required-field">
                                    <label class="col-xs-3 control-label">{{labels.edit.jobtitle}}</label>
                                    <div class="col-xs-8" valdr-form-group>
                                        <select name="jobTitle" ng-model="employee.companydetails[0].jobTitle.id" ng-value="default" class="form-control"
                                                ng-options="jobtitle.id as jobtitle.name for jobtitle in jobtitles">
                                            <option value="">Select {{labels.edit.jobtitle}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group required-field" >
                                    <label class="col-xs-3 control-label" for="lastName">{{labels.edit.designation}}</label>
                                    <div class="col-xs-8"  valdr-form-group>
                                        <input type="text" name="designation" id="designation" ng-model="employee.companydetails[0].designation" class="form-control"/>
                                    </div>
                                </div>
                        <!--div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.location}}</label>
                            <div class="col-xs-8">
                                <select name="parent" ng-model="employee.companydetails[0].location.id"
                                        class="form-control"
                                        ng-options="businessUnit.id as (businessUnit.division.displayName + ' - ' + businessUnit.name) for businessUnit in locations"
                                        ng-change="fetchEmployees()">
                                    <option value="">Select {{labels.edit.location}}</option>
                                </select>
                            </div>
                        </div-->
                                <div class="form-group" ng-show="employee.id!=null">
                                    <label class="col-xs-3 control-label">Current Location</label>
                                    <div class="col-xs-8" valdr-form-group>
                                        <input type="text" name="currentLocaiton" id="currentLocaiton" ng-model="employee.companydetails[0].location.displayName" class="form-control" readonly/>
                                    </div>
                                </div>

                                <div class="form-group required-field">
                                    <label class="col-xs-3 control-label">{{labels.edit.division}}</label>
                                    <div class="col-xs-8" valdr-form-group>
                                        <select name="division" ng-model="divisionId"
                                                ng-options="division.id as division.name for division in divisions" class="form-control" ng-change="updateList(divisionId)">
                                            <option value="">Select a {{labels.edit.division}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group required-field">
                                    <label class="col-xs-3 control-label">{{labels.edit.location}}</label>
                                    <div class="col-xs-8" valdr-form-group>
                                        <select name="location" ng-model="employee.companydetails[0].location.id"
                                                ng-options="parent.id as (parent.name+' - '+parent.definition.displayName) for parent in locations" class="form-control" >
                                            <option value="">Select a Location</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="employee.id!=null">
                                    <label class="col-xs-3 control-label">Current Manager</label>
                                    <div class="col-xs-8" valdr-form-group>
                                        <input type="text" name="currentmanager" id="currentmanager" ng-model="employee.companydetails[0].manager.displayName" class="form-control" readonly/>
                                    </div>
                                </div>

                                <div class="form-group required-field">
                                    <label class="col-xs-3 control-label">{{labels.edit.status}}</label>
                                    <div class="col-xs-8">
                                        <select name="status" ng-model="employee.companydetails[0].status.id" class="form-control"
                                                ng-change="resetTerminationDate()"
                                                ng-options="lov.id as lov.name for lov in statusLovs">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="col-xs-3 control-label">Last Active From</label>
                                    <div class="col-xs-8">
                                        <input  type="text" ng-model="oldActiveFrom" name="oldActiveFrom" class="form-control" readonly />
                                    </div>
                                </div>

                                <div class="form-group has-feedback required-field">
                                    <label class="col-xs-3 control-label">{{labels.edit.activefrom}}</label>
                                    <div class="col-xs-8">
                                        <input  type="text" ng-model="employee.companydetails[0].activeFrom.text" name="activeFrom" squer-datepicker class="form-control"/>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.dol}}</label>
                            <div class="col-xs-8">
                                <input type="text" name="dateOfLeaving" ng-model="employee.dateOfLeaving.text" class="form-control"
                                       ng-readonly='employee.companydetails[0].status.id !="EMPLS0000007160736a014b7e7ad4d0008000"' squer-datepicker/>
                            </div>
                        </div>
                        <div class="col-xs-18 col-xs-offset-4">
                            <button type="submit" ng-disabled="employeeForm.$invalid" ng-show='usercontext=="sysadmin"' class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    </tab>
                    <tab heading="Security info" ng-click="viewSecurityInfo()" ng-show='usercontext=="sysadmin"' >
                        <table class="table table-striped">
                            <thead>
                            <tr><th>Role</th>
                                <th>Action</th></tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="role in roles">
                                <td>
                                    <input type="checkbox" checklist-model="employee.user.roles" checklist-value="role">
                                </td>
                                <td>{{role.displayName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                    <tab heading="Change Password" ng-show='usercontext=="sysadmin"'>

                    </tab>
                    <tab heading="View Profile History" ng-click="viewAllCompDetails()" ng-show='usercontext=="sysadmin"' >

                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Manager</th>
                                <th>Job Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="d in data">
                                <td><span>{{d.manager.displayName}}</span>
                                </td>
                                <td>
                                    <span>{{d.jobTitle.displayName}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
            </fieldset>
        </div>


    </div>
</div>

<div>
    <script type="text/ng-template" id="managerHistory.html">
    </script>
</div>

<script >
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        dateformat:'dd/mm/yyyy'
    });
</script>
