<div class="panel"  style="min-height: 550px" ng-controller="EmployeeStatusController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                        <div class="col-xs-8">
                                <input type="text" name="name" ng-model="employeeStatus.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.internalStatus}}</label>
                        <div class="col-xs-8">
                            <select name="parent" ng-model="employeeStatus.internalStatus.id" class="form-control"
                                    ng-options="lov.id as lov.name for lov in statusLovs">
                                <option value="">Select {{labels.edit.internalStatus}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary">{{links.save}}</button>
                    </div>
                </form>
        </div>


    </div>
</div>


