
        <div class="panel"  style="min-height: 550px" ng-controller="ExpenseTypeController" ng-init="init()">

            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        {{labels.title}}
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                        <form class="form-horizontal" name="expenseType" ng-submit="save()">
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                                <div class="col-xs-8">
                                    <input type="text" name="name"  class="form-control" ng-model="definition.name"/>
                                </div>
                            </div>
                            <div class="col-xs-11 col-xs-offset-4">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Designation</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><select name="parent" ng-model="dummy.id" class="form-control"
                                                              ng-options="designation.id as designation.name for designation in designations">
                                                 <option value="">Select {{labels.edit.designation}}</option>
                                            </select>
                                            </td>
                                            <td>
                                                <a type="button" ng-click="addAnother()" >{{links.addAnother}}</a>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="designation in definition.jobTitles">
                                            <td>{{designation.displayName}}</td>
                                            <td><a ng-click="removeDesignation(designation.id)">Remove</a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-xs-18 col-xs-offset-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                        </form>
                </div>


            </div>
        </div>



