<div class="panel"  style="min-height: 550px" ng-controller="ExpenseApprovalEditController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        {{labels.title}}
                    </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="businessUnitForm" ng-submit="updateStatus()">

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.update.status}}</label>
                    <div class="col-xs-8">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{expense.status.displayName}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.update.newStatus}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="newStatus" class="form-control">
                            <option value="">Select a Status</option>
                            <option value="USRLVEXPSTS00000000000000000000000001">Draft</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>