<div class="panel"  style="min-height: 550px" ng-controller="HolidayController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Holiday
                    </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-inline" name="holidayForm" ng-submit="save()">
            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Active</label>
                    <div class="col-xs-8">
                        <input type="checkbox" name="name" ng-model="definition.active" id="isActive" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">&nbsp;</div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>