<div class="panel"  style="min-height: 550px" ng-controller="CommonSearchController" ng-init="search()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Holiday
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="formFields" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer">
            <table class="table table-bordered table-striped" ng-controller="HolidayController">
                <thead>
                <tr>
                    <th>Holiday</th>
                    <th>Active</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td width="500px">
                        <span id="{{d.id}}_label">{{d.name}}</span>
                        <input type="hidden"  id="{{d.id}}_id" ng-model="updateArray[$index].id" ng-value="d.id">
                        <input type="hidden" id="{{d.id}}_text" class="form-control" style="width: 200px" ng-model="updateArray[$index].name" ng-value="d.name">
                    </td>
                    <td width="500px">
                        <div>
                            <input id="{{d.id}}_active" type="checkbox" ng-model="d.active" disabled/>
                        </div>
                    </td>
                    <td width="500px">
                        <a  id="{{d.id}}_edit" class="ng-scope" ng-click="edit(d)"><img class="icon" src="images/edit.png"></a>
                        <button id="{{d.id}}_save" type="submit" class="btn btn-primary btn-xs" style="display: none" ng-click="update(d.id)">Save</button>
                    </td>
                </tr>
                <tr id="lastTr" ng-controller="HolidayController" style="display: table-row">
                    <td><input type="text" class="form-control" style="width: 200px" ng-model="definition.name"></td>
                    <td><input type="checkbox" name="name" ng-model="definition.active"></td>
                    <td><span class=""><a ng-click="save()" class="btn btn-primary btn-xs">Save</a></span></td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata"></div>
    </div>
 </div>

