<div class="panel"  style="min-height: 550px" ng-controller="HolidayPlanerController" ng-init="planer()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Holiday Planer
            </span>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-xs-3">
            <label class="control-label">Select Year</label>
        </div>
        <div class="col-xs-5">
            <select class="form-control" ng-model="hld_Yr">
               <option data-ng-repeat="yr in yearList" ng-selected="yr==currentYr">{{yr}}</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" ng-click="getHolidays(hld_Yr)">Get Holidays</button>
        </div>
    </div>

    <div style="height: 20px"></div>
    <div class="row">
        <div class="col-xs-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="3">
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align: bottom">Holiday</th>
                        <th style="vertical-align: bottom">Date</th>
                        <th style="vertical-align: bottom">All</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="d in displayData" height="60">
                    <td width="100px" style="vertical-align: middle">{{d.holidayDTO.name | capitalize}}</td>
                    <td width="500px" style="vertical-align: middle">
                        <span ng-show="d.isStored==false">
                          <div class="row">
                              <div class="col-xs-22">
                                  <input type="text" class="form-control" squer-datepicker-future-date ng-model="d.holidayDTO.date.text" />
                              </div>
                              <div class="col-xs-1" style="margin-top: 5px;display: none">
                                  <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                              </div>
                          </div>
                        </span>
                        <span ng-show="d.isStored==true">
                            <div class="row">
                                <div class="col-xs-22">
                                    <input type="text" class="form-control" squer-datepicker-future-date ng-model="d.holidayDTO.date.text" />
                                </div>
                                <div class="col-xs-1" style="margin-top: 5px">
                                    <button class="btn btn-default btn-xs" ng-click="changeDate(d.holidayDTO.id,d.holidayDTO.date.text)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </span>
                    </td>
                    <td width="100px" style="vertical-align: middle">
                        <input  id="{{d.holidayDTO.id}}_checkAll" type="checkbox" ng-model="d.checkAll" class="pull-right"
                                ng-click="updateAllState(d.holidayDTO.id,d.holidayDTO.name,d.holidayDTO.date.text)"/>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-17" style="overflow-x:scroll;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th  data-ng-repeat="s in stateList">{{s.name}}</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="d in displayData" height="60">
                    <td data-ng-repeat="state in d.stateList track by $index" style="text-align: center;vertical-align: middle">
                        <input type="checkbox"  id="{{state.stateId}}_{{d.holidayDTO.id}}_check" ng-model="state.status" ng-click="updateHoliday(state.stateId,state.stateName,d.holidayDTO.id,d.holidayDTO.name,d.holidayDTO.date.text,d.checkAll)"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>