<div class="panel"  style="min-height: 550px" ng-controller="IssueRequestController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10  control-label">Issue reported By</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="name" ng-model="definition.reportedBy.displayName" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10  control-label">Reported On</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="name" ng-model="definition.createdOn.text" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10  control-label">Error Occur At</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="name" ng-model="definition.module.displayName" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10  control-label">Error Reported</label>
                            <div class="col-xs-14" valdr-form-group>
                                <textarea class="form-control" cols="5" rows="8" ng-model="definition.errorReport" disabled></textarea>
                            </div>
                        </div>
                     </div>

                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10 control-label">Reply</label>
                            <div class="col-xs-14" valdr-form-group>
                                <textarea class="form-control" cols="5" rows="8" ng-model="definition.reply"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10  control-label">Type</label>
                            <div class="col-xs-14" valdr-form-group>
                                <select class="form-control" ng-model="definition.type.id"
                                        ng-options="t.id as t.name for t in types">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="col-xs-10  control-label">Status</label>
                            <div class="col-xs-14" valdr-form-group>
                                <select class="form-control" ng-model="definition.status.id"
                                        ng-options="s.id as s.name for s in issueStatus">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                     </div>
                </div>

                <div class="col-xs-18 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>