<div class="panel"  style="min-height: 550px" ng-controller="leaveDetailController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Search Leave Details
            </span>
        </div>
    </div>

    <div class="panel-body">
        <fieldset class="dynamic-fieldset">
            <legend>Search</legend>
            <div class="row">
                <div class="col-xs-3">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Employee Code</span>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="empCode">
                </div>
                <div class="col-xs-3">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Select Year</span>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="year">
                        <option ng-repeat="y in years" value="{{y}}" ng-selected="y==year">{{y}}</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary pull-right" ng-click="search()">Search</button>
                </div>
            </div>
        </fieldset>


        <fieldset class="dynamic-fieldset" ng-show="leaveBalance.length>0"  style="margin-top: 20px">
            <legend style="color:#0c0c0c;font-size: medium">Leave Balance</legend>
            <div class="col-xs-15">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Leave Type</th>
                            <th style="text-align: center">Total Leaves</th>
                            <th style="text-align: center">consumed</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in leaveBalance">
                            <td width="200px">{{l.type.displayName}}</td>
                            <td width="100px" style="text-align: center">{{l.opening}}</td>
                            <td width="100px" style="text-align: center">{{l.consumed}}</td>
                            <td width="100px"><input type="text" class="form-control" ng-model="l.balance"></td>
                            <td width="100px">
                                <button class="btn btn-link squerlink btn-sm" ng-click="updateLeave(l)">Update Leave</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="dynamic-fieldset" ng-show="leaveData.length>0"  style="margin-top: 20px">
            <legend style="color:#0c0c0c;font-size: medium">Leave History</legend>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th style="text-align: center">Leave From</th>
                        <th style="text-align: center">Leave To</th>
                        <th style="text-align: center">Total Leave Days</th>
                        <th style="">Status</th>
                        <th>Approved On</th>
                        <th>Approved By</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in leaveData">
                            <td>{{l.leaveType.displayName}}</td>
                            <td style="text-align: center">{{l.leaveStartDate.text}}</td>
                            <td style="text-align: center">{{l.leaveEndDate.text}}</td>
                            <td style="text-align: center">{{l.actualLeaveDays}}</td>
                            <td style="">{{l.status.displayName}}</td>
                            <td style="text-align: center">{{l.updatedOn.text}}</td>
                            <td style="text-align: center">{{l.actionBy.displayName}}</td>
                            <td style="text-align: center">
                                <button class="btn btn-link squerlink btn-sm" ng-click="approve(l.id)" ng-show="l.status.id=='SYSLV50000000000000000000000000000111'">Approve Leave</button>
                            </td>
                            <td style="text-align: center">
                                <button class="btn btn-link squerlink btn-sm" ng-click="cancelLeave(l)"
                                        ng-show="l.status.id=='SYSLV50000000000000000000000000000111' || l.status.id=='SYSLV50000000000000000000000000000112'">
                                    Cancel Leave
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>