<div class="panel"  style="min-height: 550px"  ng-controller="LeaveReportController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span class="squerfont-large" style="vertical-align: middle;padding-top: 23px;padding-left: 10px">
                Leave Report
            </span>
        </div>
    </div>

    <div class="panel-body">
        <form template="stdFormTemplate" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope">
            <fieldset class="dynamic-fieldset">
                <legend>Search</legend>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Division</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="division"
                                ng-model="leaveDivision"
                                ng-options="d.id as d.name for d in divisions">
                            <option value="">Select All</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Year</label>
                        </div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="year"
                                ng-model="leaveYear">
                            <option value="{{y}}" ng-selected="y==year" ng-repeat="y in years">{{y}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="search()">Search</button>
                </div>
            </fieldset>
        </form>

        <div style="width: 100%;overflow-x: auto" ng-show="leaveData.length>0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="3" style="text-align: center">Sick Leave</th>
                        <th colspan="3" style="text-align: center">Casual Leave</th>
                        <th colspan="3" style="text-align: center">Privilege Leave</th>
                        <th colspan="3" style="text-align: center">Maternity Leave</th>
                    </tr>
                    <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Joining Date</th>
                        <th>Leaving Date</th>

                        <th style="border-left:solid;border-left-width:1px;border-left-color:#000000">Opening</th>
                        <th>Consumed</th>
                        <th>Balance</th>
                        <th style="border-left:solid;border-left-width:1px;border-left-color:#000000">Opening</th>
                        <th>Consumed</th>
                        <th>Balance</th>
                        <th style="border-left:solid;border-left-width:1px;border-left-color:#000000">Opening</th>
                        <th>Consumed</th>
                        <th>Balance</th>
                        <th style="border-left:solid;border-left-width:1px;border-left-color:#000000">Opening</th>
                        <th>Consumed</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in leaveData">
                        <td>{{d.EMPLOYEE_CODE}}</td>
                        <td>{{d.EMPLOYEE_NAME}}</td>
                        <td>{{d.JOINING_DATE.text}}</td>
                        <td>{{d.LEAVINF_DATE.text}}</td>
                        <td style="border-left:solid;border-left-width:1px;border-left-color:#000000;text-align: center">{{d.SICK_OB}}</td>
                        <td style="text-align: center">{{d.SICK_CON}}</td>
                        <td style="text-align: center">{{d.SICK_BAL}}</td>
                        <td style="border-left:solid;border-left-width:1px;border-left-color:#000000;text-align: center">{{d.CALSUAL_OB}}</td>
                        <td style="text-align: center">{{d.CALSUAL_CON}}</td>
                        <td style="text-align: center">{{d.CALSUAL_BAL}}</td>
                        <td style="border-left:solid;border-left-width:1px;border-left-color:#000000;text-align: center">{{d.P_OB}}</td>
                        <td style="text-align: center">{{d.P_CON}}</td>
                        <td style="text-align: center">{{d.P_BAL}}</td>
                        <td style="border-left:solid;border-left-width:1px;border-left-color:#000000;text-align: center">{{d.M_OB}}</td>
                        <td style="text-align: center">{{d.M_CON}}</td>
                        <td style="text-align: center">{{d.M_BAL}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>