        <div class="panel"  style="min-height: 550px" ng-controller="LocationController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        {{labels.title}}
                    </span>

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                        <form class="form-horizontal" name="businessUnitForm" ng-submit="save()" novalidate valdr-type="Location">
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.code}}</label>
                                <div class="col-xs-8">
                                    <input type="text" name="code" ng-model="definition.code" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.division}}</label>
                                <div class="col-xs-8" valdr-form-group ng-show="definition.id==null">
                                    <select name="division" ng-model="definition.division.id"
                                            ng-options="division.id as division.name for division in divisions" class="form-control" >
                                        <option value="">Select a {{labels.edit.division}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-8" valdr-form-group ng-show="definition.id!=null">
                                    <select name="division" ng-model="definition.division.id"
                                            ng-options="division.id as division.name for division in divisions" class="form-control" readonly >
                                        <option value="">Select a {{labels.edit.division}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Type</label>
                                <div class="col-xs-8" valdr-form-group ng-show="definition.id==null">
                                    <select name="type" ng-model="definition.definition.id"
                                            ng-options="definition.id as definition.name for definition in types" class="form-control">
                                        <option value="">Select a Type</option>
                                    </select>
                                </div>
                                <div class="col-xs-8" valdr-form-group ng-show="definition.id!=null">
                                    <select name="type" ng-model="definition.definition.id"
                                            ng-options="definition.id as definition.name for definition in types" class="form-control" readonly>
                                        <option value="">Select a Type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">Parent Type</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <select name="parenttype" ng-model="parenttype"
                                            ng-options="definition.id as definition.name for definition in types" class="form-control"
                                            ng-change="updateList('locat', {'division_id':definition.division.id,'hierarchy_id':parenttype}, 0)">
                                        <option value="">Select Parent Type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.parent}}</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <select name="parent" ng-model="definition.parent.id"
                                            ng-options="p.id as p.name+' - '+p.definition.displayName for p in parents" class="form-control">
                                        <option value="">Select a Parent</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.state}}</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <select name="state" ng-model="definition.state.id"
                                            ng-change="getStateTowns(definition.state.id)"
                                            ng-options="state.id as state.name for state in states" class="form-control">
                                        <option value="">Select a {{labels.edit.state}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.town}}</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <select name="hqTown" ng-model="definition.hqTown.id"
                                            ng-options="city.id as city.name for city in cities" class="form-control">
                                        <option value="">Select a Town</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.status}}</label>
                                <div class="col-xs-8" valdr-form-group>
                                    <select name="status" ng-model="definition.status.id"
                                            ng-options="status.id as status.name for status in statusList" class="form-control">
                                        <option value="">Select a {{labels.edit.status}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">SAP Location Code</label>
                                <div class="col-xs-8">
                                    <input type="text" name="sapLocation" ng-model="definition.sapLocation" class="form-control"/>
                                </div>
                            </div>

                            <div class="col-xs-18 col-xs-offset-4">
                                <button type="submit" ng-disabled="businessUnitForm.$invalid" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
