
    <div class="panel"  style="min-height: 550px"   ng-controller="OrganizationHierarchyController" ng-init="init()">

        <div class="panel-heading page-title">
            <div class="row">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    {{labels.title}}
                </span>

            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                    <form class="form-horizontal" name="businessUnitDefinitionForm" ng-submit="save()">
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">Name</label>
                            <div class="col-xs-8">
                                <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">Parent</label>
                            <div class="col-xs-8">
                                <select name="parent" ng-model="definition.parent.id" class="form-control"
                                        ng-options="parent.id as parent.name for parent in parents">
                                        <option value="">Select a Parent</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">Has State</label>
                            <div class="col-xs-8">
                                <input type="checkbox" ng-model="definition.state" >
                            </div>
                        </div>
                        <div class="col-xs-18 col-xs-offset-4">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
            </div>


        </div>
    </div>

</div>




