<div class="panel"  style="min-height: 550px" ng-controller="downloadRequest" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Download Reports
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2"><label><span class="pull-right"> Select Report </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_type">
                    <option value="">Select</option>
                    <option value="docInput">Doctor input summary</option>
                    <option value="coachingReport">Coaching report</option>
                    <option value="brandSpeciality">Brand and speciality report</option>
                    <option value="brandSequence">Brand sequence report</option>
                    <option value="pob">POB report</option>
                </select>
            </div>
        </div>
        <div style="height:20px;"></div>
        <div class="row">
            <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_div" ng-options="d.id as d.name for d in divisions_dml" ng-change="getZone(rptDownload_div,'rptDownload')"><option value="">Select</option></select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right">Zone</span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_zone" ng-options="z.id as z.name for z in zones_dml" ng-change="getChild(rptDownload_zone,'2')"><option value="">Select</option></select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right">Region</span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_region" ng-options="r.id as r.name for r in regionList" ng-change="getChild(rptDownload_region,'1')"><option value="">Select</option></select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right">Territory</span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_territory" ng-options="t.id as t.name for t in territoryList"><option value="">Select</option></select>
            </div>
        </div>
        <div style="height:10px;"></div>
        <div class="row">
            <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rptDownload_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rptDownload_toDate" name="nDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary pull-right btn-sm" value="CSV" ng-click="downloadReports('csv')"></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm" value="Excel" ng-click="downloadReports('excel')"></div>
        </div>


        <div class="panel-heading page-title" style="margin-top: 40px">
            <span style="vertical-align: middle;padding-left: 6px;font-weight: bold">
                Download Doctor Visit report
            </span>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptdocVisit_div" ng-options="d.id as d.name for d in divisions_dml" ng-change="getActivity(rptdocVisit_div)"><option value="">Select</option></select>
            </div>
            <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rptdocVisit_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rptdocVisit_toDate" name="nDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right"> Job Title </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="jobTitle" ng-options="j.id as j.name for j in jobTitles"><option value="">Select</option></select>
            </div>
        </div>
        <div style="height:10px;"></div>
        <div class="row">
            <div class="col-xs-2"><label><span class="pull-right"> Activity </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptdocVisit_activity" ng-options="a.id as a.name for a in activities"><option value="">Select</option></select>
            </div>
            <div class="col-xs-2"><label><span class="pull-right"> Is KOL </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptdocVisit_isKol">
                    <option value="0">Select</option>
                    <option value="1">True</option>
                    <option value="0">False</option>

                </select>
            </div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary pull-right btn-sm" value="CSV" ng-click="downloadVisitReports('csv')"></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm" value="Excel" ng-click="downloadVisitReports('excel')"></div>
        </div>

        <div class="panel-heading page-title" style="margin-top: 40px">
            <span style="vertical-align: middle;padding-left: 6px;font-weight: bold">
                Download Speciality Coverage report
            </span>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_div" ng-options="d.id as d.name for d in divisions_dml" ng-change="getZone(rptDownload_div,'rptDownload')"><option value="">Select</option></select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right">Zone</span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_zone" ng-options="z.id as z.name for z in zones_dml" ng-change="getChild(rptDownload_zone,'2')"><option value="">Select</option></select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right">Region</span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_region" ng-options="r.id as r.name for r in regionList" ng-change="getChild(rptDownload_region,'1')"><option value="">Select</option></select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right">Territory</span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rptDownload_territory" ng-options="t.id as t.name for t in territoryList"><option value="">Select</option></select>
            </div>
        </div>
        <div style="height:10px;"></div>
        <div class="row">
            <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rptDownload_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rptDownload_toDate" name="nDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary pull-right btn-sm" value="CSV" ng-click="downloadSpecialityCoverageReport('csv')"></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm" value="Excel" ng-click="downloadSpecialityCoverageReport('excel')"></div>

        </div>



        <div class="panel-heading page-title" style="margin-top: 40px">
            <span style="vertical-align: middle;padding-left: 6px;font-weight: bold">
                RCPA report
            </span>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-2"><label><span class="pull-right"> Select Report </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rcpa_type">
                    <option value="">Select</option>
                    <option value="rcpa_own">Own Brands</option>
                    <option value="rcpa_comp">Competition Brands</option>
                </select>
            </div>

            <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="rcpaOwn_div" ng-options="d.id as d.name for d in divisions_dml"><option value="">Select</option></select>
            </div>
            <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rcpaOwn_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="rcpaOwn_toDate" name="nDate" squer-datepicker class="form-control"/></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm pull-right" value="CSV" ng-click="downloadRcpa('csv')"></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm" value="Excel" ng-click="downloadRcpa('excel')"></div>
        </div>



        <div class="panel-heading page-title" style="margin-top: 40px">
            <span style="vertical-align: middle;padding-left: 6px;font-weight: bold">
                Joint Visit Report
            </span>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="jointVisit_div" ng-options="d.id as d.name for d in divisions_dml"><option value="">Select</option></select>
            </div>
            <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="jointVisit_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="jointVisit_toDate" name="nDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right"> Job Title </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="jointVisit_jobtitle" ng-options="j.id as j.name for j in jobTitles"><option value="">Select</option></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm pull-right" value="CSV" ng-click="downloadJointVisit('csv')"></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm" value="Excel" ng-click="downloadJointVisit('excel')"></div>
        </div>

        <div class="panel-heading page-title" style="margin-top: 40px">
            <span style="vertical-align: middle;padding-left: 6px;font-weight: bold">
                Non Call Activity Report
            </span>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="nonCall_div" ng-options="d.id as d.name for d in divisions_dml"><option value="">Select</option></select>
            </div>
            <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="nonCall_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
            <div class="col-xs-4"><input  type="text" ng-model="nonCall_toDate" name="nDate" squer-datepicker class="form-control"/></div>
            <!--div class="col-xs-2"><label><span class="pull-right"> Job Title </span></label></div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="jointVisit_jobtitle" ng-options="j.id as j.name for j in jobTitles"><option value="">Select</option></select>
            </div-->
        </div>
        <div class="row">
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm pull-right" value="CSV" ng-click="downloadNonCallReport('csv')"></div>
            <div class="col-xs-4"><input type="button" class="btn btn-primary btn-sm" value="Excel" ng-click="downloadNonCallReport('excel')"></div>
        </div>
    </div>
</div>