<div class="panel"  style="min-height: 550px" ng-controller="downloadRequest" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Download Requests
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download Town Request</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="col-xs-24" style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
                <div class="col-xs-4"><input  type="text" ng-model="townReq.fromDate" name="mDate" squer-datepicker class="form-control"/></div>
                <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
                <div class="col-xs-4"><input  type="text" ng-model="townReq.toDate" name="nDate" squer-datepicker class="form-control"/></div>
                <div class="col-xs-4"><label><span style="text-align: center">{{towndisplayMsg}}</span></label></div>
                <div class="col-xs-3">
                    <input type="button" class="btn btn-primary pull-right" value="Download" ng-click="downloadReq('town')">
                </div>
            </div>
        </div>

        <div class="col-xs-24" style="height: 30px"></div>
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download Distance Request</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="col-xs-24" style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> From Date </span></label></div>
                <div class="col-xs-4"><input  type="text" ng-model="distReq.fromDate" name="mDate" squer-datepicker class="form-control"/></div>
                <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
                <div class="col-xs-4"><input  type="text" ng-model="distReq.toDate" name="dDate" squer-datepicker class="form-control"/></div>
                <div class="col-xs-4"><label><span style="text-align: center">{{distdisplayMsg}}</span></label></div>
                <div class="col-xs-3">
                    <input type="button" class="btn btn-primary pull-right" value="Download" ng-click="downloadReq('distance')">
                </div>
            </div>
        </div>

        <div class="col-xs-24" style="height: 30px"></div>
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download Field Structure</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="col-xs-24" style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="field_div" ng-options="d.id as d.name for d in divisions_field" ng-change="getZone(field_div,'field')"><option value="">Select</option></select>
                </div>
                <div class="col-xs-2"><label><span class="pull-right">Zone </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="field_zone" ng-options="z.id as z.name for z in zones_field"><option value="">Select</option></select>
                </div>
                <div class="col-xs-4"><label><span style="text-align: center">{{distdisplayMsg}}</span></label></div>
                <div class="col-xs-3">
                    <input type="button" class="btn btn-primary pull-right" value="Download" ng-click="downFieldStructure()">
                </div>
            </div>
        </div>

        <div class="col-xs-24" style="height: 30px"></div>
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download DML</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="col-xs-24" style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_div" ng-options="d.id as d.name for d in divisions_dml" ng-change="getZone(dml_div,'dml')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Zone</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_zone" ng-options="z.id as z.name for z in zones_dml" ng-change="getChild(dml_zone,'2')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Region</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_region" ng-options="r.id as r.name for r in regionList" ng-change="getChild(dml_region,'1')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Territory</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_territory" ng-options="t.id as t.name for t in territoryList"><option value="">Select</option></select>
                </div>
            </div>
            <div class="col-xs-24" style="height: 30px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right">Speciality</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_speciality" ng-options="s.id as s.name for s in speciality"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Classification</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_classification" ng-options="c.id as c.name for c in classification"><option value="">Select</option></select>
                </div>
                <div class="col-xs-4"><label><span style="text-align: center">{{distdisplayMsg}}</span></label></div>
                <div class="col-xs-3">
                    <input type="button" class="btn btn-primary pull-right" value="Download" ng-click="downloadDML()">
                </div>
            </div>
        </div>

        <div class="col-xs-24" style="height: 30px"></div>
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download DML with UID</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            
            <div class="row">
                <!--div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_uid_div" ng-options="d.id as d.name for d in divisions_dml" ng-change="getZone(dml_uid_div,'dml')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Zone</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_uid_zone" ng-options="z.id as z.name for z in zones_dml" ng-change="getChild(dml_uid_zone,'2')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Region</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_uid_region" ng-options="r.id as r.name for r in regionList" ng-change="getChild(dml_uid_region,'1')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Territory</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_uid_territory" ng-options="t.id as t.name for t in territoryList"><option value="">Select</option></select>
                </div>
            </div>
            <div class="col-xs-24" style="height: 30px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right">Speciality</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_uid_speciality" ng-options="s.id as s.name for s in speciality"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Classification</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="dml_uid_classification" ng-options="c.id as c.name for c in classification"><option value="">Select</option></select>
                </div-->
                <div><label><span style="text-align: center">{{distdisplayMsg}}</span></label></div>
                    <input type="button" class="btn btn-primary pull-left" value="Download" ng-click="downloadDMLwithUID()">
                </div>
            </div>
        </div>
    <div class="panel-body">
        <div class="col-xs-24" style="height: 30px"></div>
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download Chemist List</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="col-xs-24" style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> Division </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="cdml_div" ng-options="d.id as d.name for d in divisions_dml" ng-change="getZone(cdml_div,'cdml')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Zone</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="cdml_zone" ng-options="z.id as z.name for z in zones_cdml" ng-change="getChild(cdml_zone,'2')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Region</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="cdml_region" ng-options="r.id as r.name for r in regionList" ng-change="getChild(cdml_region,'1')"><option value="">Select</option></select>
                </div>

                <div class="col-xs-2"><label><span class="pull-right">Territory</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="cdml_territory" ng-options="t.id as t.name for t in territoryList"><option value="">Select</option></select>
                </div>
            </div>
            <div class="col-xs-24" style="height: 30px"></div>
            <div class="row">
                <div class="col-xs-19">
                    <input type="button" class="btn btn-primary pull-left" value="Download" ng-click="downloadChemistDML()">
                </div>
            </div>
        </div>
        </div>

    <div class="panel-body">
    <div class="col-xs-24" style="height: 30px"></div>
    <div class="well well-lg" style="background-color: transparent;">
        <div class="col-xs-24">
            <span style="font-size: medium">Download Productivity Data</span>
        </div>
        <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
        <div class="col-xs-24" style="height: 20px"></div>
        <input type="button" class="btn btn-primary" value="Status" ng-click="productivityStatus()">
        <input type="button" class="btn btn-primary" value="Non Prescribers" ng-click="nonPrescriberStatus()">
        <input type="button" class="btn btn-primary" value="Productivity Data" ng-click="productivityData()">
    </div>

        <div class="col-xs-24" style="height: 30px"></div>
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Download Brand Reports</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="col-xs-24" style="height: 20px"></div>
            <input type="button" class="btn btn-primary" value="Product Report" ng-click="brandReport()">
            <input type="button" class="btn btn-primary" value="Competitor Brand Report" ng-click="competitorBrandReport()">
        </div>
    </div>
</div>




<script >
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        dateformat:'YYYY-MM-DD'
    });
</script>