<div class="panel"  style="min-height: 550px" ng-controller="RoleConfigController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Role Configuration
            </span>

        </div>
    </div>


    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="configForm" ng-submit="save()">
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="definition.name" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.division}}</label>
                    <div class="col-xs-8">
                        <select name="category" ng-model="definition.division.id"
                                ng-options="d.id as d.name for d in divisions" class="form-control">
                            <option value="">Select a {{labels.edit.division}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.jobTitle}}</label>
                    <div class="col-xs-8">
                        <select name="category" ng-model="definition.jobTitle.id"
                                ng-options="j.id as j.name for j in jobTitles" class="form-control">
                            <option value="">Select a {{labels.edit.jobTitle}}</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.role}}</label>
                    <div class="col-xs-8">
                        <select name="category" ng-model="definition.securityRole.id"
                                ng-options="r.id as r.name for r in roles" class="form-control">
                            <option value="">Select a {{labels.edit.role}}</option>
                        </select>

                    </div>
                </div>


                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>