<div class="panel"  style="min-height: 550px" ng-controller="SLController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Situational Leadership Definition
            </span>
        </div>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Select Job Title</label>
                <div class="col-xs-3">
                    <select class="form-control"
                            ng-model="jobTitle"
                            ng-options="j.id as j.name for j in jobTitles">
                        <option value="">select</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                </div>
            </div>
        </form>

        <table class="table table-striped" ng-show="results.length>0">
            <thead>
                <th width="20px">Sequence</th>
                <th>Title</th>
                <th>Benchmark</th>
                <th width="50px">Active</th>
                <th width="130px"></th>
            </thead>
            <tbody>
                <tr ng-repeat="r in results">
                    <td><input type="text" class="form-control" ng-model="r.sequence" style="text-align: center"></td>
                    <td><input type="text" class="form-control" ng-model="r.title" ng-disabled="r.id!=null"></td>
                    <td><textarea class="form-control" ng-model="r.benchmark" rows="1" cols="30"></textarea></td>
                    <td style="vertical-align: middle;text-align: center">
                        <any ng-show="r.id!=null">
                            <input id="{{r.id}}" type="checkbox" ng-click="updateStatus(r)" ng-checked="r.status.id=='USRLVSLST0000000000000000000000000001'">
                        </any>
                    </td>
                    <td style="vertical-align: middle;text-align: center">
                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="add()">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td> <td></td><td></td><td></td>
                    <td style="text-align: center"><input type="button" class="btn btn-primary" value="Save" ng-click="save()"></td>
                </tr>
            </tbody>
        </table>
   </div>
</div>
