<div class="panel"  style="min-height: 550px" ng-controller="StandardExpenseController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Standard Expense
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="standardExpenseForm" ng-submit="save()">

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">{{labels.edit.type}}</label>
                    <div class="col-xs-6">
                        <select name="parent" ng-model="standardExpense.expenseType.id"
                                class="form-control"
                                ng-options="expense.id as expense.displayName for expense in expenseTypes">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">{{labels.edit.location}}</label>
                    <div class="col-xs-6">
                        <select name="parent" ng-model="standardExpense.locationType.id"
                                class="form-control" ng-disabled="isDisabled()!='loc'"
                                ng-options="location.id as location.name for location in locations">

                            <option value="">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">{{labels.edit.designation}}</label>
                    <div class="col-xs-6">
                        <select name="parent" ng-model="standardExpense.jobTitles.id"
                                class="form-control"
                                ng-options="design.id as design.name for design in designations">
                                <option value="">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">DIVISION</label>
                    <div class="col-xs-6">
                        <select name="parent" ng-model="standardExpense.division.id"
                                class="form-control"
                                ng-options="d.id as d.name for d in divsnList">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">CATEGORY</label>
                    <div class="col-xs-6">
                        <user-lov type="town_category" value="standardExpense.category.id" default-text="Select"/>
                    </div>
                </div>

                <div ng-show="isDisabled()=='dist'">

                    <div class="form-group">
                        <label class="col-xs-2 col-xs-offset-1">MIN VALUE</label>
                        <div class="col-xs-6"><input type="text" class="form-control" ng-model="standardExpense.expenseValue.minValue"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 col-xs-offset-1">MAX VALUE</label>
                        <div class="row col-xs-10">
                            <div class="col-xs-14">
                                <input type="text" id= "maxVal" class="form-control" ng-model="standardExpense.expenseValue.maxValue">
                            </div>
                            <div class="col-xs-8" style="padding-top: 7px">
                                <input type="checkbox" id="setMax" ng-click="setMaxVal()"> For all above
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="isDisabled()=='dist' || isDisabled()=='sun'">
                    <label class="col-xs-2 col-xs-offset-1">IS EDITABLE</label>
                    <div class="col-xs-6"><input type="CHECKBOX" style="margin-top: 8px" ng-model="standardExpense.expenseValue.editable"></div>
                </div>


                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">VALUE</label>
                    <div class="col-xs-6">
                        <input type="text" ng-model="standardExpense.expenseValue.value" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">VALID FROM</label>
                    <div class="col-xs-6">
                        <input type="text" ng-model="standardExpense.validFrom.text" class="form-control"
                                 value="{{standardExpense.validFrom.text | date:'dd/MM/yyyy'}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1">VALID TO</label>
                    <div class="col-xs-6">
                        <input type="text" ng-model="standardExpense.validTo.text" class="form-control"
                               value="{{standardExpense.validTo.text | date:'dd/MM/yyyy'}}"/>
                    </div>
                </div>


                <div class="col-xs-18 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>


    </div>
</div>
