<div class="panel"  style="min-height: 550px"  ng-controller="StateController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="businessUnitForm" ng-submit="save()">
                    <div class="form-group required-field">
                        <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary" ng-disabled="businessUnitForm.$invalid">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>




