<div class="panel"  style="min-height: 550px" ng-controller="TownController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Town
            </span>

        </div>
    </div>


    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="TownForm" ng-submit="save()">
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.town}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="definition.name" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.primaryZip}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="definition.primaryZip" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.category}}</label>
                    <div class="col-xs-8">
                        <select name="category" ng-model="definition.category.id"
                                ng-options="c.id as c.name for c in categories" class="form-control">
                            <option value="">Select a {{labels.edit.category}}</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.state}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="definition.state.id"
                                ng-options="state.id as state.name for state in states" class="form-control">
                            <option value="">Select a {{labels.edit.state}}</option>
                        </select>
                    </div>
                </div>

                <!--div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.zips}}</label>
                    <div class="col-xs-8">
                        <input name="zips" ng-model="definition.secondaryZips" ng-list required>
                    </div>
                </div-->


                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>