<div class="panel"  style="min-height: 550px" ng-controller="unlockRequestController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Unlock Reporting Request</span>
        </div>
    </div>

    <div class="panel-body">
        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Daily Reporting Unlock</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="row" style="margin-top: 40px">
                <div class="col-xs-3" style="font-weight: bold;padding-top: 5px">Employee Code</div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="unlockUser_DL">
                </div>
                <div class="col-xs-2">
                    <input type="button" class="btn btn-primary" value="Search" ng-click="search('MOBILE_REPORTING')">
                </div>
                <div class="col-xs-2" ng-show="showTable">
                    <input type="radio" style="margin-top: 10px" ng-checked="configuration.status" name="reportLocking" ng-click="lock()"> Lock
                </div>
                <div class="col-xs-3" ng-show="showTable">
                    <input type="radio" style="margin-top: 10px" ng-checked="!configuration.status" name="reportLocking" ng-click="unlock('mobile_reporting')"> Unlock
                </div>
            </div>
            <div class="row" ng-show="configuration.id!=null" style="margin-top: 20px">
                <div class="col-xs-4"><span style="font-weight: bold">Current Status:</span></div>
                <div class="col-xs-4"><span style="font-weight: bold">Unlocked on </span>:&nbsp;&nbsp;{{configuration.createdOn.text}} </div>
                <div class="col-xs-4"><span style="font-weight: bold">Unlock From</span>:&nbsp;&nbsp;{{configuration.unlockFrom.text}} </div>
                <div class="col-xs-4"><span style="font-weight: bold">Unlock Upto</span>:&nbsp;&nbsp;{{configuration.unlockUpto.text}} </div>
            </div>
            <div class="row" ng-show="lockData.length>0" style="margin-top: 20px">
                <div class="col-xs-4" style="font-weight: bold">Previous 5 Unlock requests :</div>
                <div class="col-xs-10">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Unlocked On</th>
                            <th>Unlock From</th>
                            <th>Unlock To</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in lockData">
                            <td>{{d.createdOn.text}}</td>
                            <td>{{d.unlockFrom.text}}</td>
                            <td>{{d.unlockUpto.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="well well-lg" style="background-color: transparent;">
            <div class="col-xs-24">
                <span style="font-size: medium">Previous Month Reporting Unlock</span>
            </div>
            <div class="col-xs-24" style="height: 1px;background-color: #f38630"></div>
            <div class="row" style="margin-top: 40px">
                <div class="col-xs-3" style="font-weight: bold;padding-top: 5px">Employee Code</div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="unlockUser_PL">
                </div>

                <div class="col-xs-2" style="font-weight: bold;padding-top: 5px">Unlock From</div>
                <div class="col-xs-3">
                    <input  type="text" ng-model="adhoc_unlockFrom" name="mDate" squer-datepicker class="form-control"/>
                </div>

                <div class="col-xs-2" style="font-weight: bold;padding-top: 5px">Unlock UpTo</div>
                <div class="col-xs-3">
                    <input  type="text" ng-model="adhoc_unlockUpto" name="mDate" squer-datepicker class="form-control"/>
                </div>

                <div class="col-xs-2">
                    <input type="button" class="btn btn-primary" value="Search" ng-click="search('adhoc_unlock')">
                </div>

                <div class="col-xs-1"></div>
                <div class="col-xs-2" ng-show="showPrvLocks">
                    <input type="radio" style="margin-top: 10px" ng-checked="adhocConfiguration.status" name="prvReportLocking" ng-click="lock('adhoc_unlock')"> Lock
                </div>

                <div class="col-xs-2" ng-show="showPrvLocks">
                    <input type="radio" style="margin-top: 10px" ng-checked="!adhocConfiguration.status" name="prvReportLocking" ng-click="unlock('adhoc_unlock')"> Unlock
                </div>
            </div>

            <div class="row" ng-show="adhocConfiguration.id!=null" style="margin-top: 20px">
                <div class="col-xs-4"><span style="font-weight: bold">Current Status:</span></div>
                <div class="col-xs-4"><span style="font-weight: bold">Unlocked on </span>:&nbsp;&nbsp;{{adhocConfiguration.createdOn.text}} </div>
                <div class="col-xs-4"><span style="font-weight: bold">Unlock From</span>:&nbsp;&nbsp;{{adhocConfiguration.unlockFrom.text}} </div>
                <div class="col-xs-4"><span style="font-weight: bold">Unlock Upto</span>:&nbsp;&nbsp;{{adhocConfiguration.unlockUpto.text}} </div>
            </div>
            <div class="row" ng-show="prvLockData.length>0" style="margin-top: 20px">
                <div class="col-xs-4" style="font-weight: bold">Previous 5 Unlock requests :</div>
                <div class="col-xs-10">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Unlocked On</th>
                            <th>Unlock From</th>
                            <th>Unlock To</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in prvLockData">
                            <td>{{d.createdOn.text}}</td>
                            <td>{{d.unlockFrom.text}}</td>
                            <td>{{d.unlockUpto.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

