<div class="panel"  style="min-height: 550px" ng-controller="ExpenseTypeController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>

        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="table table-striped table-condensed" >

                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.name}}</label>
                            <div class="col-xs-8">
                                <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="n in expenseDesignationList">
                    <td>
                        <label class="col-xs-3 col-xs-offset-1">Division</label>
                        <div class="col-xs-4">
                            {{n.division.displayName}}
                        </div>

                        <label class="col-xs-3 col-xs-offset-1"> Designation</label>
                        <div class="col-xs-4">
                            {{n.jobtitle.displayName}}

                        </div>
                        <button type="button" class=" col-xs-offset-1 btn btn-primary btn-sm" aria-label="Left Align"
                                ng-click="deleteExpenseDesignation($index)">
                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </td>


                </tr>
                <tr>
                    <td>
                        <label class="col-xs-3 col-xs-offset-1">Division</label>
                        <div class="col-xs-4">
                            <select name="parent" ng-model="divsn.id"
                                    class="form-control"
                                    ng-options="d.id as d.name for d in divisions">
                                <option value="">Select</option>
                            </select>
                        </div>

                        <label class="col-xs-3 col-xs-offset-1"> Designation</label>
                        <div class="col-xs-4">
                            <select name="parent" ng-model="jobTitles.id"
                                    class="form-control"
                                    ng-options="design.id as design.name for design in jobtitles">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <button type="button" class=" col-xs-offset-1 btn btn-primary btn-sm" aria-label="Left Align"
                                ng-click="addExpenseDesignation(divsn.id,jobTitles.id)">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td>

                </tr>
            </table>

            <div class="col-xs-18 col-xs-offset-4">
                <button type="button" class="btn btn-primary"  ng-click="save()">{{links.save}}</button>
            </div>
        </div>
    </div>
</div>






