<div class="panel"  style="min-height: 550px">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{title}}
            </span>
            <span class="pull-right"><a ui-sref="sysadmin.new_speciality({type: '{{type}}' })">{{links.addNew}}</a></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" ><span ng-show="columns[$index].dataType!='Reference'">{{d[col.name]}}</span>
                        <span ng-show="columns[$index].dataType=='Reference'">{{d[col.name].displayName}}</span>
                    </td>
                    <td>
                        <div ng-repeat="action in actions"><span table-link></span><any ng-show="actions.length>1"><br /></any></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>

