<div class="panel"  style="min-height: 550px" ng-controller="WeekendConfigurationController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Weekend Configuration
                    </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-7">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>State</th>
                    <th ng-repeat="d in days">{{d}}<br> <input type="checkbox" id='{{d}}' ng-click="makeWeekendConfigrationForAllState(d)" ng-model="day[d]"></th>
                </tr>
                </thead>
                <tr data-ng-repeat="state in stateList" height="5">
                    <td>{{state.name}}</td>

                    <td ng-repeat="d in days"><input type="checkbox" name="{{d}}" class="{{d}}" id='{{d+state.id}}' ng-model="config[state.id+d]" ng-click="makeWeekendConfigration(d+'-'+state.id)"></td>
                </tr>
            </table>
        </div>
    </div>
</div>