html,body { @heightFull;}
.gridStyle { border: 1px solid rgb(212,212,212); width:@widthFull/2;height: @pixels300; }
.no-label { padding-top: 10px;}
label { margin-bottom: 0px; }
.hidden-input { visibility: hidden;}
.forgot-password { padding: @pixels5; color: black;}
fieldset { border: 1px solid #808080; border-radius: @border-radius-large; display: block; padding: @padding-small-vertical; }
fieldset > legend:first-of-type { border: none; margin-bottom: auto; width: autopadding: inherit; }
legend { font-weight: bold; color: @label-primary-bg; font-size: 18px;}
fieldset > legend:first-of-type { border: none; margin-bottom: auto; width: auto; padding: inherit; }
label,  form > button, ng-form > button, form > input, ng-form > input { width: @widthFull; padding: 1ex 1em; }
label > input, label > select, label > textarea { float: right; width: 0.6*@widthFull !important; }
label div > label { display: block; padding: 1ex; width: @widthFull; }
input.has-visited.ng-invalid:not(.has-focus),select.has-visited.ng-invalid:not(.has-focus), {  border-color: @brand-danger; }

.form-control {
  height: 25px; padding: 3px 12px;
}
header { text-align: center; display: table-cell;}
header .header-center { .h2;}
.header-left { padding-left: 20px;}
.header-right { padding-right: 20px;}




.dropdown-submenu{ position:relative; }
.dropdown-submenu > .dropdown-menu { top:0; left:100%; margin-top:-6px; margin-left:-1px; -webkit-border-radius:0 6px 6px 6px; -moz-border-radius:0 6px 6px 6px; border-radius:0 6px 6px 6px; }
.dropdown-submenu:hover > .dropdown-menu{ display:block; }
.dropdown-submenu > a:after{ display:block; float:right; width:0; height:0; border-color:transparent; border-style:solid; border-width:5px 0 5px 5px; border-left-color:#cccccc; margin-top:5px; margin-right:-10px; }
.dropdown-submenu:hover > a:after{   border-left-color:#ffffff; }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{   background-color: lightblue; }
.dropdown-submenu .pull-left{   float:none; }
.dropdown-submenu.pull-left > .dropdown-menu { left:-100%; margin-left:10px; -webkit-border-radius:6px 0 6px 6px; -moz-border-radius:6px 0 6px 6px; border-radius:6px 0 6px 6px; }

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.add-content { content: " "; }
fieldset.no-legend  { margin-top: 10px; }
.navbar { margin-bottom: 5px; }
.navbar-nav>li>a { padding-top: 0px; padding-bottom: 0px; line-height: 2;}
.navbar.navbar-default { min-height: 25px;}
ul.navbar-nav { padding-top: 3px;}
.panel-heading { margin-top: -20px; vertical-align: middle; line-height: 40px; height: 30px; padding: 0px 0px 0px 15px; }

.form-group, .form-group label, .form-group input { float:left; display:inline;   }
.form-group { margin-right:5px }
.form-group label { line-height:20px; }

.userlovadd-btn { height:25px;}
.btn.userlovadd-btn {padding: 0px 8px 0px 8px;}
select[isuserlov='true'] { width: 55% !important;}


/* Required field START */

.required-field-block { position: relative; }

.required-field-block .required-icon {
  display: inline-block; background-color: #E8E8E8; margin: -1.25em -1.75em 0;
  border-color: #E8E8E8; color: rgba(0, 0, 0, 0.65); text-transform: uppercase;
  font-weight: normal; border-radius: 0.325em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; box-sizing: border-box; -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear; transition: background 0.1s linear; font-size: 75%;
}

.required-field-block .required-icon {
  background-color: transparent; position: relative; z-index: 10; width: 30px; height: 30px;
  text-align: center; -webkit-transition: color 0.2s ease; -moz-transition: color 0.2s ease; transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
  position: relative; content: ""; right: 1px; top: 1px; z-index: -1; width: 0em; height: 0em;
  -webkit-transition: border-color 0.2s ease; -moz-transition: border-color 0.2s ease; transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text { color: #B80000; font-size: 20px; margin: 0 0 0 12px; }
/* Required field END */

