@heightFull: 100%;
@widthFull: 100%;
@defaultTextAlign: center;
@pixels5: 5px;
@pixels10: 10px;
@pixels20: 20px;
@pixels30: 30px;
@pixels40: 40px;
@pixels50: 50px;
@pixels100: 100px;
@pixels150: 150px;
@pixels200: 200px;
@pixels250: 250px;
@pixels300: 300px;
@loginFormBorder:8px solid steelblue;
@loginFormBorderRadius: 15px;


