
<!DOCTYPE html>
<html  ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
    <script type='text/javascript'>
        angular.module('app', []);
        function MainController($scope){<!--   w  w w  .ja  v  a 2 s  .com-->
            $scope.rows = [
                {col: [ 1,2,3,4 ]},
                {col: [ 5,6,7 ]},
                {col: [ 9,10,11,12 ]}
            ];
        }
    </script>
</head>
<body>
<div ng-app="app">
    <div ng-controller="MainController">
        <table>
        <tr  data-ng-repeat="row in rows">
            <td  data-ng-repeat="col in row.col">{{col}}</td>
        </tr>
        </table>
</div>
</body>
</html>
