<div class="panel"  style="min-height: 550px" ng-controller="CommonUploadController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="uploadForm" ng-submit="uploadFile(uploadPath)">
                <div class="col-xs-4 col-xs-offset-2">
                    <select name="type" ng-model="type.id" class="form-control"
                            ng-options="type.id as type.name for type in types">
                        <option value="">Select a Type</option>
                    </select>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <input type="file" ng-model="files" />
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Upload Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Total Records</th>
                    <th>Error Records</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                    <!--th>&nbsp;</th-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td>{{d.type}}</td>
                    <td>{{d.timeStarted.date | date: 'dd/MM/yyyy h:mma'}}</td>
                    <td>{{d.timeEnded.date | date: 'dd/MM/yyyy h:mma'}}</td>
                    <td>{{d.totalRecords}}</td>
                    <td>{{d.recordsFailed}}</td>
                    <td>{{d.status}}</td>
                    <td>
                        <div class="row">
                            <a ng-click="downloadFile('upload',d.id)">Input File</a>&nbsp;&nbsp;
                            <a ng-if="d.exitCode.code=='1' || d.exitCode.code=='2'" ng-click="downloadFile('upload_error',d.id,d.type)">Error File</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>

</div>