<div class="panel"  style="min-height: 550px" ng-controller="CommonSearchController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
            <!--span class="pull-right"><a ng-click="addNew()" ><img src="images/add.png" tooltip="Add New"></a></span-->
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="formFields" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                       <th ng-repeat="col in columns">{{col.label}}</th>
                        <!--th>&nbsp;</th-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in searchData">
                        <td ng-repeat="col in columns" >
                            <any ng-switch on="columns[$index].dataType">
                            <div ng-switch-when="Reference">{{d[col.name].displayName}}</div>
                            <div ng-switch-when="Date">{{d[col.name].text}}</div>
                            <div ng-switch-when="Array">
                                {{d[col.name][0].jobTitle.displayName}}
                            </div>
                            <div ng-switch-when="Object">{{d[col.name.split('.')[0]][col.name.split('.')[1]]}}</div>
                            <div ng-switch-default>
                                {{d[col.name]}}
                            </div>
                        </any>
                    </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-5" ng-repeat="action in actions">
                                    <span table-link></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        <pagination total-items="totalItems"
                    ng-model="currentPage"
                    max-size="maxSize"
                    ng-change="pageChanged()"
                    class="pagination-xs pull-right"
                    boundary-links="true" rotate="false"
                    items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>
