<div class="panel"  style="min-height: 550px" ng-controller="ConsolidationController">

    <br/><br/><br/>
    <form class="form-horizontal" name="uploadForm">
        <div class="col-xs-18 col-xs-offset-4">
            <button type="button" class="btn btn-primary" ng-click="consolidate('empConsolidate')">Employee Consolidation</button>
        </div>
    </form>


</div>
</div>