
<div class="panel"  style="min-height: 550px" ng-controller="UploadController" ng-init="init()">

    <!--form class="form-horizontal" name="uploadForm" ng-submit="startUpload()">
        <div class="col-xs-18 col-xs-offset-4">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form-->
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>

    <div>
        <upload-form upload-path="{{path}}"/>
    </div>

</div>