
<div class="panel"  style="min-height: 550px">
    <!--div-- class="dwnld_btn">
        <button class="btn btn-danger modal_btn" ng-click="vm.downloadavgTimeSpentApp(vm.date,vm.dur)" ><img src="images/download.png"/></button>
    </div-->
    <div class="modal-body panel-body" ng-init="vm.maxFunctionality()" style="margin-top:20px;">


        <div ng-repeat="(key, prop) in vm.maxValue" class="wrap_div" >
            <div class="maxValue_div">

                <div class="inner_div" >
                    <p >{{key}}</p>
                </div>
                <div class="left_div" style="text-align: center;border-bottom: 1px solid #fff;padding: 10px;">Page Name</div>
                <div class="right_div" style="text-align: center;border-bottom: 1px solid #fff;padding: 10px;">Time spent in Hours</div>
                <div ng-repeat="(risk,value) in prop" class="maxusage_wrap">
                    <div class="inner_div" style="background-color:#ecebfd;">
                        <div class="left_div" >{{value.page_name}}</div>

                        <div class="right_div" >{{value.hours}}</div>
                    </div>
                    <!--div-- ng-repeat="v in value" style="width: 100%;float: left;">
                        <div class="left_div" >{{v.name}}</div>
                        <div class="small_div" style="">{{v.gender.displayName}}</div>
                        <div class="small_div" style="">{{v.weight}}</div>
                        <div class="small_div" style="">{{v.bMI | number:2}}</div>

                    </div-->
                </div>
            </div>
        </div>


    </div>


</div>