<div class="panel" style="width:100%;float:left;min-height:700px;">
    <div class="enroll_select">
        <div class="inner_enroll">
            <div class="avg_select_drop" >
                <div class="form-control" style="width:50%;float:right;display:block !important;padding:0;"
                     isteven-multi-select
                     input-model=" vm.doctors"
                     output-model="vm.selectedDoctorRisk"
                     button-label="name"
                     item-label="name"
                     tick-property="ticked"
                     orientation="vertical"
                     ng-show="isEditable"
                     on-close="vm.doctordetail()">
                </div>
            </div>
            <div class="avg_select_drop margin_zero" >
                <button class="btn btn-danger" ng-click="vm.getAllPatient()" style="width:50%">Search</button>
            </div>
        </div>
    </div>
    <div class="enroll_patient_div">
        <table class="enroll_patient doctor_table"  style = "float:none">
             <tr ng-repeat="(key, prop) in vm.patientList">
                 <td>{{prop.name}}</td>
             </tr>
        </table>
    </div>
</div>