
<div class="panel"  style="min-height: 550px">
    <div class="dwnld_btn" ng-if="vm.doctorsInfo.length!=0">
    <button class="btn btn-danger modal_btn" ng-click="vm.downloadPatientReport(vm.re,vm.dur,vm.date)"><img src="images/download.png"/></button>
    </div>
        <div class="modal-body panel-body" ng-init="vm.doctorModal()">
<div class="table_wrap">

    <div ng-if="vm.doctorsInfo.length==0">No data to display</div>
    <div class="doctor_table" ng-repeat="(key, prop) in vm.doctorsInfo" ng-if="vm.doctorsInfo.length!=0">
        <table class="modal_table">
            <tbody>
            <tr>
                <th colspan="3">{{key}}</th>
            </tr>
            <tr ng-repeat="value in prop">
                <td>
                    {{value.patientName}}
                </td>
                <td>
                    {{value.report}}
                </td>
                <td>
                    {{value.value}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

</div>