
<div class="panel"  style="min-height: 550px">
    <div class="dwnld_btn">
        <button class="btn btn-danger modal_btn" ng-click="vm.downloadDetails(vm.re)" ><img src="images/download.png"/></button>
    </div>
    <div class="modal-body panel-body" ng-init="vm.doctorListModal()">


            <div ng-repeat="(key, prop) in vm.doctorsList" class="wrap_div" >
                <div class="doctorlist_div">

                <div class="inner_div" >
                    <p >{{key}}</p>
                </div>
                <div ng-repeat="(risk,value) in prop">
                    <div class="inner_div" style="background-color:#ecebfd;">
                        <p>{{risk}}</p>
                    </div>
                    <div ng-repeat="v in value" style="width: 100%;float: left;">
                        <div class="small_div" >{{v.name}}</div>
                        <div class="small_div" style="">{{v.gender.displayName}}</div>
                        <div class="small_div" style="">{{v.weight}}</div>
                        <div class="small_div" style="">{{v.bMI | number:2}}</div>

                    </div>
                </div>
                </div>
            </div>


</div>


</div>