

<div class="panel"  style="min-height: 550px">
    <!--div-- class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">SugrQb Apps Analytics Overview</span>
        </div>
    </div-->

    <div class="panel-body" style="background-color:#ddd;" >
        <div class="row" >

            <p class="search_heading">Duration:</p>
            <!--select-- ng-model="vm.filter" style="width: 25%;float: right;" ng-change="vm.setDuration(vm.filter)" ng-options="records as records.Name for records in vm.filterList track by records.id" class="form-control" required>
                <option value="">Select Duration</option>
            </select-->
            <p style="width: 18%;float: left;margin-right: 2%;"><input type="date" placeholder="Enter Todate" ng-model="vm.fromDate" ng-change="vm.futuredatedisablefromDate(vm.fromDate);"></p>
            <p style="width: 18%;float: left;margin-right: 2%;"><input type="date" placeholder="Enter Fromdate" ng-model="vm.toDate" ng-change="vm.futuredatedisabletoDate(vm.toDate);"></p>
            <p style="width: 18%;float: left;margin-right: 2%;"><select ng-model="vm.showFilter" class="form-control" style="width:100%;float:left; margin-right: 2%;"><option value="">Select Filter</option> <option value="week">Weekwise</option><option value="month">Monthwise</option></select></p>

            <!--p style=" width: 20%;
                           float: left;
                            text-align: right;
                           margin-top: 5px;
                           padding-right: 9px;
                           font-size: 15px;">Report Type:</p>
            <select-- class="form-control" style="width:100%;float:left;width: 25%; margin-right: 2%;"
                    ng-options="d as d.Name for d in vm.typeList track by d.id" ng-model="vm.reportType"><option value="">Select Report Type</option>
            </select-->
            <button class="btn btn-danger" ng-click="vm.changeAllData(vm.fromDate,vm.toDate,vm.showFilter)" ng-disabled="vm.notValid  || vm.notValiddate" style="width: 20%;float: left;">Search</button>
            <div style="width:100%;float:left;height:30px;">
                <p ng-repeat="e in vm.errorList" style="color:red;text-align:center">{{e.message}}</p>
            </div>
        </div>
        <div ng-init="vm.init()">
        <div class="row">
           <div class="col-md-12">
               <div class="row" style="margin-bottom:15px;">
                   <span style="vertical-align: middle;padding-left: 6px;color:#a23542;font-size:24px" class="squerfont-large">SugrQb Apps Analytics Overview</span>
               </div>
               <div class="row">
                   <div class="col-md-8 outer_corner_div count_div">
                       <div class="row inner_corner_div">
                           <div class="blank_div">
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.totalDoctors}}</center></h1>
                           <h5><center>Doctors Registered</center></h5>
                           </div>
                       </div>

                   </div>
                   <div class="col-md-8 count_div">
                       <div class="row inner_corner_div ">
                           <div class="info_btn">
                               <button class="btn btn-danger tab_btn" ng-click="getActiveDoctorsInfo()"><img src="images/information (1).png"/></button>
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.activeDoctorsCount}}</center></h1>
                           <h5><center>Active Doctors on App</center></h5>
                           </div>
                       </div>

                   </div>
                   <div class="col-md-8 count_div">
                       <div class="row inner_corner_div">
                           <div class="info_btn">
                               <button class="btn btn-danger tab_btn" ng-click="vm.avgEnrollPatient()"><img src="images/document.png"/></button>
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.avgPatients | number}}</center></h1>
                           <h5 style="padding: 0 5px;"><center>Avg. Patients enrolled with each doctor</center></h5>
                           </div>
                       </div>

                   </div>
                   <!--div-- class="col-md-8" >
                       <div class="row inner_corner_div">
                           <h1><center>{{vm.doctorsOptedOut}}</center></h1>
                           <h5><center>Doctors Opted Out</center></h5>
                       </div>

                   </div-->
               </div>
               <div class="row" style="margin-top: 10px">
                   <div class="col-md-12 count_div">
                       <div class="row inner_corner_div">
                           <div class="blank_div">
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.totalPatients}}</center></h1>
                           <h5><center>Patients Registered</center></h5>
                           </div>
                       </div>

                   </div>
                   <div class="col-md-12 count_div">
                       <div class="row inner_corner_div">
                           <div class="info_btn">
                               <button class="btn btn-danger tab_btn" ng-click="getActivePatientsInfo()"><img src="images/information (1).png"/></button>
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.activePatients}}</center></h1>
                           <h5><center>Active Patients on App</center></h5>
                           </div>
                       </div>

                   </div>

                   <!--div-- class="col-md-8">
                       <div class="row inner_corner_div">
                           <h1><center>{{vm.notFilled}}</center></h1>
                           <h5 style="padding: 0 5px;"><center>Patients still to fill SQDTSQ</center></h5>
                       </div>

                   </div-->
                   <!--div-- class="col-md-8">
                       <div class="row inner_corner_div">
                           <h1><center>{{vm.patientsOptedOut}}</center></h1>
                           <h5><center>Patients Opted Out</center></h5>
                       </div>

                   </div-->

               </div>
               <div class="row" style="margin-top: 10px;">
                   <div class="col-md-12 count_div">
                       <div class="row inner_corner_div">
                           <div class="blank_div">
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.totalInvitesSent}}</center></h1>
                           <h5><center>Total Sent Invites</center></h5>
                           </div>
                       </div>

                   </div>
                   <div class="col-md-12 count_div">
                       <div class="row inner_corner_div">
                           <div class="info_btn">
                               <button class="btn btn-danger tab_btn" ng-click="getPendingRegistInfo()"><img src="images/information (1).png"/></button>
                           </div>
                           <div class="content_div">
                           <h1><center>{{vm.getPendingRegistrations}}</center></h1>
                           <h5 style="padding: 0 5px;"><center>Pending Registrations of Patients</center></h5>
                           </div>
                       </div>

                   </div>

               </div>
           </div>
            <div class="col-md-12 totalactiveuser">

                <div class="row">

                    <div class="col-md-24" style="background:#fff;">

                        <div class="download_button">
                            <div class="col_md_8 title_div">
                                <h5 class="h5_chart">Total Active Users</h5>
                            </div>
                            <div class="col-md-8 col_div">
                                <button class="btn btn-danger" ng-click="getDetailuserInfo()" style="width:100%"><img src="images/information.png"/></button>
                            </div>
                            <div class="col-md-8 col_div">
                                <button class="btn btn-danger" ng-click="vm.detailtotalactiveuser()" style="width:100%"><img src="images/report.png"/></button>
                            </div>

                        </div>
                        <highchart id="chart" config="vm.usersData" style="height: 344px;width:100%;"></highchart>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" style="margin-top:25px;">
            <div class="col-md-24 graph_div margin_zero" style="width:100%;">
            <div class="download_button">
                <div class="col_md_8 title_div">
                    <h5 class="h5_chart">Medical Trend Graph</h5>
                </div>
                <!--<div class="col-md-8 col_div">-->
            <!--<button class="btn btn-danger" ng-click="getDoctorwiseRisk()" style="width:100%"><img src="images/information.png"/></button>-->
            <!--</div>-->
            <!--<div class="col-md-8 col_div">-->
            <!--<button class="btn btn-danger" ng-click="vm.docInfo()" style="width:100%"><img src="images/report.png"/></button>-->
            <!--</div>-->
        </div>
            <div class="search_button">
                <div class="col-md-8 select_drop" style="background:#fff;">
                    <div class="form-control" style="width:100%;float:left;display:block !important;padding:0;"
                         isteven-multi-select
                         input-model=" vm.doctors"
                         output-model="vm.selectedTrendDoctor"
                         button-label="name"
                         item-label="name"
                         tick-property="ticked"
                         orientation="vertical"
                         ng-show="isEditable"
                         on-close="vm.trendDoctorsAdd()">
                    </div>
                </div>
                <div class="col-md-8 select_drop">
                    <select class="form-control" style="width:100%;float:left; margin-right: 2%;"
                            ng-options="d as d.name for d in vm.reportTypes track by d.id" ng-model="vm.rType" ng-change="vm.saveTrendReportType()">
                        <option value="">Select Report Type</option>
                    </select>
                </div>

                <div class="col-md-8 select_drop margin_zero" style="background:#fff;">

                    <button class="btn btn-danger" ng-click="vm.getTrendData()" style="width:100%">Search</button>
                </div>
            </div>
            <highchart id="chart10" config="vm.trendGraph" style="text-transform:capitalize;height: 350px;width:100%;float:left"></highchart>
            </div>

        </div>
        <div class="row " style="margin-top: 25px;">
                   <div class="col-md-8 graph_div"  >
                       <div class="download_button">
                        <div class="col_md_8 title_div">
                            <h5 class="h5_chart">Patients by Gender & Age</h5>
                        </div>
                       </div>
                        <!--div class="col-md-8 col_div" >
                            <button class="btn btn-danger" ng-click="getDoctorInfo()" style="width:100%"><img src="images/information.png"/></button>
                        </div>
                        <div-- class="col-md-8 col_div">
                            <button class="btn btn-danger" ng-click="vm.getPatientData()" style="width:100%"><img src="images/download.png"/></button>
                        </div-->

                        <div class="col-md-24 blank_div"></div>
                        <highchart id="chart1" config="vm.genderGraph" ></highchart>
                    </div>






                    <div class="col-md-8 graph_div" >
                    <div class="download_button">
                        <div class="col_md_8 title_div">
                            <h5 class="h5_chart">Doctor wise patient records</h5>
                        </div>
                        <div class="col-md-8 col_div">
                            <button class="btn btn-danger" ng-click="getDoctorwiseInfo()" style="width:100%"><img src="images/information.png"/></button>
                        </div>
                        <div class="col-md-8 col_div">
                            <button class="btn btn-danger" ng-click="vm.getDoctorInfo()" style="width:100%"><img src="images/report.png"/></button>

                        </div>
                    </div>
                        <div class="search_button">
                            <div class="col-md-8 select_drop" style="background:#fff;">
                                <div class="form-control" style="width:100%;float:left;display:block !important;padding:0;"
                                        isteven-multi-select
                                        input-model=" vm.doctors"
                                        output-model="vm.selectedDoctorRisk"
                                        button-label="name"
                                        item-label="name"
                                        tick-property="ticked"
                                        orientation="vertical"
                                        ng-show="isEditable"
                                        on-close="vm.doctordetail()">
                                    </div>
                            </div>
                <!--<div class="col-md-8" style="background:#fff;">-->
                    <!--<select class="form-control" style="width:100%;float:left;"-->
                       <!--ng-options="d as d.Name for d in vm.typeList track by d.id" ng-model="vm.reportType"><option value="">Select Report Type</option>-->
                    <!--</select>-->

                <!--</div>--><div class="col-md-8 select_drop">
                            <select class="form-control" style="width:100%;float:left; margin-right: 2%;"
                                    ng-options="d as d.Name for d in vm.typeList track by d.id" ng-model="vm.reportType" ng-change="vm.saveReportType()"><option value="">Select Report Type</option>
                            </select>
                        </div>
                            <div class="col-md-8 select_drop margin_zero" style="background: #fff;">
                                <button class="btn btn-danger" ng-click="vm.getPatientData()" style="width:100%">Search</button>
                            </div>
                        </div>

                        <highchart id="chart2" config="vm.hba1c" ></highchart>
                    </div>


            <div class="col-md-8 graph_div margin_zero" >
                <div class="download_button">
                <div class="col_md_8 title_div">
                    <h5 class="h5_chart">Doctor wise risk patients</h5>
                </div>
                <div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="getDoctorwiseRisk()" style="width:100%"><img src="images/information.png"/></button>
                </div>
                <div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.docInfo()" style="width:100%"><img src="images/report.png"/></button>
                </div>
                </div>
                <div class="search_button">
                    <div class="col-md-8 select_drop" style="background:#fff;">
                        <div class="form-control" style="width:100%;float:left;display:block !important;padding:0;"
                             isteven-multi-select
                             input-model=" vm.doctors"
                             output-model="vm.selectedDoctor"
                             button-label="name"
                             item-label="name"
                             tick-property="ticked"
                             orientation="vertical"
                             ng-show="isEditable"
                             on-close="vm.doctorriskdetail()">
                        </div>
                    </div>
                    <div class="col-md-8 select_drop">
                        <select class="form-control" style="width:100%;float:left; margin-right: 2%;"
                                ng-options="d as d.name for d in vm.pietitle track by d.id" ng-model="vm.pie" ng-change="vm.saveRiskReportType()">
                            <option value="">Select Report Type</option>
                        </select>
                    </div>

                <div class="col-md-8 select_drop margin_zero" style="background:#fff;">

                    <button class="btn btn-danger" ng-click="vm.getPieData()" style="width:100%">Search</button>
                </div>
                </div>
                <highchart id="chart3" config="vm.pieChart1"></highchart>
            </div>


        </div>

        <div class="row second_row" >
            <div class="col-md-8 graph_div" >
                <div class="download_button">
                <div class="col_md_8 title_div">
                <h5 class="h5_chart">SQDTSQ</h5>
                </div>
                <div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="sqdtsqInfo()" style="width:100%"><img src="images/information.png"/></button>
                </div>
                <div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.questionnaireInfo()" style="width:100%"><img src="images/report.png"/></button>
                </div>
                </div>
                <div class="search_button">
                    <div class="col-md-8 select_drop" style="background:#fff;">
                        <div class="form-control" style="width:100%;float:left;display:block !important;padding:0;"
                             isteven-multi-select
                             input-model=" vm.doctors"
                             output-model="vm.avgPatientRecord"
                             button-label="name"
                             item-label="name"
                             tick-property="ticked"
                             orientation="vertical"
                             ng-show="isEditable"
                             on-close="vm.avgRecordPatient()">
                        </div>
                    </div>
                    <div class="col-md-8 select_drop">
                        <select class="form-control" style="width:100%;float:left; margin-right: 2%;"

                                ng-options="d as d.name for d in vm.patientaverage track by d.id" ng-model="vm.patientinfo" ng-change="vm.updateChange(vm.patientinfo)">

                            <option value="">Select Display Type</option>
                        </select>
                    </div>

                    <div class="col-md-8 select_drop margin_zero" style="background:#fff;">

                        <button class="btn btn-danger" ng-click="vm.getStackGraph()" style="width:100%">Search</button>
                    </div>
                </div>
                <highchart id="chart4" config="vm.stackGraph" style="height: 250px;width:100%;float:left"></highchart>
            </div>
            <div class="col-md-8 graph_div" >
                <div class="download_button">
                <div class="col_md_8 title_div">
                    <h5 class="h5_chart">Maximum Usage by Functionality</h5>
                </div>
                <div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.maximumUsage()" style="width:100%"><img src="images/report.png"/></button>
                </div>
                </div>
                <!--div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.getPatientData(vm.selectedDoctor)" style="width:100%"><img src="images/document_icon.png"/></button>
                </div>
                <div-- class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.getPatientData(vm.selectedDoctor)" style="width:100%"><img src="images/download_icon.png"/></button>
                </div-->
                <div class="search_button">
                <div class="col-md-12 app_select" style="background:#fff;">
                    <select style="width:100%;float:left;" ng-model="vm.app" class="form-control" ng-options="d as d.name for d in vm.apps track by d.id" ng-change="vm.getPageView(vm.app)">
                        <option value="">Select App</option>
                    </select>
                </div>

                    <div class="col-md-12 app_select margin_zero" style="background:#fff;">
                        <!--button-- class="btn btn-danger" ng-click="vm.getStackGraph(vm.duration,vm.rep)" style="width:100%">Search</button-->
                    </div>

                </div>
                <highchart id="chart5" config="vm.horizontalChart" style="text-transform:capitalize;height: 250px;width:100%;float:left"></highchart>
            </div>
            <div class="col-md-8 graph_div margin_zero">
                <div class="download_button">
                <div class="col_md_8 title_div">
                    <h5 class="h5_chart">Avg. Time Spent on App</h5>
                </div>
                <div class="col-md-8 col_div">
                     <button class="btn btn-danger" ng-click="vm.avgTimeSpent()" style="width:100%"><img src="images/report.png"/></button>
                </div>
                </div>
                <!--div class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.getPatientData(vm.selectedDoctor)" style="width:100%"><img src="images/document_icon.png"/></button>
                </div>
                <div-- class="col-md-8 col_div">
                    <button class="btn btn-danger" ng-click="vm.getPatientData(vm.selectedDoctor)" style="width:100%"><img src="images/download_icon.png"/></button>
                </div-->

                <div class="col-md-24 blank_div" >
                </div>

                <highchart id="chart9" config="vm.appGraph" style="height: 250px;width:100%;float:left"></highchart>
            </div>

                    </div>

        <!--<div class="getPatientsList" ng-init="vm.getPatients()">-->
            <!--<div class="patientsNew" ng-init="vm.getRegToday()">-->
                <!--<h3 style="color:#ff7774;margin-top: 0;">Recent Registrations :</h3> <p ng-repeat="name in vm.regPatient">{{name.NAME}}</p>-->
            <!--</div>-->
            <!--&lt;!&ndash;My Patients:&ndash;&gt;-->


            <!--<ul><li ng-repeat="p in vm.patientList"><img src="images/male.png" ng-show="p.gender.displayName == 'Male'" class="gender" />-->
                <!--<img src="images/female.png"  ng-show="p.gender.displayName == 'Female'" class="gender" /><a ng-click="vm.goToPatientDetails(p)">-->
                <!--{{p.firstName}} {{p.lastName}}</a> </li></ul>-->
        <!--</div>-->
        <!--<div class="graphs" style="float:left;">-->
            <!--&lt;!&ndash;div class="item" style="height: 400px" ng-init="vm.getData('diabetes')">-->
                <!--<highchart id="chart" config="vm.pieChart"></highchart>-->
            <!--</div&ndash;&gt;-->
            <!--<div class="item" style="height: 300px;" ng-init="vm.getNephroPieData('nephro')">-->
                <!--<p class="pie_title">Nephro</p>-->
                <!--<highchart id="chart" config="vm.pieChart1" style="height: 250px;width:400px;margin: 0 auto;"></highchart>-->

            <!--</div>-->
            <!--<div class="item no-margin" style="  height: 300px" ng-init="vm.getNephroPieData('diabetes')">-->
                <!--<p class="pie_title">Diabetes</p>-->
                <!--<highchart id="chart" config="vm.pieChart1" style="height: 250px;width:400px;margin: 0 auto;"></highchart>-->

            <!--</div>-->
            <!--<div class="item" style="height: 300px" ng-init="vm.getNephroPieData('obesity')">-->
                <!--<p class="pie_title">Obesity</p>-->
                <!--<highchart id="chart" config="vm.pieChart1" style="height: 250px;width:400px;margin: 0 auto;"></highchart>-->

            <!--</div>-->
            <!--<div class="item no-margin" style="  height: 300px" ng-init="vm.getNephroPieData('cvd')">-->
                <!--<p class="pie_title">Cvd</p>-->
                <!--<highchart id="chart" config="vm.pieChart1" style="height: 250px;width:400px;margin: 0 auto;"></highchart>-->

            <!--</div>-->
        <!--</div>-->
        </div>
    </div>
</div>

<script type="text/ng-template" id="activeDoctors.html">
    <div class="myModal_body">
<div class="modal-body panel-body " ng-init="activeDoctors()">



    <div  class="activedoc_def" >
        <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
        <p>Total no of doctors who used atleast one app feature in last 60 days</p>

    </div>
    <div class="close_modal">
        <p class="close_p" ng-click="closeModal()">close</p>
    </div>

</div>

    </div>
</script>

<script type="text/ng-template" id="activePatients.html">
    <div class="myModal_body">
        <div class="modal-body panel-body " ng-init="activePatients()">



            <div  class="activedoc_def" >
                <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
                <p>Total no of patients who used atleast one app feature in last 60 days</p>

            </div>
            <div class="close_modal">
                <p class="close_p" ng-click="closeModal()">close</p>
            </div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="PendingRegist.html">
    <div class="myModal_body">
        <div class="modal-body panel-body " ng-init="PendingRegist()">



            <div  class="activedoc_def" >
                <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
                <p>Total  no of patient who received the invite but not yet registered.</p>

            </div>
            <div class="close_modal">
                <p class="close_p" ng-click="closeModal()">close</p>
            </div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="DoctorwiseInfo.html">
    <div class="myModal_body">
        <div class="modal-body panel-body " ng-init="DoctorwiseInfo()">



            <div  class="activedoc_def" >
                <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
                <p>Graphical representation of average no of patient under particular doctor as per the selected type </p>

            </div>
            <div class="close_modal">
                <p class="close_p" ng-click="closeModal()">close</p>
            </div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="DoctorwiseRisk.html">
    <div class="myModal_body">
        <div class="modal-body panel-body " ng-init="DoctorwiseRisk()">



            <div  class="activedoc_def" >
                <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
                <p>Risk wise graphical representation for the no of patient under particular doctor </p>

            </div>
            <div class="close_modal">
                <p class="close_p" ng-click="closeModal()">close</p>
            </div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="sqdtsqInfo.html">
    <div class="myModal_body">
        <div class="modal-body panel-body " ng-init="sqdtsqInfo()">



            <div  class="activedoc_def" >
                <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
                <p>It shows the how many question filled or not filled in SQDTSQ</p>

            </div>
            <div class="close_modal">
                <p class="close_p" ng-click="closeModal()">close</p>
            </div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="TotalActiveUser.html">
    <div class="myModal_body">
        <div class="modal-body panel-body " ng-init="TotalActiveUser()">



            <div  class="activedoc_def" >
                <p class="cancle_btn" ng-click="closeModal()"><img src="images/cancel.png"/></p>
                <p>Count of active patients and active doctors</p>

            </div>
            <div class="close_modal">
                <p class="close_p" ng-click="closeModal()">close</p>
            </div>

        </div>

    </div>
</script>
