
<div class="panel"  style="min-height: 550px">
    <!--div class="dwnld_btn">
        <button class="btn btn-danger modal_btn" ng-click="vm.downloadDetails(vm.re)" ><img src="images/download.png"/></button>
    </div-->
    <div class="modal-body panel-body" ng-init="vm.maxUsageFunc()">
        <div class="overwrap" style="margin-top: 30px;">
            <div class="heading_div">
                <div class="first">
                    Page Name
                </div>
                <div class="second">
                    Month
                </div>
                <div class="third">
                    count of max functionality use
                </div>
            </div>
            <div ng-repeat="(key, prop) in vm.appDetail" class="maxwrap_div" >
                <div class="appPageFunc">
                    <div class="appfirst">
                        {{key}}
                    </div>
                    <div ng-repeat="(rule,value) in prop" class="appsecond">
                        <div class="rule">{{rule}}</div>
                        <div class="value">{{value}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>