<div class="panel"  style="min-height: 550px">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Patient Details</span>
        </div>
    </div>

    <div class="panel-body" ng-init="vm.patientDetails()" style="padding:0;">
        <div class="panel_body_wrap">
        <div class="body_wrap">
        <div class="profile_wrap">

            <div class="profile_pic"><img src="{{vm.currentPatient.profileImg}}" ng-if="vm.currentPatient.profileImg != null" class="circle-picture"/>
                <img src="images/profile-pic-icon.png" ng-if="vm.currentPatient.profileImg == null" class="circle-picture"/></div>
            <h4 class="newName"> <b> {{vm.currentPatient.firstName}} {{vm.currentPatient.lastName}}  </b> </h4>
            <h3 class="newName" ng-if="!vm.user.lastName"></h3>
            <p class="dType">  {{vm.currentPatient.diabetesType.displayName}} Diabetes </p>



            <div class="profilePatient" style="padding: 20px 0;font-size: 16px;">Allergies : {{vm.currentPatient.allergy}}
                <!--<span class="ion-female gender"></span>-->
            </div>
            <div class="profilePatient">
                <div class="pull_left">Gender:</div>
                <div class="pull_left">{{vm.currentPatient.gender.displayName}}</div>
                    <div class="pull_left"> Age:</div>
                        <div class="pull_left">{{vm.currentPatient.age.year}} yrs </div>
                            <div class="pull_left">Contact:</div>
                                <div class="pull_left">{{vm.currentPatient.contactNo}}</div> <div class="pull_left"> Weight:</div>
                                    <div class="pull_left">{{vm.currentPatient.weight}}{{vm.currentPatient.weightUnit.displayName}}</div>
                                        <div class="pull_left"><span class="padding"> Height:</div>
                                             <div class="pull_left">{{vm.currentPatient.height}} {{vm.currentPatient.heightUnit.displayName}}  </span></div>
                                            <div class="pull_left" style="border-bottom:1px solid #ddd;"> BMI:</div>
                                                <div class="pull_left" style="border-bottom:1px solid #ddd;">{{vm.currentPatient.bMI}}</div>
            </div>







        <div class="row profilePatient" >
            <div class="col treRed" style="padding: 20px 0;font-size: 16px;">
                <a ng-click="vm.openRecords()"> <p>  Trend Readings  </p></a>
            </div>
            <!--<div class="getPatientsList">
                My Patients:
                <ul><li ng-repeat="p in vm.patientsList"><a ng-click="vm.goToPatientDetails(p)">{{p.firstName}} {{p.lastName}}</a> </li></ul>
            </div>-->
        </div>

    </div>
        </div>
    </div>
    </div>
</div>