
<div class="panel"  style="min-height: 550px">
    <div class="dwnld_btn">
        <button class="btn btn-danger modal_btn" ng-click="vm.downloadQuestionnaireReport(vm.re)" ><img src="images/download.png"/></button>
    </div>
    <div class="modal-body panel-body" ng-init="vm.questionnaireListModal()">


        <div class="sqdtsq_table" >
            <table class="questionnaire_table" ng-repeat="(key, prop) in vm.questionnaireList">

                    <tbody>
                    <tr >
                    <th colspan="2">{{key}}

                    </th>
                    </tr>
                    <tr ng-repeat="(data,value) in prop">
                    <td>
                        {{data}}
                    </td>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>

            </table>
        </div>
    </div>
</div>