<div class="panel"  style="min-height: 550px">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Home</span>
        </div>
    </div>

    <div class="panel-body" ng-init="vm.loadPatientRecords('diabetes')">
        <div class="trend_graphs">
        <a ng-class="vm.activeTab==0?'button  activeButton':'button  inactiveButton'" ng-click="vm.loadPatientRecords('diabetes',0);">Diabetes</a>
        <a ng-class="vm.activeTab==1?'button  activeButton':'button  inactiveButton'" ng-click="vm.loadPatientRecords('cvd',1);">CVD</a>
        <a ng-class="vm.activeTab==2?'button  activeButton':'button  inactiveButton'" ng-click="vm.loadPatientRecords('nephro',2);">Nephrology</a>
        <a ng-class="vm.activeTab==3?'button  activeButton':'button  inactiveButton'" ng-click="vm.loadPatientRecords('other',3);">Other</a>
        </div>
        <div ng-init="vm.loadPatientRecords('diabetes',0)">
        <div class="card graph" ng-show="vm.hideshowDiabetes">
            <div class="item item-divider recordHeading" ng-click="openModal(0)">
                HBA1C Trend <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.hba1c"></highchart>
            </div>
        </div>

        <div class="card graph" ng-show="vm.hideshowDiabetes">
            <div class="item item-divider recordHeading" ng-click="openModal(1)">
                FastingSugar Trend <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.FastingSugar"></highchart>
            </div>
        </div>

        <div class="card graph no-margin" ng-show="vm.hideshowDiabetes">
            <div class="item item-divider recordHeading" ng-click="openModal(2)">
                PostMeal Trend:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.PostMeal"></highchart>
            </div>
        </div>

        <div class="card graph" ng-show="vm.hideshowDiabetes">
            <div class="item item-divider recordHeading" ng-click="openModal(3)">
                RandomSugar:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.RandomSugar"></highchart>
            </div>
        </div>


        <div class="card graph" ng-show="vm.hideshowcvd">
            <div class="item item-divider recordHeading" ng-click="openModal(4)">
                Blood-Preaseure <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.bloodPreasure" style="width:450px;"></highchart>
            </div>
        </div>


        <div class="card graph" ng-show="vm.hideshowcvd">
            <div class="item item-divider recordHeading" ng-click="openModal(6)">
                VLDL:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.VLDL" style="width:450px;"></highchart>
            </div>
        </div>


        <div class="card graph no-margin" ng-show="vm.hideshowcvd">
            <div class="item item-divider recordHeading" ng-click="openModal(7)">
                Triglycerides:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.Triglycerides" style="width:450px;"></highchart>
            </div>
        </div>


        <div class="card graph" ng-show="vm.hideshowcvd">
            <div class="item item-divider recordHeading" ng-click="openModal(8)">
                HDL:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.HDL" style="width:450px;"></highchart>
            </div>
        </div>


        <div class="card graph" ng-show="vm.hideshowcvd">
            <div class="item item-divider recordHeading" ng-click="openModal(9)">
                Cholesterol:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.Cholesterol" style="width:450px;"></highchart>
            </div>
        </div>
        <div class="card graph" ng-show="vm.hideshownepro">
            <div class="item item-divider recordHeading" ng-click="openModal(10)">
                Serum:- <i class="ion-android-list recordListIcon"></i>
            </div>
            <div class="item item-text-wrap">
                <highchart id="chart1" config="vm.Serum"></highchart>
            </div>
        </div>
        </div>
    </div>

</div>