
<div class="panel"  style="min-height: 550px">
    <!--<div class="dwnld_btn">-->
        <!--<button class="btn btn-danger modal_btn" ng-click="vm.downloadPatientReport(vm.re,vm.dur)"><img src="images/download.png"/></button>-->
    <!--</div>-->
     <!--<div class="col-md-12 app_select" style="background:#fff;">-->
        <!--<select style="width:100%;float:left;" ng-model="vm.showUser" class="form-control" ng-options="d.name as d.name for d in vm.ActiveUser track by d.id" ng-change="vm.showUsers()">-->
            <!--<option value="">Select User</option>-->
        <!--</select>-->
    <!--</div>-->

    <div class="modal-body panel-body" ng-init="vm.fetchDetailUsers()" style="margin-top:20px;">
        <div class="table_wrap">

            <div class="activeuser_table">
                <table class="">
                    <thead>
                    <tr>
                        <th>Active User</th>
                        <th>User Role</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="key in vm.detailUsers">
                        <td>
                            {{key.name}}
                        </td>
                        <td>
                            {{key.role}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>