<div class="panel"  style="min-height: 550px" ng-controller="ApprovalChainController" ng-init="initSearch('tourplan')">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Approval for Tour Plan
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <accordion close-others="oneAtATime">
                    <accordion-group ng-repeat="plan in search.data">
                            <accordion-heading>
                                <span ng-click="showPlan(plan)">{{plan.fromDate.text}} - {{plan.toDate.text}} submitted by {{plan.owner.displayName}} on  {{plan.updatedOn.text}}</span>
                                <span class="pull-right">
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </span>
                            </accordion-heading>
                            <div class="row" >
                                <span class="pull-right">
                                    <a ng-click="approve(plan)">Approve</a>
                                    <a ng-click="rejectPlan(plan)" style="margin-left: 10px">Reject</a>
                                </span>

                                <table class="table table-bordered" border="1">
                                    <thead>
                                    <tr >
                                        <th ng-repeat="day in daysOfWeek">{{day}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="w in data.weeks" style="height:100px;">
                                        <td style="min-width:150px;padding: 0px;border: 1px solid darkgray" ng-repeat="da in w" nowrap="nowrap">
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td style="border-bottom: 1px solid #d3d3d3; padding: 4px"  ng-show="{{da.date}}" >
                                                        <b>{{da.date | date:'dd' }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 4px;">
                                                        <any ng-show="showCounts(da.time)">
                                                            <span ng-repeat="b in data.tourData[da.time].beats"> {{b.displayName}}<br/> </span>
                                                        </any>
                                                        {{activityMasterListMap[data.tourData[da.time].plannedActivityType.id].name}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  style="padding: 4px;">
                                                        <any ng-show="showCounts(da.time)">
                                                            Doc: <a ng-click="openDoctorListing(da.time)" class="squerlink">{{ data.tourData[da.time].numDoctors }}</a>   Ch: <a ng-click="openChemistListing(da.time)" class="squerlink">{{ data.tourData[da.time].numChemists }}</a>
                                                        </any>
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </accordion-group>
                </accordion>
        </div>
    </div>
</div>

<script type="text/ng-template" id="doctorListing.html" >
    <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{detail.activityDate.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Beat</th>
                        <th>Doctor</th>
                        <th>Speciality</th>
                        <th>Classfication</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in profiles">
                        <td>{{profile.beat.name}}</td>
                        <td>{{profile.doctor.displayName}}</td>
                        <td>{{profile.speciality.displayName}}</td>
                        <td>{{profile.classification.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
</script>


<div >
    <script type="text/ng-template" id="chemistListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{detail.activityDate.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Chemist</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chemist in chemists">
                        <td>{{chemist.name}}</td>
                        <td>&nbsp;</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>


<div>
    <script type="text/ng-template" id="comments.html">
        <div class="modal-header" ng-init="init()">
            <h4 class="modal-title">Comments for Rejection</h4>
        </div>
        <div class="modal-body">
            <textarea ng-model="comments" cols="25" rows="4" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="rejectPlan()">Reject Plan</button>
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>