<div class="panel"  style="min-height: 550px" ng-controller="BeatsController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="employeeForm" ng-submit="save()" novalidate valdr-type="Beats">
                <div class="form-group required-field">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Name</label>
                    <div class="col-xs-8" valdr-form-group>
                        <input type="text" name="name" ng-model="definition.name" class="form-control" ng-show='definition.beatType!="SYSTEM_CREATED"'/>
                        <input type="text" name="sysname" ng-model="definition.name" class="form-control" readonly ng-show='definition.beatType=="SYSTEM_CREATED"'/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Location</label>
                    <div class="col-xs-8" valdr-form-group>
                        <select name="location" ng-model="definition.location.id" class="form-control"
                                ng-options="l.id as l.name for l in locations"
                                ng-change="updateDoctors()" ng-show='definition.id==null' >
                            <option value="">Select Location</option>
                        </select>
                        <input type="text" name="editlocation" class="form-control" ng-model="definition.location.displayName" ng-show='definition.id!=null' readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Status</label>
                    <div class="col-xs-8" valdr-form-group>
                        <select name="location" ng-model="definition.status.id" class="form-control"
                                ng-options="s.id as s.name for s in statusList" ng-change="checkStatus()" ng-disabled="isStatusInactive">
                            <option value="">Select Status</option>
                        </select>
                    </div>
                </div>

                <div class="row" ng-show='definition.beatType!="SYSTEM_CREATED" && definition.status.id=="USRLVBTST0000000000000000000000000001"'>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Add Doctor</label>
                        <div class="col-xs-8">
                            <div class="col-xs-20">
                                <select name="parent" ng-model="doctor" class="form-control"
                                        ng-options="doctor.id as doctor.name for doctor in doctors" >
                                    <option value="">Select Doctor</option>
                                </select>
                            </div>
                            <div class="col-xs-4 pull-right">
                                <a class="btn btn-default" ng-click="addDoctor()">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-xs-offset-4">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Chemists</th>
                            <th ng-show='definition.beatType!="SYSTEM_CREATED"' >&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in definition.doctors">
                            <td>{{d.name}}</td>
                            <td><p ng-repeat="c in chemists[d.id]">{{c.chemistName}}</p></td>
                            <td ng-show='definition.beatType!="SYSTEM_CREATED"' ><a ng-click="removeDoctor(d.id)">Remove</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" ng-disabled="employeeForm.$invalid" class="btn btn-primary" ng-show='definition.beatType!="SYSTEM_CREATED"'>{{links.save}}</button>
                </div>

            </form>
        </div>
    </div>
</div>