<div class="panel"  style="min-height: 550px" ng-controller="BeatSearchControllerController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
            <span class="pull-right"><a ng-click="addNew()"><img src="images/add.png" tooltip="Add New"></a></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form template="formFields" class="form-inline ng-untouched ng-valid dynamic-form ng-scope ng-dirty ng-valid-parse ng-submitted" model="stdFormData">
                <fieldset class="dynamic-fieldset">
                    <legend>Search</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Name</label>
                        </div>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="ci_name" ng-model="stdFormData['bd.ci_name']" value="null" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Location</label>
                        </div>
                        <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" name="myTerritory"
                                ng-model="stdFormData['myTerritory']" value="null" ng-change="null"
                                ng-options="t.id as t.name for t in territorys">
                            <option value="">Select All</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Status</label></div>
                        <select class="form-control ng-pristine ng-untouched ng-valid" name="status" ng-model="stdFormData['status']"
                                value="null" ng-change="null" ng-options="s.id as s.name for s in statusList">
                            <option value="">Select All</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="search()">Search</button></fieldset></form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" >
                        <any ng-switch on="columns[$index].dataType">
                            <div ng-switch-when="Reference">{{d[col.name].displayName}}</div>
                            <div ng-switch-when="Date">{{d[col.name].text}}</div>
                            <div ng-switch-when="Array">
                                {{d[col.name][0].jobTitle.displayName}}
                            </div>
                            <div ng-switch-when="Object">{{d[col.name.split('.')[0]][col.name.split('.')[1]]}}</div>
                            <div ng-switch-default>{{d[col.name]}}</div>
                        </any>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-xs-2" ng-repeat="action in actions"><span table-link></span><any ng-show="actions.length>1"><br /></any></div>
                            <div class="col-xs-12">
                                <span style="margin-left:10px" ng-show="d.beatType!='SYSTEM_CREATED'">
                                    <a type="button" ng-disabled="isStatusInactive" class="squerlink" ng-click="changeStatus(d.docCount,d.statusId,d.id,d.beatType)">Change Status</a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>
