<div class="panel"  style="min-height: 550px" ng-controller="CMEReportingController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                CME
            </span>
        </div>
    </div>

    <div class="panel-body">

        <div class="row row-spacer">
            <div class="col-xs-10">
                <label class="col-xs-7 col-xs-offset-1 control-label"></label>
                <div class="col-xs-16">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Planning</span>
                </div>
            </div>

            <div class="col-xs-10">
                <div class="col-xs-16 col-xs-offset-3">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Reporting</span>
                </div>
            </div>
        </div>

        <div class="row row-spacer">
            <div class="col-xs-10">
                <label class="col-xs-7 col-xs-offset-1 control-label">Topic of CME:</label>
                <div class="col-xs-16">
                    <input type="text" name="topic" ng-model="topic" class="form-control"/>
                </div>
            </div>

            <div class="col-xs-10">
                <div class="col-xs-16 col-xs-offset-3">
                    <input type="text" name="Rtopic" ng-model="Rtopic" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row row-spacer">
            <div class="col-xs-10">
                <label class="col-xs-7 col-xs-offset-1 control-label">Focused Brand:</label>
                <div class="col-xs-16 ">
                    <input type="text" name="focusedbrand" ng-model="focusedbrand" class="form-control"/>
                </div>
            </div>

            <div class="col-xs-10">
                <div class="col-xs-16 col-xs-offset-3">
                    <input type="text" name="Rfocusedbrand" ng-model="Rfocusedbrand" class="form-control"/>
                </div>
            </div>
        </div>

            <div class="row row-spacer">
                <div class="col-xs-10 ">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Proposed Date</label>
                    <div class="col-xs-16">
                        <input type="text" name="proposedDate" ng-model="date"  class="form-control" squer-datepicker-all />
                    </div>
                </div>

                <div class="col-xs-10 ">
                    <div class="col-xs-16 col-xs-offset-3">
                        <input type="text" name="RproposedDate" ng-model="Rdate"  class="form-control" squer-datepicker-all />
                    </div>
                </div>
            </div>
            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Proposed Speaker</label>
                    <div class="col-xs-16">
                        <input type="text" name="speaker" ng-model="speaker" class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-16 col-xs-offset-3">
                        <input type="text" name="Rspeaker" ng-model="Rspeaker" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Proposed Headquarter</label>
                    <div class="col-xs-16">
                        <select name="hq" ng-model="headquarter" class="form-control"
                                ng-options="h.id as h.name for h in headquarterlist">
                            <option value="">Select Headquarters</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-16 col-xs-offset-3">
                        <select name="hq" ng-model="Rheadquarter" class="form-control"
                                ng-options="h.id as h.name for h in headquarterlist">
                            <option value="">Select Headquarters</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Proposed Venue</label>
                    <div class="col-xs-16">
                        <input type="text" name="venue" ng-model="proposedvenue" class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-16 col-xs-offset-3">
                        <input type="text" name="Rvenue" ng-model="Rproposedvenue" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">No of attendees:</label>
                    <div class="col-xs-16">
                        <input type="text" name="attendees" ng-model="docCount" class="form-control" disabled/>
                    </div>
                    <div>
                        <a ng-click="doctorListPopup(docCount)" class="squerlink">Select Doctors</a>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-16 col-xs-offset-3">
                        <input type="text" name="Rattendees" ng-model="RdocCount" class="form-control" disabled/>
                    </div>
                    <div>
                        <a ng-click="doctorListPopup()" class="squerlink">Select Doctors</a>
                    </div>
                </div>
            </div>




            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label"> Present HQ sale of brand</label>
                    <div class="col-xs-16">
                        <input type="text" name="presentsale" ng-model="presentsale" class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-16 col-xs-offset-3">
                        <input type="text" name="Rpresentsale" ng-model="Rpresentsale" class="form-control"/>
                    </div>
                </div>
            </div>


            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label"> Expected increase in HQ sale of brand</label>
                    <div class="col-xs-16">
                        <input type="text" name="expectedsale" ng-model="expectedsale" class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-16 col-xs-offset-3">
                        <input type="text" name="Rexpectedsale" ng-model="Rexpectedsale" class="form-control"/>
                    </div>
                </div>
            </div>


            <div class="panel-heading page-title" style="margin-top: 20px">
                <div class="row">
            <span style="vertical-align: middle;font-weight: bold; font-size: medium">
                    Budget
            </span>
                </div>
            </div>
            <div class="col-xs-24">
                <table class="table table-bordered" style="margin-top: 10px">

                    <tr style="background-color: #F9F9F9">
                        <th style="background-color: #ffffff;border-top-color: #ffffff;border-left-color: #ffffff"></th>
                        <th style="text-align: center">Video</th>
                        <th style="text-align: center">Audio & Video</th>
                        <th style="text-align: center">Food & Beverages</th>
                        <th style="text-align: center">Transportation</th>
                        <th style="text-align: center">Miscellaneous</th>
                        <th style="text-align: center">Total</th>
                    </tr>

                    <tr style="background-color: #F9F9F9">
                        <td style="text-align: center" width="10%">Planned</td>
                        <td style="background-color: #ffffff;border-top-color: #ffffff;border-left-color: #ffffff" width="15%"><input type="text" ng-change="addBudget()" name="venue" ng-model="venue" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" ng-change="addBudget()" name="audiovideo" ng-model="audiovideo" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" ng-change="addBudget()" name="food" ng-model="food" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" ng-change="addBudget()" name="transport" ng-model="transport" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" ng-change="addBudget()" name="miscellaneous" ng-model="miscellaneous" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><label  name="total" ng-model="total" class="form-control" >
                            <img class="ng-scope" tooltip="Add New"  height="12" width="12" src="images/rs.png">&nbsp;{{total}}</label></td>

                    </tr>
                    <tr style="background-color: #F9F9F9">
                        <td style="text-align: center" width="10%">Reported</td>
                        <td style="background-color: #ffffff;border-top-color: #ffffff;border-left-color: #ffffff" width="15%"><input type="text" name="Rvenue" ng-model="Rattendees" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" name="Raudiovideo" ng-model="Raudiovideo" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" name="Rfood" ng-model="Rfood" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" name="Rtransport" ng-model="Rtransport" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><input type="text" name="Rmiscellaneous" ng-model="Rmiscellaneous" class="form-control"/></td>
                        <td style="text-align: center" width="15%"><label  name="total" ng-model="Rtotal" class="form-control" >
                            <img class="ng-scope" tooltip="Add New"  height="12" width="12" src="images/rs.png">&nbsp;{{Rtotal}}</label></td>

                    </tr>

                </table>
            </div>

        <div class="col-xs-24" style="margin-top: 10px">
            <span class="pull-right">
                <button type="button"  class="btn btn-primary">Save</button>
                <button type="button"  class="btn btn-primary">Submit</button>
            </span>
        </div>


    </div>
</div>


<div>
    <script type="text/ng-template" id="doctorList.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Doctor List  </h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Doctors</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="n in doctorList">
                        <td>{{n.name}}</td>
                        <td><input type="checkbox" name="doccount" id="{{n.id}}" ng-model="$index" class="form-control" ng-change="doctorCount(n.id)"/></td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
            </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
        </script>
    </div>