<div class="panel"  style="min-height: 550px" ng-controller="CoachingFormFeedbackController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
            <span class="pull-right"><a ng-click="addNew('beats')">{{links.addNew}}</a></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">


        </div>
        <div class="row row-spacer">
            <div ui-grid="searchData" class="grid"></div>
        </div>
    </div>
</div>
