<!--coachingfeedback.html -->
<div class="panel"  style="min-height: 550px" ng-controller="CoachingFormFeedbackController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="coachingfeedbackform" novalidate valdr-type="coachingform" ng-submit="save()">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label">Team Member</label>
                    <div class="col-xs-8" valdr-form-group>
                       <select name="teammember" ng-model="controls.teamMember.id" class="form-control"
                               ng-change="fetchListOfDate(controls.teamMember.id)"
                               ng-options="e.id as e.name +' - ' + e.companydetails[0].jobTitle.displayName  for e in members" ng-show='memberId==null'
                               ng-disabled="disableSelect">
                            <option value="">Select</option>
                       </select>
                       <input type="text" name="editteammember" ng-model="controls.teamMember.displayName" class="form-control" readonly ng-show='memberId!=null'>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label">Date</label>
                    <div class="col-xs-8" valdr-form-group>
                        <input type="text" name="reportDate" ng-show='memberId==null' ng-model="controls.reportDate.text" ng-change="validate(controls.reportDate.text)" class="form-control" squer-datepicker ng-disabled="disableSelect"/>
                        <input type="text" name="editreportDate" ng-show='memberId!=null' ng-model="controls.reportDate.text" readonly class="form-control" squer-datepicker/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-18 col-xs-offset-3">
                        <button type="button" class="btn btn-primary" ng-click="fetchEBform(controls.teamMember.id)" ng-hide="isEdit" >Search</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-18 col-xs-offset-3">
                        <span ng-show="disableSelect">
                            To change team member REFRESH the page.
                        </span>
                    </div>
                </div>
                <div class="jumbotron"  ng-show="showForm">
                <div class="row" ng-repeat="s in definition.form">

                    <div class="panel-heading row">
                        <div class="row row-spacer">
                            <div class="col-xs-10" style="font-weight: bold">
                                {{s.name}}
                            </div>
                            <div class="col-xs-14">
                                <label class="col-xs-7 col-xs-offset-1 control-label"><b>Feedback</b></label>
                                <div class="col-xs-16" valdr-form-group>
                                    <textarea  name="{{s.id}}" ng-model="feedback.textResponse[s.id]" rows="4" cols="100" class="col-xs-24"  ng-show='s.scoreType == "FREETEXT"'></textarea>

                                    <!--input type="text" name="name" ng-model="controls.feedback[s.id].id" class="form-control" ng-show='s.scoreType == "FREETEXT"'/-->

                                    <select name="{{s.id}}" ng-model="feedback.usrLovs[s.id].id" class="form-control" ng-disabled="isNewDisabled"
                                            ng-options="sr.id as sr.name for sr in sectionRankLovList" ng-show='s.scoreType=="RANK"'>
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="panel-heading row">{{s.name}}</div>
-->
                    <div class="row">
                        <table class="table table-bordered">
                            <tr ng-repeat="q in s.questions">
                                <td>{{q.question}}</td>
                                <!--td ng-show="q.answerType.id=='SYSLVCFAT0000000000000000000000000001'">
                                <    <select ng-model="controls.feedback[q.id]" class="form-control" name="feedback">
                                        <option value="">Select</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </td>
                                <td ng-show="q.answerType.id=='SYSLVCFAT0000000000000000000000000002'">
                                    <textarea  ng-model="controls.feedback[q.id]" rows="2" class="col-xs-24"></textarea>
                                </td>-->
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
                <div class=" pull-right"  ng-show="showForm">
                    <button type="submit" class="btn btn-primary" ng-disabled="coachingfeedbackform.$invalid" ng-hide="isNewDisabled">{{links.save}}</button>
                </div>
            </form>
        </div>


    </div>
</div>
