        <div class="panel"  style="min-height: 550px" ng-controller="TourPlanController" ng-init="init()">

            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Tour Plan
                            <span class="dropdown" on-toggle="toggled(open)">
                              21        Jan
                            -
                                      2014
                            </span>
                        (
                                      Draft
                        )
                </div>
            </div>
            <div class="panel-body">



                <div class="row">
                        <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                            <div class="row">
                               Field Visit for Beat Name - HQ with My manager
                            </div>
                            <accordion close-others="oneAtATime" id="leftMenu" class="leftmenu">
                                <accordion-group heading="Doctors" is-open="open">
                                    <table border="1">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="n in dates">
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                                <accordion-group heading="Chemists" is-open="open">
                                    <table border="1">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="n in dates">
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>

                            </accordion>


                        </form>
                </div>
            </div>
        </div>




