<div class="panel"  style="min-height: 550px" ng-controller="discountRequestController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Discount Request
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-6 control-label">Month</label>
                        <div class="col-xs-18">
                            <select class="form-control" ng-model="month">
                                <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index}}">{{m}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-6 control-label">Year</label>
                        <div class="col-xs-17">
                            <select class="form-control" ng-model="year">
                                <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <input type="button" class="btn btn-primary pull-left" value="Get Details" ng-click="getDetails()">
            </div>
            <div class="col-xs-12">
                <any ng-show="discountId!=null">
                    <any ng-show="status.id=='USRLVDISSTS00000000000000000000000001'">
                        <input type="button" class="btn btn-default pull-right" value="Submit" ng-click="submit()">
                    </any>
                    <any ng-show="status.id!='USRLVDISSTS00000000000000000000000001'">
                        <span class="pull-right" style="font-weight: bold">Discount request is {{status.displayName | lowercase}} on {{discount.updatedOn.text}}</span>
                    </any>
                </any>
            </div>
        </div>
        <div style="height: 20px"></div>
        <table class="table table-striped" ng-show="showDetails">
            <thead>
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Brands</th>
                    <th>SKU</th>
                    <th ng-repeat="m in displayMonths">{{monthList[m]}}</th>
                    <th>{{monthList[displayCmonth]}} Qty</th>
                    <th>Current Price</th>
                    <th>Proposed Price</th>
                    <th>Approved price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="100px">
                        <div class="row">
                            <div class="col-xs-12" style="align-items: center">
                                <input type="radio" name="cutType" ng-click="getCustomers('doctr')"><br/>
                                Doctor
                            </div>
                            <div class="col-xs-12">
                                <input type="radio" name="cutType" ng-click="getCustomers('chemt')"><br/>
                                Chemist
                            </div>
                        </div>
                    </td>
                    <td width="150px">
                        <select class="form-control"
                                ng-model="customer"
                                ng-options="c.id as c.name for c in customers"
                                ng-change="searchDiscount()"
                                >
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td width="150px">
                        <select class="form-control"
                                ng-model="brand"
                                ng-options="b.id as b.name for b in brands"
                                ng-change="getsku(brand)"
                                >
                            <option value="">Select</option>
                        </select>
                    </td>

                    <td width="150px">
                        <select class="form-control"
                                ng-model="sku"
                                ng-options="s.id as s.name for s in skuList"
                                ng-change="searchDiscount()"
                                >
                            <option value="">Select</option>
                        </select>
                    </td>

                    <td><input type="text" class="form-control" ng-model="month1_qty" style="width: 70px" disabled></td>
                    <td><input type="text" class="form-control" ng-model="month2_qty" style="width: 70px" disabled></td>
                    <td><input type="text" class="form-control" ng-model="month3_qty" style="width: 70px" disabled></td>
                    <td><input type="text" class="form-control" ng-model="quantity" style="width: 70px"></td>
                    <td><input type="text" class="form-control" ng-model="price" style="width: 70px"></td>
                    <td><input type="text" class="form-control" ng-model="proposedPrice" style="width: 70px"></td>
                    <td><input type="text" class="form-control" ng-model="ApprovedPrice"disabled style="width: 70px"></td>
                    <td>
                        <span class="pull-right"><button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="save()">Save</button></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger" role="alert" ng-show="showMessage">{{displayMsg}}</div>
        <div class="col-xs-24" style="height:30px;"></div>
        <table class="table table-striped" ng-show="showSummery">
            <tr>
                <th>Customer</th>
                <th>Brands</th>
                <th>SKU</th>
                <th ng-repeat="m in displayMonths"  style="text-align: center">{{monthList[m]}} Qty</th>
                <th style="text-align: center">{{monthList[displayCmonth]}} Qty</th>
                <th style="text-align: center">Current Price</th>
                <th style="text-align: center">Proposed Price</th>
                <th style="text-align: center">Approved price</th>
                <th>Remarks</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="d in discountRows">
                <td style="vertical-align: middle">{{d.customer.displayName | capitalize}}</td>
                <td style="vertical-align: middle">{{d.brand.displayName | capitalize}}</td>
                <td style="vertical-align: middle">{{d.sku.displayName | capitalize}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.prvQty[0]}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.prvQty[1]}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.prvQty[2]}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.quantity}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.currentPrice}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.proposedPrice}}</td>
                <td style="text-align: center;vertical-align: middle">{{d.approvedPrice}}</td>
                <td><textarea class="form-control" ng-model="d.remarks" disabled></textarea></td>
                <td style="vertical-align: middle">

                    <button class="btn btn-default btn-sm btn-link" type="button"
                            ng-click="delete(d,$index)"
                            ng-show="d.status.id=='USRLVDISSTS00000000000000000000000001' && (d.detailStatus.id=='USRLVSKUSTS00000000000000000000000001' || d.detailStatus.id=='USRLVSKUSTS00000000000000000000000002')">
                        <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                    </button>

                    <button type="button" class="btn btn-link" ng-click="showDiscountDocuments(d)" tooltip="Upload Documents">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        <span class="badge" style="background-color: #ff0000;font-size: x-small">{{d.docCount}}</span>
                    </button>
                </td>
                <td style="vertical-align: middle;text-align: center">{{d.detailStatus.displayName | capitalize}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- Document PopUp -->
<div>
    <script type="text/ng-template" id="docs.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Documents for {{customer | capitalize}} - <br> {{brand | capitalize}} [{{sku| capitalize}}]</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Document</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-show="dtlStatus=='USRLVSKUSTS00000000000000000000000001'">
                        <td width="350px"><input type="file" ng-model="discount.uploadFile" id="uploadFile"></td>
                        <td>
                            <button  class="btn btn-primary" ng-click="uploadFile(discount.uploadFile)" ng-disabled="">upload</button>
                        </td>
                    </tr>
                    <tr data-ng-repeat="d in docs">

                        <td>{{d.name}}</td>
                        <td style="vertical-align: middle">
                            <button class="btn btn-default btn-sm btn-link" type="button" ng-click="delete(d.id,d.name,$index)" ng-show="dtlStatus=='USRLVSKUSTS00000000000000000000000001'">
                                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                            </button>

                            <button class="btn btn-default btn-sm btn-link" type="button" ng-click="downloadFile(d.id)">
                                <span aria-hidden="true" class="glyphicon glyphicon-save"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>
<!-- Document PopUp END-->