<div class="panel"  style="min-height: 550px" ng-controller="DiscountApprovalController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Discount Request of {{discount.owner.displayName | capitalize}} for {{monthList[discount.month -1]}} {{discount.year}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="showMessage">{{displayMsg}}</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Brands</th>
                    <th>SKU</th>
                    <th ng-repeat="m in displayMonths"  style="text-align: center">{{monthList[m]}} Qty</th>
                    <th style="text-align: center">{{monthList[discount.month]}} Qty</th>
                    <th style="text-align: center">Current Price</th>
                    <th style="text-align: center">Proposed Price</th>
                    <th style="text-align: center">Price To Approve</th>
                    <th>Remarks</th>
                    <th>Approve</th>
                    <th>Reject</th>
                    <th>Douments</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in discountRows">
                    <td style="vertical-align: middle">{{d.customer.displayName | capitalize}}</td>
                    <td style="vertical-align: middle">{{d.brand.displayName | capitalize}}</td>
                    <td style="vertical-align: middle">{{d.sku.displayName | capitalize}}</td>
                    <td style="text-align: center;vertical-align: middle">{{d.prvQty[0]}}</td>
                    <td style="text-align: center;vertical-align: middle">{{d.prvQty[1]}}</td>
                    <td style="text-align: center;vertical-align: middle">{{d.prvQty[2]}}</td>
                    <td style="text-align: center;vertical-align: middle">{{d.quantity}}</td>
                    <td style="text-align: center;vertical-align: middle">{{d.currentPrice}}</td>
                    <td style="text-align: center;vertical-align: middle">{{d.proposedPrice}}</td>
                    <td style="text-align: center;vertical-align: middle">
                        <input type="text" class="" ng-model="d.approvedPrice" style="width:80px;text-align: center">
                    </td>
                    <td><textarea class="form-control" ng-model="d.remarks"></textarea></td>
                    <td style="text-align: center;vertical-align: middle">
                        <input type="radio" name="skuStatus_{{$index}}" id="approveStatus_{{$index}}" ng-click="approveDetails(d,$index)" ng-checked="d.detailStatus.id=='USRLVSKUSTS00000000000000000000000003'">
                    </td>
                    <td style="text-align: center;vertical-align: middle">
                        <input type="radio" name="skuStatus_{{$index}}" id="rejectStatus_{{$index}}" ng-click="rejectDetails(d,$index)" ng-checked="d.detailStatus.id=='USRLVSKUSTS00000000000000000000000002'">
                    </td>
                    <td style="text-align: center;vertical-align: middle">
                        <button type="button" class="btn btn-link" ng-click="showDiscountDocuments(d)" tooltip="Upload Documents">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                            <span class="badge" style="background-color: #ff0000;font-size: x-small">{{d.docCount}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Document PopUp -->
<div>
    <script type="text/ng-template" id="docs.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Documents for {{customer | capitalize}} - <br> {{brand | capitalize}} [{{sku| capitalize}}]</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Document</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="d in docs">
                    <td>{{d.name}}</td>
                    <td style="vertical-align: middle">
                        <button class="btn btn-default btn-sm btn-link" type="button" ng-click="downloadFile(d.id)">
                            <span aria-hidden="true" class="glyphicon glyphicon-save"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>
<!-- Document PopUp END-->