<div class="panel"  style="min-height: 550px"  ng-controller="DoctorROIController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Culbute
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row row-spacer">
            <form class="form-inline dynamic-form">
                <fieldset class="col-xs-24">
                    Division: <select ng-model="division.id" ng-change="fetchLocations()" class="form-control"
                                      ng-options="division.id as division.name for division in master.divisions | orderBy : 'name'">
                                <option value="">Select</option>
                    </select>
                    Location: <select ng-model="location.id" ng-change="fetchDoctors()" class="form-control"
                                      ng-options="location.id as location.name for location in master.locations | orderBy : 'name'">
                        <option value="">Select</option>
                    </select>
                    Doctor:<select ng-model="doctor.id" class="form-control" ng-options="doctor.id as doctor.name for doctor in doctors | orderBy : 'name'">
                    <option value="">Select</option>
                    </select>
                    Brand:<select ng-model="brand.id" class="form-control" ng-options="brand.id as brand.name for brand in brands | orderBy : 'name'">
                    <option value="">Select</option>
                    </select>
                    <br>
                    <br>
                    From Month:<select name="fromMonth" ng-model="fromMonth" class="form-control" ng-options="month as month for month in months">
                    </select>
                    From Year:<select name="fromYear" ng-model="fromYear" class="form-control" ng-options="year for year in years"></select>
                    To Month:<select name="toMonth" ng-model="toMonth" class="form-control" ng-options="month as month for month in months">
                    </select>
                    To Year:<select name="toYear" ng-model="toYear" class="form-control" ng-options="year for year in years">
                    </select>
                    <button class="btn btn-primary" ng-click="generateReport()">View ROI Report</button>
                    <!--Show by Brand <input type="checkbox" name="showByBrand" ng-model="showByBrand" class="form-control" /-->
                    <button class="btn btn-primary" ng-click="downloadReport()">Download</button>
                </fieldset>
            </form>
        </div>

        <div class="row row-spacer" ng-show="showTable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th bgcolor="white" ng-repeat="monthname in displayMonthList">{{monthname}}</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="col in summaryColumns">
                        <td bgcolor="white" ng-show="col.bold"><b>{{col.displayName}}</b></td>
                        <td bgcolor="white" ng-show="!col.bold">{{col.displayName}}</td>
                        <td ng-repeat="mon in monthList" ng-show="col.bold"><b>{{dateWiseSummary[mon][col.columnName] | currency:"":0}}</b></td>
                        <td ng-repeat="mon in monthList" ng-show="!col.bold">{{dateWiseSummary[mon][col.columnName] | currency:"":1}}</td>
                        <td ng-show="col.bold"><b>{{dateWiseSummaryTotal[col.columnName] | currency:"":0}}</b></td>
                        <td ng-show="!col.bold">{{dateWiseSummaryTotal[col.columnName] | currency:"":1}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row row-spacer" >
            <highchart id="chart" config="chart" ></highchart>
        </div>


        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>
