<div class="panel"  style="min-height: 550px" ng-controller="doctorUniverseController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Universe
            </span>
        </div>
    </div>

    <div class="panel-body">
        <form template="stdFormTemplate" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
            <fieldset class="dynamic-fieldset">
                <legend>Search</legend>
                <div class="row">

                    <div class="form-group" ng-show="showDivision">
                        <div class="input-group">
                            <label>Division</label>
                        </div>
                        <select class="form-control" ng-model="division"
                                ng-options="d.id as d.name for d in divisionList" style="width:120px;" ng-change="getRegions(division)">
                            <option value="">Select</option>
                        </select>
                    </div>

                    <div class="form-group" ng-show="showRegion">
                        <div class="input-group">
                            <label>Region</label>
                        </div>
                        <select class="form-control" ng-model="region"
                                ng-options="r.id as r.name for r in regionList"
                                ng-change="getChild(region)" style="width:120px;">
                            <option value="">Select</option>
                        </select>
                    </div>

                    <div class="form-group" ng-show="showTerritory">
                        <div class="input-group">
                            <label>Territory</label>
                        </div>
                        <select class="form-control" ng-model="territory"
                                ng-options="t.id as t.name for t in territoryList" style="width:120px;">
                            <option value="">Select</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Speciality</label>
                        </div>
                        <select class="form-control" ng-model="speciality" style="width: 120px"
                                ng-options="sp.id as sp.name for sp in specialityList">
                            <option value="">Select</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary col-xs-offset-1" ng-click="downloadReport()">Download Report</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>