<!-- doctorEngagement.html -->
<div class="panel"  style="min-height: 550px" ng-controller="DoctorEngagementController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
                <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" ng-model="definition.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label">Date</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" squer-datepicker/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-xs-3 col-xs-offset-1 control-label">Add Doctor</label>
                            <div class="col-xs-8">
                                <div class="col-xs-20">
                                    <select name="parent" ng-model="controls.doctor" class="form-control"
                                            ng-options="doctor.id as doctor.firstName + ' ' + doctor.lastName   for doctor in doctors">
                                        <option value="">Select Doctor</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 pull-right">
                                    <a class="btn btn-default" ng-click="addDoctor()">Add</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-xs-offset-4">
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Doctor</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in definition.doctors">
                                    <td>{{d.firstName + ' ' + d.lastName}}</td>
                                    <td><a ng-click="removeDoctor(d.id)"><img src="images/trash.png"/></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-xs-18 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary">{{links.save}}</button>
                    </div>

                </form>
        </div>


    </div>
</div>






