<div class="panel"  style="min-height: 550px" ng-controller="doctorInputController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" ng-show="expense.id==null">
                Doctor Survey
                <span ng-show="currentOwner!=null && currentOwner!=owner">
                    - {{empName}}
                </span>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <fieldset class="dynamic-fieldset">
            <legend>Search</legend>
            <div class="row">
                <div class="col-xs-2">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Classification</span>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="classification" ng-options="c.id as c.name for c in classifications">
                        <option value="">select</option>
                    </select>
                </div>

                <div class="col-xs-2">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Brand</span>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="brand" ng-options="b.id as b.name for b in brands">
                        <option value="">select</option>
                    </select>
                </div>
                <div ng-show="showLocation">
                    <div class="col-xs-2">
                        <span class="pull-right" style="font-weight: bold;padding-top: 5px">Location</span>
                    </div>

                    <div class="col-xs-4">
                        <select class="form-control" ng-model="location.id" ng-options="l.id as l.name for l in locationlist">
                            <option value="">select</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary pull-right" ng-click="search()">Search</button>
                </div>
                <div class="col-xs-2" ng-show="currentOwner==owner && showSubmit">
                    <button class="btn btn-primary pull-right" ng-click="submit()">Submit</button>
                </div>

                <div class="col-xs-4" ng-show="currentOwner!=owner && showSubmit">
                    <span class="pull-right">
                        <button class="btn btn-primary" ng-click="approve()">Approve</button>
                        <button class="btn btn-default" ng-click="reject()">Reject</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-24" ng-show="result.length>0 && !showSubmit">
                <span style="font-weight:bold;margin-top:5px" class="pull-right">Survey {{masterData.status.displayName | capitalize}} on {{masterData.updatedOn.text}}</span>
            </div>
        </fieldset>

        <div class="row" ng-show="result.length>0">
            <div class="col-xs-20" style="font-size: medium;font-weight: bold;color:#AC4341;margin-top: 10px">
                *  Only Avg Monthly Units to be entered for each SKU
            </div>
            <div class="col-xs-4">
                <a href="" ng-click="showProductivity()" class="squerlink pull-right" style="margin-top: 15px">Show Productivity</a>
            </div>
        </div>

        <div class="col-xs-24 alert alert-danger" ng-show="result.length>0 && doctorInputForm.$invalid" role="alert" style="margin-top: 10px">
            <label>* You have entered wrong data. Value should be Integer and between 0 and 9999.</label>
        </div>

        <form name="doctorInputForm" valdr-type="DoctorProductInput" novalidate class="myform" style="margin-top: 50px">
            <div class="row" ng-show="result.length>0">
                <div class="col-xs-6 pull-left">
                    <table class="table-striped">
                        <thead>
                            <tr>
                                <th><span class="mySpan"></span></th>
                                <th><span class="mySpan"></span></th>
                                <th width="100px" style="text-align: center">Productivity</th>
                                <th width="100px" style="text-align: center">Non Prescriber For All</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in result">
                                <td class="tdOther">
                                    <span class="mySpan"> {{r.doctorCode}}</span>
                                </td>
                                <td class="tdDoctor">
                                    <span class="mySpan">{{r.doctor.displayName}}</span>
                                </td>
                                <td class="tdOther" style="text-align: center">{{r.productivity | number:0}}</td>
                                <td class="tdOther" style="text-align: center">
                                    <input type="checkbox" ng-model="r.unPrescriber" ng-change="editPrescriber(r)" name="{{r.doctorCode}}" ng-disabled="disableData">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-14 pull-right">
                    <div class="tableWrapper" >
                        <table class="table-striped" >
                            <thead>
                                <tr>
                                    <th ng-repeat="h in headers" style="">
                                        <span class="mySpan" style="text-align: center;">{{h.product.displayName}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in result">
                                    <td class="tdData" ng-repeat="p in r.inputs">
                                        <input type="text" ng-model="p.quantity" class="form-control" ng-blur="updateProductivity(r)" name="quantity"  ng-disabled="disableData || r.unPrescriber">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="result.length>0">
                <div class="col-xs-14">
                    <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-top: 20px" ng-click="save()">Save</button>
                </div>
                <div class="col-xs-10">
                    <pagination total-items="totalItems"
                                ng-model="currentPage"
                                max-size="5"
                                ng-change="pageChanged()"
                                class="pagination-xs pull-right"
                                boundary-links="true" rotate="false"
                                items-per-page="10"
                                ng-show="!doctorInputForm.$invalid">
                    </pagination>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <script type="text/ng-template" id="productivity.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Total Productivity</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Productivity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in displayData">
                        <td>{{d.classification}}</td>
                        <td>{{d.productivity | number : 0}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>{{total | number :0}}</th>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-24">
                <span style="color: #AC4341">
                    * Only saved data is showing for all the brands.
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>
