<div class="panel"  style="min-height: 550px"  ng-controller="EmployPage2Controller" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Employee Survey
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page1Form"  >

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="3%" style="vertical-align: middle;text-align: center"> 7</td>
                    <td width="50%">
                        When facing a challenge in my day-to-day work, I
                    </td>
                </tr>
                <tr>
                    <td width="3%"> </td>

                    <td ><input type="radio" name="q1" value="1" ng-model="answers[8].value" >&nbsp;&nbsp;I work independently to resolve the challenge</td>
                  </tr>
                <tr>
                    <td width="3%"> </td>

                    <td ><input type="radio" name="q1" value="2" ng-model="answers[8].value" >&nbsp;&nbsp;Try to resolve the challenge independtly but seek approval/support of my sup </td>

                </tr>
                <tr>
                    <td width="3%"> </td>

                    <td ><input type="radio" name="q1" value="3" ng-model="answers[8].value" >&nbsp;&nbsp;Mostly collaborate with others to resolve the challenge</td>

                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="3%" style="vertical-align: middle;text-align: center"> 8</td>
                    <td width="50%">When I do collaborate with others to resolve a challenge, I usually work with</td>
                </tr>

                <tr ng-repeat=" e in q8list">
                    <td width="3%"></td>
                    <td>
                        <div class="col-xs-6">{{e.displayName}}</div>
                        <div class="col-xs-6">{{e.freqName}}</div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee1($index)"  >
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="3%"></td>

                    <td>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employees"
                                    output-model="que8emply"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                            </div>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="answers[10]" name="q8">
                                <option value="">Select frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks of more</option>
                            </select>
                        </div>
                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q8" ng-click="addEmployees1()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>

                </tr>

            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%" style="vertical-align: middle;text-align: center">9</td>
                    <td width="50%">I like working in positions of power and influence</td>

                    <td width="14%"><input type="radio" name="q9" value="1" ng-model="answers[11].value" >&nbsp;Strongly Disagree</td>
                    <td width="3%"><input type="radio" name="q9" value="2" ng-model="answers[11].value" > </td>
                    <td width="3%"><input type="radio" name="q9" value="3" ng-model="answers[11].value" > </td>
                    <td width="3%"><input type="radio" name="q9" value="4" ng-model="answers[11].value" > </td>
                    <td width="12%"><input type="radio" name="q9" value="5" ng-model="answers[11].value" >&nbsp;Strongly Agree </td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%" style="vertical-align: middle;text-align: center"> 10</td>
                    <td width="50%">I have adequate opportunities for professional growth within the organization</td>

                    <td width="14%"><input type="radio" name="q2" value="1" ng-model="answers[9].value" >&nbsp;Strongly Disagree</td>
                    <td width="3%"><input type="radio" name="q2" value="2" ng-model="answers[9].value" > </td>
                    <td width="3%"><input type="radio" name="q2" value="3" ng-model="answers[9].value" > </td>
                    <td width="3%"><input type="radio" name="q2" value="4" ng-model="answers[9].value" > </td>
                    <td width="12%"><input type="radio" name="q2" value="5" ng-model="answers[9].value" >&nbsp;Strongly Agree </td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                <td width="3%" style="vertical-align: middle;text-align: center"> 11</td>
                <td width="73%">I often discuss new ways/approaches of doing things with the following individuals</td>
                </tr>

                <tr ng-repeat=" e in q3list">
                    <td width="4%"></td>
                    <td>
                        <div class="col-xs-6">{{e.displayName}}</div>
                        <div class="col-xs-6">{{e.freqName}}</div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee2($index)"  >
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="3%"></td>

                    <td>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employees"
                                    output-model="que11emply"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                            </div>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="answers[11]" name="q3">
                                <option value="">Select frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks of more</option>
                            </select>
                        </div>
                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q11" ng-click="addEmployees2()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>

                </tr>
            </table>

            <div class="row" style="margin-top: 10px">
                <div class="col-xs-20"></div>
                <div class="col-xs-2"><button name="prvpage" class="btn btn-default" ng-click="prvPage()">Previous</button></div>
                <div class="col-xs-2"><button name="save" class="btn btn-primary" ng-click="submit()" >Submit</button></div>
                </span>
            </div>

        </form>
    </div>
</div>