
<div class="panel"  style="min-height: 550px"  ng-controller="EmployPage1Controller" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Employee Survey
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="page1Form"  >

            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="3%"  style="vertical-align: middle;text-align: center">1</td>
                    <td width="35%">I feel proud about working at Wockhardt</td>

                    <td width="12%"><input type="radio" name="q1" value="1" ng-model="answers[0].value">&nbsp;Strongly Disagree</td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q1" value="2" ng-model="answers[0].value" ></td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q1" value="3" ng-model="answers[0].value" ></td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q1" value="4" ng-model="answers[0].value" ></td>
                    <td width="12%"><input type="radio" name="q1" value="5" ng-model="answers[0].value">&nbsp;Strongly Agree</td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="3%"  style="vertical-align: middle;text-align: center" style="vertical-align: middle;text-align: center"> 2</td>
                    <td width="35%">I feel sufficiently recognized for the work done</td>
                    <td width="12%"><input type="radio" name="q2" value="1" ng-model="answers[1].value" >&nbsp;Strongly Disagree</td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="2" ng-model="answers[1].value" ></td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="3" ng-model="answers[1].value" ></td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="4" ng-model="answers[1].value" ></td>
                    <td width="12%"><input type="radio" name="q2" value="5" ng-model="answers[1].value">&nbsp;Strongly Agree </td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="4%"  style="vertical-align: middle;text-align: center">3</td>
                    <td >
                        I interact with the following individuals for work related activities (select maximum 5 Employees)
                    </td>
                </tr>
                <tr ng-repeat=" e in q3list">
                    <td width="3%"  style="vertical-align: middle;text-align: center"></td>
                    <td>
                        <div class="col-xs-6">{{e.displayName}}</div>
                        <div class="col-xs-6">{{e.freqName}}</div>
                        <div class="col-xs-offset-1 col-xs-6">
                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee1($index)"  >
                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td width="3%"  style="vertical-align: middle;text-align: center"></td>

                    <td>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employees"
                                    output-model="que3emply"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                        </div>
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="answers[3]" name="q3">
                                <option value="">Select frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks of more</option>
                            </select>
                        </div>
                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q3" ng-click="addEmployees1()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>

                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="3%"  style="vertical-align: middle;text-align: center"> 4</td>
                    <td width="35%">I have adequate opportunities for professional growth within the organization</td>

                    <td width="12%" style="vertical-align: middle;"><input type="radio" name="q2" value="1" ng-model="answers[4].value" >&nbsp;Strongly Disagree</td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="2" ng-model="answers[4].value" > </td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="3" ng-model="answers[4].value" > </td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="4" ng-model="answers[4].value" > </td>
                    <td width="12%" style="vertical-align: middle;"><input type="radio" name="q2" value="5" ng-model="answers[4].value" >&nbsp;Strongly Agree </td>
                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                <td width="4%"  style="vertical-align: middle;text-align: center"> 5</td>
                <td >I receive support, clear guidance and ongoing feedback from the following individuals</td>
                </tr>

                <tr ng-repeat=" e in q5list">
                    <td width="3%"  style="vertical-align: middle;text-align: center"></td>
                    <td>
                        <div class="col-xs-6">{{e.displayName}}</div>
                        <div class="col-xs-6">{{e.freqName}}</div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteEmployee2($index)"  >
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="3%"  style="vertical-align: middle;text-align: center"></td>

                    <td>
                        <div class="col-xs-offset-1 col-xs-4">
                            <div
                                    isteven-multi-select
                                    input-model="employees"
                                    output-model="que5emply"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    orientation="vertical"
                                    selection-mode="single"
                                    on-close=""
                            >
                            </div>
                            <!-- <input type="text" name="q3" class="form-control" ng-model="answers[2].value" />-->
                        </div>

                        <div class="col-xs-offset-1 col-xs-4">
                            <select class="form-control" ng-model="answers[6]" name="q5">
                                <option value="">Select frequency</option>
                                <option value="1">Several times a week</option>
                                <option value="2">Once a week</option>
                                <option value="3">Once in 2 weeks of more</option>
                            </select>
                        </div>
                        <div class=" col-xs-offset-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" name="q5" ng-click="addEmployees2()"  >
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>

                </tr>
            </table>
            <table class="table table-bordered" style="font-size: medium">
                <tr>
                    <td width="3%"  style="vertical-align: middle;text-align: center"> 6</td>
                    <td width="35%">I have access to the right communication and resources to do my job effectively</td>
                    <td width="12%" style="vertical-align: middle;"><input type="radio" name="q2" value="1" ng-model="answers[7].value" >&nbsp;Strongly Disagree</td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="2" ng-model="answers[7].value" > </td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="3" ng-model="answers[7].value" > </td>
                    <td width="3%"  style="vertical-align: middle;text-align: center"><input type="radio" name="q2" value="4" ng-model="answers[7].value" > </td>
                    <td width="12%" style="vertical-align: middle;"><input type="radio" name="q2" value="5" ng-model="answers[7].value" >&nbsp;Strongly Agree </td>
                </tr>
            </table>
            <div class="col-xs-24" style="margin-top: 10px">
                <span class="pull-right">
               <button name="nextpage" class="btn btn-primary" ng-click="nextPage()" >Next</button>
                </span>
            </div>
        </form>
    </div>
</div>