<div class="panel"  style="min-height: 550px" ng-controller="ProfileController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
               Employee
            </span>
            <span class="pull-right"><a ng-click="addNew(employee.id)">Change Password</a></span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.firstName}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="employee.firstName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.lastName}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="employee.lastName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.middleName}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="employee.middleName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.dob}}</label>
                    <div class="col-xs-8">
                        <input  type="text" ng-model="employee.dateOfBirth.text" name="mDate" squer-datepicker class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.code}}</label>
                    <div class="col-xs-8">
                        <input type="text" name="code" ng-model="employee.code" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.gender}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="employee.gender.id" class="form-control"
                                ng-options="gender.id as gender.name for gender in genders">
                            <option value="">Select a Gender</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.maritalStatus}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="employee.maritalStatus.id" class="form-control"
                                ng-options="maritalStatus.id as maritalStatus.name for maritalStatus in maritalStatuses">
                            <option value="">Select Marital Status</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.email}}</label>
                    <div class="col-xs-8">
                        <input type="email" name="email" ng-model="employee.email" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.jobtitle}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="employee.jobTitle.id" class="form-control"
                                ng-options="jobtitle.id as jobtitle.name for jobtitle in jobtitles">
                            <option value="">Select {{labels.edit.jobtitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.location}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="employee.location.id"
                                class="form-control"
                                ng-options="businessUnit.id as (businessUnit.division.displayName + ' - ' + businessUnit.name) for businessUnit in locations"
                                ng-change="fetchEmployees()">
                            <option value="">Select {{labels.edit.location}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.manager}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="employee.manager.id" class="form-control"
                                ng-options="manager.id as manager.name for manager in managers">
                            <option value="">Select Manager</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.status}}</label>
                    <div class="col-xs-8">
                        <select name="parent" ng-model="employee.status.id" class="form-control"
                                ng-options="lov.id as lov.name for lov in statusLovs">
                            <option value="">Select Status</option>
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.doj}}</label>
                    <div class="col-xs-8">
                        <input  type="text" ng-model="employee.dateOfJoining.text" name="dateOfJoining" squer-datepicker class="form-control"/>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-xs-3 col-xs-offset-1 control-label">{{labels.edit.dol}}</label>
                    <div class="col-xs-8">
                        <input type="date" name="dateOfLeaving" ng-model="employee.dateOfLeaving.text" class="form-control" squer-datepicker/>
                    </div>
                </div>
                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>


    </div>
</div>

<script >
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        dateformat:'dd/mm/yyyy'
    });
</script>