<!-- expenseReport table-->
<div class="panel"  style="min-height: 550px" ng-controller="ExpenseReportController" ng-init="init()">
<div class="panel-heading page-title">
    <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" ng-show="expense.id==null">
                {{labels.title}}
            </span>

            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" ng-show="expense.id!=null">
                {{labels.title}} <span ng-show="expense.owner.id!=logedInUser"> for {{expense.owner.displayName | capitalize}} ({{expOwner.location.displayName | capitalize}})</span>
                - {{expense.status.displayName | capitalize}}
            </span>
    </div>
</div>
<div class="panel-body">
<div class="row">
    <div class="col-xs-3">
        <select class="form-control" ng-model="year">
            <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
        </select>
    </div>
    <div class="col-xs-5">
        <select class="form-control" ng-model="month">
            <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index+1}}">{{m}}</option>
        </select>
    </div>
    <div class="col-xs-3">
        <any ng-show="expense.owner==null || logedInUser==expense.owner.id">
            <input type="button" class="btn btn-primary" value="Get Expense" ng-click="getMonthDetails(month,year)">
        </any>
    </div>
    <div class="col-xs-13">
        <input type="button" class="btn btn-default pull-right" value="Submit Report" ng-click="submitReport()" ng-show="expense.status.id=='USRLVEXPSTS00000000000000000000000001'">
        <any ng-show="expense.status!=null && expense.status.id!='USRLVEXPSTS00000000000000000000000001'"><label class="control-label"><span class="pull-right">Report {{expense.status.displayName | lowercase}} on : {{expense.submittedOn.text}}</span></label></any>
    </div>
</div>
<div style="height: 20px"></div>
<div ng-show="displayData.length>0">
    <table class="table table-striped">
        <thead>
        <th>Date</th>
        <th>Activity</th>
        <th>No. of doc</th>
        <th width="220">Location Type</th>
        <th width="200">Route</th>
        <th style="text-align: center">Distance<br>(One way) </th>
        <th style="text-align: center">Distance<br>(Return) </th>
        <th style="text-align: center">Fare<br>(&nbsp;<img class="ng-scope" height="12" width="12" src="images/rs.png">&nbsp;)</th>
        <th style="text-align: center">DA<br>(&nbsp;<img class="ng-scope"  height="12" width="12" src="images/rs.png">&nbsp;)</th>
        <th style="text-align: center">Misc<br>(&nbsp;<img class="ng-scope"   height="12" width="12" src="images/rs.png">&nbsp;)</th>
        <th style="text-align: center">Total <br>(&nbsp;<img class="ng-scope"  height="12" width="12" src="images/rs.png">&nbsp;)</th>
        <th></th>
        </thead>
        <tbody>
        <tr data-ng-repeat="d in displayData">
            <td style="vertical-align: middle">{{d.displayDate}}</td>
            <td style="vertical-align: middle">
                <span ng-show=d.noOfDoc!=0>Field</span>

                <span ng-show="d.nonCallAct.length>0">
                    <any ng-show=d.noOfDoc!=0><br></any>
                    <any ng-repeat="n in d.nonCallAct">{{n.activityType | capitalize}}<any ng-show="$index<d.nonCallAct.length-1">,<br></any></any>
                </span>

                <span ng-show="d.nonCallAct==null && d.noOfDoc==0">--</span>
            </td>
            <td style="	vertical-align:middle;text-align: center">
                <any ng-show="d.noOfDoc==0">
                    {{d.noOfDoc}}
                </any>
                <any ng-show="d.noOfDoc!=0">
                    <a ng-click="showVisitedTowns($event,d.qDate,d.displayDate)" class="squerlink">{{d.noOfDoc}}</a>
                </any>
            </td>
            <td>
                <select class="form-control" id="locationType"
                        ng-disabled="isCamps(d,$index)|| expense.status.id!='USRLVEXPSTS00000000000000000000000001'"
                        ng-model="d.location"
                        ng-options="l.id as l.name for l in locationValue"
                        ng-change="addExpType(d,displayData[$index-1],displayData[$index+1],$index,displayData)"
                        >
                </select>
            </td>
            <td style="vertical-align: middle">
                <!--routes for field-->
                <any  ng-show="!d.cycleMeet">
                    <span ng-show="d.kms==0 && d.routes==0">
                        <any  ng-show="d.location!='USRLV000000055936e80149cd895d48008000'">
                            <a ng-click="showRouteSelection(d,displayData,$index)" class="squerlink">Select route</a>
                        </any>

                        <any  ng-show="d.location=='USRLV000000055936e80149cd895d48008000'">
                            You can not select route with HQ location.
                        </any>
                    </span>
                     <span ng-show="d.kms > 0 || d.routes.length>0">
                        <a ng-click="showRouteSelection(d,displayData,$index)" class="squerlink">
                            <any ng-repeat="r in d.routes">{{r.fromTown.displayName | lowercase}}<any ng-show="$index<d.routes.length-1">&nbsp;->&nbsp;</any></any>
                        </a>
                    </span>

                </any>

                <!--routes for cycle meet-->
                <any  ng-show="d.cycleMeet">
                    <any ng-show="d.fromTown!=null">
                        <a ng-click="showCycleRouteSelection(d,displayData)" class="squerlink">{{d.fromTown}} -> {{d.toTown}}</a>
                    </any>
                    <any ng-show="d.fromTown==null">
                        <a ng-click="showCycleRouteSelection(d,displayData)" class="squerlink">Select route</a>
                    </any>
                </any>
            </td>
            <td style="	vertical-align:middle;text-align: center">{{d.kms}}</td>
            <td style="	vertical-align:middle;text-align: center">{{d.returnKms}}</td>
            <td style="	vertical-align:middle;text-align: center">{{d.fare*1+d.returnFare*1 | number:2}}</td>
            <td style="	vertical-align:middle;text-align: center">{{d.allowance | number:2}} </td>
            <td style="	vertical-align:middle;text-align: center">
                <a ng-click="showMicsSelection(d,displayData,$index)" class="squerlink">{{d.miscTotal}}</a>
            </td>
            <td style="	vertical-align:middle;text-align: center">{{d.total | number:2}}</td>
            <td style="	vertical-align:middle;text-align: left">
                <button type="button" class="btn btn-link" ng-click="showExpenseDocuments(d)" tooltip="Upload Documents"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <span class="badge" style="background-color: #ff0000;font-size: x-small" ng-show="d.docCount>0">{{d.docCount}}</span></button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- expenseReport table END-->

    <!--Sundries-->
    <div class="row" style="border: 1px solid #aeaeae">
        <div class="col-xs-18">
            <span class="pull-left" style="color: #802420;font-weight: bold;font-size:small;margin-top: 5px" ng-show="isRm && expense.status.id=='USRLVEXPSTS00000000000000000000000001'">
                * To edit sundries, You have to upload bill first.
            </span>
            <span class="pull-right" style="display: none" id="sundriesUpdateBox">
                <input type="text"  style="margin-top: 5px" ng-model="updatedSundries">
                <input type="button" class="btn btn-danger btn-xs"value="Save" ng-click="updateSundries(expense.id,updatedSundries)">
                <input type="button" class="btn btn-default btn-xs"value="Cancel" ng-click="showUpdateSundries('hide')">
            </span>

            <any ng-show="isRm">
                <input id="sundriesEditableBtn" type="button" class="btn btn-primary btn-xs pull-right" style="margin-top: 5px;margin-right: 5px" value="Edit Sundries" ng-click="showUpdateSundries('show')"
                       ng-disabled="!(sundriesEditable && displayData[displayData.length-1].sundriesDocCount>0)" ng-show="expense.status.id=='USRLVEXPSTS00000000000000000000000001'">
            </any>

            <any ng-show="!isRm">
                <input id="sundriesEditableBtn" type="button" class="btn btn-primary btn-xs pull-right" style="margin-top: 5px;margin-right: 5px" value="Edit Sundries" ng-click="showUpdateSundries('show')"
                       ng-show="sundriesEditable">
            </any>
        </div>
        <div class="col-xs-2">
            <h5 class="pull-right">Sundries :</h5>
        </div>
        <div class="col-xs-4" style="font-size: large;margin-top: 3px;text-align: left">
            <img class="ng-scope" height="12" width="12" src="images/rs.png">&nbsp;{{summery.sundries}}

            <button type="button" class="btn btn-link" ng-click="showSundryDocuments(displayData)" tooltip="Upload Documents" style="margin-left: 0px" ng-show="isRm">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="margin-left: 5px"></span>
                <span class="badge" style="background-color: #ff0000;font-size: x-small" ng-show="sundryDocCount>0">
                    {{displayData[displayData.length-1].sundriesDocCount}}
                </span>
            </button>
        </div>
    </div>
    <!--Sundries END-->
    <div class="col-xs-24" style="margin-top: 15px">
        <span class="pull-right">
            <input type="button" class="btn btn-default pull-right" value="Submit Report" ng-click="submitReport()" ng-show="expense.status.id=='USRLVEXPSTS00000000000000000000000001'">
        </span>
    </div>
        <!-- Summery -->
    <div class="panel-heading page-title" style="margin-top: 20px">
        <div class="row">
            <span style="vertical-align: middle;font-weight: bold; font-size: medium">
                    Expense Summary
            </span>
        </div>
    </div>
    <div class="col-xs-24">
        <table class="table table-bordered" style="margin-top: 10px">

            <tr style="background-color: #F9F9F9">
                <th style="background-color: #ffffff;border-top-color: #ffffff;border-left-color: #ffffff"></th>
                <th style="text-align: center">Approved On</th>
                <th style="text-align: center">DA + Meeting Allowance</th>
                <th style="text-align: center">Fare + Transit</th>
                <th style="text-align: center">Octroi</th>
                <th style="text-align: center">Promotional</th>
                <th style="text-align: center">Medical Check Up</th>
                <th style="text-align: center">Others</th>
                <th style="text-align: center">Sundry</th>
                <th style="text-align: center">Total</th>
            </tr>
            <tr>
                <td style="text-align: left">
                    <any ng-show="expense.status.id!='USRLVEXPSTS00000000000000000000000001'">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #2191C0;margin-right: 10px"></span>
                    </any>
                    <any ng-show="expense.status.id=='USRLVEXPSTS00000000000000000000000001'">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 10px"></span>
                    </any>
                    <span ng-show="expense.owner.id!=logedInUser">{{expense.owner.displayName | capitalize}}</span>
                    <span ng-show="expense.owner.id==logedInUser">My Claim</span>
                </td>
                <td> - </td>
                <td style="text-align: center">{{summery.totalAllowance | number:2}}</td>
                <td style="text-align: center">{{summery.totalTA | number:2}}</td>
                <td style="text-align: center">{{summery.finalOctroi | number:2}}</td>
                <td style="text-align: center">{{summery.finalPromotional | number:2}}</td>
                <td style="text-align: center">{{summery.finalMedicalCheckUp | number:2}}</td>
                <td style="text-align: center">{{summery.totalOther | number:2}}</td>
                <td style="text-align: center">{{summery.sundries | number:2}}</td>
                <td style="text-align: center"><img class="ng-scope" tooltip="Add New"  height="12" width="12" src="images/rs.png">&nbsp;
                    {{summery.totalAllowance*1+summery.totalTA*1+summery.sundries*1+summery.finalOctroi*1+summery.finalPromotional*1+summery.finalMedicalCheckUp*1+summery.totalOther*1 | number:2}}</td>
            </tr>
            <tr data-ng-repeat="apr in approvals">
                <td style="text-align: left">
                    <any ng-show="apr.status=='APPROVED'">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #2191C0;margin-right: 10px"></span>
                    </any>
                    <any ng-show="apr.status!='APPROVED'">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 10px"></span>
                    </any>
                    <any ng-show="apr.owner">
                        {{apr.owner.displayName | capitalize}}&nbsp;&nbsp;({{apr.jobTitle.displayName}})
                    </any>
                    <any ng-show="!apr.owner">
                        {{apr.jobTitle.displayName}}
                    </any>
                </td>
                <td>
                    <any ng-show="apr.status=='APPROVED' && apr.updatedOn!=null">{{apr.updatedOn.text}}</any>
                    <any ng-show="apr.status!='APPROVED'"> - </any>
                </td>
                <td style="text-align: center">{{apr.da | number:2}}</td>
                <td style="text-align: center">{{apr.ta | number:2}}</td>
                <td style="text-align: center">{{apr.octroi | number:2}}</td>
                <td style="text-align: center">{{apr.promotional | number:2}}</td>
                <td style="text-align: center">{{apr.medicalCheckUp | number:2}}</td>
                <td style="text-align: center">{{apr.other | number:2}}</td>
                <td style="text-align: center">{{apr.sundries| number:2}}</td>
                <td style="text-align: center">
                    <img class="ng-scope" tooltip="Add New"  height="12" width="12" src="images/rs.png">&nbsp;
                    {{apr.ta*1 + apr.da*1+apr.octroi*1+apr.promotional*1+apr.medicalCheckUp*1+apr.sundries*1 +apr.other*1| number:2}}
                </td>
            </tr>
        </table>
    </div>
    <!-- Summery END-->

    <!-- Approval -->
    <div ng-show="approvals.length>0 && !isMIS" style="width: 100%">
        <div class="panel-heading page-title">
            <div class="row">
                        <span style="vertical-align: middle;font-weight: bold; font-size: medium">
                            Approval
                        </span>
            </div>
        </div>
        <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <th width="100px"></th>
            <th>DA + Allowance</th>
            <th>Fare + Transit</th>
            <th>Octroi</th>
            <th>Promotional</th>
            <th>Medical Check Up</th>
            <th>Other</th>
            <th>Sundries</th>
            </thead>
            <tbody data-ng-repeat="apr in approvals">
            <tr>

                <td colspan="8">
                    <any ng-show="apr.owner">
                        {{apr.owner.displayName }}&nbsp;&nbsp;({{apr.jobTitle.displayName}})
                    </any>
                    <any ng-show="!apr.owner">
                        {{apr.jobTitle.displayName}}
                    </any>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <any ng-show="$index==0">
                        <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Claimed</label></div>
                    </any>
                    <any ng-show="$index > 0">
                        <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Previous</label></div>
                    </any>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Add</label></div>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Deduct</label></div>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Total</label></div>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Remarks</label></div>
                </td>
                <td>
                    <div class="col-xs-14" style="margin-top: 5px;margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.prvDa" style="margin-left: 3px;width: 120px"  disabled>
                    </div>
                    <div class="col-xs-16" style="height: 5px"></div>
                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.daAdded"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.daId==null" style="width:120px">
                    </div>
                    <div class="col-xs-16" style="height: 5px"></div>
                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.daDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.daId==null" style="width:120px">
                    </div>
                    <div class="col-xs-16" style="height: 5px"></div>
                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.da" style="margin-left: 3px;width: 120px" disabled>
                    </div>
                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2"  ng-model="apr.daRemark" style="width:120px;"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.daId==null"></textarea>
                    </div>
                </td>

                <td>
                    <div class="col-xs-14" style="margin-top: 5px">
                        <input type="text" class="form-control" ng-model="apr.prvTa" style="width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.taAdded"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.taId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.taDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003')  || apr.taId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.ta" style="margin-left: 3px;width: 120px " disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.taRemark" style="width: 120px"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003')  || apr.taId==null"></textarea>
                    </div>
                </td>

                <td>
                    <div class="col-xs-14" style="margin-top: 5px">
                        <input type="text" class="form-control" ng-model="apr.prvOctroi" style="width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="apr.octroiAdded"
                                   ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003')  || apr.octroiId==null" style="width: 120px">
                        </div>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.octroiDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.octroiId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.octroi" style="margin-left: 3px;width: 120px " disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.octroiRemark" style="width: 120px"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.octroiId==null"></textarea>
                    </div>
                </td>
                <td>
                    <div class="col-xs-14" style="margin-top: 5px">
                        <input type="text" class="form-control" ng-model="apr.prvPromotional" style="width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.promotionalAdded"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.promotionalId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.promotionalDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.promotionalId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.promotional" style="margin-left: 3px;width: 120px " disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.promotionalRemark" style="width: 120px"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.promotionalId==null"></textarea>
                    </div>
                </td>
                <td>

                    <div class="col-xs-14" style="margin-top: 5px;">
                        <input type="text" class="form-control" ng-model="apr.prvMedicalCheckUp" style="width: 120px" disabled >
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.medicalCheckUpAdded"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.medicalCheckUpId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.medicalCheckUpDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.medicalCheckUpId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.medicalCheckUp" style="margin-left: 3px;width: 120px" disabled>
                    </div>


                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.medicalCheckUpRemark" style="width:120px;"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.medicalCheckUpId==null"></textarea>
                    </div>
                </td>

                <td>
                    <div class="col-xs-14" style="margin-top: 5px;">
                        <input type="text" class="form-control" ng-model="apr.prvOther" style="width: 120px" disabled >
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.otherAdded"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.otherId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.otherDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.otherId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.other" style="margin-left: 3px;width: 120px" disabled>
                    </div>


                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.otherRemark" style="width: 120px"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.otherId==null"></textarea>
                    </div>
                </td>

                <td>
                    <div class="col-xs-14" style="margin-top: 5px;">
                        <input type="text" class="form-control" ng-model="apr.prvSundries" style="width: 120px" disabled >
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.sundriesAdded"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.sundriesId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.sundriesDeducted"
                               ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.sundriesId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.sundries" style="margin-left: 3px;width: 120px" disabled>
                    </div>


                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.sundriesRemark" style="width: 120px"
                                  ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.sundriesId==null"></textarea>
                    </div>
                </td>

            </tr>
            <tr>
                <td style="vertical-align: bottom;background-color: #ffffff" colspan="8" ng-show="expense.owner.id!=logedInUser && logedInUser==apr.owner.id">
                    <input type="hidden" ng-model="apr.id">
                    <input type="hidden" ng-model="apr.owner.id">
                    <input type="hidden" ng-model="apr.instanceDetail.id">
                    <input type="hidden" ng-model="apr.jobTitle.id">

                    <input type="button" class="btn btn-default pull-right" value="Go Back" ng-click="goBack()" ng-show="logedInUser==apr.owner.id || (apr.owner==null && isMIS==true)" style="margin-left: 5px">

                    <input type="button" class="btn btn-primary pull-right" value="Approve" ng-click="saveApproval(apr)"
                           ng-disabled="!(apr.owner==null && isMIS==true) && (logedInUser!=apr.owner.id || apr.status=='APPROVED' ||apr.prvApproved || expense.status.id=='USRLVEXPSTS00000000000000000000000003') || apr.medicalCheckUpId==null">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
    <!-- Approval END-->


    <!-- MIS Approval -->
    <div ng-show="approvals.length>0 && isMIS" style="overflow-x:auto;width: 100%">
        <div class="panel-heading page-title">
            <div class="row">
                <span style="vertical-align: middle;font-weight: bold; font-size: medium">
                    Approval
                </span>
            </div>
        </div>
        <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <th width="100"></th>
            <th>DA + Allowance</th>
            <th>Fare + Transit</th>
            <th>Octroi</th>
            <th>Promotional</th>
            <th>Medical Check Up</th>
            <th>Other</th>
            <th>Sundries</th>
            </thead>
            <tbody data-ng-repeat="apr in approvals">
            <tr>
                <td colspan="8">
                    <any ng-show="apr.owner">
                        {{apr.owner.displayName }}&nbsp;&nbsp;({{apr.jobTitle.displayName}})
                    </any>
                    <any ng-show="!apr.owner">
                        {{apr.jobTitle.displayName}}
                    </any>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <any ng-show="$index==0">
                        <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Claimed</label></div>
                    </any>
                    <any ng-show="$index > 0">
                        <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Previous</label></div>
                    </any>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Add</label></div>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Deduct</label></div>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Total</label></div>
                    <div class="col-xs-24"><label class="control-label" style="margin-top: 5px">Remarks</label></div>
                </td>
                <td>
                    <div class="col-xs-14" style="margin-top: 5px;margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.prvDa" style="margin-left: 3px;width: 120px"  disabled>
                    </div>
                    <div class="col-xs-16" style="height: 5px"></div>
                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.daAdded"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.daId==null" style="width:120px">
                    </div>
                    <div class="col-xs-16" style="height: 5px"></div>
                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.daDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.daId==null" style="width:120px">
                    </div>
                    <div class="col-xs-16" style="height: 5px"></div>
                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.da" style="margin-left: 3px;width: 120px" disabled>
                    </div>
                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2"  ng-model="apr.daRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.daId==null"></textarea>
                    </div>
                </td>

                <td>
                    <div class="col-xs-14" style="margin-top: 5px">
                        <input type="text" class="form-control" ng-model="apr.prvTa" style="width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.taAdded"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.taId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.taDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.taId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.ta" style="margin-left: 3px;width: 120px " disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.taRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.taId==null"></textarea>
                    </div>
                </td>

                <td>
                    <div class="col-xs-14" style="margin-top: 5px">
                        <input type="text" class="form-control" ng-model="apr.prvOctroi" style="width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="apr.octroiAdded"
                                   ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.octroiId==null" style="width: 120px">
                        </div>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.octroiDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.octroiId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.octroi" style="margin-left: 3px;width: 120px " disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.octroiRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.octroiId==null"></textarea>
                    </div>
                </td>
                <td>
                    <div class="col-xs-14" style="margin-top: 5px">
                        <input type="text" class="form-control" ng-model="apr.prvPromotional" style="width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.promotionalAdded"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.promotionalId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.promotionalDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.promotionalId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.promotional" style="margin-left: 3px;width: 120px " disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.promotionalRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.promotionalId==null"></textarea>
                    </div>
                </td>
                <td>

                    <div class="col-xs-14" style="margin-top: 5px;">
                        <input type="text" class="form-control" ng-model="apr.prvMedicalCheckUp" style="width: 120px" disabled >
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.medicalCheckUpAdded"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.medicalCheckUpId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.medicalCheckUpDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.medicalCheckUpId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.medicalCheckUp" style="margin-left: 3px;width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.medicalCheckUpRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.medicalCheckUpId==null"></textarea>
                    </div>
                </td>

                <td>

                    <div class="col-xs-14" style="margin-top: 5px;">
                        <input type="text" class="form-control" ng-model="apr.prvOther" style="width: 120px" disabled >
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.otherAdded"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.otherId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.otherDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.otherId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.other" style="margin-left: 3px;width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.otherRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.otherId==null"></textarea>
                    </div>
                </td>

                <td>

                    <div class="col-xs-14" style="margin-top: 5px;">
                        <input type="text" class="form-control" ng-model="apr.prvSundries" style="width: 120px" disabled >
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.sundriesAdded"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' || apr.sundriesId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-16">
                        <input type="text" class="form-control" ng-model="apr.sundriesDeducted"
                               ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.sundriesId==null" style="width: 120px">
                    </div>

                    <div class="col-xs-16" style="height: 5px"></div>

                    <div class="col-xs-14" style="margin-left: -3px">
                        <input type="text" class="form-control" ng-model="apr.sundries" style="margin-left: 3px;width: 120px" disabled>
                    </div>

                    <div class="col-xs-16" style="margin-top: 5px">
                        <textarea class="form-control" rows="2" ng-model="apr.sundriesRemark" style="width:120px"
                                  ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.sundriesId==null"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <input type="hidden" ng-model="apr.id">
                    <input type="hidden" ng-model="apr.owner.id">
                    <input type="hidden" ng-model="apr.instanceDetail.id">
                    <input type="hidden" ng-model="apr.jobTitle.id">


                    <input type="button" class="btn btn-default pull-right" value="Go Back" ng-click="goBack()" ng-show="logedInUser==apr.owner.id || (apr.owner==null && isMIS==true)" style="margin-left: 5px">

                    <input type="button" class="btn btn-primary pull-right" value="Approve" ng-click="saveApproval(apr)" ng-disabled="apr.jobTitle.id!='JOBTT000000008aea432014dd69a749d0494a' ||  apr.medicalCheckUpId==null">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- MIS Approval END-->



<!-- Route PopUp -->
<div style="margin-top: 50px">
    <script type="text/ng-template" id="route.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Select route for {{title}}</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <td>Sequence</td>
                    <td>Route</td>
                    <td></td>
                </tr>
                <tr data-ng-repeat="r in input.routes">
                    <td width="100px">{{r.seqNo}}<input type="hidden" ng-model="r.seqNo"></td>
                    <td width="200px">
                        <select class="form-control"
                                ng-model="r.fromTown.id"
                                ng-options="t.id as t.name for t in towns"
                                ng-change="getDistance(input.routes,$index)"
                                ng-disabled="(disabledRouteList && $index==0) ||expenseStatus!='USRLVEXPSTS00000000000000000000000001'"
                                >
                            <option value="">Select</option>
                        </select>
                        <input type="hidden" ng-model="r.id">
                        <span ng-show="r.toTown.id!=null" class="pull-right">
                            <any ng-show="isValidDistance[$index+1]">
                                To&nbsp;{{r.toTown.displayName}}&nbsp;<input type="text" ng-model="r.distance" style="width: 50px;text-align: center" disabled> Kms
                            </any>
                            <any ng-show="!isValidDistance[$index+1]">
                                <input type="hidden" ng-model="r.distance">
                                <span style="color: #802420">* This distance is not available. Please contact your administrator</span>
                            </any>
                        </span>

                        <any ng-show="input.routes.length-1==$index && isreturn && isValidDistance[$index+1]">
                            <span class="pull-right">
                                Return distance: To&nbsp;{{input.routes[0].fromTown.displayName}}&nbsp;<input type="text" value="{{returnKms}}" style="width: 50px;text-align: center" disabled> Kms
                            </span>
                        </any>
                        <any ng-show="input.routes.length-1==$index && isreturn && !isValidDistance[$index+1]">
                            <span style="color: #802420">* This distance is not available. Please contact your administrator</span>
                        </any>
                        <input type="hidden" ng-model="r.toTown.id">
                        <input type="hidden" ng-model="r.expenseDetails.id">
                    </td>

                    <td width="100px">
                        <any ng-show="$index>0 && expenseStatus=='USRLVEXPSTS00000000000000000000000001'">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="remove(input.routes,$index)">
                                <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </any>

                        <any ng-show="$index==input.routes.length-1 && expenseStatus=='USRLVEXPSTS00000000000000000000000001'">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addLocation(input.routes[$index],$index+1)">
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </any>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-xs-14"></div>
                <div class="col-xs-10" ng-show="showCalculate">
                    <span style="font-size: medium"> Calculate Return Distance </span> &nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="isreturn" ng-change="calculateReturnJourney(input.routes)" ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'">
                </div>
            </div>
            <div style="height: 10px"></div>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center">Distance</th>
                        <th style="text-align: center">Fare/KM</th>
                        <th style="text-align: center">Total Amount</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td style="text-align: right;vertical-align: middle">One way journey</td>
                        <td style="width: 100px"><input class="form-control pull-right" type="text" name="dist" ng-model="dist" style="text-align: center" disabled></td>
                        <td style="width: 100px"><input  class="form-control" type="text" ng-model="distValue" name="distValue" style="text-align: center;" disabled></td>
                        <td style="width: 100px">
                            <input type="text" class="form-control" name="oneWayFare" ng-model="oneWayAmount" style="text-align: center"
                                   ng-disabled="!isOneWayeditable ||expenseStatus!='USRLVEXPSTS00000000000000000000000001'">
                        </td>
                    </tr>

                    <tr ng-show="isreturn">
                        <td style="text-align: right;vertical-align: middle">Return journey</td>
                        <td style="width: 100px"><input class="form-control pull-right" type="text" ng-model="returnKms" style="text-align: center" disabled></td>
                        <td style="width: 100px"><input  class="form-control" type="text" ng-model="returnAllowance" style="text-align: center;" disabled></td>
                        <td style="width: 100px"><input type="text" class="form-control" ng-model="returnAmount" style="text-align: center"
                                 ng-disabled="!isReturneditable ||expenseStatus!='USRLVEXPSTS00000000000000000000000001'">
                        </td>
                    </tr>
                    <tr ng-show="isreturn">
                        <td style="text-align: right;vertical-align: middle">Total Distance</td>
                        <td style="width: 100px"><input class="form-control pull-right" type="text" value="{{dist*1+returnKms*1}}" style="text-align: center" disabled></td>
                        <td style="width: 100px;text-align: right;vertical-align: middle">Total Amount</td>
                        <td style="width: 100px"><input type="text" class="form-control" value="{{oneWayAmount*1+returnAmount*1}}" style="text-align: center" disabled></td>
                    </tr>
                </tbody>
            </table>

            <any ng-show="expenseStatus=='USRLVEXPSTS00000000000000000000000001'">
                <div style="color: #802420; border: 0px;height: 30px" ng-show="showCalculate && expenseStatus=='USRLVEXPSTS00000000000000000000000001'">* before saving, calculate return journey.</div>
                <div style="color: #802420; border: 0px;height: 30px" ng-show="isOneWayeditable || isReturneditable ">* Please Enter Your Amount</div>
            </any>

            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
        </div>
        <div class="modal-footer">
            <!--button class="btn btn-info" ng-show="showCalculate" ng-click="calculateReturnJourney(input.routes)">Calculate Return Fare</button-->
            <button class="btn btn-primary" ng-click="save(input,displayData)" ng-show="expenseStatus=='USRLVEXPSTS00000000000000000000000001'">Save</button>
            <button class="btn btn-default" ng-click="closeModal(input)">Cancel</button>
        </div>
    </script>
</div>
<!-- Route PopUp END -->

<!--Cycle Meet Roue-->
<div style="margin-top: 50px">
    <script type="text/ng-template" id="cycleMeetRout.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Select route for {{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label>From Town</label>
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="nonCalAct.fromTown" ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'">
                </div>
            </div>
            <div class="col-xs-24" style="height: 10px"></div>
            <div class="row">
                <div class="col-xs-4">
                    <label>To Town</label>
                 </div>
                 <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="nonCalAct.toTown" ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'">
                </div>
            </div>
            <div class="col-xs-24" style="height: 10px"></div>
            <div class="row">
                <div class="col-xs-4">
                    <label>Fare</label>
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="nonCalAct.fare" ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'">
                    <input type="hidden" class="form-control" ng-model="nonCalAct.id">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save(input)" ng-show="expenseStatus=='USRLVEXPSTS00000000000000000000000001'">Save</button>
            <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
 </div>
<!--Cycle Meet Roue END-->

<!-- Misc PopUp -->
<div>
    <script type="text/ng-template" id="mics.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Add Miscellaneous Expense for {{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Expense Type</td>
                    <td width="100">Amount</td>
                    <td>Remarks</td>
                    <td></td>
                    <td></td>
                </tr>
                    <tr data-ng-repeat="m in input.miscList">
                    <td>
                        <select class="form-control"
                                ng-model="m.type.id"
                                ng-options="ms.id as ms.name for ms in miscs"
                                ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'"
                                ng-change="checkDuplicateMisc(input.miscList[$index],$index+1)"
                                >
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" ng-model="m.amount" ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'"></td>
                    <td>
                        <textarea class="form-control" ng-model="m.remarks" ng-disabled="expenseStatus!='USRLVEXPSTS00000000000000000000000001'"></textarea>
                        <input type="hidden" class="form-control" ng-model="m.employee.id">
                        <input type="hidden" class="form-control" ng-model="m.expense.id">
                        <input type="hidden" class="form-control" ng-model="m.expenseDetails.id">
                    </td>
                    <td>
                        <any ng-show=" (m.type.id!=null || $index>0) && expenseStatus=='USRLVEXPSTS00000000000000000000000001'">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="remove($index,input.miscList[$index],input.miscList)">
                                <span class="glyphicon  glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </any>
                    </td>
                    <td>
                        <any ng-show="$index==input.miscList.length-1 && expenseStatus=='USRLVEXPSTS00000000000000000000000001'">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addMisc(input.miscList[$index],$index+1)">
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </any>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <span class="pull-left">
                <span class="pull-left" style="color: #802420;font-weight: bold">* Transit will be add in fare amount</span><br>
                <span class="pull-left" style="color: #802420;font-weight: bold">* Meeting allowance will be add in DA amount</span>
            </span>
            <button class="btn btn-primary" ng-click="save(input,displayData)" ng-show="expenseStatus=='USRLVEXPSTS00000000000000000000000001'">Save</button>
            <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>
<!-- Misc PopUp END-->


<!-- Document PopUp -->
<div>
    <script type="text/ng-template" id="docs.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Add Bills For {{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
            <div class="col-xs-24">
                <div class="col-xs-7">
                    <input type="radio" ng-Disabled="routeExpenseId==null || expenseStatus!='USRLVEXPSTS00000000000000000000000001'" name="billType" ng-click="exp.type=0;enableUpload('trans')"> Bill for Transport
                </div>
                <div class="col-xs-7">
                    <input type="radio" ng-Disabled="miscList.length==0 || expenseStatus!='USRLVEXPSTS00000000000000000000000001'" name="billType"  ng-click="exp.type=0;enableUpload('misc')"> Bill for Miscellaneous
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Document</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="120px">
                        <select class="form-control" ng-model="exp.type" ng-disabled="docTp==false">
                            <option value="0">Select</option>
                            <option data-ng-repeat="m in miscList" value="{{m.type.id}}">{{m.type.displayName}}</option>
                        </select>
                    </td>
                    <td width="350px"><input type="file" ng-model="exp.uploadFile" id="uploadFile" ng-disabled="docSel==false || expenseStatus!='USRLVEXPSTS00000000000000000000000001'"/></td>
                    <td>
                        <button  class="btn btn-primary" ng-click="uploadFile(exp.uploadFile,exp.type)" ng-disabled="uploadBtn==false && expenseStatus!='USRLVEXPSTS00000000000000000000000001'">upload</button>
                    </td>
                </tr>
                <tr data-ng-repeat="d in docs">
                    <td style="vertical-align: middle;text-align: left;font-weight: bold" colspan="2">
                        <any ng-show="d.type!=null">Bill for {{d.type.displayName}}</any>
                        <any ng-show="d.type==null">Bill for Transport</any>
                    </td>
                    <td style="vertical-align: middle">

                        <button class="btn btn-default btn-sm btn-link" type="button" ng-click="delete(d.id,d.name,$index)" ng-show="expenseStatus=='USRLVEXPSTS00000000000000000000000001'">
                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                        </button>

                        <button class="btn btn-default btn-sm btn-link" type="button" ng-click="downloadFile(d.id)">
                            <span aria-hidden="true" class="glyphicon glyphicon-save"></span>
                        </button>

                    </td>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>
<!-- Document PopUp END-->


<!-- Document PopUp for sundries -->
<div>
    <script type="text/ng-template" id="docsSundries.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Add Bills For Sundries</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm" role="alert" ng-show="isShowAlert">
                <ul><li ng-repeat="e in errMsg">{{e}}</li></ul>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Document</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="120px">
                        <input type="text" class="form-control" value="Sundries" disabled>
                    </td>
                    <td width="350px"><input type="file" ng-model="sundriesUploadFile" id="uploadFileSundries" ng-disabled="status!='USRLVEXPSTS00000000000000000000000001'"/></td>
                    <td>
                        <button  class="btn btn-primary" ng-click="uploadFile(sundriesUploadFile)" ng-disabled="status!='USRLVEXPSTS00000000000000000000000001'">upload</button>
                    </td>
                </tr>
                <tr data-ng-repeat="d in docList">
                    <td style="vertical-align: middle;text-align: left;font-weight: bold" colspan="2">
                        <any>Bill for Sundries</any>
                    </td>
                    <td style="vertical-align: middle">

                        <button class="btn btn-default btn-sm btn-link" type="button" ng-click="delete(d.id,d.name,$index)" ng-show="status=='USRLVEXPSTS00000000000000000000000001'">
                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                        </button>

                        <button class="btn btn-default btn-sm btn-link" type="button" ng-click="downloadFile(d.id)">
                            <span aria-hidden="true" class="glyphicon glyphicon-save"></span>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>
<!-- Document PopUp for sundries END-->

<!-- Approval confirmation box-->
    <div>
        <script type="text/ng-template" id="confirmApproval.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Confirm Approval</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #F9F9F9">
                            <th style="background-color: #ffffff;border-top: 0px #ffffff;border-left:0px #ffffff;"></th>
                            <th>DA + Allowance </th>
                            <th>Fare + Transit</th>
                            <th>Octroi</th>
                            <th>Promotional</th>
                            <th>Medical Check Up</th>
                            <th>Other</th>
                            <th>Sundries</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Previous Approval</td>
                            <td>{{approval.prvDa}}</td>
                            <td>{{approval.prvTa}}</td>
                            <td>{{approval.prvOctroi}}</td>
                            <td>{{approval.prvPromotional}}</td>
                            <td>{{approval.prvMedicalCheckUp}}</td>
                            <td>{{approval.prvOther}}</td>
                            <td>{{approval.prvSundries}}</td>
                        </tr>
                        <tr>
                            <td>Your Approval</td>
                            <td>{{approval.da}}</td>
                            <td>{{approval.ta}}</td>
                            <td>{{approval.octroi}}</td>
                            <td>{{approval.promotional}}</td>
                            <td>{{approval.medicalCheckUp}}</td>
                            <td>{{approval.other}}</td>
                            <td>{{approval.sundries}}</td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <label class="pull-left text-danger">* Are you sure you want to submit this approval?</label><br/><br/>
                                <label class="pull-left text-danger">* After approval you can not change any amount.</label><br/><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="save(approval)">Approve</button>
                <button class="btn btn-default" ng-click="closeModal()">Close</button>
            </div>
        </script>
    </div>
</div>


<div>
    <script type="text/ng-template" id="visitedTowns.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{visitDate}} Overview </h3>
        </div>
        <div class="modal-body">
            <span style="vertical-align: middle;padding-left: 6px;font-weight: bold; padding-bottom: 5px" class="squerfont-medium"> Towns Visited</span>
            <table class="table table-striped">
                <tr ng-repeat="t in visitedTowns">
                    <td width="10px">{{$index+1}}</td>
                    <td>{{t.name | capitalize}}</td>
                </tr>
            </table>

            <any ng-show="isRm">
                <span style="vertical-align: middle;padding-left: 6px;font-weight: bold; padding-bottom: 5px" class="squerfont-medium">TM worked with</span>
                <table class="table table-striped">
                    <tr ng-repeat="e in employeeList">
                        <td width="10px">{{$index+1}}</td>
                        <td>{{e| capitalize}}</td>
                    </tr>
                </table>
            </any>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>







