<div class="row" ng-controller="HeaderController">
    <top-header> </top-header>
</div>
<div class="row">
    <left-menu> </left-menu>
    <div class="col-xs-18"  ng-controller="BeatsController" ng-init="init()">
        <div class="panel"  style="min-height: 550px">

            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Expense (Draft)
                    </span>

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                        <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Date</label>
                                <div class="col-xs-8">
                                    <input type="date" name="name"  class="form-control datepicker"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Activity</label>
                                <div class="col-xs-8">
                                    <input type="text" name="name"  class="form-control" readonly value="Beat 2 (HQ)"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-xs-offset-1 control-label">Travel From</label>
                                <div class="col-xs-15">
                                <div class="col-xs-7">
                                    <select type="text" name="name"  class="form-control"></select>
                                </div>
                                <div class="col-xs-1">To</div>
                                <div class="col-xs-7">
                                    <select type="text" name="name"  class="form-control"></select>
                                </div>
                                </div>
                            </div>

                            <div class="row col-xs-offset-4">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Expense Type</th>
                                            <th>Details</th>
                                            <th>Supporting Documents</th>
                                            <th>Value</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Allowance</td>
                                            <td>HQ</td>
                                            <td></td>
                                            <td>300</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Fare</td>
                                            <td>Mumbai to Pune</td>
                                            <td></td>
                                            <td>0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><select class="form-control"></select></td>
                                            <td><textarea class="form-control" rows="1"></textarea></td>
                                            <td></td>
                                            <td><input type="text" value="0"></td>
                                            <td><button>Add</button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </form>
                </div>


            </div>
        </div>

    </div>
</div>
</div>




