<div class="panel"  style="min-height: 550px" ng-controller="ExpenseApprovalController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large"> Expense Approval </span>
        </div>
    </div>

    <div class="panel-body">
        <form template="stdFormTemplate" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
            <fieldset class="dynamic-fieldset">
                <legend>Search</legend>
                <div class="row">

                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Month</label>
                        </div>
                        <select class="form-control" ng-model="month">
                            <option value="0">All</option>
                            <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index}}">{{m}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Year</label>
                        </div>
                        <select class="form-control" ng-model="year">
                            <option value="0">All</option>
                            <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Status</label>
                        </div>
                        <select class="form-control" ng-model="status" name="stts">
                            <option value="all">All</option>
                            <option value="1">Approved</option>
                            <option value="2">Pending</option>
                        </select>
                    </div>
                    <input type="button" class="btn btn-primary" value="Search" ng-click="getExpense()">
                </div>
            </fieldset>
        </form>

        <div class="row row-spacer" ng-show="displayData.length>0">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Location</th>
                    <th>Submitted On</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in displayData">
                    <td>{{d.owner.displayName}}</td>
                    <td>{{d.location.displayName}}</td>
                    <td>{{d.submittedOn.text | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <any ng-show="d.currentApprovedBy!=null">
                            <any ng-show="d.currentApprovedBy.displayName=='MIS'">Validate by MIS</any>
                            <any ng-show="d.currentApprovedBy.displayName!='MIS'">Approved By {{d.currentApprovedBy.displayName}}</any>
                        </any>
                        <any ng-show="d.currentApprovedBy==null">Submitted</any>
                    </td>
                    <td ng-controller="ExpenseReportController"><a ng-click="getExpenseDetails(d.year,d.month,d.owner.id,false)" class="squerlink"><img src="images/edit.png" tooltip="Get expense details" height="16px"/></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>