<div class="row" ng-controller="HeaderController">
    <top-header> </top-header>
</div>
<div class="row">
    <left-menu> </left-menu>
    <div class="col-xs-18"  ng-controller="ExpenseController">
        <div class="panel"  style="min-height: 550px">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Expense
                    </span>
                    <span class="pull-right"><a ng-click="addNew()">Add new</a></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
                </div>
                <div class="row">
                    <div ui-grid="searchData" class="grid"></div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

