<div class="panel"  style="min-height: 550px"  ng-controller="FocusedBrandApprovalController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Doctor Survey Approval</span>
        </div>
    </div>

    <div style="height: 10px"></div>
    <div class="row">
        <div class="col-xs-2" style="text-align: right"><label>Quarter</label></div>
        <div class="col-xs-4">
            <select class="form-control"
                    ng-model="quarter"
                    ng-options="q.id as q.name for q in quarters">
                <option value="">Select</option>
            </select>
        </div>

        <div class="col-xs-2" style="text-align: right"><label>Year</label></div>
        <div class="col-xs-4">
            <select class="form-control"
                    ng-model="year">
                <option ng-repeat="y in years" value="{{y}}" ng-selected="y==currentYear">{{y}}</option>
            </select>
        </div>

        <div class="col-xs-4">
            <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
        </div>
    </div>

    <div class="col-xs-15" style="margin-top: 20px;margin-left: 10px" ng-show="approvals.length>0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Applied By</th>
                <th>Submitted On</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in approvals">
                    <td>{{a.employee.displayName}}</td>
                    <td>{{a.updatedOn.text}}</td>
                    <td>{{a.status.displayName}}</td>
                    <td ng-controller="doctorInputController">
                        <a ng-click="getDetails(a.employee.id,a.location.id)" class="squerlink">
                            <img src="images/edit.png" tooltip="Get expense details" height="16px"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>