<div class="panel"  style="min-height: 550px" ng-controller="InventoryController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Input Management
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-6 control-label">Month</label>
                        <div class="col-xs-18">
                            <select class="form-control" ng-model="month">
                                <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index}}">{{m}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-6 control-label">Year</label>
                        <div class="col-xs-17">
                            <select class="form-control" ng-model="year">
                                <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <input type="button" class="btn btn-primary pull-left" value="Get Details" ng-click="getDetails()">
            </div>
        </div>

        <div style="height: 20px"></div>

        <table class="table table-striped" ng-show="displaydata.length>0">
            <thead>
            <tr>
                <th>Item Code</th>
                <th>Item</th>
                <th style="text-align: center">Sent Quantity</th>
                <th>Received On</th>
                <th>Received Stock</th>
                <th>Remarks</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in displaydata">
                    <td style="vertical-align: middle">{{d.itemCode}}</td>
                    <td style="vertical-align: middle">{{d.input.displayName | capitalize}}</td>
                    <td style="vertical-align: middle;text-align: center">{{d.sentQuantity}}</td>
                    <td style="width: 150px;vertical-align: middle"><input  type="text" ng-model="d.receivedOn.text" name="mDate" squer-datepicker class="form-control"/></td>
                    <td style="width: 150px;vertical-align: middle"><input type="text" class="form-control" ng-model="d.receivedQuantity"></td>
                    <td style="width: 250px"><textarea class="form-control" rows="2" cols="15" ng-model="d.comment"></textarea>
                    <td><button ng-click="update(displaydata[$index])"> Update </button></td>
                </tr>
            </tbody>
         </table>
    </div>
</div>


<script >
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        dateformat:'YYYY-MM-DD'
    });
</script>