<div class="panel"  style="min-height: 550px" ng-controller="LeaveApprovalChainController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Approval for Leaves
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div ng-show="$scope.nodata">
            No Leaves to Approve
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                     <td ng-repeat="col in columns" >
                         <any ng-switch on="columns[$index].dataType">
                             <div ng-switch-when="Reference">{{d[col.name].displayName}}</div>
                             <div ng-switch-when="Date">{{d[col.name].text}}</div>
                             <div ng-switch-default>{{d[col.name]}}</div>
                         </any>
                     </td>
                    <td>
                        <span ng-show='d.status.id=="SYSLV50000000000000000000000000000111"'>
                            <a ng-click="approve(d.id)" class="squerlink">Approve</a>
                            <a ng-click="reject(d.id)" class="squerlink" style="margin-left: 10px">Reject</a> </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>


