<div class="panel"  style="min-height: 550px"  ng-controller="leaveSearchController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Leaves
            </span>
            <span class="pull-right"><a ng-click="addNew()"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add new"></a></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td>{{d.appliedBy.displayName}}</td>
                    <td>{{d.leaveStartDate.text}}</td>
                    <td>{{d.leaveEndDate.text}}</td>
                    <td>{{d.leaveType.displayName}}</td>
                    <td>{{d.reason}}</td>
                    <td>{{d.status.displayName}}</td>
                    <td>{{d.actualLeaveDays}}</td>
                    <td>{{d.updatedOn.text}}</td>
                    <td>{{d.actionBy.displayName}}</td>
                    <!--td>
                        <div ng-repeat="action in actions"><span table-link></span><any ng-show="actions.length>1"><br /></any></div>
                    </td-->
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>
