<div class="panel"  style="min-height: 550px"  ng-controller="ManagerPlanController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Tour Plan
            </span>
            <a class="squerlink" ng-click="getMonthlyHoliday()">Monthly Holidays</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row row-spacer">
            <div class="col-xs-4">
                <select class="form-control" ng-model="controls.month"
                        ng-options="month for month in controls.months"
                        ng-change="changeMonth()"><option value="">Select Month</option></select>
            </div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="controls.year" ng-options="year for year in controls.years"
                        ng-change="changeYear()"><option value="">Select Year</option></select>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="row row-spacer row-spacer-top">
            <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                <div class="col-xs-7">
                    <table class="display dataTable" id="managerTable">
                        <thead>
                        <tr height="60">
                            <th >Date</th>
                            <th >Managers Activity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in controls.dates" height="60" >
                            <td>{{d.date | date:'EEE, dd-MMM'}}</td>
                            <td>
                                <select name="activity" ng-model="managerActivities[d.date.getTime()].plannedActivityType.id"
                                        ng-options="activity.id as activity.name group by activity.type for activity in referenceData.activityMasterList"
                                        class="form-control col-xs-4"
                                        ng-change="selectActivity(managerActivities[d.date.getTime()])"
                                        ng-show='managerActivities[d.date.getTime()].plannedActivityType.id !="SYSLV30000000000000000000000000000002"
                                                && managerActivities[d.date.getTime()].plannedActivityType.id !="SYSLV30000000000000000000000000000001"'>
                                </select>
                                <span type="text" name="holiday" readonly
                                      ng-show='managerActivities[d.date.getTime()].plannedActivityType.id =="SYSLV30000000000000000000000000000002"'> Holiday </span>
                                <span type="text" name="leave" readonly
                                      ng-show='managerActivities[d.date.getTime()].plannedActivityType.id =="SYSLV30000000000000000000000000000001"'> Leave </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-17" style="overflow-x:scroll;">
                    <table class="table">
                        <thead>
                        <tr height="60">
                            <th  ng-repeat="tm in controls.tms" nowrap >{{tm.displayName}}</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr ng-repeat="d in controls.dates" height="60" >
                            <td ng-repeat="tm in controls.tms" nowrap>
                                                <any ng-hide="allowJoin(data.activities[d.date.getTime()][tm.id].PLANNED_ACTIVITY_TYPE_ID)">{{data.activities[d.date.getTime()][tm.id].ACTIVITY_NAME}}</any>
                                                <any ng-show="allowJoin(data.activities[d.date.getTime()][tm.id].PLANNED_ACTIVITY_TYPE_ID)">
                                                    <textarea style="resize: none; border:none; overflow-y:scroll" row="2" readonly >{{data.activities[d.date.getTime()][tm.id].beats}}</textarea></any>
                                                        <input type="checkbox"
                                                           ng-model="controls.joints[tm.id][d.fmted]" ng-true-value="1" ng-false-value ="0"
                                                           ng-checked="checkJoint(controls.joints[tm.id][d.fmted])"
                                                           ng-change="markJoint(data.activities[d.date.getTime()][tm.id].ID, tm.id, d.fmted)"
                                                           ng-show="allowJoin(data.activities[d.date.getTime()][tm.id].PLANNED_ACTIVITY_TYPE_ID)"
                                                           tooltip="Click to join {{tm.name}} at {{data.activities[d.date.getTime()][tm.id].ACTIVITY_NAME}}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="holiday.html">
    <div ng-init="init()">
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>DATE</th>
                        <th>NAME</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="holiday in holidayList">
                        <td>{{holiday.date.text}}</td>
                        <td>{{holiday.holiday.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

