<div class="panel"  style="min-height: 550px"  ng-controller="myCoachingFeedbackController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                My Coaching Score
            </span>
            <!--span class="pull-right"><a ng-click="addNew()">Add new</a></span-->
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" >
                        <span ng-show='col.dataType == "date"'>{{d[col.name].text}}</span>
                        <span ng-show='col.dataType == "double"'>{{d[col.name]}}</span>
                        <span ng-show='col.dataType == "reference"'>{{d[col.name].displayName}}</span>
                    </td>
                    <td>
                        <div ng-repeat="action in actions"><span table-link></span><any ng-show="actions.length>1"><br /></any></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>
