<!--coachingfeedback.html -->
<div class="panel"  style="min-height: 550px" ng-controller="CoachingFormFeedbackController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                {{labels.title}}
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label">Team Member</label>
                    <div class="col-xs-8" valdr-form-group>
                        <select ng-model="controls.teamMember.id" class="form-control" ng-options="e.id as e.name for e in members" ng-show='memberId==null'>
                            <option value="">Select</option>
                        </select>
                        <input type="text" ng-model="controls.teamMember.displayName" class="form-control" readonly ng-show='memberId!=null'>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label">Date</label>
                    <div class="col-xs-8">
                        <input type="text" name="reportDate" ng-model="controls.reportDate.text" readonly class="form-control" squer-datepicker/>
                    </div>
                </div>

                <div class="jumbotron">
                <div class="row" ng-repeat="s in definition.form">

                    <div class="panel-heading row">
                        <div class="row row-spacer">
                            <div class="col-xs-10" style="font-weight: bold">
                                {{s.name}}
                            </div>
                            <div class="col-xs-10">
                                <label class="col-xs-7 col-xs-offset-1 control-label"><b>Feedback</b></label>
                                <div class="col-xs-16">
                                    <textarea  ng-model="feedback.textResponse[s.id]" rows="4" cols="100" class="col-xs-24"  ng-show='s.scoreType == "FREETEXT"' disabled></textarea>
                                    <!--
                                                                    <input type="text" name="name" ng-model="controls.feedback[s.id].id" class="form-control" ng-show='s.scoreType == "FREETEXT"'/>
                                    -->
                                    <select disabled name="score" ng-model="feedback.usrLovs[s.id].id" class="form-control"
                                            ng-options="sr.id as sr.name for sr in sectionRankLovList" ng-show='s.scoreType=="RANK"'>
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                                        <div class="panel-heading row">{{s.name}}</div>
                    -->
                    <div class="row">
                        <table class="table table-bordered">
                            <tr ng-repeat="q in s.questions">
                                <td>{{q.question}}</td>
                                <!--td ng-show="q.answerType.id=='SYSLVCFAT0000000000000000000000000001'">
                                    <    <select ng-model="controls.feedback[q.id]" class="form-control" name="feedback">
                                            <option value="">Select</option>
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                    </td>
                                    <td ng-show="q.answerType.id=='SYSLVCFAT0000000000000000000000000002'">
                                        <textarea  ng-model="controls.feedback[q.id]" rows="2" class="col-xs-24"></textarea>
                                    </td>-->
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </form>
        </div>
       <!-- <div class="col-xs-18 col-xs-offset-3">
            <button type="button" class="btn btn-primary" ng-click="save()" novalidate valdr-type="CoachingFeedback">{{links.save}}</button>
        </div>-->

    </div>
</div>
