  <!-- myTourPlan.html -->
    <div class="panel"  style="min-height: 550px" ng-controller="TourPlanController">

        <div class="panel-heading page-title">
            <div class="row">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    My Tour Plan -{{formdata.status}}
                </span>
                <span class="pull-right"><span ng-switch on="state.isManager">
                        <any ng-switch-when="true"><a ng-click="managerTourPlan()"><img src="images/add.png" tooltip="Add New/Edit Existing"/></a></any>
                        <any ng-switch-default><a ng-click="addNew(formdata.month, formdata.year)"><img src="images/add.png" tooltip="Add New/Edit Existing"/></a></any>
                </span>
                </span>
            </div>
        </div>

        <div class="panel-body">
            <div class="row row-spacer">
                <form class="form-inline dynamic-form">
                    <fieldset class="col-xs-10">
                    <select ng-model="formdata.month" class="form-control" ng-options="month for month in referenceData.months">

                    </select>
                    <select ng-model="formdata.year" class="form-control" ng-options="year for year in referenceData.years">
                    </select>
                    <button class="btn btn-primary" ng-click="initSearch()">View Calendar</button>
                    </fieldset>
                </form>

            </div>
            <div class="row" id="calendarDiv">
                <table class="table table-bordered" border="1" id="calendarView">
                    <thead>
                    <tr >
                        <th ng-repeat="day in referenceData.daysOfWeek">{{day}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="w in tourdata.weeks" style="height:100px;">
                        <td style="min-width:150px;padding: 0px;border: 1px solid darkgray" ng-repeat="da in w" nowrap="nowrap">
                            <table width="100%" border="0">
                                <tr>
                                    <td style="border-bottom: 1px solid #d3d3d3; padding: 4px"  ng-show="{{da.date}}" >
                                        <b>{{da.date | date:'dd' }}</b></td>
                                </tr>
                                <tr>
                                    <td  style="padding: 4px;">
                                        <any ng-show="showCounts(da.fmted)">
                                            <span ng-repeat="b in tourdata.tourData[da.fmted].beats"> {{b.displayName}}<br/> </span>
                                        </any>
                                         {{tourdata.activityMasterListMap[tourdata.tourData[da.fmted].plannedActivityType.id].name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="padding: 4px;">
                                        <any ng-show="showCounts(da.fmted)">
                                                Doc: <a ng-click="openDoctorListing(da.fmted)" class="squerlink">{{ tourdata.tourData[da.fmted].numDoctors }}</a>   Ch: <a ng-click="openChemistListing(da.fmted)" class="squerlink">{{ tourdata.tourData[da.fmted].numChemists }}</a>
                                        </any>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


  <script type="text/ng-template" id="doctorListing.html" >
      <div ng-init="init()">
          <div class="modal-header">
              <h3 class="modal-title">{{detail.activityDate.text|getDateValue}}</h3>
          </div>
          <div class="modal-body">
              <div class="row">

                  <table class="table table-stripped">
                      <thead>
                      <tr>
                          <th>Beat</th>
                          <th>Doctor</th>
                          <th>Speciality</th>
                          <th>Classfication</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="profile in masterdata.doctors | filter : {selected:true}">
                          <td>{{profile.beat.beatName}}</td>
                          <td>{{profile.doctor.doctor.displayName}}</td>
                          <td>{{profile.doctor.speciality.displayName}}</td>
                          <td>{{profile.doctor.classification.displayName}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
          </div>
      </div>
  </script>


  <div >
      <script type="text/ng-template" id="chemistListing.html">
          <div class="modal-header" ng-init="init()">
              <h3 class="modal-title">{{activityDate.text|getDateValue}}</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <table class="table table-stripped">
                      <thead>
                      <tr>
                          <th>Chemist</th>
                          <th>&nbsp;</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="chemist in chemists">
                          <td>{{chemist.name}}</td>
                          <td>&nbsp;</td>

                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
          </div>
      </script>
  </div>