    <div class="panel"  style="min-height: 550px" ng-controller="VisitReportController" ng-init="init()">
        <div class="panel-heading page-title">
            <div class="row">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    Activity Report for {{ definition.activityDate.text}}
                    <span ng-show='definition.plannedActivityType.id=="SYSLV30000000000000000000000000000001"'> (Leave) </span>
                    <span ng-show='definition.plannedActivityType.id=="SYSLV30000000000000000000000000000002"'> (Holiday) </span>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-24">
                <fieldset ng-show='definition.plannedActivityType.id!="SYSLV30000000000000000000000000000001"'>
                    <tabset justified="true" class="row-spacer">
                        <tab heading="Doctor Reports" ng-show="config.customervisit" >
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Beat</th>
                                    <th>Doctor</th>
                                    <th>Planned</th>
                                    <th>Visited</th>
                                    <th>Joint</th>
                                    <th>Post RCPA</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="doctor in definition.attendees | filter: {role:{id:'SYSLV40000000000000000000000000000003'}}">

                                    <td>{{beatsForProfileList[doctor.attendee.id].beatName}}</td>
                                    <td>{{doctor.attendee.displayName}}</td>
                                    <td><span ng-switch="doctor.planned">
                                            <any ng-switch-when="true">Yes</any>
                                            <any ng-switch-default>No</any>
                                        </span></td>
                                    <td><input type="checkbox" ng-model="doctor.visited" ng-change="openRCPAdoctorDetails(doctor,isEditable,1)" ng-disabled="!isEditable"/></td>
                                    <td>
                                        <div
                                                isteven-multi-select
                                                input-model="joineeMasterList[doctor.id]"
                                                output-model="joinees[doctor.attendee.id]"
                                                button-label="name"
                                                item-label="name"
                                                tick-property="ticked"
                                                orientation="vertical"
                                                on-close="joinAttendee(doctor.attendee.id, doctor)"
                                                ng-show="isEditable"
                                                >
                                        </div>
                                    </td>
                                    <td><input type="checkbox" ng-model="doctor.rcpa" ng-change="saveAttendee(doctor)" ng-disabled="!isEditable"/> </td>
                                    <td>
                                        <a ng-click="openDoctorDetails(doctor,isEditable)"><img src="images/detailing.png" style="border: 0px;height: 24px" tooltip="Doctor Detailing"></a>
                                        <a ng-click="openDoctorPOB(doctor,isEditable)" class="col-xs-offset-2"><img src="images/pob.png" style="border:0px; height: 24px" tooltip="POB"></a>
                                        <a ng-click="openRCPAdoctorDetails(doctor,isEditable,2)" class="col-xs-offset-2" ng-show="isEditable && doctor.visited">
                                            <img src="images/rx.png" style="border:0px; height: 24px" tooltip="Chemist RCPA">
                                        </a>
                                        <a ng-click="openDoctorNonCallAct(doctor,isEditable, doctor.activity.id, doctor.attendee.id)" class="col-xs-offset-2"><img src="images/survey.png" style="border:0px; height: 24px" tooltip="Add"></a>
                                        <span ng-show="showRemove(doctor) && isEditable">
                                            <a confirmed-click="removeAttendee(doctor)"
                                               ng-confirm-click="Are you sure you want to delete the record?" class="col-xs-offset-2"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Record"></a>
                                        </span>
                                    </td>
                                </tr>

                                <tr novalidate valdr-type="AdhocDoctorReporting" ng-form="adhocDoctorReporting" ng-show="isEditable">
                                    <td><select class="form-control"
                                                name="selectBeat"
                                                ng-model="controls.selectedBeat"
                                                ng-options="beat.id as beat.name group by beat.location.displayName for beat  in beatsMasterList"
                                                ng-change="fetchDoctorsForBeat()">
                                                    <option value="">Select Beat</option>
                                        </select>
                                    </td>
                                    <td><select class="form-control"
                                                name="selectedDoctor"
                                                ng-model="controls.selectedDoctor"
                                                ng-options="doctor.id as doctor.name for doctor in doctorsForBeatList"
                                                >
                                        <option value="">Select Doctor</option></select></td>
                                    <td>No</td>
                                    <td></td>
                                    <td><input type="checkbox" /> </td>
                                    <td><input type="checkbox" /> </td>
                                    <td><any  ng-switch="adhocDoctorReporting.$invalid">
                                            <any ng-switch-when="true">
                                                <img src="images/add.png" style="border:0px; height: 24px" tooltip="You need to select Beat and Doctor to add">
                                            </any>
                                            <any ng-switch-when="false">
                                                <button
                                                        ng-click="addDoctorToReport(isEditable)" class="btn-link"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another"></button>
                                            </any>
                                        </any>
                                        </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Chemist Reports" ng-show="config.customervisit" ng-disabled='definition.plannedActivityType.id=="SYSLV30000000000000000000000000000001"'>
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Chemist</th>
                                    <th>Planned</th>
                                    <th>Visited</th>
                                    <th>Joint(Only One)</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="doctor in definition.attendees | filter: {role:{id:'SYSLV40000000000000000000000000000005'}}">

                                    <td>{{doctor.attendee.displayName}}</td>
                                    <td><span ng-switch="doctor.planned">
                                            <any ng-switch-when="true">Yes</any>
                                            <any ng-switch-default>No</any>
                                        </span></td>
                                    <td><input type="checkbox" ng-model="doctor.visited" ng-change="saveAttendee(doctor)" ng-disabled="!isEditable"/></td>
                                    <td>
                                        <div
                                                isteven-multi-select
                                                input-model="joineeMasterList[doctor.id]"
                                                output-model="joinees[doctor.attendee.id]"
                                                button-label="name"
                                                item-label="name"
                                                tick-property="ticked"
                                                orientation="vertical"
                                                selection-mode="single"
                                                on-close="joinAttendee(doctor.attendee.id, doctor)"
                                                ng-show="isEditable"
                                                >
                                        </div>
                                    </td>
                                    <td>
                                        <a ng-click="openChemistDetails(doctor,isEditable)"><img src="images/detailing.png" style="border: 0px;height: 24px" tooltip="Chemists Detailing"></a>
                                        <a ng-click="openDoctorPOB(doctor,isEditable)" class="col-xs-offset-2"><img src="images/pob.png" style="border:0px; height: 24px" tooltip="POB"></a>
                                        <span ng-show="showRemove(doctor) && isEditable">
                                        <a confirmed-click="removeAttendee(doctor)"
                                           ng-confirm-click="Are you sure you want to delete the record?" class="col-xs-offset-2"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Record"></a>
                                        </span>

                                    </td>
                                </tr>
                                <tr novalidate valdr-type="AdhocChemistReporting" ng-form="adhocChemistReporting" ng-show="isEditable">
                                    <td><select class="form-control"
                                                name="selectedChemist"
                                                ng-model="controls.selectedChemist"
                                                ng-options="c.id as c.name group by c.location.displayName for c in chemistList"><option value="">Select Chemist</option></select></td>
                                    <td><span>No</span></td>
                                    <td>Yes</td>
                                    <td>-</select>
                                    </td>
                                    <td><any  ng-switch="adhocChemistReporting.$invalid">
                                        <any ng-switch-when="true">
                                            <img src="images/add.png" style="border:0px; height: 24px" tooltip="You need to select Chemist to add">
                                        </any>
                                        <any ng-switch-when="false">
                                            <a ng-click="addChemistToReport()"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another"></a>
                                        </any>
                                    </any>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Stockist Reports" active="config.stockistvisit" ng-disabled='definition.plannedActivityType.id=="SYSLV30000000000000000000000000000001"'>
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Visited</th>
                                    <!--th>Action</th-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="stockist in stockistList">

                                    <td>{{stockist.name}}</td>
                                    <td><input id="checkSlave" type="checkbox"
                                               ng-click="removeStockist($event, stockistVisits[stockist.id])"
                                               ng-checked="stockistVisits[stockist.id].visited" ng-disabled="!isEditable"></td>
                                    <!--td><any ng-switch="config.stockistReporting">
                                            <any ng-switch-when="true">
                                                <a ng-click="openSecondaryDetails(stockist)"
                                                   class="squerlink" ng-show="isEditable">Secondary Sales</a>
                                            </any>
                                            <any ng-switch-default>Secondary Sales Locked
                                            </any>
                                        </any>
                                    </td-->
                                </tr>
                                </tbody>
                            </table>
                        </tab>


                        <tab heading="Non Call Activity">
                            <table class="table table-striped table-condensed" ng-disabled='definition.plannedActivityType.id=="SYSLV30000000000000000000000000000001"'>
                                <thead>
                                <tr>
                                    <th>Activity Type</th>
                                    <th>Duration</th>
                                    <th>Planned</th>
                                    <th>Completed</th>
                                    <th>Number Of Attendees</th>
                                    <th>Leads</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="activity in noncallActivities">
                                    <td>{{activity.activityType.displayName}}</td>
                                    <td>{{activity.duration.displayName}}</td>
                                    <td>No</td>
                                    <td><input type="checkbox" ng-model="activity.visited" ng-change="saveNonCallActivityVisited(activity)" ng-disabled="!isEditable"/></td>
                                    <td>{{activity.numOfAttendees}}</td>
                                    <td>{{activity.leads}}</td>
                                    <td>
                                        <!--a ng-click="nonCallActivityDetailingPopup(activity.id,activity.activityType.displayName,isEditable,activity.activity.id)"><img src="images/detailing.png" style="border:0px; height: 24px" tooltip="Detailing"></a-->
                                        <a confirmed-click="removeNonCallActivity(activity, $index) "  ng-show="isEditable && activity.doctor==null"
                                           ng-confirm-click="Are you sure you want to delete the record?" class="col-xs-offset-2" style="margin-left: 10px"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Record"></a>
                                    </td>

                                </tr>
                                <tr novalidate valdr-type="NonCallActivityReporting" ng-form="nonCallActivityReporting" ng-show="isEditable">
                                <td><select class="form-control"
                                                name="selectNonCallActivity"
                                                ng-model="controls.noncallActivity"
                                                ng-options="a.ID as a.NAME for a in noncallActivityList"
                                                ng-change="checkHoliday(controls.noncallActivity)"
                                                >
                                        <option value="">Select Activity</option>
                                    </select>
                                    </td>
                                    <td><select class="form-control"
                                                name="selectedDoctor"
                                                ng-model="controls.noncallActivityDuration"
                                                ng-options="d.id as d.name for d in noncallActivityDurationList"
                                            >
                                        <option value="">Select Duration</option></select></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input type="number" name="numberOfAttendees" ng-model="controls.numOfAttendees" class="form-control"/></td>
                                    <td><input type="number" name="leads" ng-model="controls.leads" class="form-control"/></td>
                                    <td>
                                        <any  ng-switch="nonCallActivityReporting.$invalid">
                                        <any ng-switch-when="true">
                                            <img src="images/add.png" style="border:0px; height: 24px" tooltip="You need to select Activity type and Duration to add">
                                        </any>
                                        <any ng-switch-when="false">
                                            <a ng-click="addNonCallActivityToReport()"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another"></a>
                                        </any>
                                    </any>

                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </tab>

                    </tabset>
                </fieldset>
            </div>
        </div>

    </div>



    <div>
        <script type="text/ng-template" id="nonCallActivityDetailing.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Non Call Activity Detailing - {{actType}}  </h3>
            </div>
            <div class="modal-body">
                <fieldset>
                    <tabset justified="true" class="row-spacer">
                        <tab heading="Doctors"  >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th  width="50%">Doctors</th>
                                    <th ></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in ncaDoctors">
                                    <td  width="50%">{{n.doctor.displayName}}</td>
                                    <td  >
                                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteDoctors($index)"  ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control" ng-model="selectDoctor"
                                                ng-options="d.id as d.name for d in doctors">
                                            <option value="">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addDoctors(selectDoctor)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>

                        <tab heading="Brands"  >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">Brands</th>
                                    <th ></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in ncaBrands">
                                    <td>{{n.brand.displayName}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteBrands($index)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control" ng-model="selectBrand" ng-options="b.id as b.name for b in brands">
                                            <option value="">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addBrands(selectBrand)"  ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr    >
                                </tbody>
                            </table>
                        </tab>


                        <tab heading="Samples"  >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="40%">Samples</th>
                                    <th width="40%">Quantity</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in ncaSamples">
                                    <td >{{n.product.displayName}}</td>
                                    <td >{{n.quantity}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteSamples($index)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-xs-24">
                                            <select class="form-control" ng-model="selectSamples"
                                                    ng-options="p.id as p.name for p in products"
                                            >
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-16">
                                            <input type="number" name="quantity" ng-model="sampleQuantity" class="form-control"/>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addSamples(selectSamples,sampleQuantity)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>


                        <tab heading="Products Sold"  >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="40%">Product Sold</th>
                                    <th width="40%">Quantity</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in ncaProductSold">
                                    <td>{{n.product.displayName}}</td>
                                    <td >{{n.quantity}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteProductSold($index)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-xs-24">
                                            <select class="form-control" ng-model="selectProductsold"
                                                    ng-options="p.id as p.name for p in products"
                                            >
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-16">
                                            <input type="number" name="quantity" ng-model="prodQuantity" class="form-control"/>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addProductSold(selectProductsold,prodQuantity)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>



                        <tab heading="POB"  >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="40%">POB</th>
                                    <th width="40%">Quantity</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in ncaPOB">
                                    <td>{{n.product.displayName}}</td>
                                    <td >{{n.quantity}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deletePOB($index)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-xs-24">
                                            <select class="form-control" ng-model="selectPOB"
                                                    ng-options="p.id as p.name for p in products"
                                            >
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-16">
                                            <input type="number" name="quantity" ng-model="pobQuantity" class="form-control"/>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addPOB(selectPOB,pobQuantity)"   ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>



                        <tab heading="Inputs"  >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="40%">Inputs</th>
                                    <th width="40%">Quantity</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in ncaDocInputs">
                                    <td>{{n.product.displayName}}</td>
                                    <td>{{n.quantity}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="deleteDoctorInput($index)" ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-xs-24">
                                            <select class="form-control" ng-model="selectDoctorInput"
                                                    ng-options="p.id as p.name for p in docInputList"
                                            >
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-16">
                                            <input type="number" name="quantity" ng-model="inputQuantity" class="form-control"/>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="addDoctorInput(selectDoctorInput,inputQuantity)"  ng-show="isEditable">
                                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>

                    </tabset>
                </fieldset>

            </div>
            <div class="modal-footer">
                <div class="col-xs-24">
                    <span class="pull-right">
                        <button class="btn btn-primary" ng-click="save()" ng-disabled="!isEditable" >Save</button>
                        <button class="btn btn-default" ng-click="closeModal()">Close</button>
                    </span>
                </div>
            </div>
        </script>
    </div>


    <div>
        <script type="text/ng-template" id="doctorDetailing.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Doctor Detailing for {{detail.attendee.displayName}}</h3>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">
                    <form  novalidate valdr-type="DoctorDetailing" name="doctorDetailingForm">
                        <div ng-if="doctorDetailingForm.$invalid">
                           <div class="text-error">Please select Order of Detailing, Brand, Message and Level of prescription</div>
                        </div>
                        <table class="table table-striped table-condensed"   valdr-enabled="true">
                            <thead>
                            <tr>
                                <th>Order Of Detailing</th>
                                <th>Brand</th>
                                <th>Message</th>
                                <th>Samples</th>
                                <th>Level Of Prescription</th>
                                <th ng-show="isEditable">Add Another</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dtl in doctor.details | orderBy:'sequence.displayName'">
                                <td>{{dtl.sequence.displayName}}</td>
                                <td>{{dtl.brand.displayName}}</td>
                                <td>{{dtl.message.displayName}}</td>
                                <td>{{dtl.samples}}</td>
                                <td>{{dtl.levelOfPrescription.displayName}}</td>
                                <td><a ng-click="removeDetail($index, dtl.id)" ng-show="isEditable"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Detail"></a>
                                </td>
                            </tr>
                            <tr>
                                <td valdr-form-group>
                                    <select class="form-control col-xs-8" name="sequence" ng-model="temp.sequence" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                                            ng-options="s.id as s.name for s in masterdata.sequences"><option>Select Sequence</option></select></td>
                                <td valdr-form-group><select class="form-control col-xs-8" name="brand" ng-model="temp.brand" ng-options="b.id as b.name for b in masterdata.brands"><option>Select Brand</option></select></td>
                                <td valdr-form-group><select class="form-control"          name="message" ng-model="temp.message" ng-options="m.id as m.name for m in masterdata.messages"><option>Select Message</option></select></td>
                                <td valdr-form-group><input type="text" class="form-control col-xs-2" name="samples" ng-model="temp.samples" integer></td>
                                <td valdr-form-group><select class="form-control" name="prescriptionLevel" ng-model="temp.prescriptionLevel" ng-options="l.id as l.name for l in masterdata.lops"></select></td>
                                <td ng-show="isEditable">
                                    <button ng-click="addDetail()" ng-disabled="doctorDetailingForm.$invalid" class="btn-link">
                                        <img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <hr class="row"/>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Add Inputs</label>
                            <div class="row" ng-repeat="g in controls.giveAways">
                                <div class="col-xs-4">
                                    <label class="control-label">Input {{$index +1 }}</label>
                                </div>
                                <div class="col-xs-10">
                                    <select class="form-control" ng-options="i.id as i.name for i in masterdata.inputs" ng-model="g.id">
                                        <option value="">Select Item</option>
                                    </select>
                                </div>
                                <!--div class="col-xs-4">
                                    <input type="text" class="form-control" ng-model="g.qty">
                                </div-->
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group row">
                                <label class="control-label">Remarks</label>
                                <div class="col-xs-20">
                                    <textarea class="form-control" ng-model="controls.remarks" row="4" cols="70"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveDoctorForPlan()" ng-show="isEditable">Save</button>
                <button class="btn btn-warning" ng-click="closeModal()" ng-show="isEditable">Cancel</button>
            </div>
        </script>
    </div>


    <div>
        <script type="text/ng-template" id="doctorPOBDetailing.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">POB for {{data.detail.attendee.displayName}} </h3>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">

                </div>
                <div class="row row-spacer">

                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th ng-show="isEditable">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="line in details">
                            <td>{{line.product.displayName}}</td>
                            <td>{{line.orderQuantity}}</td>
                            <td>
                                <a confirmed-click="removeDetail(line)" ng-show="isEditable"
                                   ng-confirm-click="Are you sure you want to delete the record?" class="col-xs-offset-2"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Record"></a>
                            </td>
                        </tr>
                        <tr>
                            <td><select class="form-control" name="" ng-model="controls.product" ng-options="p.id as p.name for p in masterdata.products"><option>Select Product</option></select></td>
                            <td><input type="text" class="form-control" ng-model="controls.orderQuantity"></td>
                            <td ng-show="isEditable"><a ng-click="addDetailToPOB()"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="savePobs()" ng-show="isEditable">Save</button>
                <button class="btn btn-warning" ng-click="closeModal()" ng-show="isEditable">Cancel</button>
            </div>
        </script>
    </div>

    <div>
        <script type="text/ng-template" id="doctorDetailingNonCallActivity.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Activity With {{attendeeName}}</h3>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">

                </div>
                <div class="row row-spacer">

                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th >Type</th>
                            <th >Duration</th>
                            <th >Brand</th>
                            <th >No. of Attendees</th>
                            <th >Leads</th>
                            <th ng-show="isEditable">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="line in details">
                            <td>{{line.activityType.displayName}}</td>
                            <td>{{line.duration.displayName}}</td>
                            <td>{{line.brand.displayName}}</td>
                            <td>{{line.numOfAttendees}}</td>
                            <td>{{line.leads}}</td>
                            <!--<td><input type="checkbox" ng-model="line.completed" checked/></td>-->
                            <td ng-show="isEditable">
                                <a confirmed-click="removeDetail(line)"
                                   ng-confirm-click="Are you sure you want to delete the record?" class="col-xs-offset-2"><img src="images/trash.png" style="border:0px; height: 24px" tooltip="Remove Record"></a>
                            </td>
                        </tr>
                            <tr ng-show="isEditable">
                                <td><select class="form-control" name="activityType" ng-model="controls.activityType" ng-options="a.id as a.name for a in masterdata.type"><option>Select Type</option></select></td>
                                <td><select class="form-control" name="duration" ng-model="controls.duration" ng-options="a.id as a.name for a in masterdata.duration"  ><option>Select Duration</option></select></td>
                                <td valdr-form-group><select class="form-control col-xs-8" name="brand" ng-model="controls.brand" ng-options="b.id as b.name for b in masterdata.brands"><option>Select Brand</option></select></td>
                                <td><input type="number" class="form-control" name="numOfAttendees" ng-model="controls.numOfAttendees"></td>
                                <td><input type="number" class="form-control" naem="leads" ng-model="controls.leads"></td>
                                <!--<td><input type="checkbox" ng-model="controls.completed" ng-disabled="true" /></td>-->
                                <td ><a ng-click="addDetailToNonCallActivity()"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another"></a></td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" ng-click="saveNCA()" >Save</button>-->
                <button class="btn btn-warning" ng-click="closeModal()" >Close</button>
            </div>
        </script>
    </div>


    <div>
        <script type="text/ng-template" id="chemistDetailing.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">RCPA for {{data.detail.attendee.displayName}} </h3>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">
                    <div class="col-xs-12">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="col-xs-8">Doctor</th>
                            <th class="col-xs-8">Brand</th>
                            <th class="col-xs-3">Qty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><select name="selectedDoctor"
                                        class="form-control"
                                        ng-model="tempdata.doctor"
                                        ng-options="d.doctor as d.doctor.displayName for d in rcpamaster.doctorList">
                                    <option value="">Select Doctor</option>
                                </select>
                            </td>
                            <td><select name="selectedBrand"
                                        class="form-control"
                                        ng-model="tempdata.brand"
                                        ng-options="b as b.name for b in rcpamaster.brandList"
                                        ng-change="findCompetitor()">
                                        <option value="">Select Brand</option>
                                </select>
                            </td>
                            <td><input name="selectedQty"
                                       class="form-control"
                                       ng-model="tempdata.qty">
                            </td>
                        </tr>
                        <tr ng-repeat="1 in [0,1,2,3]">
                            <td>&nbsp;</td>
                            <td><select name="cBrand"
                                        ng-model="tempdata.cBrand[$index]"
                                        ng-options="cb as cb.displayName for cb in rcpamaster.competitorBrandList"
                                        class="form-control"></select>
                            </td>
                            <td><input type="text" name="cQty" ng-model="tempdata.cQty[$index]" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                    <a class="pull-right btn btn-default" ng-click="addRCPA()" ng-show="isEditable">Save/Add Another</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-xs-10">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-xs-8">Doctor</th>
                                    <th class="col-xs-8">Brand</th>
                                    <th class="col-xs-3">Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr ng-repeat-start="rcpa in rcpas">
                                        <td>{{rcpa.doctor.displayName}}</td>
                                        <td>{{rcpa.brand.displayName}}</td>
                                        <td>{{rcpa.qty}}</td>
                                    </tr>
                                    <tr ng-repeat="p in rcpa.prescriptions">
                                        <td></td>
                                        <td>{{p.cbrand.displayName}}</td>
                                        <td>{{p.qty}}</td>
                                    </tr>
                                    <tr ng-repeat-end>
                                        <td colspan="3">
                                            <a class="pull-right" ng-click="removeRCPA(rcpa.rcpaId, $index)" ng-show="isEditable">Remove</a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
            </div>
        </script>
    </div>




    <div>
        <script type="text/ng-template" id="RCPAdoctorDetailing.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">RCPA for {{doctorName}} </h3>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">
                    <div class="col-xs-12">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-xs-8">Chemist</th>
                                <th class="col-xs-8">Brand</th>
                                <th class="col-xs-3">Qty</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><select name="selectedchemist"
                                            class="form-control"
                                            ng-model="tempdata.chemist"
                                            ng-options="r.id as r.name for r in rcpamaster.chemistlist">
                                    <option value="">Select Chemist</option>
                                </select>
                                </td>
                                <td><select name="selectedBrand"
                                            class="form-control"
                                            ng-model="tempdata.brand"
                                            ng-options="b as b.name for b in rcpamaster.brandList"
                                            ng-change="findCompetitor()">
                                    <option value="">Select Brand</option>
                                </select>
                                </td>
                                <td><input name="selectedQty"
                                           class="form-control"
                                           ng-model="tempdata.qty">
                                </td>
                            </tr>
                            <tr ng-repeat="1 in [0,1,2,3]">
                                <td>&nbsp;</td>
                                <td><select name="cBrand"
                                            ng-model="tempdata.cBrand[$index]"
                                            ng-options="cb as cb.displayName for cb in rcpamaster.competitorBrandList"
                                            class="form-control"></select>
                                </td>
                                <td><input type="text" name="cQty" ng-model="tempdata.cQty[$index]" class="form-control" value=""></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <a class="pull-right btn btn-default" ng-click="addChemistRCPA()" ng-show="isEditable">Save</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--div class="col-xs-10">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-xs-8">Chemist</th>
                                <th class="col-xs-8">Brand</th>
                                <th class="col-xs-3">Qty</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat-start="rcpa in rcpas">
                                <td>{{rcpa.doctor.displayName}}</td>
                                <td>{{rcpa.brand.displayName}}</td>
                                <td>{{rcpa.qty}}</td>
                            </tr>
                            <tr ng-repeat="p in rcpa.prescriptions">
                                <td></td>
                                <td>{{p.cbrand.displayName}}</td>
                                <td>{{p.qty}}</td>
                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="3">
                                    <a class="pull-right" ng-click="removeRCPA(rcpa.rcpaId, $index)" ng-show="isEditable">Remove</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div-->
                </div>
            </div>
            <div class="row">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="closeModal()">Close</button>
            </div>
        </script>
    </div>




    <div>
        <script type="text/ng-template" id="stockistSale.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Secondary Sales on {{detail.activityDate.text}} </h3>
            </div>
            <div class="modal-body">
                <div class="row row-spacer">
                    <div class="col-xs-12">
                        <label class="col-xs-6 control-label">Month</label>
                        <div class="col-xs-10">
                            <!--input type="text" class="form-control" squer-datepicker ng-model="controls.openingDate"/-->
                            <select class="form-control" ng-model="controls.month" ng-options="month for month in referenceData.months"><option value="">Select Month</option></select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-xs-6 control-label">Year</label>
                        <div class="col-xs-10">
                            <!--input type="text" class="form-control" squer-datepicker ng-model="controls.closingDate"/-->
                            <select class="form-control" ng-model="controls.year" ng-options="year for year in referenceData.years"><option value="">Select Year</option></select>
                        </div>
                    </div>
                </div>
                <div class="row row-spacer">

                    <table class="table table-condensed table-stripped">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Opening Stock</th>
                                <th>Closing Stock</th>
                                <!--th>Returned Stock</th>
                                <th>Transit Goods</th-->
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sale in sales">
                                <td>{{sale.product.displayName}}</td>
                                <td>{{sale.openingStock}}</td>
                                <td>{{sale.closingStock}}</td>
                                <!--td>{{sale.returnedStock}}</td>
                                <td>{{sale.transitGoods}}</td-->
                                <td><a ng-click="removeLine(sale, $index)"><img src="images/trash.png"/></a></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-condensed">
                        <tbody>
                            <tr novalidate valdr-type="StockistSale" ng-form="StockistSaleForm">
                                <td valdr-form-group><select name="selectedBrand"
                                            class="form-control"
                                            ng-model="controls.brand"
                                            ng-options="brand.id as brand.name for brand in controls.brandList"
                                            ng-change="selectBrand()">
                                    <option value="">Select Brand</option>
                                </select>
                                </td>
                                <td valdr-form-group><select name="selectedProduct"
                                            class="form-control"
                                            ng-model="controls.product"
                                            ng-options="p.id as p.name for p in controls.productList"
                                            >
                                    <option value="">Select Product</option>
                                </select>
                                </td>
                                <td valdr-form-group><input name="openingStock"
                                           class="form-control"
                                           ng-model="controls.openingStock" placeholder="Opening Stock">
                                </td>
                                <td valdr-form-group><input name="closingStock"
                                           class="form-control"
                                           ng-model="controls.closingStock" placeholder="Closing Stock">
                                </td>
                                <!--td><input name="returnedStock"
                                           class="form-control"
                                           ng-model="controls.returnedStock">
                                </td>
                                <td><input name="transitGoods"
                                           class="form-control"
                                           ng-model="controls.transitGoods">
                                </td-->
                                <td>
                                    <button
                                         ng-click="addProduct()" class="btn-link"><img src="images/add.png" style="border:0px; height: 24px" tooltip="Add Another">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
            </div>
        </script>
    </div>