<!-- myTourView.html -->
    <div class="panel"  style="min-height: 550px" ng-controller="VisitReportController" ng-init="initSearch()">
        <div class="panel-heading page-title">
            <div class="row">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    Activity Report
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row row-spacer">
                <form class="form-inline dynamic-form">
                    <fieldset class="col-xs-10">
                    <select ng-model="month" class="form-control" ng-options="month for month in months">
                    </select>
                    <select ng-model="year" class="form-control" ng-options="year for year in years">
                    </select>
                    <!--<select ng-model="location.id" class="form-control" ng-options="location.id as location.name for location in locations">
                    </select>-->
                    <button class="btn btn-primary" ng-click="initSearch()">View Calendar</button>
                    </fieldset>
                </form>
            </div>
            <div class="row">
                <table class="table table-bordered" >
                    <thead>
                    <tr >
                        <th ng-repeat="day in daysOfWeek">{{day}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="w in data.weeks" style="height:100px;">
                        <td style="min-width:150px;padding: 0px;border: 1px solid darkgray" ng-repeat="da in w">
                            <table width="100%" border="0" >
                                <tr>
                                    <td style="border-bottom: 1px solid #d3d3d3; padding: 4px" ng-show="{{da.date}}">
                                        <b>{{da.date | date:'dd' }}</b>
                                        <any ng-show="getDailyLock(da.time)"><img src="images/addition-icon.png" class="pull-right" ng-click="reportFor(da.time,true)" tooltip="Report Activity for {{da.date | date:'dd/MM/yyyy'}}"></any>
                                        <any ng-show="!getDailyLock(da.time)"><a href class="pull-right" ng-click="reportFor(da.time,false)" tooltip="Report Activity for {{da.date | date:'dd/MM/yyyy'}}">
                                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                        </a></any>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 4px;">
                                    <any ng-show="showCounts(da.fmted)">
                                        D: {{countsMap[da.fmted].docs}}<br/>
                                        C: {{countsMap[da.fmted].chemists}}<br/>
                                        S: {{countsMap[da.fmted].stockists}}<br/>
                                        NC:{{countsMap[da.fmted].noncallactivities}}
                                    </any>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

