<!-- newPlan.html -->
        <div class="panel"  style="min-height: 550px"  ng-controller="NewPlanController">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Tour Plan - {{plan.tourPlan.status.displayName}}
                    </span>
                    <a class="squerlink" ng-click="getMonthlyHoliday()">Monthly Holidays</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row row-spacer">
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="formdata.month" ng-options="month for month in referenceData.months"><option value="">Select Month</option></select>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="formdata.year" ng-options="year for year in referenceData.years"><option value="">Select Year</option></select>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-primary btn" ng-click="editCreatePlan()">Edit/Create New</a>
                    </div>

                    <div class="pull-right">
                        <a  confirmed-click="submitPlan(tourPlan)"
                            ng-confirm-click="This will submit the plan for approval to your manager and disable any further edits to the plan. Are you sure, you want to submit?"
                            class="btn btn-default"  ng-disabled="temp.editable">Submit</a>
                    </div>
                    <div class="col-xs-4">
                        <a class="squerlink" ng-click="viewSummaryPlan()">Planned Frequency Summary</a>

                    </div>
                </div>
                <div class="row row-spacer">
                    <div class="col-xs-4">
                        <a class="squerlink" ng-click="rejectComment()" ng-show="showRejectComment">Reason for Rejection</a>
                    </div>
                </div>
                <div ng-hide="showPlan">
                    <div class="row row-spacer">
                        <!--a ng-click="toggleShowPrevious()" class="pull-left">Show/Hide Previous Month Actuals</a>
                        <a ng-click="toggleShowMoreDetails()" class="pull-right">Show/Hide More Details</a-->
                        <label class="pull-left text-danger">* You can not create/change plan for previous days.</label>
                        <label class="pull-left text-danger">* You can also create plan by copying from previous days.</label>
                        <label class="pull-left text-danger">* Bulk copy option is only active when current month plan creation is not started</label>
                        <lable class="pull-left"><a class="squerlink" ng-click="copyActivity()"><h5>Bulk Copy From Previous Plan</h5></a></lable>
                    </div>
                    <div class="row row-spacer">
                            <form class="form-horizontal" name="employeeForm" ng-submit="save()">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2" align="center" ng-show="showPrevious">Previous Month</th>
                                            <th colspan="6" align="center" style="border-left: 1px silver solid;border-right: 1px silver solid">Current Month</th>
                                            <th colspan="3" align="center" ng-show="showMoreDetails">More Details</th>
                                        </tr>
                                        <tr>
                                            <th ng-show="showPrevious">Date</th>
                                            <th ng-show="showPrevious">Activity</th>
                                            <th style="border-left: 1px silver solid">Date</th>
                                            <th>Activity /Place of Work</th>
                                            <th>Select Beat</th>
                                            <th>Beats</th>
                                            <th>Doctor</th>
                                            <th style="border-right: 1px silver solid">Chemist</th>
                                            <th ng-show="showMoreDetails">Joint Visit</th>
                                            <th ng-show="showMoreDetails">Potential</th>
                                        </tr>
                                    </thead>
                                    <tbody >

                                        <tr ng-repeat="n in plan.tourPlan.activities">
                                            <td ng-show="showPrevious"></td>
                                            <td ng-show="showPrevious"></td>
                                            <td  style="border-left: 1px silver solid">{{n.activityDate.text|getDateValue}}</td>
                                            <td>
                                                <select name="activity" ng-model="n.plannedActivityType.id"
                                                        ng-options="activity.id as activity.name group by activity.type for activity in referenceData.activityMasterList"
                                                        class="form-control col-xs-4"
                                                        ng-change="selectActivity(n.activityDate.date)" ng-disabled="temp.editable || isCurrentDate(n)"
                                                        ng-show='n.plannedActivityType.id!="SYSLV30000000000000000000000000000002"
                                                                && n.plannedActivityType.id!="SYSLV30000000000000000000000000000001"'>
                                                </select>

                                                <span type="text" name="holiday" readonly
                                                       ng-show='n.plannedActivityType.id=="SYSLV30000000000000000000000000000002"'> Holiday </span>
                                                <span type="text" name="leave" readonly
                                                      ng-show='n.plannedActivityType.id=="SYSLV30000000000000000000000000000001"'> Leave </span>
                                            </td>
                                            <td>
                                                <a ng-click="showBeatSelection(n.activityDate)" ng-show="showBeatSelectionLink(n) && !temp.editable">Select Beat</a>
                                            </td>
                                            <td>
                                                <any ng-repeat="b in n.beats" >{{b.displayName}} | </any>
                                            </td>
                                            <td>
                                                <span ng-hide="n.plannedActivityType.id!='SYSLVFACT0000000000000000000000000001'">
                                                    <a ng-click="openDoctor(n.activityDate, n.numDoctors)" style="color:#00f" >{{n.numDoctors}}</a>
                                                </span>
                                            </td>
                                            <td style="border-right: 1px silver solid">
                                                <span ng-hide="n.plannedActivityType.id!='SYSLVFACT0000000000000000000000000001'"><a ng-click="openChemist(n.activityDate.date, n.numChemists)" style="color:#00f">{{n.numChemists}}</a></span>
                                            </td>
                                            <td ng-show="showMoreDetails"><any ng-repeat="a in n.attendees |filter:{role:{id:'SYSLV40000000000000000000000000000002'}}">{{a.attendee.displayName}} </any>
                                            </td>
                                            <td ng-show="showMoreDetails"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                         <tr>
                                             <td colspan="2" ng-show="showPrevious">&nbsp;</td>
                                             <td>&nbsp;</td>
                                             <td><span style="font-weight: bold">Field days&nbsp;:&nbsp;</label></span> {{plan.tourPlan.activities|sumOfValues:'plannedActivityType'}}</td>
                                             <td>&nbsp;</td>
                                             <td>&nbsp;</td>
                                             <td><span style="font-weight: bold">Doctor calls&nbsp;:&nbsp;</label></span>{{ plan.tourPlan.activities|sumOfValues:'numDoctors'}}</td>
                                             <td><span style="font-weight: bold">Chemist calls&nbsp;:&nbsp;</label></span>{{ plan.tourPlan.activities|sumOfValues:'numChemists'}}</td>
                                             <td ng-show="showMoreDetails">&nbsp;</td>
                                             <td ng-show="showMoreDetails">Potential</td>
                                         </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                </div>
            </div>

            <script type="text/ng-template" id="rejectCommentDisplay.html" >
                <div ng-init="init()">
                    <div class="modal-header">
                        <h3 class="modal-title">Reason for rejection</h3>
                    </div>
                    <div class="modal-body">
                        {{r.REMARKS}}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Rejected By</th>
                                <th>Rejected On</th>
                                <th>Reason</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in reject">
                                <td>{{r.APPROVER_NAME}}</td>
                                <td>{{r.CREATED_ON.text}}</td>
                                <td>{{r.REMARKS}}</td>

                            </tr>
                            </tbody>
                        </table>
                        <any >

                        </any>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="close()">Cancel</button>
                    </div>
                </div>
            </script>


        </div>


<script type="text/ng-template" id="selectActivity.html" >
    <div ng-init="init()">
        <div class="modal-header">
            <b>Plan for {{months[selectedMonth-1]}} {{year}}</b>
            <div class="row row-spacer">
                <div class="col-xs-8">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Copy From:</label>
                    <div class="col-xs-15">
                        <select class="form-control" ng-model="month" ng-options="month for month in months" ng-change="validateMonth()" ><option value="">Select Month</option></select>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-10">
                        <select class="form-control" ng-model="year" ng-options="year for year in years"><option value="">Select Year</option></select>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-10">
                        <div class="col-xs-8">
                            <a class="btn btn-primary btn" ng-click="getPlan()">Get Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-body" ng-show="showPlan">
            <div class="row row-spacer">
                <form class="form-horizontal" name="copyPlanForm" ng-submit="save()">
                    <table class="table table-striped">
                        <thead>
                            <th>Activity Date</th>
                            <th>Activity</th>
                            <th>Beat</th>
                            <th>Doctor</th>
                            <th>Copy to</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ad in details">
                            <td>{{ad.activityDate.text|getDateValue}}</td>
                            <td>{{masterActivities[ad.plannedActivityType.id].name}}</td>
                            <td> <any ng-repeat="b in ad.beats">{{b.displayName}} | </any></td>
                            <td>{{ad.numDoctors}}</td>
                            <td><input  type="text" ng-model="activity.date[ad.id]" name="dateText" squer-datepicker-tour-plan
                                        readonly="readonly" ng-show="ad.numDoctors > 0" /></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-primary btn" ng-click="copyTourPlan()" ng-show="showPlan">Copy</button>
            <button class="btn btn-warning" ng-click="resetActivities()" ng-show="showPlan">Reset</button>
            <button class="btn btn-warning" ng-click="closeModal()" ng-show="showPlan">Cancel</button>
        </div>
    </div>
</script>



    <script type="text/ng-template" id="doctorListing.html" >
        <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{detail.activityDate.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <alert  ng-show="controls.showAlert" type="warning">
                {{controls.message}}
                <span  style="float:right;cursor:pointer" ng-click="controls.showAlert=false">X</span>
            </alert>

            <div class="row">

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Beat</th>
                            <th>Doctor</th>
                            <th>Speciality</th>
                            <th>Classification</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in masterdata.doctors | orderBy : 'beat.beatName'">
                        <td><input type="checkbox" ng-change="selectDoctor(profile)" ng-model="profile.selected" ng-disabled="controls.editable"></td>
                        <td>{{profile.beat.beatName}}</td>
                        <td>{{profile.doctor.doctor.displayName}}</td>
                        <td>{{profile.doctor.speciality.displayName}}</td>
                        <td>{{profile.doctor.classification.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
        </div>
    </script>

<script type="text/ng-template" id="viewPlanSummary.html" >
    <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{activityDate.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <alert  ng-show="controls.showAlert" type="warning">
                {{controls.message}}
                <span  style="float:right;cursor:pointer" ng-click="controls.showAlert=false">X</span>
            </alert>

            <div class="row">

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>FREQUENCY</th>
                        <th>BEAT</th>
                        <th>DOCTOR</th>
                        <th>CLASSIFICATION</th>
                        <th>SPECIALITY</th>
                        <th>PLANNED DAYS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="plan in plans">
                        <td>{{plan.FREQUENCY}}</td>
                        <td>{{plan.BEAT_NAME}}</td>
                        <td>{{plan.DOCTOR_NAME}}</td>
                        <td>{{plan.CLASSIFICATION}}</td>
                        <td>{{plan.SPECIALITY}}</td>
                        <td>{{plan.VISIT_DAYS}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>




<div >
    <script type="text/ng-template" id="chemistListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{activityDate.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Chemist</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chemist in chemists">
                        <td>{{chemist.chemistName}}</td>
                        <td>&nbsp;</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>


<div >
    <script type="text/ng-template" id="beatListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Select Beats - {{detail.activityDate.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <alert id="message_box" ng-show="controls.showAlert" type="warning">
                {{controls.message}}
                <span id="close_message" style="float:right;cursor:pointer" ng-click="controls.showAlert=false">X</span>
            </alert>

            <div class="row" >
                <form>
                    <fieldset ng-disabled="{{controls.enable}}">
                <table class="table table-striped">
                    <thead>
                        <tr><th>&nbsp;</th>
                            <th>Beat</th>
                            <th># Doctors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="beat in data.beatsMasterList">
                            <td><input type="checkbox" ng-change="selectBeat(beat)" ng-model="data.selectedBeat[beat.id]"></td>
                            <td>{{beat.name}}</td>
                            <td>{{beat.c}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Doctors Selected</td>
                            <td>{{data.totalDoctors}} / {{data.maxDoctors}}</td>
                        </tr>
                    </tfoot>
                </table>
                        </fieldset>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>

<script type="text/ng-template" id="holiday.html">
    <div ng-init="init()">
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>DATE</th>
                        <th>NAME</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="holiday in holidayList">
                        <td>{{holiday.date.text}}</td>
                        <td>{{holiday.holiday.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
