<div class="panel"  style="min-height: 550px"  ng-controller="nonCallReportController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span class="squerfont-large" style="vertical-align: middle;padding-top: 23px;padding-left: 10px">
                Non Call Activity Report
            </span>
        </div>
    </div>
    <div class="panel-body">
        <fieldset class="dynamic-fieldset">
            <legend>Search</legend>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right"> Employee </span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="employee" ng-options="e.id as e.name for e in employeeList"><option value="">Select</option></select>
                </div>
                <div class="col-xs-2"><label><span class="pull-right"> Activity</span></label></div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="activity" ng-options="n.id as n.name for n in noncallActivityList"><option value="">Select</option></select>
                </div>
                <div class="col-xs-3"><label><span class="pull-right"> From Date </span></label></div>
                <div class="col-xs-4"><input  type="text" ng-model="nonCall_fromDate" name="mDate" squer-datepicker class="form-control"/></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><label><span class="pull-right">To Date </span></label></div>
                <div class="col-xs-4"><input  type="text" ng-model="nonCall_toDate" name="nDate" squer-datepicker class="form-control"/></div>
                <div class="col-xs-4"><input type="button" class="btn btn-primary" value="Search" ng-click="search()"></div>
            </div>
        </fieldset>
        <div class="row" style="margin-top: 5px">
            <div><input type="button" class="btn btn-primary pull-right" value="Export" ng-click="downloadNonCallReport('csv')"></div>
        </div>

        <table class="table table-striped" style="margin-top: 5px" ng-show="reportData.length>0">
            <tr>
                <th>Division</th>
                <th>Zone</th>
                <th>Region</th>
                <th>Location</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Activity</th>
                <th>Activity Date</th>
                <th>Attendees</th>
                <th>Leads</th>
            </tr>
            <tr ng-repeat="r in reportData">
                <td>{{r.DIVISION}}</td>
                <td>{{r.ZONE}}</td>
                <td>{{r.REGION}}</td>
                <td>{{r.LOCATION}}</td>
                <td>{{r.EMPLOYEE_CODE}}</td>
                <td>{{r.EMPLOYEE_NAME}}</td>
                <td>{{r.ACTIVITY_NAME}}</td>
                <td>{{r.ACTIVITY_DATE.text}}</td>
                <td>{{r.ATTENDEES}}</td>
                <td>{{r.LEADS}}</td>
            </tr>
        </table>
    </div>
</div>