<div class="panel"  style="min-height: 550px" ng-controller="PasswordController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
               Change Password
            </span>

        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="{{response.class}}" role="alert">{{response.message}}</div>
            <form class="form-horizontal" name="passwordForm" ng-submit="changePassword()">

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Current Password</label>
                    <div class="col-xs-4">
                        <input type="password" name="name" id="currentpassword" ng-model="currentpassword" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">New Password</label>
                    <div class="col-xs-4">
                        <input type="password" name="name" id="password" ng-model="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Reenter New Password</label>
                    <div class="col-xs-4">
                        <input type="password" name="name" id="confirmPassword" ng-model="confirmPassword" class="form-control"/>
                    </div>
                </div>

                <div class="col-xs-18 col-xs-offset-4">
                    <button type="submit" id="save" ng-model="save" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>

    </div>



</div>