<div class="panel"  style="min-height: 550px" ng-controller="PrecallController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Precall Planning
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="form-inline ng-pristine ng-valid dynamic-form ng-scope" template="stdFormTemplate" model="stdFormData">
                <fieldset class="dynamic-fieldset">
                    <legend>Search Doctor</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Name</label>
                        </div>
                        <select id="selectDoctor" class="form-control" ng-model="doctorId" ng-options="d.doctor.id as d.doctor.displayName for d in doctors | orderBy : 'doctor.displayName'"><option>Select Doctor</option></select>
                    </div>
                    <button class="btn btn-primary col-xs-offset-1" type="submit" ng-click="search()">Search</button>
                </fieldset>
            </form>
        </div>
        <div class="row row-spacer">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                       <th>Date</th>
                        <th>Doctor</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in searchData">
                        <td>{{d.va_date.text}}
                        </td>
                        <td>{{d.d_name}}</td>
                        <td>
                            <a ng-click="openDoctorDetails(d.att_attendee_id)">Details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="doctorDetailing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Doctor Detailing</h3>
        </div>
        <div class="modal-body">
            <div class="row row-spacer">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Message</th>
                        <th>Samples</th>
                        <th>Level Of Prescription</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dtl in doctor.details">
                        <td>{{dtl.brand.displayName}}</td>
                        <td>{{dtl.message.displayName}}</td>
                        <td>{{dtl.samples}}</td>
                        <td>{{dtl.levelOfPrescription.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="row"/>
                    <div class="form-group row">
                        <label class="control-label">Remarks</label>
                        <div class="col-xs-20">
                            <textarea class="form-control" ng-model="controls.remarks" row="3" cols="70" readonly></textarea>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>