<div class="panel"  style="min-height: 550px" ng-controller="secondarySalesController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Secondary Sales
            </span>
        </div>
    </div>

    <div class="panel-body">
        <fieldset class="dynamic-fieldset">
            <legend>Search</legend>
            <div class="row">
                <div class="col-xs-2">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Month</span>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="month">
                        <option ng-repeat="m in monthList" value="{{$index}}" ng-selected="month==$index">{{m}}</option>
                    </select>
                </div>

                <div class="col-xs-2">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Year</span>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="year">
                        <option ng-repeat="y in years" value="{{y}}" ng-selected="y==year">{{y}}</option>
                    </select>
                </div>

                <div class="col-xs-2">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Location</span>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="location"
                            ng-options="l.id as l.name for l in locations"
                            ng-change="getStockist()">
                        <option value="">Select</option>
                    </select>
                </div>

                <div class="col-xs-2">
                    <span class="pull-right" style="font-weight: bold;padding-top: 5px">Stockist</span>
                </div>

                <div class="col-xs-3">
                    <select class="form-control" ng-model="stockist" ng-options="s.id as s.name for s in stockists">
                        <option value="">Select</option>
                    </select>
                </div>

                <div class="col-xs-2">
                    <button class="btn btn-primary pull-right" ng-click="search()">Search</button>
                </div>
            </div>
        </fieldset>
        <div class="row" style="margin-top: 20px">
            <table class="table table-striped" ng-show="searchData.length>0">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Stockist</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in searchData">
                        <td>{{d.LOCATION}}</td>
                        <td>{{d.STOCKIST_NAME}}</td>
                        <td>{{d.CREATED_BY | capitalize}}</td>
                        <td>{{d.CREATED_BY | capitalize}}</td>
                        <td> <a  class="squerlink" ng-click="getDetails(d.STOCKIST_ID,d.STOCKIST_NAME,d.MASTER_ID)">Secondary Sales</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-24" ng-show="searchData.length>0">
            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="5"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="10">
            </pagination>
        </div>
    </div>
</div>