<div class="panel"  style="min-height: 550px" ng-controller="secondarySalesController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Secondary Sales of {{stockistName | capitalize}} for {{monthName}}-{{year}}
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row" style="margin-top: 10px">

                <div class="col-xs-4"> <label><span class="pull-right">Primary From Date</span></label></div>
                <div class="col-xs-4">
                    <input  type="text" ng-model="fromDate" name="fDate" year="{{year}}" month="{{month}}" dir="PM" sales-datepicker class="form-control" ng-disabled="isFromDateDisabled"/>
                </div>
                <div class="col-xs-4"><label><span class="pull-right">Primary To Date</span></label></div>
                <div class="col-xs-4">
                    <input  type="text" ng-model="toDate" name="tDate"  year="{{year}}" month="{{month}}" dir="CM" sales-datepicker class="form-control" ng-disabled="isToDateDisabled"/>
                </div>
                <div class="col-xs-4">
                    <input type="button" class="btn btn-primary btn-small" value="Search" ng-click="searchPrimarySales()" ng-show="!isToDateDisabled">
                </div>
                <div class="col-xs-4" ng-show="!secondarySalesForm.$invalid && !secondarySalesCheck && SecondarySalesData.length>0">
                    <input type="button" class="btn btn-primary btn-small pull-right" value="Save" ng-click="save()">
                </div>
        </div>

        <div style="font-size: medium;font-weight: bold;color:#AC4341;margin-top: 10px" class="col-xs-24">
            * Please save data before leaving the page.
        </div>

        <div class="alert alert-danger col-xs-24" role="alert" ng-show="secondarySalesForm.$invalid" style="margin-top: 20px">
            <strong>* You have entered wrong data. Value should be Integer and between 0 and 9999.</strong>
        </div>

        <div class="alert alert-danger col-xs-24" role="alert" ng-show="secondarySalesCheck" style="margin-top: 20px">
            <strong>* Closing stock should not be greater than Total Units</strong>
        </div>

        <div class="col-xs-24" style="margin-top: 20px" ng-show="SecondarySalesData.length>0">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width:150px;">Brand</th>
                        <th style="width:150px;">Product</th>
                        <th style="width:100px;text-align: center">Opening Stock</th>
                        <th style="width:100px;text-align: center">GIT of Prev. Month</th>
                        <th style="width:100px;text-align: center">Primary Sale</th>
                        <th style="width:100px;text-align: center">Total Units</th>
                        <th style="width:100px;text-align: center">Closing Stock</th>
                        <th style="width:100px;text-align: center">Secondary Sale</th>
                        <th style="width:100px;text-align: center">GIT of Current Month</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align: center">A</td>
                        <td style="text-align: center">B</td>
                        <td style="text-align: center">C</td>
                        <td style="text-align: center">E=A+B+C</td>
                        <td style="text-align: center">F</td>
                        <td style="text-align: center">E-F</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form name="secondarySalesForm" valdr-type="secondarySales" novalidate class="myform">
            <div class="col-xs-24" style="margin-top: -20px;height: 400px;overflow-y: scroll" ng-show="SecondarySalesData.length>0">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr ng-repeat="d in SecondarySalesData">
                            <td style="vertical-align:middle;width:150px;">{{d.brand.displayName}}</td>
                            <td style="	vertical-align:middle;width:150px;">{{d.product.displayName}}</td>

                            <td style="width:100px;">
                                <input type="text" class="form-control" ng-model="d.openingStock" name="openingStock">
                            </td>
                            <td style="width:100px;">
                                <input type="text" class="form-control" ng-model="d.prevMonthGit" name="prevMonthGit" ng-disabled="true"
                                            style="background-color: #eeeeee;cursor: not-allowed;opacity: 100;border: 1px solid #ccc;">
                            </td>
                            <td style="width:100px;">
                                <input type="text" class="form-control" ng-model="d.primarySales" ng-disabled="true" name="primarySales"
                                        style="background-color: #eeeeee;cursor: not-allowed;opacity: 100;border: 1px solid #ccc;">
                            </td>
                            <td style="width:100px;">
                                <input type="text" class="form-control" value="{{(d.openingStock*1)+(d.prevMonthGit*1)+(d.primarySales*1)}}" ng-disabled="true" name="totalUnits"
                                       style="background-color: #eeeeee;cursor: not-allowed;opacity: 100;border: 1px solid #ccc;">
                            </td>
                            <td style="width:100px;">
                                <input type="text" class="form-control" ng-model="d.closingSales" name="closingStock" ng-change="checkClosingStock(secondarySalesForm.$invalid,d)">
                            </td>
                            <td style="width:100px;">
                                <input type="text" class="form-control" value="{{(d.openingStock*1+d.prevMonthGit*1+d.primarySales*1)-d.closingSales*1}}" ng-disabled="true" name="secondarySales"
                                       style="background-color: #eeeeee;cursor: not-allowed;opacity: 100;border: 1px solid #ccc;">
                            </td>
                            <td style="width:100px;">
                                <input type="text" class="form-control" ng-model="d.currentMonthGit" ng-disabled="true" name="currentMonthGit"
                                       style="background-color: #eeeeee;cursor: not-allowed;opacity: 100;border: 1px solid #ccc;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>