<div class="panel"  style="min-height: 550px" ng-controller="SLReportController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <div class="col-xs-20">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    Situational Leadership Report  <any ng-show="result.status.id=='USRLVSLRPTSTATUS000000000000000000001'"> - Draft </any><any ng-show="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'"> - Submitted </any>
                </span>
                <button type="button" class="btn btn-link pull-right" ng-click="showSlModule()">
                    <img src="images/request for change.png"> SLII at a Glance
                </button>
            </div>
            <div class="col-xs-4">
                <span class="pull-right" style="font-weight: bold" ng-show="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'">
                    Submitted on {{result.updatedOn.text}}
                </span>
            </div>
        </div>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-xs-9">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Select Employee</label>
                        <div class="col-xs-8">
                            <select class="form-control"
                                    ng-model="slEmp"
                                    ng-options="e.id as e.name for e in employeeList"
                                    ng-change="getJobTitle(slEmp)">
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Current Job Title</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="jobTitle" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Period</label>
                        <div class="col-xs-8">
                            <select class="form-control"
                                    ng-model="slQuarter"
                                    ng-options="q.id as q.name for q in quarters">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-5 control-label">Year</label>
                        <div class="col-xs-8">
                            <select class="form-control"
                                    ng-model="slYear">
                                <option ng-repeat="y in years" ng-selected="y==currentYear" value="{{y}}">{{y}}</option>
                            </select>
                        </div>
                        <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                    </div>
                </form>
                <div class="col-xs-24" style="height: 30px;"></div>
                <table class="table table-striped" ng-show="displayData.length>0">
                    <thead>
                        <th>Summary</th>
                        <th style="text-align: center">Development Level</th>
                        <th style="text-align: center">Leadership Style</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in displayData">
                            <td>{{d.title}}</td>
                            <td style="text-align: center">{{d.developmentLevel.displayName}}</td>
                            <td style="text-align: center">{{d.suggestedFlexibility.displayName}}</td>
                        </tr>
                    </tbody>
                </table>

                <div ng-show="displayData.length>0">
                    <div class="col-xs-24" style="margin-top: 10px"><label>Manager Comment</label></div>
                    <div class="col-xs-24">
                        <textarea class="form-control col-xs-24" rows="5" ng-disabled="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'" ng-model="result.managerComments"></textarea>
                    </div>
                    <div class="col-xs-24" style="margin-top: 5px">
                        <input type="button" class="btn btn-primary pull-right" value="Submit" ng-click="submitReport()" ng-disabled="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'">
                    </div>
                </div>
            </div>

            <div class="col-xs-1"></div>
            <div class="col-xs-14">
                <div class="well well-lg" ng-repeat="d in displayData">
                    <div class="panel-heading page-title">
                        <div class="row">
                            <div class="col-xs-6" style="font-weight: bold">Task {{$index+1}}</div>
                            <div class="col-xs-18" style="font-weight: bold">{{d.title}}</div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-6">
                            <span style="margin-left: 15px">Benchmark</span>
                        </div>
                        <div class="col-xs-18">
                            <p style="margin-left: 10px">{{d.benchMark}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-xs-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-10 control-label">Competency level</label>
                                    <div class="col-xs-14">
                                        <select class="form-control"
                                         ng-model="d.competencyLevel.id"
                                         ng-options="cm.id as cm.name for cm in competencyLevel"
                                         ng-change="getDevelopmentLevel(d)"
                                         ng-disabled="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'">
                                           <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-xs-10 control-label">Commitment level</label>
                                        <div class="col-xs-14">
                                            <select class="form-control"
                                                 ng-model="d.commitmentLevel.id"
                                                 ng-options="ct.id as ct.name for ct in commitmentLevel"
                                                 ng-change="getDevelopmentLevel(d)"
                                                 ng-disabled="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="background-color: #F7BE81;">
                            <span style="font-weight: bold;margin-left: 10px">Development level :</span> {{d.developmentLevel.displayName}}
                        </div>
                        <div class="col-xs-12" style="background-color: #F7BE81;">
                            <span style="font-weight: bold;margin-left: 10px">Leadership Style :</span> {{d.suggestedFlexibility.displayName}}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-12" style="float:left;width:100%;">
                            <textarea class="form-control" style="width:100%" rows="2" placeholder="Remark" ng-model="d.managerRemark"
                                      ng-disabled="result.status.id=='USRLVSLRPTSTATUS000000000000000000002'"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <script type="text/ng-template" id="slModule.html">
            <div class="modal-body" ng-init="init()" style="align-content: center">
                <img src="images/SLMode.png" width="800px" height="800px" align="middle">
            </div>
        </script>
    </div>
</div>
