<!-- newPlan.html -->
        <div class="panel"  style="min-height: 550px"  ng-controller="StdTourPlanController" ng-init="init()">
            <div class="panel-heading page-title">
                <div class="row">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                        Standard Tour Plan
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row row-space">
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-click="savePlan()">Save</button>
                    </div>
                </div>
                <div class="row row-spacer">
                <form class="form-horizontal" name="employeeForm">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Select Beat</th>
                                <th>Doctor</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="{{masterdata.bgClass[n.weekNo]}}" ng-repeat="n in data.tourData">
                                    <td width="15%">
                                        Week-{{n.weekNo}}
                                        {{masterdata.daysOfWeek[n.dayNo]}}
                                    </td>
                                    <td valign="middle">
                                        <a ng-click="showBeatSelection(n.weekNo, n.dayNo)" class="squerlink"><img src="images/edit.png" tooltip="Add/Remove Beat" height="16px"/></a>
                                        <any ng-show="n.beats.length>0"> | </any>
                                        <any ng-repeat="b in n.beats">{{b.displayName}} | </any>
                                    </td>
                                    <td>
                                        <a ng-click="openDoctorListing(n)" style="color:#00f">{{n.numDoctors}}</a>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                 </div>
            </div>
        </div>

    <script type="text/ng-template" id="doctorListing.html" >
        <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{detail.activityDate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Speciality</th>
                            <th>Classfication</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in profiles">
                        <td>{{profile.doctor.displayName}}</td>
                        <td>{{profile.speciality.displayName}}</td>
                        <td>{{profile.classification.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
        </div>
    </script>


<div >
    <script type="text/ng-template" id="chemistListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{activityDate | date:'EEE, dd-MMM'}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Chemist</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chemist in chemists">
                        <td>{{chemist.name}}</td>
                        <td>&nbsp;</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>


<div >
    <script type="text/ng-template" id="beatListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Select Beats</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr><th>&nbsp;</th>
                        <th>Beat</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="beat in master.beatsMasterList">
                        <td><input type="checkbox" ng-change="selectBeat(beat.id, beat.name)" ng-model="data.selectedBeat[beat.id]"></td>
                        <td>{{beat.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Select</button>
        </div>
    </script>
</div>
