<div class="panel"  style="min-height: 550px" ng-controller="targetController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Target Setting</span>
        </div>
    </div>

    <div class="panel-body">
        <fieldset class="dynamic-fieldset">
            <legend>Search</legend>
            <div class="col-xs-24">

               <div class="row">
                   <div class="col-xs-3"><label style="margin-top: 3px">Select Product</label></div>

                   <div class="col-xs-4">
                       <select class="form-control" ng-model="product" ng-options="p.id as p.name for p in products">
                           <option value="">Select</option>
                       </select>
                   </div>

                   <div class="col-xs-17">
                       <button class="btn btn-primary pull-left" ng-click="search()">Search</button>

                       <button class="btn btn-primary pull-right" ng-click="save()" ng-show="result.length>0">Save</button>
                       <button class="btn btn-primary pull-right btn-link squerlink" ng-click="getDetails(0)" ng-show="result.length>0">Overall Target</button>
                   </div>
               </div>
            </div>
        </fieldset>

        <div style="width: 100%;overflow-x: auto" ng-show="result.length>0">
            <div class="col-xs-16" style="border-right: solid;border-right-width:1px">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th colspan="8" style="text-align: center">Overview</th>
                        </tr>
                        <tr>
                            <th>{{title}}</th>
                            <th style="text-align: center">Active<br/>HQ</th>
                            <th style="text-align: center">Last year Units</th>
                            <th style="text-align: center">Last Year PCPM</th>
                            <th style="text-align: center">Targeted Units</th>
                            <th style="text-align: center">Revised Units</th>
                            <th style="text-align: center">Targeted PCPM</th>
                            <th style="text-align: center">Growth<br/>(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="z in result">
                            <td style="vertical-align: middle"><a href="" ng-click="getDetails(z)" class="squerlink">{{z.location.displayName}}</a></td>
                            <td style="text-align: center;vertical-align: middle">{{z.activeLocations}}</td>
                            <td style="text-align: center;vertical-align: middle">{{z.lastYearSale}}</td>
                            <td style="text-align: center;vertical-align: middle">{{z.lastYearPcpm}}</td>
                            <td style="text-align: center;vertical-align: middle">{{z.targetedSale}}</td>
                            <td><input type="text" class="form-control" ng-model="z.revisedSale" ng-change="reviseTarget(z)"></td>
                            <td style="text-align: center;vertical-align: middle">{{z.pcpm | number : 1}}</td>
                            <td style="vertical-align:middle; text-align: center">{{z.growth}}</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td style="border-top:2px solid #000;"><label style="vertical-align: middle">Total</label></td>

                        <td style="border-top:2px solid #000;text-align: center"><label style="vertical-align: middle">{{result|sumOfValues:'activeLocations'}}</label></td>
                        <td style="border-top:2px solid #000;text-align: center"><label style="vertical-align: middle">{{result|sumOfValues:'lastYearSale'}}</label></td>
                        <td style="border-top:2px solid #000;text-align: center"><label style="vertical-align: middle">{{result|sumOfPCPM:'lastYearSale~activeLocations'}}</label></td>
                        <td style="border-top:2px solid #000;text-align: center"><label style="vertical-align: middle">{{result|sumOfValues:'targetedSale'}}</label></td>
                        <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled value="{{result|sumOfValues:'revisedSale'}}"></td>
                        <td style="border-top:2px solid #000;text-align: center"><label style="vertical-align: middle">{{result|sumOfPCPM:'revisedSale~activeLocations'}}</label></td>
                        <td style="border-top:2px solid #000;"><label style="vertical-align: middle">{{result|calculateGrowth:'lastYearSale~revisedSale'}}</label></td>
                    </tr>
                </table>
            </div>

            <!--table1-->
            <div class="col-xs-8" style="border-right: solid;border-right-width:1px">
                <table class="table table-condensed" style="width: 100%;overflow-: auto;float: left" ng-show="table1">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <div class="row">
                                    <div class="col-xs-2"><img src="images/leftarrow.png" width="15" height="15" class="pull-right"></div>
                                    <div class="col-xs-20" style="text-align: center"> Quarter 1</div>
                                    <div class="col-xs-2"><a ng-click="showTable(2)"><img src="images/rightarrow.png" width="15" height="15" class="pull-left"></a></div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center">Last<br> year</th>
                            <th style="text-align: center">Targeted</th>
                            <th style="text-align: center">Revised</th>
                            <th style="text-align: center">Growth<br>(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="z in result">
                            <td style="text-align: center;vertical-align: middle">{{z.quarter1.lastYearSale}}</td>
                            <td style="text-align: center;vertical-align: middle">{{z.quarter1.targetedSale}}</td>
                            <td style="text-align: center;vertical-align: middle"><input type="text" class="form-control" ng-model="z.quarter1.revisedSale" ng-change="reviseQuarter(z.quarter1,z)"></td>
                            <td style="text-align: center;vertical-align: middle">{{z.quarter1.growth}}</td>
                        </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q1.ly}}</label></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q1.ts}}</label></td>
                        <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled ng-model="quarterTotal.q1.rs"></label></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q1.gr | number:1}}</label></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center">
                            <span ng-show="quarterTotal.q1.ts!=quarterTotal.q1.rs" style="color: darkred;font-weight: bold;">
                               * Difference in revised sale : {{(quarterTotal.q1.ts*1) - (quarterTotal.q1.rs*1)}}
                            </span>
                        </td>
                    </tr>
                    </thead>
                </table>


                <!--table2-->
                <table class="table table-condensed" style="width: 100%;overflow-: auto;float: left" ng-show="table2">
                    <thead>
                    <tr>
                        <th colspan="4">
                            <div class="row">
                                <div class="col-xs-2"><a ng-click="showTable(1)"><img src="images/leftarrow.png" width="15" height="15" class="pull-right"></a></div>
                                <div class="col-xs-20" style="text-align: center"> Quarter 2</div>
                                <div class="col-xs-2"><a ng-click="showTable(3)"><img src="images/rightarrow.png" width="15" height="15" class="pull-left"></a></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center">Last<br>year</th>
                        <th style="text-align: center">Targeted</th>
                        <th style="text-align: center">Revised</th>
                        <th style="text-align: center">Growth<br/>(%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="z in result">
                        <td style="text-align: center;vertical-align: middle">{{z.quarter2.lastYearSale}}</td>
                        <td style="text-align: center;vertical-align: middle">{{z.quarter2.targetedSale}}</td>
                        <td><input type="text" class="form-control" ng-model="z.quarter2.revisedSale" ng-change="reviseQuarter(z.quarter2,z)"></td>
                        <td style="text-align: center;vertical-align: middle">{{z.quarter2.growth}}</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q2.ly}}</label></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q2.ts}}</label></td>
                        <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled ng-model="quarterTotal.q2.rs"></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q2.gr | number:1}}</label></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span ng-show="quarterTotal.q2.ts!=quarterTotal.q2.rs" style="color: darkred;font-weight: bold;text-align: center">
                               * Difference in revised sale : {{(quarterTotal.q2.ts*1) - (quarterTotal.q2.rs*1)}}
                            </span>
                        </td>
                    </tr>
                    </thead>
                </table>

                <!--table3-->
                <table class="table table-condensed" style="width: 100%;overflow-: auto;float: left" ng-show="table3">
                    <thead>
                    <tr>
                        <th colspan="4">
                            <div class="row">
                                <div class="col-xs-2"><a ng-click="showTable(2)"><img src="images/leftarrow.png" width="15" height="15" class="pull-right"></a></div>
                                <div class="col-xs-20" style="text-align: center"> Quarter 3</div>
                                <div class="col-xs-2"><a ng-click="showTable(4)"><img src="images/rightarrow.png" width="15" height="15" class="pull-left"></a></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center">Last<br>year</th>
                        <th style="text-align: center">Targeted</th>
                        <th style="text-align: center">Revised</th>
                        <th style="text-align: center">Growth<br/>(%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="z in result">
                        <td style="text-align: center;vertical-align: middle">{{z.quarter3.lastYearSale}}</td>
                        <td style="text-align: center;vertical-align: middle">{{z.quarter3.targetedSale}}</td>
                        <td><input type="text" class="form-control" ng-model="z.quarter3.revisedSale" ng-change="reviseQuarter(z.quarter3,z)" ></td>
                        <td style="text-align: center;vertical-align: middle">{{z.quarter3.growth}}</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q3.ly}}</label></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q3.ts}}</label></td>
                        <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled ng-model="quarterTotal.q3.rs"></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q3.gr | number:1}}</label></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span ng-show="quarterTotal.q3.ts!=quarterTotal.q3.rs" style="color: darkred;font-weight: bold;text-align: center">
                               * Difference in revised sale : {{(quarterTotal.q3.ts*1) - (quarterTotal.q3.rs*1)}}
                            </span>
                        </td>
                    </tr>
                    </thead>
                </table>

                <!--table4-->
                <table class="table table-condensed" style="width: 100%;overflow-: auto;float: left" ng-show="table4">
                    <thead>
                    <tr>
                        <th colspan="4">
                            <div class="row">
                                <div class="col-xs-2"><a ng-click="showTable(3)"><img src="images/leftarrow.png" width="15" height="15" class="pull-right"></a></div>
                                <div class="col-xs-20" style="text-align: center"> Quarter 4</div>
                                <div class="col-xs-2"><img src="images/rightarrow.png" width="15" height="15" class="pull-left"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center">Last <br>year</th>
                        <th style="text-align: center">Targeted</th>
                        <th style="text-align: center">Revised</th>
                        <th style="text-align: center">Growth<br/>(%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="z in result">
                        <td style="text-align: center;vertical-align: middle">{{z.quarter4.lastYearSale}}</td>
                        <td style="text-align: center;vertical-align: middle">{{z.quarter4.targetedSale}}</td>
                        <td><input type="text" class="form-control" ng-model="z.quarter4.revisedSale" ng-change="reviseQuarter(z.quarter4,z)"></td>
                        <td style="text-align: center;vertical-align: middle">{{z.quarter4.growth}}</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q4.ly}}</label></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q4.ts}}</label></td>
                        <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled ng-model="quarterTotal.q4.rs"></td>
                        <td style="text-align:center; border-top:2px solid #000;"><label style="vertical-align: middle">{{quarterTotal.q4.gr | number:1}}</label></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span ng-show="quarterTotal.q4.ts!=quarterTotal.q4.rs" style="color: darkred;font-weight: bold;text-align: center">
                               * Difference in revised sale : {{(quarterTotal.q4.ts*1) - (quarterTotal.q4.rs*1)}}
                            </span>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
            <!--div class="col-xs-5">
                <table class="table table-condensed">
                    <thead>
                        <tr><th colspan="2" style="text-align: center">Total</th></tr>
                        <tr>
                            <th style="text-align: center"><br>Targeted</th>
                            <th style="text-align: center">Revised</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="z in result">
                            <td><input type="text" class="form-control" ng-model="z.totalTarget" disabled></td>
                            <td><input type="text" class="form-control" ng-model="z.totalRevised" disabled></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled value="{{result|sumOfValues:'totalTarget'}}"></td>
                            <td style="border-top:2px solid #000;"><input type="text" class="form-control" disabled value="{{result|sumOfValues:'totalRevised'}}"></td>
                        </tr>
                    </thead>
                </table>
            </div-->
        </div>

    </div>
</div>


<div>
    <script type="text/ng-template" id="details.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title" ng-show="locationName!=null">Target details for {{locationName | capitalize}}</h3>
            <h3 class="modal-title" ng-show="locationName==null">Overall Target</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>NSP</th>
                        <th>L.Y. <br/>Units</th>
                        <th>L.Y. Sales<br/> (in Lakh)</th>
                        <th>Targeted <br/>Units</th>
                        <th>Targeted Sale <br/>(in Lakh)</th>
                        <th>L.Y <br/>PCPM</th>
                        <th>Targeted <br/>PCPM</th>
                        <th>Growth <br/>(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.PRODUCT}}</td>
                        <td>{{d.NSP}}</td>
                        <td>{{d.LYU}}</td>
                        <td>{{d.LY_SALE | number :2}}</td>
                        <td>{{d.TU}}</td>
                        <td>{{d.TARGETED_SALE | number :2}}</td>
                        <td>{{d.LY_PCPM | number :0}}</td>
                        <td>{{d.PCPM | number :0}}</td>
                        <td>{{d.GROWTH | number :2}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th></th>
                        <th>{{data|sumOfValues:'LYU' }}</th>
                        <th>{{data|sumOfValues:'LY_SALE' | number:2}}</th>
                        <th>{{data|sumOfValues:'TU'}}</th>
                        <th>{{data|sumOfValues:'TARGETED_SALE' | number:2}}</th>
                        <th>{{data|sumOfValues:'LY_PCPM' | number:0}}</th>
                        <th>{{data|sumOfValues:'PCPM' | number:0}}</th>
                        <th>{{data|calculateGrowth:'LY_SALE~TARGETED_SALE' | number:0}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>