    <div class="panel"  style="min-height:550px" ng-controller="DashboardController" ng-init="initDashboard()">
    <div class="panel-body">
        <div class="row">
            <div class="panel" style="min-height: 260px">
                <div class="panel-heading page-title">
                    <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" >Announcements</span>
                </div>
                <div class="panel-body portlet">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <div class="row">
                                <!--div class="col-xs-10">
                                    <div class="alert alert-danger" role="alert">
                                        <h4><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                            Password for web login and mobile login is same.
                                        </h4>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <h4><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                            You can not plan for previous dates.
                                        </h4>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <h4><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                            Previous day reporting will be lock from 31<sup>st</sup>
                                        </h4>
                                    </div>
                                </div-->


                                <div class="col-xs-24" style="height:300px;   ">
                                    <span ng-bind-html="getHtml(slide.text)"></span>
                                </div>
                            </div>
                            <!--div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div-->
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-xs-12 pull-right" ng-repeat="report in reportList" ng-if="display(report.displayControl, 3)">
                <div class="panel" style="min-height: 400px;" ng-if="display(report.displayControl, 3)">
                    <div class="panel-heading page-title" heading="metadata.labels[report.id].header">
                        <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" >{{metadata.labels[report.id].header}}</span>
                    </div>
                    <div ng-controller="DashboardReportController" ng-init="init(report.id)">
                        <div class="{{bootstrapClass}}" ng-repeat="reportData in dashboardReportData.reportDataList">
                            <div class="row row-spacer" ng-show="display(reportData.displayControl, 2)">
                                <div class="row">
                                    <div>
                                        <highchart id="chart1" config="reportData.chartStr"></highchart>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer" ng-show="display(reportData.displayControl, 1)">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th  ng-repeat="col in reportData.tableCols">{{col.label}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in reportData.data">
                                        <td ng-repeat="col in reportData.tableCols">
                                            <span ng-show="col.dataType=='date'">{{row[col.name].text}}</span>
                                            <span ng-show="col.dataType!='date'">{{row[col.name]}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>