<div class="panel"  style="min-height: 550px" ng-controller="unlockRequestHomeController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Unlock Reporting Request</span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row" ng-show="validLevel">
            <div class="col-xs-2" style="font-weight: bold;padding-top: 5px">Select Employee</div>
            <div class="col-xs-3">
                <select class="form-control" ng-model="unlockUser" ng-options="e.id as e.displayName for e in empList">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-xs-2">
                <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
            </div>
            <div class="col-xs-2" ng-show="showTable">
                <input type="radio" style="margin-top: 10px" ng-checked="configuration.status" name="reportLocking" ng-click="lock()"> lock
            </div>
            <div class="col-xs-3" ng-show="showTable">
                <input type="radio" style="margin-top: 10px" ng-checked="!configuration.status" name="reportLocking" ng-click="unlock()"> Unlock
            </div>
        </div>

        <div class="alert alert-danger col-xs-8" role="alert" ng-show="!validLevel">This feature is not available at this job level.</div>
    </div>
</div>

