<div class="panel"  style="min-height: 550px" ng-controller="unmappedDocController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large" >
                Unmapped Doctors
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-xs-8">
            <table class="table table-striped" ng-show="displayData.length>0">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th style="text-align: center">Unmapped Doctors (Core / Super Core)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in displayData">
                        <td>{{displayData[$index].LOCATION | capitalize}}</td>
                        <td style="text-align: center">{{displayData[$index].COUNT}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>