<div class="panel"  style="min-height: 550px" ng-controller="ViewVisitReportController" ng-init="initSearch()">

    <div class="panel-heading page-title">
        <div class="row">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    Daily Report
                </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row row-spacer">
            <form class="form-inline dynamic-form">
                <fieldset class="col-xs-10">
                    <select ng-model="month" class="form-control" ng-options="month for month in months">

                    </select>
                    <select ng-model="year" class="form-control" ng-options="year for year in years">
                    </select>
                    <select ng-model="location.id" class="form-control" ng-options="location.id as (location.name+' - '+location.H_NAME) for location in locations">
                        <option value="">Select</option>
                    </select>
                    <button class="btn btn-primary" ng-click="initSearch()">View Calendar</button>
                </fieldset>
            </form>

        </div>
        <div class="row" id="calendarDiv">
            <table class="table table-bordered" border="1" id="calendarView">
                <thead>
                <tr >
                    <th ng-repeat="day in daysOfWeek">{{day}}</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="w in data.weeks" style="height:100px;">
                    <td style="min-width:150px;padding: 0px;border: 1px solid darkgray" ng-repeat="da in w" nowrap="nowrap">
                        <table width="100%" border="0">
                            <tr>
                                <td style="border-bottom: 1px solid #d3d3d3; padding: 4px"  ng-show="{{da.date}}" >
                                    <b>{{da.date | date:'dd' }}</b></td>
                            </tr>
                            <tr>
                                <!--td  style="padding: 4px;">
                                    <any ng-show="showCounts(da.fmted)">
                                        <span ng-repeat="b in tourdata.tourData[da.fmted].beats"> {{b.displayName}}<br/> </span>
                                    </any>
                                    {{tourdata.activityMasterListMap[tourdata.tourData[da.fmted].plannedActivityType.id].name}}
                                </td-->
                            </tr>
                            <tr>
                                <td  style="padding: 4px;">
                                    <any ng-show="showCounts(da.fmted)">
                                        Doc: <a ng-click="openReportDoctorListing(tourdata.tourData[da.fmted].attendees,tourdata.tourData[da.fmted].activityDate)" class="squerlink">{{countsMap[da.fmted].docs}}</a><br/>
                                        Ch: <a ng-click="openReportChemistListing(tourdata.tourData[da.fmted].attendees,tourdata.tourData[da.fmted].activityDate)" class="squerlink">{{countsMap[da.fmted].chemists}}</a><br/>
                                        NC: <a ng-click="openNonCallListing(tourdata.tourData[da.fmted].noncallActivities,tourdata.tourData[da.fmted].activityDate)" class="squerlink">{{ countsMap[da.fmted].noncallactivities}}</a>
                                    </any>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/ng-template" id="doctorReportListing.html" >
    <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{date.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Doctor</th>
                        <th>Speciality</th>
                        <th>Classfication</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in detail">
                        <td>{{profile.NAME}}</td>
                        <td>{{profile.SPECIALITY}}</td>
                        <td>{{profile.CLASSIFICATION}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
</script>

<div>
<script type="text/ng-template" id="noncallactivitylisting.html" >
    <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{date.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Activity Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in details">
                        <td>{{profile.activityType.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
</script>
</div>

<div >
    <script type="text/ng-template" id="chemistReportListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{date.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Chemist</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chemist in detail">
                        <td>{{chemist.NAME}}</td>
                        <td>&nbsp;</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>





