.dynamic-fieldset {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-sizing: content-box;
    margin:0 2px;
    padding:.35em .625em .75em
}

legend {
    border:0;
    padding:0
}


* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


.dynamic-fieldset>legend:first-of-type {
    border:0;
    margin-bottom:auto;
}

legend {
    font-weight:700;
    color:#428bca;
    font-size:18px
}

.dynamic-fieldset>legend:first-of-type {
    border:0;
    margin-bottom:auto;
    width:auto;
    padding:inherit
}

label,form>button,ng-form>button,form>input,ng-form>input {
    width:100%;
    padding:1ex 1em
}

label>input,label>select,label>textarea {
    float:right;
    width:60%!important
}


.dynamic-form-control {
    height:25px;
    padding:3px 12px
}

.add-content {
    content:" "
}

.dynamic-fieldset.no-legend {
    margin-top:10px
}

.dynamic-form-group,.dynamic-form-group label,.dynamic-form-group input {
    float:left;
    display:inline
}

.dynamic-form-group {
    margin-right:5px
}

.dynamic-form-group label {
    line-height:20px
}
.required-field label {
    font-weight: bold;
}
.required-field label:after {
    color: #e32;
    content: ' *';
    display:inline;
}
.error-msg {
    color:#e32;
    display:inline;
}



.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

