
.ng-dirty{

}
.ng-invalid.ng-dirty{

}

.ng-valid.ng-dirty{

}

accordion{
    background-color: #f1f6f9;
}


.grid{
    margin-top: 20px;
}
.searchform {width:600px;background-color:#eee;overflow:hidden;}

.searchform.label.field{
    text-align: left;
}

.squerfont-small
{
    font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.squerfont-danger
{
    font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
    font-weight: 400;
    line-height: 2;
    color:  #FF0000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.squerfont-medium
{
    font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.squerfont-large
{
    font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
    font-weight: bold;
    font-size: 22px;

}
.icon {
    height: 25px;
    width: 25px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    padding: 1px 0 0 2px;
    margin-right: 5px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: darkgray;
    text-shadow: none;
    color: #fff;
    display: inline-block;
    cursor: default;

}
.icon-large {

    height: 38px;
    width: 38px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 4px 0 0 4px;
    margin-right: 5px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #005682;
    text-shadow: none;
    color: #fff;
    display: inline-block;
    cursor: default;

}
.right-menu-bg{
    border-left: 1px silver solid;
    margin-top: -15px;
}


.attach-to-top{
    color:red;
    margin-top: 2px;
    padding-top: 2px;
}

.highlight {
    border-bottom-left-radius: 0px;
    min-height: 550px;
    padding-bottom: 0px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -15px;
    border-left: 1px #DDD;
    border-left-style: solid;
    background-color: #f1f6f9;
}



.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.actionlink{
    color:black;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #000;
}




.party-header .name {
    font-size: 30px;
    left: -1px;
    letter-spacing: -1px;
    line-height: 27px;
    position: relative;
}

.red-edit>a{
    font-size: 12px;
    font-weight: 400;
    color: #f00;
}


.invalid_autocomplete{
    background-color: #F0AD4E;
}

.page-title-subheader{
    font-size: 13px;
    line-height: 18px;
}

.datepicker-control{
    width: 120px;
}


.calendar-cell{
    border: 1px solid #e8e8e8;
}

.content-panel {
    min-height: 500px;
}

.content-panel-body{
    min-height: 450px;
}

.navstrip{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    color: #555555;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 15px;
    margin-left: -15px;
    margin-right: -30px;
    padding: 3px 18px;
    margin-bottom: 15px;
}
.col-lg-10-5 {
    width: 88.33333333333334%;
    float: left;
}

.spacer-right{
    margin-right: 5px;
}

.top-header{
    margin-top: 10px;
}
.value {
    font-size: 13px;
    line-height: 15px;
    word-wrap: break-word;
}

.location {
    font-size: 11px;
    color: #777777;
    line-height: 15px;
    word-wrap: break-word;
}

.blue-edit>a:link, .blue-edit>a:visited {
    color: #0047B3;
    color: #555555;
    text-shadow: 0 1px 1px #FFFFFF;
    font-weight: bold;
}
{
    background-color: #E5E3DE;
    color: #000000;
    font-weight: bold;
}
a:visited
{    font-weight: bold;
}

.small-icons{
    width: 6px;vertical-align: middle;
}
a.sidemen{
    color: black;
    padding: 5px 8px !important;
    vertical-align: middle;
    text-shadow: 0 1px 1px #e4e4e4;
}
.login-label{
    font-size: 13px;
}

.side-header  {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    color: #555;style:"top: -31px;"
font-size: 11px;
    font-weight: normal;
    height: 22px;
    line-height: 15px;
    margin: 0 -5px;
    padding: 3px 18px;
}
.value {
    font-size: 11px;
    line-height: 15px;
    word-wrap: break-word;
    color: #777;
}
label {
    font-size: 13px;
}
.recent_item
{
    border-bottom: 1px solid #ebe8e4;
    display: block;
    line-height: 1em;
    overflow: hidden;
    padding: 6px 7px;
    text-decoration: none;
    box-sizing: border-box;
}
.recent_item:hover {
    background-color: #eeeeee;

}
.latest_act_list:hover {
    background-color: #eeeeee;

}
.latest_act_list
{
    display: block;
    line-height: 1em;
    overflow: hidden;
    padding: 6px 7px;
    text-decoration: none;
    box-sizing: border-box;

}

#page_actions {
    margin: 0 -2px;
    position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 5px;
}
.tiny{
    width: 110px;
}


span.action  {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.modal_form_position{
    left: -290px;
    position: absolute;
    width: 284px;
    z-index: 2000;
}


.btn-new{
    border-radius: 6px !important;
    /*background-color: #3276b1 ;*/
    border-color: #4d4d4d;
    background-image: -moz-linear-gradient(center top , #1aa59c 0%, #5d74af 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1aa59c), to(#5d74af));

}
.btn-primary1{
    border-radius: 6px !important;
    /*background-color: #3276b1 ;*/
    background-image: -moz-linear-gradient(center top , #006090 0%, #2976b1  100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a719c), to(#005782));
    border-color: #285e8e;
    color: #ffffff;
}
.cancel_button{
    background-image: -moz-linear-gradient(center top , #FDFDFD 0%, #b6a3b6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#b6a3b6));
    border-color: #d5d5d5;
    border-radius: 6px !important;
    box-shadow: #d5d5d5;
    color: #000000;
}

.navigation_new_btn
{
    background-image: -moz-linear-gradient(center top , #006090 0%, #2976b1  100%) !important;
    border-color: #285e8e;
    color: #ffffff;}

.nav-divider1 {
    border-style: solid none;
    border-width: 1px medium;
    margin: 1em 0;
}

hr{
    border-style: solid none;    border-image: none;
    border-width: 1px medium;
    margin: 1em 0;
    background-color: #e5e5e5;
}
div.left_arrow{
    border-color:  transparent transparent transparent #ffffff;
    border-style: solid;
    border-width: 12px;
    font-size: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: 2000;
    cursor: pointer;
}
div.down_arrow{
    border-color:  transparent transparent #ffffff;
    border-style: solid;
    border-width: 12px;
    font-size: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: 2000;
    cursor: pointer;
}

.panel-body1{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}
.panel-heading1{
    background-image: -moz-linear-gradient(center top , #1a719c 0%, #005782 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a719c), to(#005782));
    border-color: #004a6f;
    font-weight: bold;
}
.box{
    background-image: -moz-linear-gradient(center top , darkgray 0%);
    border-radius: 10px !important;
}

#change.white-cell {
    color: #ffffff;
    font-size: 17px;
}
#change1.white-cell{
    color: #ffffff;
    font-size: 17px;
}
.big_icon{ border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    height: 39px;
    line-height: 16px;
    margin-right: 5px;
    padding: 5px 0 0 2px;
    text-shadow: none;
    width: 39px;
}
.big_icon1{ border: medium none;
    border-radius: 1px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    text-shadow: none;
    width: 30px;
    text-align: center;
}
.sidemenu_icon{ border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 11px;
    margin-right: -2px;
    padding: 8px 0 3px 2px;
    text-shadow: none;
    width: 25px;
    text-align: center;
}

.col-xs-181{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn-noti{
    font-size: 17px;
    color: #bababa;
}
.land{
    size: landscape;
}
.badge1 {
    display:  -moz-groupbox;
    min-width: 10px;
    padding: 8px 0px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #ff0000;
    border-radius: 10px;
    right: 7px;
    top: -14px;
    position: relative;
}

@media print {
    .reportHeader {page-break-after: always;}
    .header,.hide{
        visibility: hidden;
    }
    input[type="checkbox"]
    {
        visibility: hidden;
    }
    button[type="button"]
    {
        visibility: hidden;
    }

}

.LandscapeDiv{
    PAGE-BREAK-BEFORE: always;
    width:100%;
    height:100%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
}

.hrd {

    border: none;
    border-top: dashed 2px gray;
    color: #ffffff;
    background-color: #ffffff;
}


.row-spacer{
    margin-bottom: 8px;
}

.row-spacer-top{
    margin-top: 15px;
}

.no-label{
 width: 5px;
}

.gray-font{
    color: darkgray;
}

.chart {
    width: 400px;
    height: 300px;
}

.portlet{
    background-color: #fff;
    -moz-box-shadow:    inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow:         inset 0 0 3px #000000;
}

.portal{
    background-color: #EFF7FC;
}
/** This is for Scrollable table NOT FOR FIDDLING*/

#outerdiv {
    position: relative;
    top: 0;
    width:85%;
    left: 5px;
    right: 5em;
}
#innerdiv {
    width: 85%;
    overflow-x:scroll;
    margin-left: 250px;
    overflow-y:visible;
    padding-bottom:1px;
}
.headcol {
    position:absolute;
    width: 100px;
    left:0;
    border-right: 0px none black;
    border-bottom: 0px;
    border-top-width:1px;
    padding: 5px;
    margin-top: -1px;
    height: 41px;
    /*only relevant for first row*/
    /*compensate for top border*/
}

.headcol1 {
    position:absolute;
    left: 100px;
    width: 150px;
    border-right: 0px none black;
    border-bottom: 0px;
    border-top-width:1px;
    padding: 5px;
    margin-top: -1px;
    height: 41px;
    /*only relevant for first row*/
    /*compensate for top border*/
}


.headcol:before {

}

#innerdiv table th{
    height: 41px;
}

#innerdiv table td{
    height: 41px;
}


#innerdiv table{
    width: 1500px;
    border: 1px solid black;
    table-layout: fixed;
}
.long {
    position: relative;
    left: 250px;
    padding: 5px;
    width: 200px;
}

thead tr{
    background-color: #f1f6f9;
    min-height: 20px;

}

th{
    padding: 20px;
}