.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.filter .btn{padding:6px 3px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}


body{
    font-size: 12px;
}
multiselect .dropdown-menu{
    padding-left: 5px;
    padding-right: 5px;
}

multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}


.squerfont-large
{
    font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
    font-weight: bold;
    font-size: 22px;

}


.week-no-bg
{

}

.week-with-bg
{
    background-color: #F2F2F2;
}

.squerlink{
    color:#00f;
}


.accordion-heading{
    background-color: #0078ae;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.menu-title a{
    color:#fff;
    text-decoration: none;
}

.accordion-heading:hover{
    background-image: -webkit-linear-gradient(top, #79c9ec 0%, #0078ae 75%);
    background-image: -o-linear-gradient(top, #79c9ec 0%, #0078ae 75%);
    background-image: linear-gradient(to bottom, #79c9ec 0%, #0078ae 75%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000', GradientType=0);

}
.accordion-heading:hover a {
    color: #333;
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
}

.menu-item a{
    color: #f0f;
}

.searchfieldset{
    border-bottom: 1px solid #0078ae;
    padding-bottom: 10px;
}

#message_box{
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 100;
    background: #ffc;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    width: 99%;
}

#login_message_box{
    position: absolute;
    z-index: 9 !important;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    width: 90%;
    left: 10px;
}

.loginform{
    min-height: 760px;
    background: url(images/background.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.counter{
    font-size: 20px;
    font-weight: 400;
}
.cMonth{
    color: #5bc0de;
}

.pMonth{
    color: #f0ad4e;
}

.target{
    color: #5cb85c;
}

.achieved{
    color: #000;
}

.row-spacer{
    padding-bottom: 8px;
    padding-top: 8px;
}

.icon{
    width:16px;
    height: 16px;
}


.vertical-text {
    transform: rotate(270deg);
    transform-origin: 3em 3em;
}

.subheader legend {
    color: #428bca;
    font-size: 12px;
    font-weight: 400;
}




 .valdr-message {
     display: none;
 }
.valdr-message.ng-dirty.ng-invalid.ng-touched {
    display: inline;
    color: #a94442;
}

.form-control {
    border: 1px solid #ccc;
}
.form-group .form-control.ng-invalid.ng-dirty.ng-touched {
    border-color: #a94442;
}
.form-group .form-control.ng-valid.ng-touched {
    border-color: #2b542c;
}

footer {
    margin-top: 20px;
}

.text-red {
    color:#E52A3A;
}

.text-gray {
    color:#5f5f5f;
}

.text-center {
    text-align: left;
}

/* Editor styling */

.ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px; /* Override bootstrap */
    border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
    margin-bottom: 5px;
}

.ta-editor, .white-box {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #EEE;
}

textarea.ta-bind {
    width: 100%;
}


/*-----Doctor Input-----*/

.tableWrapper {
    width: 100%;
    overflow: auto;
}

.tdOther { min-width: 100px; max-width: 100px;}

.tdData {
    min-width: 100px;
    max-width: 100px;
    padding:  8px 8px 8px 8px;
}

.tdDoctor{
    min-width: 150px;
    max-width: 150px;
    padding-bottom: 15px;
    padding:  8px 8px 8px 8px;
}

.mySpan {
    background-image: none;
    border: 0px;
    color: #555555;
    display: block;
    height: 34px;
    width: 100%;

}

.myform .ng-invalid-valdr{
    background-color: #f2dede;
}

.myform .ng-valid-valdr{
    background-color: #ffffff;
}

.totalRow{
    border-top:20px solid #000;
}

.panel-body {
    width: 100%;
    float: left;
    box-sizing: border-box;
    background: #fff;
}
.getPatientsList {
    width: 30%;
    float: left;
    /*height: 655px;
    overflow-y: auto;*/
}
.graphs {
    width: 70%;
    padding-left: 2%;
    border-left: 1px solid #ff7774;

  }
.graphs .item {
    width: 49% !important;
    float: left;
    border: 1px solid #ddd;
    margin-right: 2%;
    margin-bottom: 26px;
}
.graphs .item.no-margin {
    margin-right: 0 !important;
}
.pie_title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
border-bottom: 1px solid;
line-height: 35px;
background: #f9e1e0;
    color:#ff7774;

}
.getPatientsList ul li {
    padding: 7px 0px;
    cursor: pointer;
    font-size: 15px;
    list-style:none;
    /*background:url(images/user.png)no-repeat 0 0;*/
}
.navbar.navbar-default {
    margin-bottom: 0;
    background-color: #a23542/*#ff7774*/;
    border: 0;
    border-radius: 0;
}
.getPatientsList ul li a {
    font-size: 20px !important;
    border-bottom: 1px solid #ff7774;
    line-height: 30px;
margin-left: 15px;
    color: #43b6bd;
}
.getPatientsList ul li a:hover{text-decoration:none;}
.panel-heading{border-bottom: 1px solid;}
.trend_graphs a {
    width: 25%;
    float: left;
    border: 1px solid #ff7774;
    padding: 10px;
    text-align: center;
    color: #5a5454;
    font-size: 15px;
    font-weight: bold;
}
.trend_graphs {
    width: 100%;
    float: left;
    }
.trend_graphs a.activeButton{background: #ff7774;
                             }
.trend_graphs a.button.inactiveButton {background:#f9e1e0; /*#7bd1f6;*/}
.card.graph {
    width: 32%;
    float: left;
    border: 1px solid #ddd;
   margin: 20px 2% 12px 0;
    box-sizing: border-box;
}
.card.graph.no-margin {
    margin-right: 0;
}
.item.item-divider.recordHeading {
    width: 100%;
    float: left;
    text-align: center;
    background: #86d1f0;
    font-size: 17px;
    line-height: 32px;
    height: 35px;
}
/*#chart1{width:450px;}*/
.body_wrap {
    width: 50%;
    margin: 0 auto;
}
.profile_wrap{width:100%;float:left;background:#fff;}
.profile_pic {
    text-align: center;margin-top: 10%;
}
.profile_pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.newName,.dType {
    text-align: center;
}
.profilePatient {
    width: 60%;
    margin: 0 auto;
}
.pull_left {
    width: 50%;
    float: left;
    padding: 7px;
    border: 1px solid #ddd;
    border-bottom: oldlace;
    text-align: center;
}
.col.treRed {
    width: 100%;
    float: left;

}
.panel_body_wrap{width:100%;float:left;background:#f9e1e0;}

/***********patient app google analytic css*/

.inner_corner_div{
    margin-right: 15px;
    background: #fff;
    border-left: 10px solid #a23542;
    height:120px
}
.h5_chart{
    font-size: 16px;
    color: #a23542;
    margin: 0;
    background: #fff;
    padding: 10px 25px;
font-weight: bold;
}
.doctorlist_div {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.p_title{
    width:50%;
    float:left;
}
.dwn-btn{
    width: 97%;
    float: left;
    margin-bottom: 10px;
}
.col_div{
    width:12%;
    float:left;
    margin: 7px 0 10px 0;
}
.btn-danger img{width:22px;}
.title_div{
    width:75%;
    float:left;
    height: 50px;
}
.graph_div{
    width:32%;
    background: #fff;
    margin-right: 2%;
}
.margin_zero{
    margin-right: 0 !important;
}
.blank_div{
    width:100%;
    float:left;
    background:#fff;
    height:35px;
}
#chart1,#chart2,#chart3{
    height: 250px;
    width:100%;
    float:left;
}
.download_button{
    width:100%;
    float: left;
}
.search_button{
    padding: 4px 2px;
    width:96%;
    margin:0 2%;
    float: left;
}

.form-control .multiSelect > button{
width:100%;
border:0;
min-height: 32px !important;
height: 32px;
    overflow-y: scroll;
    z-index: 11;
    font-size: 11px;
}
.multiSelect .checkBoxContainer{
height: 200px;
    overflow-y: scroll !important;
}
table,td{
    width:100%;
    margin: 0 auto;
    padding: 10px;
}

th{text-align: center;
   font-size: 20px;
   padding: 5px;
   text-transform: capitalize;
   background-color: #d7d4fd;
}
tr.ng-scope {
    background-color: #ecebfd;
    border-bottom: 1px solid #fff;
}
.small_div{
    width:25%;
    float:left;
    border-right: 1px solid #fff;
    font-size: 15px;
    padding: 5px;
    background-color: #ecebfd;
}
text.highcharts-title{display:none;}
input[type="date"]{
    line-height:27px;
    width:100%;
}
.totalactiveuser{
    margin-top:49px;
}
.search_heading{
    width: 18%;
    float: left;
    text-align: right;
    margin-top: 7px;
    padding-right: 9px;
    font-size: 15px;
    margin-right: 2%;
}
input[type="date"]::before {
    color: #999999;
    content: attr(placeholder);
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "" !important;
}
table.modal_table{
    height: 500px;
    display: inline-block;
    overflow-y: scroll;
    width:100%;
}
table.modal_table::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.doctor_table,.rule,.value{
    width:50%;
    float:left;
}
.enroll_select{
    margin-top: 27px;
    padding: 10px;
}
.avg_select_drop {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.activeuser_table,.enroll_select,.enroll_patient_div,.maxusage_wrap,.heading_div,.maxwrap_div,.appPageFunc{
    width:100%;
    float:left;
}
.wrap_div,.table_wrap,.sqdtsq_table,.inner_enroll,.overwrap{
    width: 80%;
    margin:0 auto;
}
.inner_div{
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    background-color: #d7d4fd;
    padding: 5px;
    width:100%;
    float:left;
}
.inner_div p{
    text-transform:capitalize;
    margin:0;
}
.left_div{
    width: 50%;
    float: left;
    border-right: 1px solid #fff;
    font-size: 15px;padding: 5px;
    background-color: #ecebfd;
}
.right_div{
    width: 50%;
    float: left;
    font-size: 15px;
    padding: 5px;
    background-color: #ecebfd;
   }
.maxValue_div{
    width: 48%;
    float: left;
    margin-right: 2%;
    height: 700px;
    display: inline-block;
    overflow-y: scroll;
}
.first {
    width: 40%;
    float: left;
}
.second,.third {
    width: 30%;
    float: left;
}
.appfirst{
    width: 40%;
    float: left;
}
.appsecond{
    width:60%;
    float:right;
}
.heading_div {
    background-color: #d7d4fd;
    padding: 5px;
    font-size: 18px;
}
.maxwrap_div {
    background-color: #ecebfd;
    border-bottom: 1px solid#fff;
    padding: 5px;
    font-size: 15px;
}
.btn{padding:6px 0;}
.second_row{margin-top: 65px;}
.btn-danger{
    background-color: #2293d0;
    border: 0;}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #2293d0;
    border-color: #2293d0;
}
.btn-danger:hover{
    background-color: #2293d0;
}
.info_btn{
    width: 100%;
    float: left;
    padding: 10px 5px 0 5px;
}
.info_btn button{
    width: 13%;
    float: right;
    padding: 0;
}
.dwnld_btn{
    width: 100%;
    float: left;
    height: 100px;
    padding: 40px;
}
.modal_btn{
    width: 4%;
    float: right;
}
/*modal css*/
.myModal_body{height:300px;}
.modal-body{padding:0;}
.activedoc_def{
    font-size: 22px;
    line-height: 35px;
    background: #2293d0;
    text-align: center;
    padding: 10px;
    color:#fff;
    height: 200px;
}
.activedoc_def p{
    margin: 0;
}
.close_modal {
    margin: 31px 0;
}
.cancle_btn{
    text-align: right;
    width: 100%;
    cursor: pointer;
}
.close_p{
    width: 30%;
    background: #2293d0;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    margin: 0 auto;
    cursor: pointer;
}
a.dropdown-toggle span {
    color: #fff !important;
}
.tab_btn{
    background-color:#fff !important;
    border:1px solid #fff !important;
}
.content_div{
    width:100%;
    float:left;
}
.content_div h1{
    margin:0;
}
table.questionnaire_table{
    margin-bottom: 20px;
}
 @media only screen and ( min-width:320px ) and ( max-width:1024px )   {
.count_div{
    margin-bottom:20px;
}
 .graph_div{
     width:100%;
     margin-bottom:20px;
     float:left;
 }

 .select_drop{
     width:30%;
     float: left;
     margin-right: 5%;
 }
     .app_select{
         width:48%;
         float:left;
         margin-right: 4%;
     }
     .second_row{margin-top: 0;}
}