<div class="panel"  style="min-height: 550px" ng-controller="JointVisitReportController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
                <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                    Joint Work Report
                </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row row-spacer">
            <form class="form-inline dynamic-form">
                <fieldset class="col-xs-16">
                    <select ng-model="month" class="form-control" ng-options="month for month in months">

                    </select>
                    <select ng-model="year" class="form-control" ng-options="year for year in years">
                    </select>
                    <select ng-model="employeeId" class="form-control" ng-options="employee.Id as employee.name for employee in employees">
                        <option value="">Select</option>
                    </select>
                    <button class="btn btn-primary" ng-click="search()">View Report</button>
                </fieldset>
            </form>
        </div>
        <div class="row row-spacer">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>TERRITORY</th>
                    <th>TEAM MEMBER</th>
                    <th>TOTAL DOCTORS</th>
                    <th>CORE DOCTORS</th>
                    <th>SUPER CORE DOCTORS</th>
                    <th>CHEMISTS</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td>
                        {{d.ACTIVITY_DATE.text}}
                    </td>
                    <td>
                        {{d.LOCATION_NAME}}
                    </td>
                    <td>
                        {{d.TEAM_MEMBER}}
                    </td>
                    <td>
                        <a class="squerlink" ng-click="DoctorList(d.ACTIVITY_DATE.text,d.memberId,d.JOINEE_ID,d.TEAM_MEMBER,null,'All')">{{countsMap[d.ACTIVITY_DATE.text+d.LOCATION_NAME].docs}}</a>
                    </td>
                    <td>
                        <a class="squerlink" ng-click="DoctorList(d.ACTIVITY_DATE.text,d.memberId,d.JOINEE_ID,d.TEAM_MEMBER,1,'Core')">{{countsMap[d.ACTIVITY_DATE.text+d.LOCATION_NAME].coreDoc}}</a>
                    </td>
                    <td>
                        <a class="squerlink" ng-click="DoctorList(d.ACTIVITY_DATE.text,d.memberId,d.JOINEE_ID,d.TEAM_MEMBER,2,'Super-Core')">{{countsMap[d.ACTIVITY_DATE.text+d.LOCATION_NAME].superCoreDoc}}</a>
                    </td>
                    <td>
                        {{countsMap[d.ACTIVITY_DATE.text+d.LOCATION_NAME].chemists}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <script type="text/ng-template" id="DoctorList.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">{{type}} Doctors For {{teamMember}}
                </h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Beat</th>
                        <th>Doctor Name</th>
                        <th>Classification</th>
                        <th>Speciality</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in docList">
                        <td>{{d.beat_name}}</td>
                        <td>{{d.doc_name}}</td>
                        <td>{{d.classfn_name}}</td>
                        <td>{{d.spcl_name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="close()">Close</button>
            </div>
        </script>
    </div>

</div>











<script type="text/ng-template" id="doctorReportListing.html" >
    <div ng-init="init()">
        <div class="modal-header">
            <h3 class="modal-title">{{date.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">

                <table class="table table-stripped">
                    <thead>x
                    <tr>
                        <th>Doctor</th>
                        <th>Speciality</th>
                        <th>Classfication</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in detail">
                        <td>{{profile.NAME}}</td>
                        <td>{{profile.SPECIALITY}}</td>
                        <td>{{profile.CLASSIFICATION}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
</script>

<div>
    <script type="text/ng-template" id="noncallactivitylisting.html" >
        <div ng-init="init()">
            <div class="modal-header">
                <h3 class="modal-title">{{date.text|getDateValue}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>Activity Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="profile in details">
                            <td>{{profile.activityType.displayName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
            </div>
        </div>
    </script>
</div>

<div >
    <script type="text/ng-template" id="chemistReportListing.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{date.text|getDateValue}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Chemist</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chemist in detail">
                        <td>{{chemist.NAME}}</td>
                        <td>&nbsp;</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
</div>





