    <top-header></top-header>
    <div class="container-fluid">
        <div class="row">
            <alert id="login_message_box" ng-show="$root.showMessage" type="{{$root.type}}">
                {{$root.message}}
                <span id="close_message" style="float:right;cursor:pointer" ng-click="$root.showMessage=false">X</span>
            </alert>
            <alert id="loading_box" ng-show="$root.showLoading" type="{{$root.type}}">
                Loading.....
            </alert>
            <!--left-menu></left-menu-->
            <!--div class="{{mainViewStyle}}"  id="mainView" ui-view></div-->
            <div class="col-xs-24"  id="mainView" ui-view></div>
        </div>
    </div>
                           {{$root.showLoading}}
