<div class="container-fluid loginform" >
<div class="col-xs-8 col-xs-offset-1" style="padding-top: 150px" >

        <div class="panel panel-primary" style="border:none;border-radius: 6px">

            <div class="panel-heading">
                <div class="panel-title">
                    <span class="panel-title "><h4>Login</h4><h6></h6></span>
                </div>
            </div>

            <div class="panel-body">
                <form role="form" class="form-horizontal" method="post" name="loginForm" ng-submit="login()"  >
                    <h4 class="form-signin-heading">{{labels.header}}</h4>
                    <div class="form-group">
                        <input type="text" placeholder="{{labels.username}}" required autofocus=""
                               ng-model="userdata.username" class="form-control" name="username" id="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="{{labels.password}}" required
                               ng-model="userdata.password" name="password" class="form-control" id="password">
                    </div>
                    <alert id="login_message_box" ng-show="$root.showMessage" type="{{$root.type}}">
                        {{$root.message}}
                        <span id="close_message" style="float:right;cursor:pointer" ng-click="$root.showMessage=false">X</span>
                    </alert>

                    <div class="col-xs-24"><hr/></div>
                    <div class="col-xs-24">
                        <button type="submit" class="loginButton btn btn-primary">{{links.signin}}</button>
                        <a class="pull-right" ng-click="forgotPassword()">{{links.forgotPassword}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div>
        <script type="text/ng-template" id="passwordChange.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Update Password</h3>
            </div>
            <div class="modal-body">
                <label class="pull-left text-danger">You have not changed your default login password.Please change your password before login</label>
                <div class="col-xs-24" style="height: 20px"></div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="newPassword" class="col-xs-5 control-label">New Password</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control" id="newPassword" ng-model="password.newPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cnfPassword" class="col-xs-5 control-label">Confirm Password</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control" id="cnfPassword" ng-model="password.cnfPassword" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-18 {{alertClass}}" role="alert">
                                    <span class="pull-left"> {{errMsg}}</span>
                                </div>
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-primary" ng-click="updatePassword()" ng-show="!showReturn">Change Password</button>
                                    <button type="submit" class="btn btn-primary" ng-click="close()" ng-show="showReturn">Back to Login</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </script>
    </div>



    <div>
        <script type="text/ng-template" id="timezone.html">
            <div class="modal-header" ng-init="init()">
                <h3 class="modal-title">Time Zone Error</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="images/brokenclock.jpg">
                    </div>
                    <div class="col-xs-12" style="vertical-align: middle;text-align: left">
                        <ul>
                            <li><h5>Your current time zone is {{timeZone}}</h5></li>
                            <li><h5>Please update your time zone to IST or NPT(if you are from nepal)</h5></li>
                            <li><h5>You can not login to system without correct time zone</h5></li>
                            <br><br>
                            <li>
                                To set the time zone in Windows 7 and Vista, <br>
                                left-click on the clock in the icon tray at the bottom right of your computer screen. <br>
                                This should show the clock, date and calendar. <br>
                                Click on <u>Change date and time settings</u>.This will open Date and Time menu.<br>
                                In this, click to <u>Change time zone</u> to correct time zone.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="close()">Close</button>
            </div>
        </script>
    </div>
</div>
