<div class="panel"  style="min-height: 550px" ng-controller="downloadReport" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Consolidated Expense Report
            </span>
        </div>
    </div>
    <div class="panel-body">
        <form template="stdFormTemplate" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
            <fieldset class="dynamic-fieldset">
                <legend>Search</legend>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Division</label>
                        </div>
                        <select class="form-control" ng-model="div" ng-options="d.id as d.name for d in divisions"><option value="">Select</option></select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Month</label>
                        </div>
                        <select class="form-control" ng-model="month">
                            <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index+1}}">{{m}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Year</label>
                        </div>
                        <select class="form-control" ng-model="year">
                            <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
                        </select>
                    </div>

                    <input type="button" class="btn btn-primary" value="download" ng-click="download()">
                </div>
            </fieldset>
        </form>
    </div>
</div>