<div class="panel"  style="min-height: 550px" ng-controller="overViewController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Overview</span>
        </div>
    </div>

    <div class="panel-body">
        <form template="stdFormTemplate" class="form-inline ng-pristine ng-untouched ng-valid dynamic-form ng-scope" model="stdFormData">
            <fieldset class="dynamic-fieldset">
                <legend>Search</legend>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Month</label>
                        </div>
                        <select class="form-control" ng-model="month">
                            <option data-ng-repeat="m in monthList" ng-selected="m==currentMonth" value="{{$index+1}}">{{m}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Year</label>
                        </div>
                        <select class="form-control" ng-model="year">
                            <option data-ng-repeat="yr in years" ng-selected="yr==currentYr" value="{{yr}}">{{yr}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label>Select Designation</label>
                        </div>
                        <select class="form-control" ng-model="jobTitle">
                            <option value="0">All</option>
                            <option value="JOBTT00000000000000000000000000000003">RM</option>
                            <option value="JOBTT00000000000000000000000000000005">TM</option>
                        </select>
                    </div>

                    <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                </div>
            </fieldset>
        </form>

        <div class="row row-spacer" ng-show="displyData.length>0">
            <div class="col-xs-10">
               <table class="table table-striped table-bordered" ng-show="displyData.length>0">
                   <thead>
                    <tr>
                        <th>Division</th>
                        <th style="text-align: center">Drafts</th>
                        <th style="text-align: center">Submitted</th>
                        <th style="text-align: center">Approved</th>
                    </tr>
                   </thead>
                   <tbody>
                    <tr ng-repeat="d in displyData">
                        <td>{{d.DIVISION}}</td>
                        <td style="text-align: center">{{d.DRAFT}}</td>
                        <td style="text-align: center">{{d.SUBMITTED}}</td>
                        <td style="text-align: center">{{d.APPROVED}}</td>
                    </tr>
                   </tbody>
               </table>
            </div>
        </div>
    </div>
</div>