<div class="panel"  style="min-height: 550px" ng-controller="CounterController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Add Counter
            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset justified="false" class="row-spacer">
            <tab heading="{{labels.profileInfo}}">
            <form class="form-horizontal" name="counterForm" ng-submit="save()" valdr-type="Counter" novalidate>
            <div class="row row-spacer">
                <div class="col-xs-10 required-field">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Counter Name</label>
                    <div class="col-xs-8">
                        <input type="text" name="name" ng-model="counter.name" class="form-control" ng-show="counter.id==null"/>
                        <input type="text" name="name" ng-model="counter.name" class="form-control" readonly ng-show="counter.id!=null" />
                    </div>
                </div>
                <div class="col-xs-10">
                    <label class="col-xs-4 col-xs-offset-1 control-label">Code</label>
                    <div class="col-xs-8">
                        <input type="text" name="code" ng-model="counter.code" readonly class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Preferred Language</label>
                    <div class="col-xs-8">
                        <user-lov type="PREFERED_LANGUAGE" value="counter.preferedLanguage.id" default-text="select"/>
                    </div>
                </div>
                <div class="col-xs-10 required-field">
                    <label class="col-xs-4 col-xs-offset-1 control-label">Contact No.</label>
                    <div class="col-xs-8">
                        <input type="text" name="contactNo" ng-model="counter.contactNo" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Date of Inclination</label>
                    <div class="col-xs-8">
                        <input  type="text" ng-model="counter.dateOfInitiation.text" name="dateOfInitiation" squer-datepicker class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-10 required-field">
                    <label class="col-xs-4 col-xs-offset-1 control-label">Doctor</label>
                    <div class="col-xs-8">
                        <select name="doctor" ng-model="counter.doctor.id"
                                ng-options="doctor.doctor.id as doctor.doctor.displayName for doctor in master.doctors" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="row row-spacer">
                <div class="col-xs-10">
                    <label class="col-xs-7 col-xs-offset-1 control-label">Division</label>
                    <div class="col-xs-8">
                        <select name="division" ng-model="division.id"
                                ng-change="selectDivision()"
                                class="form-control"
                                ng-options="d.id as d.name for d in divisions" ng-show='usercontext=="sysadmin"'>
                            <option value="">Select Division</option>
                        </select>
                        <input type="text" name="division" ng-model="division.displayName" class="form-control" readonly ng-show='usercontext!="sysadmin"'>
                    </div>
                </div>
                <div class="col-xs-10">
                    <label class="col-xs-4 col-xs-offset-1 control-label">Location</label>
                    <div class="col-xs-8">
                        <select name="location" ng-model="counter.location.id"
                                class="form-control"
                                ng-options="l.id as l.name for l in locations" ng-show='usercontext=="sysadmin"'>
                            <option value="">Select Location</option>
                        </select>
                        <input type="text" name="location" ng-model="counter.location.displayName" class="form-control" readonly ng-show='usercontext!="sysadmin"'>
                    </div>
                </div>
            </div>
                <fieldset class="dynamic-fieldset subheader">
                <legend>Address Information </legend>
                    <div class="row row-spacer">
                        <sfe-address layout="col-xs-10" address="counter.address" states="states" />
                    </div>
                </fieldset>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="counterForm.$invalid" >{{links.save}}</button>
            </div>
        </form>
        </tab>
            <tab heading="{{labels.purchaseHistory}}" ng-click="showHistory()">
                <a class="col-xs-24 col-xs-offset-21 row-space" ng-click="newHistory(null)">Add New Purchase</a>
                <div class="row row-spacer" ng-show="showtable">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="col in columns">{{col.label}}</th>
                            <!--th>&nbsp;</th-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in searchData">
                            <td ng-repeat="col in columns" >
                                <any ng-switch on="columns[$index].dataType">
                                    <div ng-switch-when="Reference">{{d[col.name].displayName}}</div>
                                    <div ng-switch-when="date">{{d[col.name].text}}</div>
                                    <div ng-switch-when="Array">
                                        {{d[col.name][0].jobTitle.displayName}}
                                    </div>
                                    <div ng-switch-when="Object">{{d[col.name.split('.')[0]][col.name.split('.')[1]]}}</div>
                                    <div ng-switch-default>
                                        {{d[col.name]}}
                                    </div>
                                </any>
                            </td>
                            <td>
                                <a ng-click="newHistory(d.id)" ng-show='d.statusId=="SYSLVDOCSTA00000000000000000000000001"'><img src="images/add.png" title="Add Purchase"></a>
                                <span ng-show='d.statusId=="SYSLVDOCSTA00000000000000000000000002"'><img src="images/add.png" title="Add Purchase"></span>
                                <a ng-click='changeStatus(d.id,"SYSLVDOCSTA00000000000000000000000002")' ng-show='d.statusId=="SYSLVDOCSTA00000000000000000000000001"'> De-activate</a>
                                <a ng-click='changeStatus(d.id,"SYSLVDOCSTA00000000000000000000000001")' ng-show='d.statusId=="SYSLVDOCSTA00000000000000000000000002"'> Activate</a>
                                <!--span ng-show="currentDate > d.dateOfPurchaseRenewal.date">(Make Renewal)</span-->
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <pagination total-items="totalItems"
                                ng-model="currentPage"
                                max-size="maxSize"
                                ng-change="pageChanged()"
                                class="pagination-xs pull-right"
                                boundary-links="true" rotate="false"
                                items-per-page="5"></pagination>
                </div>

            </tab>
        </tabset>
    </div>
</div>
<div >
    <script type="text/ng-template" id="patientpurchase.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">{{labels.newPurchase}}<span ng-show="showRenewal">(Renew Purchase)</span></h3>
        </div>

        <div class="modal-body">
            <div class="row" >
                <form name="patientPurchaseForm" novalidate valdr-type="PatientPurchase">
                    <fieldset class="dynamic-fieldset subheader">
                        <legend>{{labels.brandDetails}}</legend>
                        <div class="row row-spacer">
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.brands}}</label>
                                <div class="col-xs-16">
                                    <select name="brand" ng-model="pbrand.brand.id" ng-change="showSkus()"
                                            ng-options="brand.id as brand.name for brand in master.brands" class="form-control" ng-show="pbrand.id==null">
                                        <option value="">Select Brand</option>
                                    </select>
                                    <select name="brand" ng-model="pbrand.brand.id" ng-change="showSkus()"
                                            ng-options="brand.id as brand.name for brand in master.brands" class="form-control" ng-show="pbrand.id!=null" readonly >
                                        <option value="">Select Brand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.sku}}</label>
                                <div class="col-xs-16">
                                    <select name="sku" ng-model="pbrand.sku.id"
                                            ng-options="sku.id as sku.name for sku in master.products" class="form-control" ng-show="pbrand.id==null">
                                        <option value="">Select Product</option>
                                    </select>
                                    <select name="sku" ng-model="pbrand.sku.id"
                                            ng-options="sku.id as sku.name for sku in master.products" class="form-control" ng-show="pbrand.id!=null" readonly >
                                        <option value="">Select Product</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!--div class="row row-spacer required-field">
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Dosage Frequency</label>
                                <div class="col-xs-16">
                                    <input type="text" name="units" ng-model="pbrand.frequency.qty" class="form-control" ng-show="pbrand.id==null"/>
                                    <input type="text" name="units" ng-model="pbrand.frequency.qty" class="form-control" ng-show="pbrand.id!=null" readonly />
                                </div>
                            </div>
                            <div class="col-xs-4 ">
                                <div class="col-xs-22">
                                    <select name="dpunit" ng-change="setpurchaseUnit()" ng-model="pbrand.frequency.frequencyUnit.id"
                                            ng-options="ppunit.id as ppunit.name for ppunit in ppunits" class="form-control" ng-show="pbrand.id==null">
                                        <option value="">Select</option>
                                    </select>
                                    <select name="dpunit" ng-change="setpurchaseUnit()" ng-model="pbrand.frequency.frequencyUnit.id"
                                            ng-options="ppunit.id as ppunit.name for ppunit in ppunits" class="form-control" ng-show="pbrand.id!=null" readonly >
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <span class="col-xs-6 control-label">/</span>
                            </div>

                            <div class="col-xs-8 ">
                                <select name="frequencyunit" ng-model="pbrand.frequency.frequency.id"
                                        ng-options="frequencyUnit.id as frequencyUnit.name for frequencyUnit in frequencyUnits" class="form-control" ng-show="pbrand.id==null">
                                    <option value="">Select</option>
                                </select>
                                <select name="frequencyunit" ng-model="pbrand.frequency.frequency.id"
                                        ng-options="frequencyUnit.id as frequencyUnit.name for frequencyUnit in frequencyUnits" class="form-control" ng-show="pbrand.id!=null" readonly >
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div-->
                        <!--div class="col-xs-8">
                            <label class="col-xs-7 col-xs-offset-1 control-label">/</label>
                            <div class="col-xs-16">
                                <select name="frequencyunit" ng-model="history.frequency.frequency.id"
                                        ng-options="frequencyUnit.id as frequencyUnit.name for frequencyUnit in frequencyUnits" class="form-control"></select>
                            </div>
                        </div-->
                    </fieldset>

                    <fieldset  class="dynamic-fieldset subheader" ng-repeat="d in data" ng-disabled="true" >
                        <legend>{{labels.purchaseDetails}}</legend>
                        <div class="row row-spacer required-field">
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Purchase Qty</label>
                                <div class="col-xs-16">
                                    <input name="dquantity" type="text" ng-model="d.quantity" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Unit</label>
                                <div class="col-xs-16">
                                    <select name="dpunit" ng-model="d.unit.id"
                                            ng-options="ppunit.id as ppunit.name for ppunit in ppunits" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.purchasePrice}}</label>
                                <div class="col-xs-16">
                                    <input name="dpurchasePrice" type="text" ng-model="d.purchasePrice" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.dateOfPurchase}}</label>
                                <div class="col-xs-16">
                                    <input name="ddateOfPurchase" type="text" ng-model="d.dateOfPurchase.text" squer-datepicker class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.pointOfPurchase}}</label>
                                <div class="col-xs-16">
                                    <user-lov type="POINT_OF_PURCHASE" value="d.pointOfPurchase.id" default-text="Select"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.purchaseLocation}}</label>
                                <div class="col-xs-16">
                                    <input name="dpurchaseArea" type="text" ng-model="d.purchaseArea" class="form-control"/>
                                </div>
                            </div>
                            <!--div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.demoDone}}</label>
                                <div class="col-xs-16">
                                    <input name="ddemodone" type="checkbox" ng-model="d.demoDone" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.dateOfdemo}}</label>
                                <div class="col-xs-16">
                                    <input name="ddateOfDemo" type="text" squer-datepicker ng-model="d.dateOfDemo.text" class="form-control"/>
                                </div>
                            </div-->
                        </div>

                    </fieldset>

                    <fieldset  class="dynamic-fieldset subheader">
                        <legend>{{labels.purchaseDetails}}</legend>
                        <div class="row row-spacer">
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Purchase Qty</label>
                                <div class="col-xs-16">
                                    <input name="quantity" type="text" ng-model="phistory.quantity" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">Unit</label>
                                <div class="col-xs-16">
                                    <select name="punit" ng-model="phistory.unit.id"
                                            ng-options="ppunit.id as ppunit.name for ppunit in ppunits" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.purchasePrice}}</label>
                                <div class="col-xs-16">
                                    <input name="purchasePrice" type="text" ng-model="phistory.purchasePrice" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacer">
                            <div class="col-xs-8 required-field">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.dateOfPurchase}}</label>
                                <div class="col-xs-16">
                                    <input name="dateOfPurchase" type="text" ng-model="phistory.dateOfPurchase.text" squer-datepicker class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.pointOfPurchase}}</label>
                                <div class="col-xs-16">
                                    <user-lov type="POINT_OF_PURCHASE" value="phistory.pointOfPurchase.id" default-text="Select"/>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.purchaseLocation}}</label>
                                <div class="col-xs-16">
                                    <input name="purchaseArea" type="text" ng-model="phistory.purchaseArea" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <!--div class="row row-spacer">
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.demoDone}}</label>
                                <div class="col-xs-16">
                                    <input name="demodone" type="checkbox" ng-model="phistory.demoDone" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <label class="col-xs-7 col-xs-offset-1 control-label">{{labels.dateOfdemo}}</label>
                                <div class="col-xs-16">
                                    <input name="dateOfDemo" type="text" squer-datepicker ng-model="phistory.dateOfDemo.text" class="form-control"/>
                                </div>
                            </div>
                        </div-->
                    </fieldset>
                    <div class="modal-footer">
                        <button ng-click="save()" ng-disabled="patientPurchaseForm.$invalid" class="btn btn-primary" >{{links.save}}</button>
                        <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>
