<div class="panel"  style="min-height: 550px" ng-controller="DiabetisPatientController" ng-init="init()">

    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Diabetes Patient
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="row row-spacer">
                <div class="col-xs-7">
                    <label class="col-xs-4 col-xs-offset-1 control-label">Status</label>
                    <div class="col-xs-10">
                                    <span>
                                        <input type="radio" name="status1" ng-model="dPatient.status.id" ng-change="showReasons()" value="SYSLVPATST000000000000000000000000001" > Active
                                        <input type="radio" name="status2" ng-model="dPatient.status.id" ng-change="showReasons()" value="SYSLVPATST000000000000000000000000002" > In-Active</span>
                    </div>
                </div>
                <div class="col-xs-10" ng-show="showreason">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Reason</label>
                    <div class="col-xs-14">
                        <select name="parent" ng-model="reason.id" class="form-control"
                                ng-options="reason.id as reason.name for reason in reasons">
                            <option value="">Select Reason</option>
                        </select>
                    </div>
                </div>
            </div>

                <tabset justified="false" class="row-spacer">
                    <tab heading="Patient Profile">
                        <form class="form-horizontal" name="diabetisPatientForm" valdr-type="DiabetisPatient" novalidate ng-submit="save(true)">
                            <fieldset ng-disabled='disableProfile'>
                            <div class="row row-spacer">
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
                                    <div class="col-xs-14 valdr-form-group">
                                        <input type="text" id="name" name="name" ng-model="dPatient.name" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-10 ">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Date Of Birth</label>
                                    <div class="col-xs-14">
                                        <input  type="text" ng-model="dPatient.dateOfBirth.text" name="bDate" squer-datepicker class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer required-field">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Age</label>
                                    <div class="col-xs-14" valdr-form-group>
                                        <input type="text" id="age" name="age" ng-model="dPatient.age" class="form-control" integer />
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Gender</label>
                                    <div class="col-xs-8" >
                                        <user-lov type="GENDER" value="dPatient.gender.id" default-text="{{labels.selectone}}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Email</label>
                                    <div class="col-xs-14">
                                        <input type="text" name="email" ng-model="dPatient.emailId" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Language</label>
                                    <div class="col-xs-8">
                                        <user-lov type="PC_PREFERED_LANGUAGE" value="dPatient.preferedLanguage.id" default-text="Select Language"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Name Of Counselor</label>
                                    <div class="col-xs-14" valdr-form-group>
                                        <select name="counselor" ng-model="dPatient.counselor.id" class="form-control"
                                                ng-options="counselor.id as counselor.name for counselor in counselors">
                                            <option value="">Select Counselor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Caretaker Name</label>
                                    <div class="col-xs-14">
                                        <input type="text" name="caretakerName" ng-model="dPatient.caretakerName" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer ">
                                <div class="col-xs-8 required-field">
                                    <label class="col-xs-9 col-xs-offset-1 control-label">Contact No</label>
                                    <div class="col-xs-14" valdr-form-group>
                                        <input type="text" name="contact" ng-model="dPatient.contactNumber" integer class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-14 ">
                                    <label class="col-xs-8 col-xs-offset-1 control-label">Whatsapp Status </label>
                                    <div class="col-xs-3">
                                        <input type="checkbox" name="whatsappstatus1" ng-model="dPatient.whatsappStatus1" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-8">
                                    <label class="col-xs-9 col-xs-offset-1 control-label">Alternate Contact No</label>
                                    <div class="col-xs-14">
                                        <input type="text" name="alternatecontact" ng-model="dPatient.alternateContact" integer class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-14 ">
                                    <label class="col-xs-8 col-xs-offset-1 control-label">Whatsapp Status </label>
                                    <div class="col-xs-3">
                                        <input type="checkbox" name="whatsappstatus2" ng-model="dPatient.whatsappStatus2" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer required-field">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Weight in KGs</label>
                                    <div class="col-xs-14" valdr-form-group>
                                        <input type="text" name="weight" ng-model="dPatient.weight" ng-blur ="calculateBMI()" fraction class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-10 required-field">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Height in CMs</label>
                                    <div class="col-xs-14" valdr-form-group>
                                        <input type="text" name="height" ng-model="dPatient.height" ng-blur ="calculateBMI()" fraction class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Income Group</label>
                                    <div class="col-xs-14">
                                        <user-lov type="PATIENT_INCOME_GROUP" value="dPatient.incomeGroup" default-text="{{labels.selectone}}"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">BMI</label>
                                    <div class="col-xs-14">
                                        <input type="text" name="bmi" ng-model="dPatient.bmi" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Working</label>
                                    <div class="col-xs-4">
                                        <input type="checkbox" name="isWorking" ng-model="dPatient.workingStatus" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Insurance Reimbursement</label>
                                    <div class="col-xs-4">
                                        <input type="checkbox" name="insuranceReimbursement" ng-model="dPatient.insuranceReimbursement" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <div class="col-xs-10">
                                    <label class="col-xs-7 col-xs-offset-1 control-label">Self Monitoring</label>
                                    <div class="col-xs-4">
                                        <input type="checkbox" name="selfMonitoring" ng-model="dPatient.selfMonitoring" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer">
                                <fieldset class="dynamic-fieldset subheader">
                                    <legend>Address</legend>
                                    <sfe-address layout="col-xs-10" address="dPatient.address" states="states" />
                                </fieldset>
                            </div>

                            <div class="row row-spacer">
                                <fieldset class="dynamic-fieldset subheader">
                                    <legend>Doctor</legend>
                                    <div class="row row-spacer">
                                        <div class="col-xs-10 ">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">State</label>
                                            <div class="col-xs-14 ">
                                                <input type="text" name="dstate" class="form-control" ng-model="state.displayname" readonly />
                                            </div>
                                        </div>
                                        <div class="col-xs-10 ">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">City</label>
                                            <div class="col-xs-14 ">
                                                <input type="text" name="dcity" ng-model='city.displayname' class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-spacer">
                                        <div class="col-xs-10 required-field">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Dr. Name</label>
                                            <div class="col-xs-14 " valdr-form-group>
                                                <input type="text" name="doctor" ng-model="dPatient.consultingDoctor.displayName"
                                                        class="form-control" readonly />
                                                <a class="squerlink" ng-click="searchForDoctor()">Click to select Doctor</a>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>

                            <div class="row row-spacer">
                                <fieldset class="dynamic-fieldset subheader">
                                    <legend>Disease Profile</legend>
                                    <div class="row row-spacer">
                                        <div class="col-xs-10 required-field">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Diabetic Since</label>
                                            <div class="col-xs-14" valdr-form-group>
                                                <input type="text" name="diabetesSince" ng-model="dPatient.diseaseProfile.diabetesSince" integer class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Insulin Therapy</label>
                                            <div class="col-xs-14">
                                                <select name="insulinTherapy" ng-model="dPatient.diseaseProfile.insulinTherapy.id"
                                                        ng-options="therapy.id as therapy.name for therapy in therapies" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row-spacer">
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Any other co-morbid condition</label>
                                            <div class="col-xs-4">
                                                <input type="checkbox" name="othercondition" ng-model="dPatient.diseaseProfile.otherConditions" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10" ng-show="dPatient.diseaseProfile.otherConditions">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Hyper Tension</label>
                                            <div class="col-xs-4">
                                                <input type="checkbox" name="hyperTension" ng-model="dPatient.diseaseProfile.hyperTension" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-spacer" ng-show="dPatient.diseaseProfile.otherConditions">

                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Heart Disease</label>
                                            <div class="col-xs-4">
                                                <input type="checkbox" name="heartDisease" ng-model="dPatient.diseaseProfile.heartDisease" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Kidney Disease</label>
                                            <div class="col-xs-4">
                                                <input type="checkbox" name="kidneyDisease" ng-model="dPatient.diseaseProfile.kidneyDisease" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-spacer" ng-show="dPatient.diseaseProfile.otherConditions">
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Other Information</label>
                                            <div class="col-xs-16">
                                                <textarea  name="otherInfo" ng-model="dPatient.diseaseProfile.otherInformation" rows="4" cols="100" class="col-xs-24" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row row-spacer">
                                <fieldset class="dynamic-fieldset subheader">
                                    <legend>Ongoing Dignostics</legend>
                                    <div class="row row-spacer">
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Drug Allergies</label>
                                            <div class="col-xs-14">
                                                <input type="text" name="drugAllergies" ng-model="dPatient.patientDiagnosicInfo.drugAllergies" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <label class="col-xs-7 col-xs-offset-1 control-label">Other drugs being taken</label>
                                            <div class="col-xs-14">
                                                <input type="text" name="otherDrugs" ng-model="dPatient.patientDiagnosicInfo.otherDrugs" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row-spacer">
                                        <div class="col-xs-20">
                                            <label class="col-xs-3 col-xs-offset-1 control-label">Preferred Time To Call</label>

                                            <div class="col-xs-2 ">
                                                <!--input name="preferredTimeToCall" type="text" ng-model="dPatient.patientDiagnosicInfo.preferredTimeToCall" class="form-control"/-->
                                                <select name="hours" ng-model="hour.number"
                                                        ng-options="hr as hr for hr in hours" class="form-control">
                                                    <option value="">HH</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-2 ">
                                                <select name="minutes" ng-model="minute.number"
                                                        ng-options="min as min for min in minutes" class="form-control">
                                                    <option value="" value="">MM</option>
                                                </select>
                                             </div>
                                            <div class="col-xs-2 ">
                                                <select name="timestate" ng-model="timestate.state" class="form-control">
                                                    <option value="AM">AM</option>
                                                    <option value="PM">PM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            </fieldset>
                            <div class="col-xs-18 col-xs-offset-20">
                                <button type="submit" ng-disabled="diabetisPatientForm.$invalid" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </tab>
                    <tab heading="Patient Calls" ng-click="showPatientCallDetails()">
                        <fieldset ng-disabled='disableProfile'>
                        <div class="row row-spacer" ng-show="dPatient.id!=null">
                            <fieldset class="dynamic-fieldset subheader">
                                <legend>Ongoing Dignostics</legend>
                                <div class="row row-spacer">
                                    <div class="col-xs-10">
                                        <label class="col-xs-7 col-xs-offset-1 control-label">Drug Allergies</label>
                                        <div class="col-xs-14">
                                            <input type="text" name="drugAllergiesoncallPage" ng-model="dPatient.patientDiagnosicInfo.drugAllergies" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="col-xs-7 col-xs-offset-1 control-label">Other drugs being taken</label>
                                        <div class="col-xs-14">
                                            <input type="text" name="otherDrugsoncallpage" ng-model="dPatient.patientDiagnosicInfo.otherDrugs" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <button type="button" class="btn btn-primary" ng-click="save(false)" >Save</button>
                                    </div>
                                </div>

                                <div class="row row-spacer">
                                    <div class="col-xs-20">
                                        <label class="col-xs-3 col-xs-offset-1 control-label">Preferred Time To Call</label>

                                        <div class="col-xs-2 ">
                                            <!--input name="preferredTimeToCall" type="text" ng-model="dPatient.patientDiagnosicInfo.preferredTimeToCall" class="form-control"/-->
                                            <select name="hours" ng-model="hour.number"
                                                    ng-options="hr as hr for hr in hours" class="form-control">
                                                <option value="">HH</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 ">
                                            <select name="minutes" ng-model="minute.number"
                                                    ng-options="min as min for min in minutes" class="form-control">
                                                <option value="" value="">MM</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 ">
                                            <select name="timestate" ng-model="timestate.state" class="form-control">
                                                <option value="AM">AM</option>
                                                <option value="PM">PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        </fieldset>
                        <table class="table table-bordered table-striped" ng-show="dPatient.id!=null">
                            <thead>
                            <tr>
                                <th ng-repeat="col in columns">{{col.label}}</th>
                                <!--th>&nbsp;</th-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="d in searchData">
                                <td ng-repeat="col in columns" >
                                    <any ng-switch on="columns[$index].dataType">
                                        <div ng-switch-when="date">{{d[col.name].text}}</div>
                                        <div ng-switch-default>
                                            {{d[col.name]}}
                                        </div>
                                    </any>
                                </td>
                                <td>
                                    <span ng-show='!disableProfile'>
                                        <a ng-click='patientReadingPopup(d.id,"edit")' class="squerlink"><img src="images/edit.png" tooltip="Get details" height="16px"/></a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <span ng-show='!disableProfile'><a class="squerlink" ng-show="dPatient.id!=null" ng-click='patientReadingPopup(readings.dpatient.id,"add")' ng-show='disableProfile!=true' >Add New Patient Reading</a></span>
                        <span ng-show='disableProfile'>Add New Patient Reading</span>
                    </tab>
                </tabset>

        </div>
    </div>
</div>

<div >
    <script type="text/ng-template" id="patientReadings.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Patient Readings</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form name="patientReadingForm" valdr-type="PatientReadings" novalidate>
                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Date Of Reading</label>
                            <div class="col-xs-14">
                                <input name="dateOfReading" type="text" squer-datepicker ng-model="readings.dateOfReading.text" class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Fasting</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="fastingValue" ng-model="readings.fastingValue" fraction class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                    </div>

                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Post Meal</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="postmeal" ng-model="readings.postMealValue" fraction class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Random</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="random" ng-model="readings.randomValue" fraction class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">HbA1C</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="hba1c" ng-model="readings.hba1cValue" fraction class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Weight in KGs</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input type="text" name="weight" ng-model="readings.weight" fraction class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10 required-field">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Date of Call</label>
                            <div class="col-xs-14" valdr-form-group>
                                <input name="dateOfCall" type="text" squer-datepicker ng-model="readings.dateOfCall.text" class="form-control" ng-disabled="DisableData"/>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Next Call</label>
                            <div class="col-xs-14">
                                <input name="nextCall" type="text" squer-datepicker-future-date ng-model="readings.nextCall.text" class="form-control" ng-disabled="disableNextDt"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-xs-10">
                            <label class="col-xs-7 col-xs-offset-1 control-label">Remarks</label>
                            <div class="col-xs-14">
                                <textarea  name="remark" ng-model="readings.remark" rows="4" cols="100" class="col-xs-30" ng-disabled="DisableData"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row row-spacer">
                        <div class="col-xs-5">
                        <label  class="col-xs-7 col-xs-offset-2 control-label">Add Brand </label>
                        </div>
                        <div class="col-xs-10">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>Batch</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="brandDetail in readings.brandDetails">
                                    <td><input name="brandname" type="text" ng-model="brandDetail.brand.displayName" class="form-control"/></td>
                                    <td>
                                        <input name="brandbatch" type="text" ng-model="brandDetail.batch" class="form-control"/>
                                    </td>
                                    <td>
                                        <a ng-click="removeBrand(brandDetail.brand.id)"><img src="images/trash.png" tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="selectBrand" class="form-control" name="selectBrand"
                                                ng-model="brand"
                                                ng-options="b.id as b.name for b in master.brands | orderBy : 'name'" ng-disabled="DisableData">
                                            <option value="">Select Brand</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="col-xs-14">
                                            <input name="batch" type="text" ng-model="batch" class="form-control" ng-disabled="DisableData"/>
                                        </div>
                                    </td>
                                    <td><a ng-click="addBrand()" ng-show="!DisableData"><img src="images/add.png" tooltip="Add New"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="save()" class="btn btn-primary" ng-disabled="patientReadingForm.$invalid" >Save</button>
            <button class="btn btn-warning" ng-click="closeModal()">Close</button>
        </div>
    </script>
</div>

<div >
    <script type="text/ng-template" id="consultingDoctorSearch.html">
        <div class="modal-header" ng-init="init()">
            <h3 class="modal-title">Doctor Search</h3>
        </div>
        <div class="modal-body">
                    <div class="row">
                    <div class="col-xs-6 ">
                        <label class="col-xs-7 col-xs-offset-1 control-label">States</label>
                        <div class="col-xs-14 ">
                            <select name="statefilter" ng-model="state.id"
                                    ng-change="selectcity(state.id)"
                                    class="form-control"
                                    ng-options="st.id as st.name for st in states | orderBy : 'name'">
                                <option value="">Select State</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        <label class="col-xs-7 col-xs-offset-1 control-label">City</label>
                        <div class="col-xs-14 ">
                            <select name="cityfilter" ng-model='city.id'
                                    ng-change="selectDoctor(city)"
                                    class="form-control"
                                    ng-options="c.id as c.name for c in cities | orderBy : 'name'">
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        <label class="col-xs-7 col-xs-offset-1 control-label">Name</label>
                        <div class="col-xs-14 ">
                            <input name="doctorname" type="text" ng-model="doctor.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        <div class="col-xs-14 ">
                            <button type="button" ng-click="search()" class="btn btn-primary pull-right">Search</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped" ng-show="doctors.length > 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>City</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="doctor in doctors | orderBy : 'doctorname'">
                        <td>{{doctor.doctorname}}</td>
                        <td>{{doctor.state}}</td>
                        <td>{{doctor.city}}</td>
                        <td><input type="checkbox" name="doctorselect" ng-model="doctorSelected" ng-change="doctorSelect(doctorSelected,doctor)" ><td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </script>
</div>
