<div class="panel"  style="min-height: 550px"  ng-controller="HoCounterReportController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Counter Report
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="row row-spacer">
                <form class="form-inline">
                    <div>
                        <select class="form-control" ng-model="division"
                                ng-options="d.id as d.name for d in divisions" ng-change="getLocations()" >
                            <option value="">Select Division</option>
                        </select>

                        <select class="form-control" ng-model="location"
                                ng-options="l.id as l.name for l in locations" ng-change="getDoctors()">
                            <option value="">Select Location</option>
                        </select>

                        <select class="form-control" ng-model="doctor" ng-options="d.id as d.name for d in doctors">
                            <option value="">Select Doctor</option>
                        </select>

                        <select class="form-control" ng-model="brand" ng-options="b.id as b.name for b in brands" ng-change="getSKUs()">
                            <option value="">Select Brand</option>
                        </select>

                        <select class="form-control" ng-model="product" ng-options="p.id as p.name for p in products">
                            <option value="">Select Product</option>
                        </select>

                        <select class="form-control" ng-model="status" ng-options="s.id as s.name for s in statusList">
                            <option value="">Select Status</option>
                        </select>

                        <select ng-model="from_month" class="form-control" ng-options="month for month in months">
                            <option value="">From Month</option>
                        </select>
                        <select ng-model="from_year" class="form-control" ng-options="year for year in years">
                            <option value="">From Year</option>
                        </select>
                        <select ng-model="to_month" class="form-control" ng-options="month for month in months">
                            <option value="">To Month</option>
                        </select>
                        <select ng-model="to_year" class="form-control" ng-options="year for year in years">
                            <option value="">To Year</option>
                        </select>
                        <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                        <input type="button" class="btn btn-primary" value="Export" ng-click="downloadReport()">
                    </div>


                </form>
            </div>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" >
                        <any ng-switch on="columns[$index].dataType">
                            <span ng-switch-when="Date">{{d[col.name].text}}</span>
                            <span ng-switch-when="String">{{d[col.name]}}</span>
                        </any>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination-->
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>

    <div>
        <script type="text/ng-template" id="history.html">
            <div class="row row-spacer">
                <div class="col-xs-10">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Column Name{{mhistory}}</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                            <th>Updated On</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in result">
                            <td>{{r.updateColumnName}}</td>
                            <td>{{r.oldColumnValue.displayName}}</td>
                            <td>{{r.newColumnValue.displayName}}</td>
                            <td>{{r.updatedOn.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>
    </div>
</div>
