<div class="panel"  style="min-height: 550px" ng-controller="" ng-init="">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">Home</span>
        </div>
    </div>

    <div class="panel-body">
        Welcome to patient home page
    </div>
</div>