<div class="panel"  style="min-height: 550px"  ng-controller="PatientApprovalController" ng-init="initSearch()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Patient Approval
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <dynamic-form class="form-inline" template="stdFormTemplate" ng-model="stdFormData"></dynamic-form>
        </div>
        <div class="row row-spacer" ng-show="showtable">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="col in columns">{{col.label}}</th>
                    <th>Action&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in searchData">
                    <td ng-repeat="col in columns" >
                        <span>{{d[col.name]}}</span>
                    </td>
                    <td>
                        <div ng-repeat="action in actions">
                            <span title="View/Edit" table-link ></span>
                            &nbsp;
                            <a class="squerlink" href ng-click="approve(d.id)">Approve</a>
                            &nbsp;
                            <a class="squerlink" href ng-click="reject(d.id)">Reject</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        class="pagination-xs pull-right"
                        boundary-links="true" rotate="false"
                        items-per-page="5"></pagination>
        </div>
        <div class="row row-spacer" ng-show="nodata">No data found for the selected conditions</div>
    </div>

    <div>
        <script type="text/ng-template" id="history.html">
            <div class="row row-spacer">
                <div class="col-xs-10">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Column Name{{mhistory}}</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                            <th>Updated On</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in result">
                            <td>{{r.updateColumnName}}</td>
                            <td>{{r.oldColumnValue.displayName}}</td>
                            <td>{{r.newColumnValue.displayName}}</td>
                            <td>{{r.updatedOn.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>
    </div>
</div>
