<div class="panel"  style="min-height: 550px" ng-controller="PatientCallSearchController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Patient Calls
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <label class="col-xs-4 col-xs-offset-1 control-label">Date</label>
                <div class="col-xs-19">
                    <input type="text" name="patientNextCallDate" class="form-control" ng-model="nextCallDate" squer-datepicker-future-date />
                </div>
            </div>
            <div class="col-xs-10">
                <div class="col-xs-14">
                    <button type="button" name="search" class="btn btn-primary" ng-click="search()" > Search </button>
                </div>
            </div>
        </div>

        <div class="row row-spacer" ng-show="results.length>0">
            <table class="table table-bordered table-striped" style="margin-top: 40px">
                <thead>
                <tr>
                   <th>Name</th>
                   <th>Last Call</th>
                   <th>Next Call</th>
                   <th>Preferred Time To Call</th>
                   <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="res in results" >
                    <td>{{res.name}}</td>
                    <td>{{res.dateOfCall.text}}</td>
                    <td>{{res.nextCall.text}}</td>
                    <td>{{res.preferredTimeToCall}}</td>
                    <td>
                            <a class="ng-scope" ui-sref="pc.edit_diabetespatient({id: '{{res.patient_id}}'})">
                                <img class="icon" src="images/edit.png">
                            </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>