<span class="header-left">
    <img class="header-left" src="{{data.branding.logo.isha.url}}"
         style="{{ data.branding.logo.isha.style }}" height="{{ data.branding.logo.isha.height }}"
         width="{{ data.branding.logo.isha.width }}">
    </img>
</span>
<span class="header-center">
    {{ data.branding.header }}
</span>
<span class="header-right">
    <img class="header" src="{{data.branding.logo.client.url}}"
         style="{{ data.branding.logo.client.style }}" height="{{ data.branding.logo.client.height }}"
         width="{{ data.branding.logo.client.width }}">
    </img>
</span>