<div class="headerRow" ng-controller="LoginController">
    <header></header>
</div>
<div class="container" ng-controller="MenuController">
    <menus></menus>
</div>
<div class="container formContainer" ng-controller="HomePageController">
    <slider images="data.images"/>
</div>