<div class="headerRow" ng-controller="LoginController">
    <header></header>
</div>
<div class="container" style="{{ data.branding.style }}">
    <div class="login-form" ng-controller="LoginController">
        <div class="contentRow">
            <ng-form role="form">
                <h2 class="form-signin-heading">Sign in</h2>
                <input type="text" placeholder="Username" required autofocus="" ng-model="data.username">
                <br>
                <input type="password" placeholder="Password" required ng-model="data.password">
                <br>

                <div class="forgot-password"><a ng-click="forgotPassword()">Forgot Password?</a></div>
                <button type="button" class="loginButton" ng-click="signIn()">
                    Sign In
                </button>
            </ng-form>
        </div>
    </div>
</div>
<div>
    <footer></footer>
</div>

