<div class="headerRow" ng-controller="LoginController">
    <header></header>
</div>
<div class="container" ng-controller="MenuController">
    <menus></menus>
</div>
<div class="container formContainer" ng-controller="MastersController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>{{  data[data.modelName]["masterName"] }}</h3>
        </div>
        <div class="panel-body">
            <toolbar></toolbar>
            <dynamicforms></dynamicforms>
        </div>
    </div>
</div>
<div>
    <footer></footer>
</div>