<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in data.menus" class="{'dropdown' : 'menu.split'}">
                    <!-- LEVEL1 -->
                    <a ng-if="!menu.split.length" ng-href="#{{ menu.url }}" ng-click="menuClickHandler(menu.url)">{{menu.name }}</a>
                    <a ng-if="menu.split.length" class="{'dropdown-toggle add-content': menu.split}" data-toggle="dropdown">{{menu.name }}</a>
                    <ul ng-show="{{ menu.split }}" class="dropdown-menu {nav navbar-nav : menu.split}" role="menu">
                        <!-- LEVEL2 -->
                        <li class="dropdown-submenu" ng-repeat="submenu in menu.split">
                            <a ng-if="!submenu.split.length" ng-href="#{{ menu.url }}/{{ submenu.url }}" ng-click="menuClickHandler(submenu.url)">{{submenu.name }}</a>
                            <a ng-if="submenu.split.length" class="{'dropdown-toggle add-content': submenu.split}" data-toggle="dropdown">{{submenu.name }}</a>
                            <ul class="dropdown-menu" ng-show="{{ submenu.split }}" class="dropdown-menu {nav navbar-nav : submenu.split}" role="menu">
                                <li class="dropdown-submenu" ng-repeat="submenu2 in submenu.split">
                                    <a ng-if="!submenu2.split.length" ng-href="#{{ menu.url }}/{{ submenu.url }}/{{ submenu2.url }}" ng-click="menuClickHandler(submenu2.url)">{{submenu2.name }}</a>
                                    <a ng-if="submenu2.split.length" class="{'dropdown-toggle add-content': submenu2.split}" data-toggle="dropdown">{{submenu2.name }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>