<div class="container" ng-controller="MenuController">
    <menus></menus>
</div>
<div class="container" ng-controller="HomePageController">
    <div class="formContainer container">
        <dynamicforms></dynamicforms>
    </div>
</div>
<div>
    <footer></footer>
</div>
