<div class="container" ng-controller="MenuController">
    <menus></menus>
</div>
<div class="container formContainer">
    <dynamicforms></dynamicforms>
</div>
<div>
    <footer></footer>
</div>