<div class="slider">
    <div class="slide" ng-repeat="image in data.images" ng-show="image.visible">
        <img ng-src="{{image.src}}" />
    </div>
    <div class="arrows">
        <a href="" ng-click="data.prev()">
            <img src="css/images/left-arrow.png" />
        </a>
        <a href="" ng-click="data.next()">
            <img src="css/images/right-arrow.png" />
        </a>
    </div>
</div>