<div class="panel"  style="min-height: 550px"  ng-controller="DoctorReportController" ng-init="init()">
    <!--div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Reports
            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset>
            <tab ng-repeat="tab in metadata.tabs" heading="{{tab.title}}" ng-click="initReport(tab.reportId)" >
                <div class="row row-spacer">
                    <dynamic-form class="form-inline" template="metadata.formFields" ng-model="stdFormData" id="formContainer"></dynamic-form>
                </div>
                <div class="row row-spacer" ng-show="chart.showChart">
                    <highchart id="chart1" config="chart.chartConfig" ></highchart>
                </div>
                <div class="row row-spacer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th  ng-repeat="col in table.columns">{{col.label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in table.data">
                            <td ng-repeat="col in table.columns">{{row[col.name]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </tab>
        </tabset>
    </div-->
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Doctor Visit Report
            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset>
            <tab heading="Overview Report" >
                <div class="row row-spacer">
                    <!--dynamic-form class="form-inline" template="metadata.formFields" ng-model="stdFormData" id="formContainer"></dynamic-form-->
                    <form class="form-inline">
                        <div>
                            <select class="form-control" ng-model="stdFormData.division"
                                    ng-options="d.id as d.name for d in divisions" >
                                <option value="">Select Division</option>
                            </select>

                            <b>Month : </b>
                            <select class="form-control" ng-model="stdFormData.activity_month" ng-options="m.id as m.name for m in months">
                                <option value="">Select Month</option>
                            </select>


                            <b>Year : </b>
                            <select class="form-control" ng-model="stdFormData.activity_year" ng-options="y.id as y.name for y in years">
                                <option value="">Select Year</option>
                            </select>
                        </div>

                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                        </div>
                    </form>
                </div>

                <div class="row row-spacer" ng-show="chart1.showChart">
                    <highchart id="chart1" config="chart" ></highchart>
                </div>

                <fieldset class="dynamic-fieldset subheader">
                    <legend>
                        Doctor Visit Report
                    </legend>
                    <div class="row row-spacer">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th  ng-repeat="col in table.columns">{{col.label}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in table.data">
                                <td ng-repeat="col in table.columns">{{row[col.name]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>


            </tab>
        </tabset>
    </div>
</div>
