<div class="panel"  style="min-height: 550px"  ng-controller="EffortReportController" ng-init="initReport('tm_competency_summary_select')">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">

            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset>
            <tab ng-repeat="tab in metadata.tabs" heading="{{tab.title}}" ng-click="initReport(tab.reportId)" >
                <div class="row row-spacer">
                    <dynamic-form class="form-inline" template="metadata.formFields" ng-model="stdFormData" id="formContainer"></dynamic-form>
                </div>
                <div class="row row-spacer" ng-show="chart.showChart">
                    <highchart id="chart1" config="chart.chartConfig" ></highchart>
                </div>
                <div class="row row-spacer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th  ng-repeat="col in table.columns">{{col.label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in table.data">
                            <td ng-repeat="col in table.columns">{{row[col.name]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </tab>
        </tabset>
    </div>
</div>
