<div class="panel"  style="min-height: 550px"  ng-controller="OverviewReportController" ng-init="init()">
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Overview
            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset>
            <tab heading="Overview Report" >
                <div class="row row-spacer">
                    <!--dynamic-form class="form-inline" template="metadata.formFields" ng-model="stdFormData" id="formContainer"></dynamic-form-->
                    <form class="form-inline">
                        <div>
                        <select class="form-control" ng-model="stdFormData.division"
                                ng-options="d.id as d.name for d in divisions" ng-change="getZones()" >
                            <option value="">Select Division</option>
                        </select>

                        <select class="form-control" ng-model="stdFormData.zone" ng-options="z.id as z.name for z in zones" ng-change="getRegion()">
                            <option value="">Select Zone</option>
                        </select>

                        <select class="form-control" ng-model="stdFormData.region" ng-options="r.id as r.name for r in regions" ng-change="getLocation()">
                            <option value="">Select Region</option>
                        </select>

                        <!--select class="form-control" ng-model="stdFormData.parentId" ng-options="l.id as l.name for l in locations" ng-change="setParent()">
                            <option value="">Select Location</option>
                        </select-->


                        <b>Month : </b>
                        <select class="form-control" ng-model="stdFormData.activity_month" ng-options="m.id as m.name for m in months">
                            <option value="">Select Month</option>
                        </select>


                        <b>Year : </b>
                        <select class="form-control" ng-model="stdFormData.activity_year" ng-options="y.id as y.name for y in years">
                            <option value="">Select Year</option>
                        </select>
                        </div>

                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary" value="Search" ng-click="search()">
                        </div>
                    </form>
                </div>

                <fieldset class="dynamic-fieldset subheader">
                    <legend>
                        Overall Effort Report
                    </legend>
                    <div class="row row-spacer">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Location</th>
                                <th  ng-repeat="col in table.columns">{{col.label}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in table.data">
                                <td>{{reportLocation}}</td>
                                <td ng-repeat="col in table.columns">{{row[col.name]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>


                <fieldset class="dynamic-fieldset subheader">
                    <legend>
                        Overall Effort Report for Locations: <b>{{type}}</b>
                    </legend>
                    <!--div class="row row-spacer" ng-repeat="report in reports">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th  ng-repeat="col in report.data.tableCols">{{col.label}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in report.data.data">
                                <td ng-repeat="col in report.data.tableCols">{{row[col.name]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div-->
                    <div class="row row-spacer" ng-show="chart1.showChart">
                        <highchart id="chart1" config="chart" ></highchart>
                    </div>
                    <div class="row row-spacer">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th  ng-repeat="col in table1.columns">{{col.label}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in table1.data">
                                <td ng-repeat="col in table1.columns">{{row[col.name]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>


            </tab>
        </tabset>
    </div>
</div>
