<div class="panel"  style="min-height: 550px" >
    <div class="panel-heading page-title">
        <div class="row">
            <span style="vertical-align: middle;padding-left: 6px;" class="squerfont-large">
                Field Reports
            </span>
        </div>
    </div>
    <div class="panel-body">
        <tabset>
            <tab heading="My Reports" ng-controller="MyFieldReportController" ng-init="initSearch()">
                <div class="row row-spacer">
                    <form class="form-inline dynamic-form">
                        <fieldset class="dynamic-fieldset row">
                            <legend>Criteria</legend>
                            <div class="row">
                                <span class="dropdown pull-right" ng-click="$event.stopPropagation()">
                                      <a href class="dropdown-toggle">
                                              <img src="images/settings.png"  style="height: 18px; margin-top: -20px;">
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-left">
                                              <label ng-repeat="c in chartNames"><input type="checkbox" checklist-model="selectedReports" checklist-value="c.id"> {{c.label}}</label>

                                      </div>
                                </span>

                            </div>
                            <div class="row">
                                    <label class="col-xs-9">
                                        <div class="col-xs-5">Start</div>
                                        <div class="col-xs-18">
                                            <select name="month" ng-model="startMonth" class="form-control col-xs-8" ng-options="m for m in months">
                                                <option value="">Select Month</option>
                                            </select>
                                            <select name="startYear" ng-model="startYear" class="form-control col-xs-8 col-xs-offset-1" ng-options="y for y in years">
                                                <option value="">Select Year</option>
                                            </select>
                                        </div>
                                    </label>
                                    <label class="col-xs-9">
                                        <div class="col-xs-5">End</div>
                                        <div class="col-xs-18">
                                            <select name="month" ng-model="endMonth" class="form-control  col-xs-8" ng-options="m for m in months"><option value="">Select Month</option></select>
                                            <select name="startYear" ng-model="endYear" class="form-control  col-xs-8 col-xs-offset-1" ng-options="y for y in years">
                                                <option value="">Select Year</option>
                                            </select>
                                        </div>
                                    </label>
                                    <button class="btn btn-primary" style="margin-top: 5px" ng-click="showReport()">View Report</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row row-spacer">
                    <div class="col-xs-10" ng-show="charts.length>=1">
                        <div class="row">
                            <div class="col-xs-22" style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[0]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[0]"
                                       type="{{selectedChartTypes[0]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(0,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(0,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-10" ng-show="charts.length>=2">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[1]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[1]"
                                       type="{{selectedChartTypes[1]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(1,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(1,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-spacer">
                    <div class="col-xs-10" ng-show="charts.length>=3">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[2]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[2]"
                                       type="{{selectedChartTypes[2]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(2,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(2,'Line')">Line</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(2,'Radar')">Radar</button> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-10" ng-show="charts.length>=4">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[3]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[3]"
                                       type="{{selectedChartTypes[3]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(3,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(3,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row row-spacer">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr >
                                <th ng-repeat="h in data.table.tableheaders">{{h}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in data.table.tabledata">
                                <td ng-repeat="p in d">
                                    {{p.val}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Report By Team Member">
                <div class="row row-spacer">
                    <form class="form-inline dynamic-form">
                        <fieldset class="dynamic-fieldset row">
                            <legend>Criteria</legend>
                            <div class="row">
                                <span class="dropdown pull-right" ng-click="$event.stopPropagation()">
                                      <a href class="dropdown-toggle">
                                          <img src="images/settings.png"  style="height: 18px; margin-top: -20px;">
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-left">
                                          <label ng-repeat="c in chartNames"><input type="checkbox" checklist-model="selectedReports" checklist-value="c.id"> {{c.label}}</label>

                                      </div>
                                </span>

                            </div>
                            <div class="row">
                                <label class="col-xs-9">
                                    <div class="col-xs-5">Start</div>
                                    <div class="col-xs-18">
                                        <select name="month" ng-model="startMonth" class="form-control col-xs-8" ng-options="m for m in months">
                                            <option value="">Select Month</option>
                                        </select>
                                        <select name="startYear" ng-model="startYear" class="form-control col-xs-8 col-xs-offset-1" ng-options="y for y in years">
                                            <option value="">Select Year</option>
                                        </select>
                                    </div>
                                </label>
                                <label class="col-xs-9">
                                    <div class="col-xs-5">End</div>
                                    <div class="col-xs-18">
                                        <select name="month" ng-model="endMonth" class="form-control  col-xs-8" ng-options="m for m in months"><option value="">Select Month</option></select>
                                        <select name="startYear" ng-model="endYear" class="form-control  col-xs-8 col-xs-offset-1" ng-options="y for y in years">
                                            <option value="">Select Year</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-xs-9">
                                    <div class="col-xs-5">Team Member</div>
                                    <div class="col-xs-18">
                                        <select name="month" ng-model="startMonth" class="form-control" ng-options="e.id as e.name for e in employees">
                                            <option value="">Select Team Member</option>
                                        </select>
                                    </div>
                                </label>
                                <div class="col-xs-9">&nbsp;</div>
                                <button class="btn btn-primary" style="margin-top: 5px" ng-click="showReport()">View Report</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row row-spacer-top">
                    <div class="col-xs-10" ng-show="charts.length>=1">
                        <div class="row">
                            <div class="col-xs-22" style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[0]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[0]"
                                       type="{{selectedChartTypes[0]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(0,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(0,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-10" ng-show="charts.length>=2">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[1]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[1]"
                                       type="{{selectedChartTypes[1]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(1,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(1,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-spacer-top">
                    <div class="col-xs-10" ng-show="charts.length>=3">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[2]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[2]"
                                       type="{{selectedChartTypes[2]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(2,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(2,'Line')">Line</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(2,'Radar')">Radar</button> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-10" ng-show="charts.length>=4">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[3]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[3]"
                                       type="{{selectedChartTypes[3]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(3,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(3,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row row-spacer-top">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr >
                            <th ng-repeat="h in data.table.tableheaders">{{h}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in data.table.tabledata">
                            <td ng-repeat="p in d">
                                {{p.val}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Team Report by Month">
                <div class="row row-spacer">
                    <form class="form-inline dynamic-form">
                        <fieldset class="dynamic-fieldset row">
                            <legend>Criteria</legend>
                            <div class="row">
                                <span class="dropdown pull-right" ng-click="$event.stopPropagation()">
                                      <a href class="dropdown-toggle">
                                          <img src="images/settings.png"  style="height: 18px; margin-top: -20px;">
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-left">
                                          <label ng-repeat="c in chartNames"><input type="checkbox" checklist-model="selectedReports" checklist-value="c.id"> {{c.label}}</label>

                                      </div>
                                </span>

                            </div>
                            <div class="row">
                                <label class="col-xs-9">
                                    <div class="col-xs-5">Month - Year</div>
                                    <div class="col-xs-18">
                                        <select name="month" ng-model="startMonth" class="form-control  col-xs-8" ng-options="m for m in months"><option value="">Select Month</option></select>
                                        <select name="startYear" ng-model="endYear" class="form-control  col-xs-8 col-xs-offset-1" ng-options="y for y in years">
                                            <option value="">Select Year</option>
                                        </select>
                                    </div>
                                </label>
                                <button class="btn btn-primary" style="margin-top: 5px" ng-click="showReport()">View Report</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row row-spacer">
                    <div class="col-xs-10" ng-show="charts.length>=1">
                        <div class="row">
                            <div class="col-xs-22" style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[0]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[0]"
                                       type="{{selectedChartTypes[0]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(0,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(0,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-10" ng-show="charts.length>=2">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[1]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[1]"
                                       type="{{selectedChartTypes[1]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(1,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(1,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-spacer">
                    <div class="col-xs-10" ng-show="charts.length>=3">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[2]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[2]"
                                       type="{{selectedChartTypes[2]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(2,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(2,'Line')">Line</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(2,'Radar')">Radar</button> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-10" ng-show="charts.length>=4">
                        <div class="row">
                            <div class="col-xs-22"  style="border:1px solid #ddd; border-radius: 4px;">
                                <h4>{{chartTitles[3]}}</h4>
                                <chart id="myCoolChart" class="ng-isolate-scope ng-scope" value="charts[3]"
                                       type="{{selectedChartTypes[3]}}" height="250" width="375"
                                       title="Target">
                                    <canvas></canvas>
                                </chart>
                            </div>
                            <div class="col-xs-1">
                                <p><button value="Bar" class="btn btn-success" ng-click="selectGraph(3,'Bar')">Bar</button> </p>
                                <p><button value="Line" class="btn btn-success" ng-click="selectGraph(3,'Line')">Line</button> </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row row-spacer">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr >
                            <th ng-repeat="h in data.table.tableheaders">{{h}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in data.table.tabledata">
                            <td ng-repeat="p in d">
                                {{p.val}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
    </tabset>
    </div>
</div>
