<div ng-hide="layout=='row'" ng-init='init(address)'>
    <div class="row row-spacer">
        <div class="{{layout}} required-field">
            <label class="{{labelLayout}} col-xs-offset-1  control-label">Line 1</label>
            <div class="col-xs-8">
                <input type="text" name="line1" ng-model="address.line1" class="form-control"/>
            </div>
        </div>
        <div class="{{layout}}">
            <label class="{{labelLayout}} col-xs-offset-1  control-label">Line 2</label>
            <div class="col-xs-8">
                <input type="text" name="line2" ng-model="address.line2" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row row-spacer" ng-hide="layout=='row'">
        <div class="{{layout}} required-field">
            <label class="{{labelLayout}} col-xs-offset-1  control-label">State</label>
            <div class="col-xs-8">
                <!--input type="text" name="name" ng-model="address.state" class="form-control"/-->
                <select name="state" ng-model="address.state.id"
                        ng-change="selectcity(address.state.id)"
                        class="form-control"
                        ng-options="st.id as st.name for st in states | orderBy : 'name'">
                    <option value="">Select State</option>
                </select>
            </div>
        </div>
        <div class="{{layout}} required-field">
            <label class="{{labelLayout}} col-xs-offset-1  control-label">City</label>
            <div class="col-xs-8">
                <!--input type="text" name="name" ng-model="address.city" class="form-control"/-->
                <select name="city" ng-model='address.city.id'
                        ng-change='setcitynZip(address.city,false)'
                        class="form-control"
                        ng-options="c.id as c.name for c in cities | orderBy : 'name'">
                    <option value="">Select City</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-spacer" ng-hide="layout=='row'">
    <div class="{{layout}}">
        <label class="{{labelLayout}} col-xs-offset-1  control-label">Country</label>
        <div class="col-xs-4">
            <input type="text" name="country" ng-model="address.country" class="form-control"/>
        </div>
    </div>
    <div class="{{layout}} required-field">
        <label class="{{labelLayout}} col-xs-offset-1  control-label">Zip</label>
        <div class="col-xs-5">
            <input type="text" name="zip" ng-model="address.zip" class="form-control"/>
        </div>
    </div>
 </div>
</div>

<!--div ng-show="layout=='row'">
        <div class="form-group required-field">
            <label class="col-xs-3 col-xs-offset-1  control-label">Line 1</label>
            <div class="col-xs-10">
                <input type="text" name="line1edit" ng-model="address.line1" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 col-xs-offset-1  control-label">Line 2</label>
            <div class="col-xs-10">
                <input type="text" name="line2edit" ng-model="address.line2" class="form-control"/>
            </div>
        </div>
        <div class="form-group required-field">
            <label class="col-xs-3 col-xs-offset-1  control-label">State</label>
            <div class="col-xs-10">
                <!--input type="text" name="name" ng-model="address.state" class="form-control"/-->
                <!--select name="stateedit" ng-model="address.state.id"
                        ng-change="selectcity()"
                        class="form-control"
                        ng-options="st.id as st.name for st in states | orderBy : 'name'">
                    <option value="">Select State</option>
                </select>
            </div>
        </div>
        <div class="form-group required-field">
            <label class="col-xs-3 col-xs-offset-1  control-label">City</label>
            <div class="col-xs-10">
                <!--input type="text" name="name" ng-model="address.city" class="form-control"/-->
                <!--select name="cityedit" ng-model='address.city.id'
                        ng-change='setcitynZip(address.city)'
                        class="form-control"
                        ng-options="c.id as c.name for c in cities | orderBy : 'name'">
                    <option value="">Select City - ZIP</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 col-xs-offset-1  control-label">Country</label>
            <div class="col-xs-10">
                <input type="text" name="countryedit" ng-model="address.country" class="form-control"/>
            </div>
        </div>
        <div class="form-group required-field">
            <label class="col-xs-3 col-xs-offset-1  control-label">Zip</label>
            <div class="col-xs-10">
                <input type="text" name="zipedit" ng-model="address.zip" class="form-control"/>
            </div>
        </div>
</div-->
