    <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController" ng-init="init()">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="images/icon.png"
                         class="col-xs-offset-1" style="height: 40px; margin-top: -9px; border: 0px solid #ddd;">
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                          <a href class="dropdown-toggle">
                              <span style="color:#333">Welcome </span>
                              <span style="color:#333" ng-show="headerData.firstName!='Admin' && headerData.firstName!='MIS'">{{headerData.name}} </span>
                              <!--<span style="color:#333" ng-show="headerData.companydetails[0]!=null">({{headerData.companydetails[0].jobTitle.displayName}})</span>
                              <span style="color:#333" ng-show="headerData.firstName=='Admin' || headerData.firstName=='MIS'">{{headerData.firstName}}</span>
                              <span style="color:#333" ng-show="headerData.companydetails[0]!=null && headerData.companydetails[0].location!=null"> - {{headerData.companydetails[0].location.displayName}} ({{divisionName}})</span>-->
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <li ng-repeat="choice in items">
                                  <a href>{{choice}}</a>
                              </li>

                              <li>
                                  <a ng-click="userLogin()" ng-show="headerData.firstName=='Admin' || headerData.jobTitle.displayName=='Admin'">User Login</a>
                                  <a ng-click="viewProfile()" ng-show="headerData.firstName!='Admin' && headerData.jobTitle.displayName!='Admin'">My Profile</a>
                                  <a ng-click="changePassword(headerData.id)" ng-show="headerData.firstName!='Admin'">Change Password</a>
                                  <a ng-click="logout()">Logout</a>
                              </li>
                          </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


