<!--div class="{{leftMenuStyle}} col-xs-offset-0 sidebar" -->
<!--div class="col-xs-3 sidebar"
     ng-controller="LeftMenuController" id="leftMenus" ng-init="init()">
                <any ng-switch on="isCollapsed">
                    <any ng-switch-when="false">
                        <any ng-if="showHome">
                            <a href="#/home/home/dashboard"><img src="images/home.png" style="margin-bottom: 5px;"></a>
                        </any>
                        <accordion close-others="oneAtATime" id="leftMenu" class="leftmenu" >
                            <accordion-group ng-repeat="menu in menus" is-open="open">
                                <accordion-heading>
                                    <span ng-hide="isCollapsed" >{{labels[menu.label].title}}</span>
                                </accordion-heading>
                                <div ng-repeat="child in menu.children" class=menu-item">
                                    <a  ui-sref="{{child.url}}">{{labels[child.label].title}}</a>
                                </div>
                            </accordion-group>
                        </accordion>
                    </any>
                 </any>
</div-->
